[2019-02-06 15:20] Cyberbeni commented on #86
I get a nice error. Attached fastlane env output and terminal log with xcodebuld test.

[fastlane_env.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/2836902/fastlane_env.txt)
[fastlane_output.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/2836904/fastlane_output.txt)
[xcodebuild.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_ce

[2019-02-06 15:25] lyndsey-ferguson commented on #86
Is the error that you are referencing?
[code]

[2019-02-06 15:48] Cyberbeni commented on #86
oh yeah, that's the error I'm getting on my 10.12 tests too (where I'm using a modified version of test center that also catches build errors and uses trainer to get the junit report)

[2019-02-06 16:01] Cyberbeni commented on #86
Ah, had to add the homebrew installed ruby to my path... Now I get the no tests found error.
[fastlane_output.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/2837133/fastlane_output.txt)

[2019-02-06 16:07] Cyberbeni commented on #86
Had to add the xctest_list source to my own gemfile and it works now

[2019-02-06 16:20] lyndsey-ferguson commented on #86
so, it works?

[2019-02-06 16:40] Cyberbeni commented on #86
Yes and it also fixed my other issue about no retries when xcpretty fails on 10.12 with xcode 9.2. (Although using trainer instead of xcpretty output is still useful for iOS testing, IIRC we needed it for physical devices)

[2019-02-06 16:42] lyndsey-ferguson commented on #86
Nice, thank you for your help. I'll release the fix soon.

[2019-02-07 13:29] SathyaNarayanCodeX commented on #49
I am able to generate reports but a **xcpretty** report.

Any way to generate a **XCHTML** report ?

[2019-02-07 14:10] lyndsey-ferguson commented on #49
Please open up a new feature request issue. If you have guidance on how to do that, I would appreciate it (or open up a PR).

`multi_scan` does provide a HTML report if you need guidance.

[2019-02-07 14:12] lyndsey-ferguson commented on #49
As this original issue was never reproduced, I am closing it. Please feel free to re-open it when it can be reproduced.

[2019-02-07 14:12] #49 closed

[2019-02-07 14:30] lyndsey-ferguson commented on #93
Ok, so I updated on my local and ran my examples: no problems.

My guess is that `only_testing                                   | [REDACTED]` is running tests that are for a "test target", `App Unit Tests`. But I cannot confirm.

So:
1. are the tests in `only_testing` in the test target `App Unit Tests`?
2. is that test target part of the `App Unit Tests` Scheme?
3. Can you provide a sample proje

[2019-02-07 14:43] lyndsey-ferguson commented on #86
Fixed in [v3.6.2](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.6.2)

[2019-02-07 14:44] #86 closed

[2019-02-07 15:01] jcharr1 commented on #10
I've been giving this a whirl today, and so far I've come across 2 small issues.

1) I had to manually put `gem "pry-byebug"`in my Gemfile and run `bundle install.` When I didn't, fastlane would fail to load the plugin saying something about not being able to find "pry-byebug" and calling multi_scan would fail. Installing it through my main Gemfile fixed it.

2) It seems to have an odd problem if

[2019-02-07 15:20] lyndsey-ferguson commented on #10
Thank you for testing @jcharr1. I have a check that removes `pry-byebug` before releases, and for a good reason as you found out. Thanks for figuring that out.

It is interesting that it is unable to find the simulators, I have code that clones the simulator(s) that you have chosen to ensure that each "batch" of tests is run on a separate set of simulators. I'll have look into that to see what is

[2019-02-07 18:41] SathyaNarayanCodeX opened #94 "multi_scan's collated test_result bundle does not include passed test cases"
### Question Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I searched for [existing GitHub issues

[2019-02-07 18:48] lyndsey-ferguson commented on #94
`multi_scan` does not support `xchtml`. Please create a [feature request](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/new?template=FEATURE_REQUEST.md) and fill in the form.

[2019-02-07 18:51] SathyaNarayanCodeX commented on #94
I was able to create a **xchtml report** for all my runs.

[2019-02-07 18:52] SathyaNarayanCodeX commented on #94
Attaching logs where you could see the report being created.

`✔] 🚀
+-----------------------------+---------+---------------------------------------------+
|                                    Used plugins                                     |
+-----------------------------+---------+---------------------------------------------+
| Plugin                      | Version | Action

[2019-02-07 18:54] lyndsey-ferguson commented on #94
Can you include the your Fastfile as well, or a sample? I know that I didn't implement anything that generates a XCTestHTMLReport....

[2019-02-07 21:00] quintuschen commented on #93
I've met same problem as well. The problem for me is our scheme name has white spaces. For example, "UI Tests", and when we give command `bundle exec fastlane run multi_scan 'scheme:UI Tests' ...` it will parse the scheme as `UI\\\ Tests` with fastlane v2.114 and onwards.

[2019-02-07 21:07] lyndsey-ferguson commented on #93
Oh, this definitely could be the problem with this particular example as it too has spaces. Interesting.

[2019-02-07 21:07] lyndsey-ferguson commented on #93
@zioyero can you remove the spaces from the Scheme to test? If it works, that is your work-around for the moment. I will come up with a fix if this is the case.

[2019-02-07 21:17] lyndsey-ferguson commented on #10
I've removed the `require 'pry-byebug'`

[2019-02-07 21:48] jcharr1 commented on #10
I tried 6 batches, but it failed under Jenkins and didn't do too well running it directly either. I backed it down to 5, and it finished in Jenkins. But it only saved about 10 minutes over 3 batches and caused some very noticeable lag on the nodes. So I went back to 3.

Maybe it's not implemented yet, but I noticed that total_retry_count seems to always return 0 even though some tests in the run d

[2019-02-07 22:44] lyndsey-ferguson commented on #10
`total_retry_count` may have been missed, yes.

I think I can handle the code-coverage case too.

I am not surprised by the failures that you encountered. Did it complain about `testmanagerd` connections?

[2019-02-07 23:20] jcharr1 commented on #10
Yep.

`Testing failed:
InnovativeUITests-Runner.app encountered an error (Early unexpected exit, operation never finished bootstrapping - no restart will be attempted. (Underlying error: Lost connection to testmanagerd))
** TEST EXECUTE FAILED **
`

[2019-02-08 08:10] zioyero commented on #93
I was able to implement a workaround, but it required removing whitespaces not only from the Scheme name but also from the test target name. Once neither had any whitespace, everything worked as expected.

[2019-02-08 09:28] SathyaNarayanCodeX commented on #94
Below is the sample fastfile

[code]
[code]

[2019-02-08 12:58] MarshalGeazipp commented on #93
Hi,
I have the same problem. My scheme name also contains a whitespace.
I took a look at the changes between fastlane 2.113.0 and 2.114.0 and I found this commit that looks suspicious: https://github.com/fastlane/fastlane/commit/0307f12a7021ba9436afb9a328a5ec08bcbcc175
Maybe this can help you...

[2019-02-08 13:12] SathyaNarayanCodeX commented on #94
@lyndsey-ferguson  I did an experiment and noticed that before the below step ,there are three test bundles created for each retries. And it has their respective results.

What I did is, aborted here. And copied the test bundles created **before collating** / before the below step.

`[19:28:15]: Finished collating test_result bundle to 'fastlane/test_output/results-sampleUITests/UITests.test_resul

[2019-02-08 13:20] MarshalGeazipp commented on #93
So my workaround is setting the fastlane version to 2.113.0 in my Gemfile like:
gem 'fastlane', '2.113.0'

[2019-02-11 14:26] lyndsey-ferguson commented on #93
@MarshalGeazipp do you have an example of what is actually sent to `xcodebuild` on the command line? What the option is for only-testing is when sent to `scan`?

[2019-02-11 15:20] lyndsey-ferguson commented on #93
@MarshalGeazipp don't worry, it looks like you tracked down the change that causes this to break. Two shellescapes does not equal one shellescape

[2019-02-11 16:17] lyndsey-ferguson commented on #93
Fixed in [v3.6.3](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.6.3)

[2019-02-11 16:17] #93 closed

[2019-02-11 19:21] lyndsey-ferguson commented on #94
I don't understand what you are requesting. On the one hand, it seems that you want to _not collate_ the test_result bundles. That would be a *new* feature request.

However, if the reason that you want that feature because the final collated test_result bundle does not include passed cases in your situation, would that not be a *bug*?

I want to make sure I am investing my limited time in the mos

[2019-02-12 09:15] SathyaNarayanCodeX commented on #94
okie, so I would say that definitely its a **bug** and a fix would be helpful for others to use the xchtml report.

Right now I am using the same workaround to make it work. But then there are three entries of each run in the xchtml report , instead of one.

It's better if you can fix this and we can make use of it with no mess.

[2019-02-12 14:20] lyndsey-ferguson commented on #94
@SathyaNarayanCodeX great. Can you create a bug issue and populate the templated values so that it is complete? If you have a sample project, that would help me fix this even faster.

I believe that you've attached most of the relevant data here, so you could just move it over.

[2019-02-18 01:51] quintuschen commented on #10
I am also trying to test the build that Lyndsey provided. When I specify `batch_count:3`, I noticed that there are actually 4 simulators running, e.g. from "iPhone X-batchclone-1" to "iPhone X-batchclone-4", is this expected? or should we expect three simulators running?

[2019-02-18 02:03] jcharr1 commented on #10
I've seen that happen too occasionally. I've noticed it mostly if I reduce the batch_count between runs. For example, I tried a 6 batch run. Then right after that one finished I tried it with a batch_count of 5 but it spawned 6 clones. I think one of them automatically closed after a little while. For me, it doesn't do this all the time.

I know this is a WIP, but I'm curious if failing tests are

[2019-02-18 03:55] quintuschen commented on #10
I am able to run it locally (I have the same question as @jcharr1 that it seemed not retrying failed cases) but not able to run it on Jenkins agents. I've set `batch_count` to 3 and run the tests on our Jenkins build agents, all of the spawned simulators got stuck when running them.

One thing I noticed is that on our Jenkins, we have other iOS build jobs running too, not UI tests in the same fold

[2019-02-18 14:03] lyndsey-ferguson commented on #10
I've turned off retry until I can get the simulators to run without the `testmanagerd` connection failures. So, yes, there will not be any retrying of failed tests and you'll have more failing tests.

Also, regarding other simulators, I clone the requested simulator(s) so as to avoid them stomping on each other (which will happen with the same simulator). The cloned simulators are deleted just bef

[2019-02-18 14:06] lyndsey-ferguson commented on #10
My latest attempt was to run the 6 `xcodebuild test` runs directly from `multi_scan` by `spawning` them. That resulted in the same `testmanagerd` issue on Jenkins.

I will confirm that `spawning` the `xcodebuild` test from my plugin locally does not result in a problem. Then I'll try directly on the mac mini that Jenkins used. Then I'll try from a Script Build Step via Jenkins, then I'll try bangi

[2019-02-18 14:13] lyndsey-ferguson commented on #10
Good news, I can make it fail locally. 😢 Now to figure out if there is anything I can do.

[2019-02-18 14:21] lyndsey-ferguson commented on #10
5 simulators are okay, 6 are not.

[2019-02-18 14:21] lyndsey-ferguson commented on #10
Oh, and I'll look into the number of sims per batch. I've noticed that too, but haven't worried about it for the moment.

[2019-02-18 14:35] jcharr1 commented on #10
@lyndsey-ferguson that's fine about retries being disabled for now. I just wanted to make sure I hand't borked something up on my end.

[2019-02-18 15:09] lyndsey-ferguson commented on #10
Maybe the fact that I am re-using a simulator with that extra batch?

[2019-02-18 15:23] lyndsey-ferguson commented on #10
Hm. Running the command via bash on my local, ensuring that I have *only* 6 sims running, does not result in the `testmanagerd` disconnection issues.

[2019-02-19 03:58] quintuschen commented on #75
If I run from the command line like the following
[code]

I still got the error mentioned above. May I ask is there any workaround for this? Thanks.

[2019-02-19 13:57] lyndsey-ferguson commented on #75
Hm. I do not run it from the command line, but would this work?
[code]
Further research shows that this may not work. You could set up a `Scanfile` that has the tests (you can create that file programmatically).

*OR* you could open up a PR to fix this. I can provide guidance, I do not think it would be too complicated.

[2019-02-19 20:19] quintuschen commented on #75
I would like to open a PR to fix this. :) Some hints would be very appreciated!

[2019-02-19 20:52] lyndsey-ferguson commented on #75
[Here](https://github.com/fastlane/fastlane/blob/master/scan/lib/scan/detect_values.rb#L67) is how scan does the coercion. You would need to do it [here](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/helper/test_collector.rb#L16). Please add tests too.

[2019-02-21 19:15] SathyaNarayanCodeX commented on #79
@Sandhu412  Just out of curiosity , how do you generate reports when multiscan is performed?
What type of report are you generating as well?

I know its not fair to comment on the closed ticket , but i have no other choice.

[2019-02-22 21:24] lyndsey-ferguson commented on #10
@jcharr1 do you have direct access to the CI agent that Jenkins used to run `multi_scan` in parallel? If so, does the same `testmanagerd` disconnection issue happen there? Does it happen on your local computer?

[2019-02-22 21:41] lyndsey-ferguson commented on #10
Also, please try fetching a fresh version of this branch. I've done some work on it.

[2019-02-22 21:45] jcharr1 commented on #10
Yes, all my Jenkins nodes are here in the house. I never saw the `testmanagerd` disconnect when running it directly from the terminal. And I only saw it when trying to run 6 batches in Jenkins. I haven't seen it when running 5 or less. And here's some specs on my nodes if it helps:

1. mid 2015 15" Macbok Pro w/2.5Ghz i7, 16GB RAM. Mojave 10.14.3. This is also my main computer.
2. late 2012 Mac Mi

[2019-02-22 21:53] lyndsey-ferguson commented on #10
So, on all the machines, there is no `testmanagerd` problem when running it from the Terminal? I get it sometimes. I logged into a Mac mini that we use for Jenkins via Screen Sharing and it happens *every* time.

[2019-02-22 21:53] lyndsey-ferguson commented on #10
And this is with the latest?

[2019-02-22 21:55] jcharr1 commented on #10
I've only tried running it directly from Terminal on my 2015 MBP. Yes, with the latest update to the branch.

[2019-02-22 21:59] lyndsey-ferguson commented on #10
Can you run it directly from the Terminal for #3? That would be something similar to what I would do (even better if you could use Screen Sharing to access that Terminal).

I'm not sure if the Jenkins JVM slave.jar is the problem some how (seems far fetched).

[2019-02-22 23:55] jcharr1 commented on #10
Hmm. It won't run at all on my 2011 MBP today either with Jenkins or directly through Terminal. It keeps giving errors about the test runner not being able to be installed or launched. It would at least run before. It'll run if I set `parallelize` to false. It still works on my other 2 Macs.

[test_output.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/2896227/test_outpu

[2019-02-25 17:39] vksmaini commented on #10
Using the Xcode feature of parallel testing, multi-scan reruns the complete set of tests again instead of just running the failed tests. @lyndsey-ferguson is there any way we can use the Xcode parallel testing feature with this?

[2019-02-25 17:50] lyndsey-ferguson commented on #10
@jcharr1 thanks for the log, this may help, this is odd that this will fail.
@vksmaini I'm not using the parallel part of xcode because it will not balance tests across the simulators. It parallelizes based on the testsuites.

[2019-02-25 18:17] lyndsey-ferguson commented on #10
@jcharr1 it could be that my attempt to fix overwriting derived data paths by giving it a random path for this run is the problem. Mine may be working because I am explicitly giving it something that it needs, but for your case what it needs is not there.

[2019-02-25 19:05] lyndsey-ferguson commented on #10
@jcharr1 I added a bit of code to copy the derived data directory contents to the temp folders I wrote about above. Can you try again?

[2019-02-25 19:16] lyndsey-ferguson commented on #10
Just a note for posterity. I ran into the testmanagerd issue locally. I ran the parallelized multi_scan, and my local's webpage responsiveness slowed down to a crawl. Perhaps the demand on resources is causing socket network issues with testmanagerd?

[2019-02-25 19:41] jcharr1 commented on #10
@lyndsey-ferguson it's working on my 2011 MBP again now. On all my nodes, I have a custom Xcode directory where it stores all the archives and derived data for that machine in (it makes it easy to wipe with a script periodically). I don't know if that has something to do with why it wouldn't run before. It's weird that my 2 Mojave nodes didn't have any problems. Though on my Mojave nodes, I'm runn

[2019-02-25 19:49] lyndsey-ferguson commented on #10
If it is running again, it probably is because with your custom setup for storing derived data is not playing well with my hacking. At least it is running. What happens when you run it from the Terminal on that machine with 6 batches? I imagine the testmanagerd problem will happen again: I am seeing it on my local again. I think I am going past the number of file descriptors available.

[2019-02-25 20:19] jcharr1 commented on #10
With 6 it only spawned 4 saying `InnovativeUITests-Runner.app encountered an error (Failed to install or launch the test runner. (Underlying error: Unable to boot device due to insufficient system resources. Please see Simulator Help for information on adjusting system settings to allow more simulated devices to boot at once.`

[2019-02-25 20:22] lyndsey-ferguson commented on #10
Whooo!

[2019-02-25 20:41] lyndsey-ferguson commented on #10
@jcharr1 does that failure also include something like:
[code]
? I wonder why I don't see that.

[2019-02-25 20:54] jcharr1 commented on #10
Yep.

`maxUserProcs: 709, runningUserProcs: 571, enforcedProcBuffer: 144`

[2019-02-25 22:26] lyndsey-ferguson commented on #10
Ok, I know why I don't see that on the jenkins mini, we've actually increased resource limits:
[code]

[2019-02-27 14:20] lyndsey-ferguson commented on #10
Ok, since it seems one what resources the machine actually has, I am going to revert back to forking the code and calling scan from each sub-process. The savings that I get from just spawning `xcodebuild test` does not have a measurable effect on the `testmanagerd` disconnection issue.

[2019-03-15 18:32] lyndsey-ferguson commented on #10
@jcharr1 @vksmaini @quintuschen @Sandhu412 @zacoid55 @kisialiu I have just successfully run the tests in parallel on Jenkins. Tests, spread out in 6 batches, that would take a combined time of 3 hours took 1 hour 9 mins.

Now, I did not yet review the results to make sure it ran all the tests, but it looks like it could have. At least I did *not* get `testmanagerd` connection failures.

Can you te

[2019-03-15 18:49] lyndsey-ferguson commented on #10
# 🚀

[2019-03-15 18:49] lyndsey-ferguson commented on #10
and the second run is still working!

[2019-03-17 17:17] lyndsey-ferguson commented on #83
Closing this issue as there has not been any activity since November. If a sample project can be generated, please open a new issue.

[2019-03-17 17:17] #83 closed

[2019-03-17 17:18] lyndsey-ferguson commented on #87
Closing this issue as there hasn't been activity for 3 months.

[2019-03-17 17:18] #87 closed

[2019-03-17 17:21] lyndsey-ferguson commented on #94
I may close this issue soon: I don't have extra time to work on it and it seems that no one else is experiencing this as an issue.

To help me fix this, please provide a sample project with a sample fastfile.

[2019-03-17 17:21] #67 closed

[2019-03-18 10:53] SathyaNarayanCodeX commented on #94
Hi Lyndsey-Ferguson,

Give me a week time and I would send the sample project with fastfile and
necessary details.

Thanks,
Sathya

On Sun, Mar 17, 2019 at 6:21 PM Lyndsey Ferguson <notifications@github.com>
wrote:

[2019-03-18 11:05] kdthomas2121 commented on #10
Hmm I'm getting `.rvm/gems/ruby-2.4.1/bundler/gems/fastlane-plugin-test_center-55605d3e8e18/lib/fastlane/plugin/test_center/actions/multi_scan.rb:22:in `run': [!] uninitialized constant TestCenter::Helper::RetryingScan::Runner (NameError)` for some reason from that branch!

[2019-03-18 13:12] lyndsey-ferguson commented on #10
@kdthomas2121 try now

[2019-03-18 13:12] lyndsey-ferguson commented on #94
ok

[2019-03-18 16:12] kdthomas2121 commented on #10
@lyndsey-ferguson no still getting the same error

[2019-03-18 17:36] lyndsey-ferguson commented on #10
What SHA is listed in your Gemfile.lock file for the `fastlane-plugin-test_center' gem?

[2019-03-19 01:35] ishammoho commented on #10
getting the same error as @kdthomas2121 ```uninitialized constant TestCenter::Helper::RetryingScan::Runner```

content related to test_center in Gemlock looks like this

[code]

[2019-03-19 09:24] kdthomas2121 commented on #10
Yea I have the same as above in my gemfile.lock

On Tue, 19 Mar 2019 at 01:35, ishammoho <notifications@github.com> wrote:

--
*KYLE THOMAS*
*SENIOR CONSULTANT*

*Infinity Works*
Mobile: 07891098771
Email: kyle.thomas@infinityworks.com <louise.featherstone@infinityworks.com>

www.infinityworks.com

Infinity Works Consulting is a limited company registered in England and
Wales.
Company Registration

[2019-03-19 14:17] lyndsey-ferguson commented on #10
Can you try now?

[2019-03-19 15:25] kdthomas2121 commented on #10
Now getting

[15:22:27]: Error loading plugin 'fastlane-plugin-test_center': cannot load
such file -- pry-byebug
[15:22:28]: Could not find action, lane or variable 'multi_scan'. Check out
the documentation for more details: https://docs.fastlane.tools/actions

On Tue, 19 Mar 2019 at 14:17, Lyndsey Ferguson <notifications@github.com>
wrote:

--
*KYLE THOMAS*
*SENIOR CONSULTANT*

*Infinity Works*
M

[2019-03-19 15:50] lyndsey-ferguson commented on #10
whoops, left that in

[2019-03-19 15:53] lyndsey-ferguson commented on #10
Fixed!

[2019-03-19 15:55] kdthomas2121 commented on #10
Now I've got

[15:54:30]: Error loading plugin 'fastlane-plugin-test_center': cannot load
such file -- colorize

On Tue, 19 Mar 2019 at 15:53, Lyndsey Ferguson <notifications@github.com>
wrote:

--
*KYLE THOMAS*
*SENIOR CONSULTANT*

*Infinity Works*
Mobile: 07891098771
Email: kyle.thomas@infinityworks.com <louise.featherstone@infinityworks.com>

www.infinityworks.com

Infinity Works Consulting is

[2019-03-19 16:33] lyndsey-ferguson commented on #10
sorry about that. I fixed that one now.

[2019-03-19 20:48] lyndsey-ferguson commented on #10
you'll need to `bundle install` again

[2019-03-24 22:37] amelendezSGY commented on #10
I'm really hopeful that this comes together! It's going to save my CI agents LOADS of test running time! Thanks for all your hard work @lyndsey-ferguson !

[2019-03-25 14:39] lyndsey-ferguson commented on #10
I _believe_ that I have overcome the last major obstacle. This *had been* hard work, at some points I didn't know what to try next.

Now, all that remains is some major clean up, some automated tests and the refactoring that comes with that.

[2019-03-25 18:27] amelendezSGY commented on #10
From my perspective, the most critical pieces of this parallelized testing system that need to come together for this all to work in my own CI setup are:
• the failed tests need to be rerun as many times as allowed by my multi_scan configuration
• trainer (https://github.com/xcpretty/trainer/tree/master/fastlane-plugin-trainer) can still convert the Xcode plist log to a JUnit report

Bonus points

[2019-03-25 18:31] lyndsey-ferguson commented on #10
I think that this current test branch has this covered:

I don't currently support trainer, I believe that there is some incompatibility with how multi_scan collates the test_result bundles and trainer. I do not currently support XCTestHTMLReports either. There are some open tickets on that with guidance that I have given, but these last points are not in my current plan for parallelizing multi_sc

[2019-03-25 18:34] amelendezSGY commented on #10
Thanks for the heads up. I'll give it all a try and see what happens once you push a release containing the work on your current branch. Best of luck in the home stretch!

[2019-03-28 15:44] kdthomas2121 commented on #10
Been trying this out, but it doesn't seem to run the tests in parallel when using fastlane. It runs them on a sim one at a time, I've got disable_concurrent_testing set to false

[2019-03-28 18:08] lyndsey-ferguson commented on #10
@kdthomas2121 I haven't provided much documentation on how to make this happen, so if you didn't already know what I am about to tell you: have you provided a `batch_count` option to `multi_scan`? It should the number of sims you want.

Do not set it to more than 6 unless you want everything to fall apart.

If you did do that, I'd love to learn more.

[2019-04-14 14:43] lyndsey-ferguson opened #95 "Feature Request: add option to NOT collate reports"
### Feature Request

Add option to no collate reports.

#### Motivation Behind Feature

Some people want the intermediate reports and have tools that will do the collation for them in a different way.

#### Feature Description

Add the `collate_reports` option. By default it is true. It is checked before report collation is performed.

#### Alternatives or Workarounds

A workaround for now is to a

[2019-05-01 09:57] yousefhamza opened #96 "Add support for"
### Feature Request

#### Motivation Behind Feature

#### Feature Description

#### Alternatives or Workarounds

[2019-05-01 10:01] yousefhamza opened #97 "Feature Request: Add support for Invocation based tests"
### Feature Request
Add support for Invocation based tests like Kiwi

#### Motivation Behind Feature
Our tests have a mix of XCTests and Kiwi tests, `multi_scan` seems to be running only the XCTest tests by passing them to scan as `only_testing`

#### Feature Description
`multi_scan` should run the first `scan` run without `only_testing` setting as when the tests run they will be added to xctestru

[2019-05-01 12:19] #96 closed

[2019-05-01 18:08] lyndsey-ferguson commented on #97
Thank you @yousefhamza for the feature request. Very interesting. Could you provide a sample project with a sample fastlane?

I'm curious if there is a way to detect the Kiwi tests without having to run `scan` first so that the flow of the code is similar. That would be something I would like to look at first.

The other option would be to explicitly disable the plugin to use the `only_testing` Sc

[2019-05-02 12:42] yousefhamza commented on #97
The solution I had in mind was adding an option for `multi_scan`.
Something like `invocation_based_tests: true/false #default to false`.

I will provide a sample app ASAP 👍

[2019-05-07 11:07] v-ahadke opened #98 "multi_scan does not return summary in case tests failed"
### New Issue Checklist

- [ ] Updated `fastlane-plugin-test_center` to the latest version
- [ ] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [ ] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [ ] I have removed any sensitive data suc

[2019-05-07 17:44] lyndsey-ferguson commented on #98
So, you want to get a build summary in the exception itself? I am using the `UI.test_failure!` method to throw a `FastlaneTestFailure`, which doesn't support bundling in extra data.

My suggestion to you is to turn _off_ `:fail_build`, grab the information from the summary and do with it what you want, then call  `UI.test_failure!` yourself.

For example (**not correct!!!**):
[code]

[2019-05-08 22:08] #94 closed

[2019-05-09 18:57] scotthmccoy opened #99 "Test_center reruns all XCUITests instead of just the failed ones, and doesn't report the build as failed"
### Question Checklist

- [✅] Updated `fastlane-plugin-test_center` to the latest version
- [✅] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [✅] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [✅] I searched for [existing GitHub issues

[2019-05-09 21:34] scotthmccoy commented on #99
I was able to get the build to report as failed by turning on `fail_build:true`. I feel a little sheepish about that. -_-

[2019-05-09 21:46] lyndsey-ferguson commented on #99
1. can you turn off color, the logs hurt my eyes with all the color codes :). If you set the ENVIRONMENT variable `FASTLANE_DISABLE_COLORS=1` that should do it.
2. Even though you seem to be using the latest version, `multi_scan` seems to have a problem with your `xctestrun` file as I see this: `There are no tests to run in testable '__xctestrun_metadata__'`. That used to happen when Apple introdu

[2019-05-09 21:50] lyndsey-ferguson commented on #99
Oh, and if you're trying to use this with simulators running in parallel, I'm not finished that feature yet (and it is not part of the 3.6.3 release).

[2019-05-09 21:51] lyndsey-ferguson commented on #99
You _could_ try playing with it by reading this: https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/10

[2019-05-09 22:01] scotthmccoy commented on #99
I've got 3 clones running in parallel. Would that result in the behavior I'm seeing?

[2019-05-10 02:04] lyndsey-ferguson commented on #99
Yes, there is a problem with `scan` and Xcode Schemes that have been configured to run testsuites in parallel: the junit reports are not produced and it is very difficult to get the failed tests. There probably is another way via test summaries.plist, but that is more work.

[2019-05-10 13:41] lyndsey-ferguson commented on #99
I think that I will close this Issue and create a new Feature Request to abort if it is detected if the Xcode Scheme has requested parallel builds.

[2019-05-11 23:04] scotthmccoy commented on #99
That's strange, it seems to be working well with the exception of re-running all the tests instead of just the failed ones. Any idea when multi-sim runs with test reruns will be fully supported? I'd dearly love to have that!

[2019-05-12 15:12] yousefhamza commented on #97
Hi, this is a sample app with a Kiwi test and the plugin integrated 👍

Run:
`bundle exec fastlane unit_tests`

[KiwiDemo.zip](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/3170237/KiwiDemo.zip)

[2019-05-13 13:28] v-ahadke opened #100 "REXML::ParseException: #<RuntimeError: Illegal character '&' in raw string"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2019-05-13 15:02] lyndsey-ferguson commented on #100
Thank you for the bug report. It may be a while until I can fix this, but as a work-around, you could add [this](https://stackoverflow.com/a/17237801/71877) code to your `test_run_block` to _repair_ the HTML so that `REXML` can parse it.

[2019-05-13 15:32] v-ahadke commented on #100
@lyndsey-ferguson Thanks for your reply. Actually I am facing this issue for junit report file (xml) instead of HTML. My `test_run_block` look like below
[code]
AFAIK, generating collate junit report happens inside collage_junit.rb file, can you please explain where do we need to add the code from stackoverflow link in above block? Thanks

[2019-05-13 15:43] lyndsey-ferguson commented on #100
Sorry, I updated my suggestion to state "Junit XML" instead of HTML. I would put the code anywhere in the block (it is called after each test_run, before _any_ collation of the Junit files).
[code]

[2019-05-13 17:10] lyndsey-ferguson commented on #99
The problem is that `xcodebuild` when managing its own parallel execution of testing, does not output in a way that the `xcpretty` gem can parse and create junit files from.

I am working on multi_scan's parallelization feature as we speak. Given that I spend a small amount of time (consistently) on it, I cannot really say. What I can say is that I do have it functional, but it is not complete.

V

[2019-05-13 17:12] lyndsey-ferguson commented on #10
I've fixed the `colorize` issue mentioned. Revisit [my instructions above](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/10#issuecomment-473397138), yet change:

[code]
to
[code]

[2019-05-13 17:14] lyndsey-ferguson commented on #97
Thank you! Note: this is not my top priority, but when I start working on this, you'll see that I move it into the in progress column in the project.

[2019-05-13 17:15] #99 closed

[2019-05-13 17:19] lyndsey-ferguson opened #101 "Feature Request: abort multi_scan if the Xcode Scheme specifies parallelization"
### Feature Request

Abort multi_scan if the Xcode Scheme specifies parallelization.

#### Motivation Behind Feature

`xcodebuild` does not output test results in a way that `xcpretty` can parse and produce valid `junit` report files. This means that `multi_scan` cannot determine which tests failed for subsequent re-runs.

#### Feature Description

I can imagine that we can query the Scheme using

[2019-05-13 17:20] lyndsey-ferguson commented on #99
Created this ticket: [Feature Request: abort multi_scan if the Xcode Scheme specifies parallelization](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/101)

[2019-05-13 17:21] lyndsey-ferguson commented on #98
@v-ahadke, can you let me know your thoughts on my question and suggestion above?

[2019-05-15 04:30] ishammoho commented on #10
I tried it by setting  batch_count: 2, however didn't see test running in parallel. it splits the tests in to 2 batches and batch 0 runs first. Thanks.

[2019-05-15 06:41] v-ahadke commented on #100
Hey @lyndsey-ferguson , above workaround worked for me. Thank you very much 👍 . Do we have any ETA on fixing the issue in plugin itself?

[2019-05-15 06:44] v-ahadke commented on #98
@lyndsey-ferguson I can use the workaround as mentioned above for now. But I think it should be handled in plugin itself by raising the exception with required data.

[2019-05-15 11:07] lyndsey-ferguson commented on #10
did you add `parallelize: true` to the options passed to `multi_scan`?

[2019-05-15 11:14] lyndsey-ferguson commented on #100
With regards to an ETA, it may be a few months before I can get to it. I am open to PRs if you want to fix it and add the tests. I would suggest adding the above code as a function in [`Fastlane::Actions:: CollateJunitReportsAction`](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/actions/collate_junit_reports.rb).

You could do something

[2019-05-15 11:21] lyndsey-ferguson commented on #98
@v-ahadke Thanks for confirming the workaround, and I can appreciate your thought that the summary data should be bundled into the exception. However, I disagree: the exception should _only_ contain the information about the problem.

I will close this issue as I don't consider this a bug.

[2019-05-15 11:21] #98 closed

[2019-05-15 15:06] v-ahadke commented on #98
@lyndsey-ferguson Sorry if I am not clear with my above comment. Actually I mean to say that may be plugin can return the summary to caller & let caller handle the success/error depending on the values present in summary. I can use `multi_scan_summary[:result]` to check if all tests passed or there are any failures instead of plugin raising the exception using `raise UI.test_failure!('Tests have f

[2019-05-15 16:44] lyndsey-ferguson commented on #98
So, you would like the callback that `multi_scan` accepts to also be called when the entire run is complete, and before the exception is called? We can add a feature request for that.

[2019-05-16 01:09] ishammoho commented on #10
ah didn't have parallelize: true, its running on parallel now. However rerun doesn't seems to be working well. When simulator launches to rerun it seems to be in a switched off state and also it's producing report only for 1 batch (I have asked to run in 3 batches).

[2019-05-16 02:31] lyndsey-ferguson commented on #10
Sorry, I fixed that, update your `Pluginfile` to use `3.6.3.parallelizing.alpha.2`

[2019-05-16 02:32] lyndsey-ferguson commented on #10
@ishammoho would you be able to provide a log?

[2019-05-20 23:21] ishammoho commented on #10
[code]

T

[2019-05-22 15:35] yousefhamza commented on #10
Hi @lyndsey-ferguson !

I can't thank you enough for this project.
at Instabug our tests (unit and UI) took 25m and 1h respectively and it was required to run our release  script but as with any sufficiently large test suit we had many flaky tests so we re-ran that 1h tests multiple times, before we can release which wasted a lot of time from multiple members on the team and `multi_scan`, did help

[2019-05-22 16:00] yousefhamza commented on #10
There's a minor issue, which is when it a batch fails it doesn't fail the build.

we are setting `fail_build: true`

[2019-05-22 16:57] lyndsey-ferguson commented on #10
@yousefhamza thank you for sharing how this helped you. I really value hearing that this plugin _is_ helping.

To confirm: are you saying that you're now saving 30 mins on CircleCI with the parallelization?

Also, is this `fail_build: true` not working with the parallelization feature work in progress?

[2019-05-22 20:12] ishammoho commented on #10
@yousefhamza That's awesome news. Will you be able to share your lane with us pls? and also wondering whether you setup Simulator in CI at runtime? Thanks.

[2019-05-22 20:52] yousefhamza commented on #10
@lyndsey-ferguson Exactly 👍

@ishammoho here it is.

[code]

Not sure what you mean with "setup the simulator in Ci at runtime" but the only interaction we have with the simulator on CI is launching it before running the tests because that sometimes caused the specs to fail with:
`xcrun instruments -w "iPhone 8 (11.4) [" || true`

[2019-05-22 21:04] ishammoho commented on #10
Thanks @yousefhamza , we use https://github.com/plu/simctl this to setup simulator.

Thanks @lyndsey-ferguson for your awesome work. Many thanks. Will try this out again and let you know how it goes.

[2019-05-22 21:08] lyndsey-ferguson commented on #10
@yousefhamza I think that the current code I've made available does not collate the junit report files correctly and thus the code that examines the results does not find the failing tests. I will make sure that functions before I alert you to a fully functional parallelized alpha for testing.

FYI, I have to clean up the code and have just finished refactoring out the retrying portion that works

[2019-05-22 21:09] lyndsey-ferguson commented on #10
That may be a problem with the CoreSimulatorService hanging. I am putting in something that will quit that service so that it can start up in a functional state. I am considering adding a check to see if it is in that state and doing that automatically (or with a option from you, the user, to indicate that you're okay with that).

[2019-05-22 21:10] lyndsey-ferguson commented on #10
It is my pleasure, truly.

[2019-05-22 21:18] lyndsey-ferguson commented on #10
Oh, and one other thing, `multi_scan` creates a clone of the simulator that you've chosen for each 'batch'. Thus, if you ask for a batch count of 3, it will create 3 clones, and delete them when it is done.

[2019-05-23 09:50] yousefhamza commented on #10
@lyndsey-ferguson Our pre-start simulator thing isn't related to `multi_scan` specifically we had this issue since we started on CircleCI

Can't wait for the release 🙏

[2019-05-24 14:52] Sandhu412 commented on #10
@lyndsey-ferguson -- I have been busy with other work and could not get a chance to try the latest improvements although I am following the thread. I am testing this today in my multi_scan. One question I had from earlier is the feature of collating the multiple HTML reports into one report.
For ex: If I run as 3 batches then the output has 3 HTML reports. Do you know if the capability to collate

[2019-05-24 17:53] lyndsey-ferguson commented on #10
@Sandhu412 No, currently this alpha [does not collate any reports](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/10#issuecomment-494973870). It will, but it does not yet.

[2019-05-30 19:55] lyndsey-ferguson commented on #97
Released 🎉. Thanks for the great PR @yousefhamza !!
Fix in [v3.7.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.7.0)

[2019-05-30 19:55] #97 closed

[2019-05-31 02:27] edias commented on #10
Hey @lyndsey-ferguson, do you have any ETA for this feature?

[2019-05-31 12:09] lyndsey-ferguson commented on #10
@edias maybe the fall. I know that that is far away, but I only get around 30 mins a day on this ;)

[2019-06-09 17:04] sneha-je opened #103 "Multi scan runs all the disabled tests in the scheme"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2019-06-09 17:49] lyndsey-ferguson commented on #103
`multi_scan` is supposed to skip the tests that have been disabled in the Scheme. Can you provide a log so I can take a look at what is going on?

Remember to please remove any sensitive data before posting.

[2019-06-09 18:18] Jon889 commented on #101
`-parallel-testing-enabled NO` can be passed to xcodebuild to override the scheme settings on parallelisation. not sure how that could get passed through scan.

[2019-06-10 03:10] lyndsey-ferguson commented on #101
Super easy. Just a matter of time.

[2019-06-11 01:00] Jon889 commented on #10
This seems to be working pretty great!

One question, how can you get a test_result bundle out, while using the parallelize option?

[2019-06-12 20:24] MarianoRappazzo commented on #103
I have the same problem here, all UI Tests from the project runs even if the scheme disabled some of them.

[2019-06-13 13:13] lyndsey-ferguson commented on #101
Following up on that, I'd like to see if I could support Xcode's parallel testing enabled option.

[2019-06-13 13:18] lyndsey-ferguson commented on #103
@MarianoRappazzo since @sneha-je has not posted a log, would you be able to?

Also would you be able to try the previous version of the plugin? You can do so by modifying your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again?

Pluginfile:
[code]

[2019-06-13 13:25] lyndsey-ferguson commented on #103
Also, can you re-run your fastlane with the `--verbose` option and include _that_ log

[2019-06-14 04:35] lyndsey-ferguson commented on #10
@Jon889 are you seeing a problem getting the test_result bundle out? I haven't gotten to testing everything to make sure it works, but my "mental model" of what _I do have_ suggests that you should be able to pass true in `:result_bundle` option and it _should_ place the bundle in your output directory.

[2019-06-17 23:15] lyndsey-ferguson commented on #103
Can you provide the logs that I requested? I'll go ahead and close this Issue on Friday (EST) if there are no logs to provide.

[2019-06-18 00:13] lyndsey-ferguson commented on #10
I am working on cleaning up a beta of the feature in [this PR](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/pull/104)

[2019-06-19 23:51] lyndsey-ferguson commented on #10
*Everyone* this is now in beta. Please test by following the instructions [here](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/pull/104)

[2019-06-20 00:06] lyndsey-ferguson commented on #101
I will close this issue as the [Feature Idea: Run tests in parallel ](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/10) includes fixing the same issue and will be resolved in PR [Issue-10 parallel multi scan](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/pull/104)

[2019-06-20 00:06] #101 closed

[2019-06-20 00:07] ishammoho commented on #10
getting 'Retrying fetcher due to error (2/4): Bundler::HTTPError Could not fetch specs' when trying bundle install

[2019-06-20 00:09] lyndsey-ferguson commented on #10
I got this issue but it continued to install:
[code]

[2019-06-20 00:09] lyndsey-ferguson commented on #10
Did yours not install?

[2019-06-20 00:10] ishammoho commented on #10
No it didn't

[2019-06-20 00:11] lyndsey-ferguson commented on #10
what version of bundler are you using?

[2019-06-20 00:12] lyndsey-ferguson commented on #10
Also, did you delete your `Gemfile.lock` file?

[2019-06-20 00:12] ishammoho commented on #10
Bundler version 2.0.1

[2019-06-20 00:12] lyndsey-ferguson commented on #10
Also, try the options here: https://stackoverflow.com/a/38410872/71877

[2019-06-20 00:13] lyndsey-ferguson commented on #10
Ok, try following the stack overflow steps. I'm using the same bundler version. I'll try running bundle install again to see if I continue having the same error.

[2019-06-20 00:13] ishammoho commented on #10
Cool. will try that. Thanks.

[2019-06-20 00:14] lyndsey-ferguson commented on #10
The second and third run after deleting the Gemfile.lock succeeded without any error each time.

[2019-06-20 03:46] ishammoho commented on #10
getting this error

[code]

tried with parallelization = true, initially, howevever it didn't work and showed multi_scan has no option of parallelization, then tried with parallel_testrun_count: 3 then got the above error.

[2019-06-20 13:01] lyndsey-ferguson commented on #10
Right, I've changed the option. I'll update the PR to include the instructions. Can you post an example of how you are calling `multi_scan`? Also, is there a stack crawl of the exception that occurs for `force_quit_simulator`?

[2019-06-20 13:07] lyndsey-ferguson commented on #10
@ishammoho okay, I think I know what the problem is. `:force_quit_simulator` was added to fastlane 22 days ago. As I deleted my Gemfile, _and_, I do not specify the version of fastlane, you probably are using a version of fastlane greater than 22 days old. I'll update this.

[2019-06-20 13:26] lyndsey-ferguson commented on #10
@ishammoho I've removed the possibility of calling `multi_scan` with `:force_quit_simulator` as I already have that option. I've released a new beta and have updated the instructions in the PR.

[2019-06-20 16:53] lyndsey-ferguson commented on #103
Remember, I will close this Issue tomorrow unless you can provide me with logs. Please use the `--verbose` flag. BTW, I have confirmed that this works with the current feature that I am working on for parallel test runs. If you would like to use that beta, please see this [pull request](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/pull/104)

[2019-06-20 20:44] ishammoho commented on #10
Thanks @lyndsey-ferguson , now getting this error

[code]

[2019-06-20 20:55] lyndsey-ferguson commented on #10
Can you post a sample of the Fastfile where you call `multi_scan`? I need the log too (not just the one error  😖

[2019-06-20 21:10] ishammoho commented on #10
:)

[code]
Fastlane looks like this

[code]

[2019-06-20 21:25] lyndsey-ferguson commented on #10
@ishammoho  Here's the problem:
[code]
You can see that immediately after that error, it is trying to run the `xchtmlreport` action and failing because there is no `result_bundle_path`.

I need to add some logging to try and determine what the correct xctestrun file path is. Currently I am looking in the `derived data path/Build/Products/<scheme name>*.xctestrun`. Until I put the logging in, can y

[2019-06-20 21:27] lyndsey-ferguson commented on #10
If you call `multi_scan` with the full path to the `xctestrun`, it will not fail to find it 😉

I still have to fix how I find it though.

[2019-06-20 21:36] lyndsey-ferguson opened #105 "Parallelization Bug: Unable to find built xctestrun file"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2019-06-20 21:38] lyndsey-ferguson commented on #10
@ishammoho, I have created the following [Parallelization Bug: Unable to find built xctestrun file](#105), please use that issue to continue this investigation.

[2019-06-20 21:40] lyndsey-ferguson commented on #105
@ishammoho  please let me know what you find by following my request [here](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/10#issuecomment-504206152)

[2019-06-20 23:08] ishammoho commented on #10
Thanks @lyndsey-ferguson . Full name if xctest is  {ProjectNamne}UITests.xctest

[2019-06-21 01:28] ishammoho commented on #10
Awesome. Thanks @lyndsey-ferguson

passed this to multi_scan
xctestrun: "./DerivedData/Build/Products/Automation_iphonesimulator12.1-x86_64.xctestrun",

and it's working now

However, finishes with

[code]

[2019-06-21 02:36] ishammoho commented on #10
<img width="295" alt="Screen Shot 2019-06-21 at 2 32 57 PM" src="https://user-images.githubusercontent.com/6156112/59893668-c4f1cc80-9431-11e9-8548-3e4f39c9c62e.png">
When test starts it generates 4 different folders (i have asked to run 4 parallel tests). Which has the result_bundle as well. However when the test finished it cleans all 4 of these bundles (folders). I'm assuming if you don't clean

[2019-06-21 12:38] lyndsey-ferguson commented on #105
From @ishammoho

Awesome. Thanks @lyndsey-ferguson

passed this to multi_scan
xctestrun: "./DerivedData/Build/Products/Automation_iphonesimulator12.1-x86_64.xctestrun",

and it's working now

However, finishes with You must pass at least one result_bundle_path error which I mentioned earlier.

The default multi_scan reporting is not showing all the tests which have run.

[code]

[2019-06-21 12:39] lyndsey-ferguson commented on #105
Also from @ishammoho

<img width="295" alt="Screen Shot 2019-06-21 at 2 32 57 PM" src="https://user-images.githubusercontent.com/6156112/59893668-c4f1cc80-9431-11e9-8548-3e4f39c9c62e.png">
When test starts it generates 4 different folders (i have asked to run 4 parallel tests). Which has the result_bundle as well. However when the test finished it cleans all 4 of these bundles (folders). I'm assum

[2019-06-21 12:40] lyndsey-ferguson commented on #10
@ishammoho I've moved your comments to the Issue

[2019-06-21 12:45] lyndsey-ferguson commented on #105
@ishammoho

Correct, `xchtmlreport` is failing because it is not receiving the `test_result` bundle path.

Yes, I believe you could use that. I'll create a separate Issue for that. In the meantime, you can run `xchtmlreport` on each `test_result` in your `test_run_block`. You can get the dir path of one of those batch folders from `testrun_info[:report_filepath]` using `File.dirname` on that path.

[2019-06-21 12:57] lyndsey-ferguson commented on #105
@ishammoho please pass `result_bundle` to `multi_scan` to place a copy of the `test_result` bundle in your output directory. That should also handle collating such reports.

[2019-06-21 13:00] lyndsey-ferguson opened #106 "Parallelization Bug: generated `test_result` bundles are deleted after completion"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2019-06-21 13:01] lyndsey-ferguson commented on #105
@ishammoho I've created [Parallelization Bug: generated `test_result` bundles are deleted after completion](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/106) to track progress on the other issue you found.

[2019-06-21 13:35] sneha-je commented on #103
Sorry for the late reply. When I run the example tests in this repo by disabling one of the UI tests, the disabled one didn't run.

I'm using "workspace" in my fastfile scan instead of "project" as used in this project's fastfile. I initially thought that might be the issue but that isn't the case. I'm checking what is so different in my work project's setup that it's running all the disabled ones

[2019-06-21 13:46] lyndsey-ferguson commented on #105
@ishammoho can you modify your `Pluginfile` per my instructions below, remove your `Gemfile.lock`, run `bundle install`, modify your `Fastfile` to *no longer* pass in the `xctestrun` option, and then run your fastlane again?

Pluginfile:
[code]

Please attach the console output as a text file to this issue if it still is a problem (makes it easier for me to review).

[2019-06-21 13:47] lyndsey-ferguson commented on #10
@ishammoho just in case you are not getting notifications from the Issue itself, I have a fix that I'd like you to test. Please see the Issue [Parallelization Bug: Unable to find built xctestrun file](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/105) for instructions.

[2019-06-23 13:50] lyndsey-ferguson commented on #106
@ishammoho your call to `xchtmlreport` must include a result bundle or an array of result bundles: https://github.com/Rightpoint/BonMot/blob/master/fastlane/actions/xchtmlreport.rb#L19

[2019-06-23 13:54] lyndsey-ferguson commented on #106
Ok, I'm pretty sure that this behavior is correct. If you want a `result_bundle`, you must pass that option to `multi_scan`. It will copy the bundle to your output directory and collate them when complete. You can then look for that file and pass it to `xchtmlreport`.

[2019-06-23 13:54] #106 closed

[2019-06-23 14:18] lyndsey-ferguson commented on #105
Fixed in [v3.8.0.parallelizing.beta.3](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.0.parallelizing.beta.3)

[2019-06-23 14:18] #105 closed

[2019-06-23 14:31] lyndsey-ferguson commented on #103
I'm sorry, but this log doesn't provide information on what tests were run. I can understand if you do not want to provide highly sensitive information: each developer faces certain restrictions that cannot be explained.

Given that, can you please provide a sample Xcode project and `Fastfile` that calls `multi_scan` with that project so that I can debug this? As I wrote before, everything is curr

[2019-06-23 21:31] ishammoho commented on #105
Thanks @lyndsey-ferguson . It's working, not need to pass xctestrun option anymore. Thanks. Trying to sort the reporting part as you suggested. Will update you on that.

[2019-06-23 22:16] ishammoho commented on #106
I'm using result_bundle. however when the test run completes it doesn't collate the results properly. Generated report.html only shows results for the last completed test run block.

[2019-06-23 22:21] szymon-kazmierczak commented on #106
I just wanted to say I'm seeing the same issue as ishammoho, only the last completed test run block's tests are reported (the xunit report, xcpretty html report and the .test_result bundle.

[2019-06-23 22:35] lyndsey-ferguson commented on #106
Can you create a new issue? It may be due to how I am collating the results and you may instead need to just get a collection of test_result bundles to pass to the xchtmlreport tool.

[2019-06-23 22:44] ishammoho opened #107 "Parallelization Bug: only the last completed test run block's tests are reported .test_result bundle"
### New Issue Checklist

- [ ] Updated `fastlane-plugin-test_center` to the latest version
- [ ] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [ ] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [ ] I have removed any sensitive data suc

[2019-06-24 13:38] lyndsey-ferguson commented on #107
@ishammoho please test [Add support to not collate report files ](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/pull/108) to confirm that this allows you to use the intermediate test_bundles.

[2019-06-24 13:39] lyndsey-ferguson commented on #107
@szymon-kazmierczak, you too please ^

[2019-06-25 14:20] lyndsey-ferguson commented on #107
Fixed in [v3.8.0.parallelizing.beta.4](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.0.parallelizing.beta.4)

[2019-06-25 14:20] #107 closed

[2019-06-25 14:20] lyndsey-ferguson commented on #95
Fixed in [v3.8.0.parallelizing.beta.4](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.0.parallelizing.beta.4)

[2019-06-25 14:20] #95 closed

[2019-06-25 18:17] lyndsey-ferguson opened #109 "Parallelization Bug: reports for batches with spaces in the testable name are not collated properly"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2019-06-26 01:28] ishammoho commented on #107
when I ask multi_scan to collate the results this is still happening. However when I set collate: false to generate report using each batch reporting part is fine. However if there are re-tried tests the build shows as failed.

[2019-06-27 18:46] jineshqa commented on #109
Hi @lyndsey-ferguson Could you also post an example for using parallel tests.

[2019-06-27 18:51] jineshqa commented on #109
is this the way?

parallel_testrun_count: 4

[2019-06-30 01:33] lyndsey-ferguson commented on #109
Yes, @jineshqa. Please see the [pull request](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/pull/104). I have an example there.

[2019-07-02 17:15] lyndsey-ferguson commented on #107
@ishammoho thank you for the information. Yes, I can imagine that the build will show as failed as the uncollated test results will have failed tests in them. Collating will remove failed tests *if* those same tests passed in a later run.

With collation, I imagine that the way that they are being collated is not compatible with `xchtmlreport`. If you can create a separate ticket for that issue, I

[2019-07-05 15:32] lyndsey-ferguson commented on #109
Fixed in [v3.8.0.parallelizing.beta.5](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.0.parallelizing.beta.5)

[2019-07-05 15:32] #109 closed

[2019-07-05 16:44] lyndsey-ferguson opened #111 "Parallelization Bug: All simulators can fail with `operation never finished bootstrapping`"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2019-07-06 19:37] lyndsey-ferguson commented on #111
I thought that I had solved the issue before as [noted in my journal](https://gist.github.com/lyndsey-ferguson/17d49d0f2b92ee521e3b5284aea435e0#gistcomment-2863531).

Things to try:

- [ ] Confirm that all simulators are pre-booted
- [ ] Confirm that all calls to `xcodebuild test` do not share any files
- [ ] Compare open sockets on Mac of passing vs. crashing run of tests via [netstat](https://ap

[2019-07-06 20:05] lyndsey-ferguson commented on #103
I'm closing the issue as I cannot reproduce it, and I don't have enough information to debug it.

[2019-07-06 21:47] lyndsey-ferguson commented on #111
The simulators had not been pre-booted. I forgot to bring that code in when I refactored and cleaned up the parallelized multi_scan.

[2019-07-06 21:51] lyndsey-ferguson commented on #111
Fixed in [v3.8.0.parallelizing.beta.6](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.0.parallelizing.beta.6)

[2019-07-06 21:51] #111 closed

[2019-07-06 22:27] lyndsey-ferguson opened #113 "Parallelization Bug: multi_scan crashes when `invocation_based_tests` is true"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2019-07-07 23:18] lyndsey-ferguson commented on #113
Fixed in [v3.8.0.parallelizing.beta.7](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.0.parallelizing.beta.7)

[2019-07-07 23:18] #113 closed

[2019-07-15 13:07] lyndsey-ferguson opened #115 "Parallelization Bug: multi_scan with include_simulator_logs fails with Error 74"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2019-07-15 17:39] lyndsey-ferguson commented on #115
@yousefhamza I totally misunderstood the bug. With `fail_build: false` and `include_simulator_logs: false`, I cannot reproduce the issue.

Here is my sample Fastfile:
[code]

[2019-07-15 17:40] lyndsey-ferguson commented on #115
What I have done is that I have added code to rename the simulator logs, which makes sense to me. But, I cannot declare that I've fixed the bug that @yousefhamza has reported, so I would appreciate it if you could re-run the `fastlane` with the `--verbose` flag.

[2019-07-15 17:44] lyndsey-ferguson commented on #115
[This is where the work-in-progress can be found](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/pull/116)

[2019-07-16 18:14] lyndsey-ferguson opened #117 "Parallelization Bug: multi_scan returns false regardless of whether or not a parallel run passed or failed"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2019-07-17 09:47] yousefhamza commented on #115
Here's the `multi_scan` action that fails:
[code]

One thing I noticed is that when I run this action alone in its own lane it works fine but it fails If I run it after another `multi_scan` in the same lane, full lane:
[code]

The output for the second `multi_scan` action:
[code]

[2019-07-17 12:54] lyndsey-ferguson commented on #115
@yousefhamza thank you, this may help me. I hadn't tested by running `multi_scan` twice in a row. I can see that the `xcodebuild` command used the same simulator from which it is trying to collect the logs from.

Can you run with the two with my branch that moves the logs after each run? Perhaps it is failing because it is trying to write to an existing path. Meanwhile, I'll focus on the other bug

[2019-07-17 22:01] lyndsey-ferguson commented on #117
@yousefhamza @Vkt0r can you test this code to check if all test runs pass, multi_scan reports a pass?

If so, can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again?

Pluginfile:
[code]

Please attach the console output as a text file to this issue (makes it easier for me to review).

[2019-07-18 15:30] yousefhamza commented on #115
Here's the output:
[code]

[2019-07-18 17:16] lyndsey-ferguson commented on #115
@yousefhamza I'm a little confused. You're example sets `:include_simulator_logs` to `false`. Yet, I see it set to `true` when `scan` gets it. When I run `multi_scans` I see that `scan` gets it as `false`.

Can you clarify what `:include_simulator_logs` is set to when you pass it to `multi_scan`?

[2019-07-18 17:18] lyndsey-ferguson commented on #117
Don't forget to test this please and thank you. 🙏

I've tested it with both a parallelized run of tests that all pass to make sure it returns true. Same with some that fail returning false.

[2019-07-18 20:57] Vkt0r commented on #117
@lyndsey-ferguson No no don't worry I'll test it in the project from I got it (sorry different machine 😅). I'll throw results tomorrow.

[2019-07-18 21:37] lyndsey-ferguson commented on #115
@yousefhamza I'm going to assume that there was a copy/paste bug: I duplicated and fixed the issue that you described. It was indeed due to the existence of the simulator's log file that `xcrun` command to collect the logs failed.

Can you delete your `Gemfile.lock`

Keep your modification to your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again?

Plug

[2019-07-19 13:40] aslattum opened #119 "multi_scan does not work with scan's skip_testing option"
### Feature Request
Implement `scan` `skip_testing` option for multi_scan

#### Motivation Behind Feature
Implementing the `skip_testing` option that is a part of fastlanes `scan` action will allow developers to choose between using a whitelist or blacklist while testing their code. Right now, `multi_scan` only supports whitelist testing through the use of `only_testing` whereas it would be benefi

[2019-07-19 14:26] lyndsey-ferguson commented on #119
@aslattum `multi_scan` also incorporates _all_ of the `scan` options, so you _should_ be able to use `skip_testing`. I know I have code that observes it, but it has been a while since I've used it. Have you tried this option, or do you think I need to make it more obvious to people who come to use `multi_scan` that _all_ of the `scan` options are available?

I have created a [`scan_options`](https

[2019-07-19 15:07] aslattum commented on #119
@lyndsey-ferguson I have tried to use `skip_testing` just as it is used in scan and receive an error for it being unsupported. I've tried it both as a string (i.e. `skip_testing: "AdamTests`) and as an array of strings (i.e. `skip_testing: ["AdamTests"]`).

I was searching in that file you linked in the response and did not find any sign of `skip_testing`. Not sure if that's because you don't have

[2019-07-19 15:34] aslattum commented on #119
@lyndsey-ferguson so if I use the `skip_testing` parameter, it ends up running completely incorrect tests. Looks like it adds a bunch of individual tests to the `only_testing` variable that have nothing to do with what I actually would like to test

[2019-07-19 17:23] lyndsey-ferguson commented on #119
[Here is the definition of `scan_options`](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/actions/multi_scan.rb#L135), which in turn uses the [`ScanAction.available_options`](https://github.com/fastlane/fastlane/blob/master/scan/lib/scan/options.rb#L13) to extend `multi_scan's` array of options.

Note: I do not use `scans` `:output_types

[2019-07-19 17:50] aslattum commented on #119
@lyndsey-ferguson not a problem just wanted to bring it your attention! I do in fact have a `build_for_testing` product for the workspace so I'm going to try using the above example 👍

[2019-07-20 11:16] yousefhamza commented on #115
This is exactly the issue here.

I set it to `false` in both `multi_scan` actions.

I tried it again but I had the same issue still:
output
[code]

[2019-07-21 15:00] lyndsey-ferguson commented on #115
@yousefhamza I believe that I have finally fixed the bug. I believe that a previous `scan` or `Scanfile` included `include_simulator_logs: true` and `multi_scan` failed to reset the global `Scan.config[:include_simulator_logs]` back to the default. I have added code to do that.

Can you delete your `Gemfile.lock`, keep your modification to your `Pluginfile` per my instructions below, run `bundle i

[2019-07-21 15:12] lyndsey-ferguson commented on #117
@yousefhamza @Vkt0r don't forget about this test-request
# 💫

[2019-07-21 18:32] Vkt0r commented on #117
@lyndsey-ferguson Sorry for the delay, I've been testing it during the last couple of days and it's working fine on my side.

[2019-07-22 11:38] yousefhamza commented on #115
Is it normal that it still shows `(test_center v3.8.0.parallelizing.beta.8)` in the `mutli_scan` action table?

also note that I'm running on CircleCI
[code]

[2019-07-22 13:06] aslattum commented on #119
@lyndsey-ferguson just as a follow up, the `only_testing` works since right now I have two sets of test suites; however, in the future I imagine there being many (over 50) so I think it would be helpful to provide a blacklisting option through `skip_testing` explicitly!

[2019-07-22 13:31] lyndsey-ferguson commented on #115
@yousefhamza I think the fact that it shows the beta version is somewhat normal, I tested it on a different repo here.

However, I am unsure that you are using the version I submitted. I don't see any of the messages that should appear when the `--verbose` flag is passed to the command? Have you updated how you call `fastlane` to include that flag?

Your `Gemfile.lock` file should look like this a

[2019-07-23 23:38] lyndsey-ferguson commented on #115
@yousefhamza any update on running with `--verbose`?

[2019-07-24 13:14] lyndsey-ferguson commented on #41
Some personal notes. From what I've discovered, the `:skip_build` option will simply _omit_ the `build` parameter to `xcodebuild`. This means that **if** the project's build products already exist, `xcodebuild` will not build the product but just proceed to testing. If the build products **do not exist**, then it will build and then test.

[2019-07-24 13:18] lyndsey-ferguson commented on #41
Can I properly determine if the correct build products exist so that I can simply grab the tests for `only_testing`?

[2019-07-24 13:21] lyndsey-ferguson commented on #41
Can I simply pass it down to `scan` so that we too omit the `build` command, and then all the tests run the first pass. I could imagine it would also call my refactored `MultiScanManager::Runner's` `run_first_run_of_invocation_based_tests` (renaming the method) and then let the normal events unfold? That seems reasonable.

[2019-07-24 22:30] lyndsey-ferguson commented on #41
Slated to be fixed by [issue-41 support skip_build](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/pull/120)

[2019-07-25 02:05] lyndsey-ferguson commented on #50
Placed in the [Merged PR: issue-50 remove skipped tests when batching](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/pull/121)

[2019-07-25 02:05] lyndsey-ferguson commented on #50
Not yet released

[2019-07-25 11:51] yousefhamza commented on #115
My `Gemfile.lock` head:
[code]

I'm adding verbose to the lane:
`bundle exec fastlane unit_tests --verbose`

Output:
[code]

[2019-07-25 12:48] lyndsey-ferguson commented on #115
@yousefhamza can you include the logs between when `multi_scan` starts and the `scan` log that you've included here? I need that as I've put other debugging messages there.

[2019-07-25 13:06] lyndsey-ferguson commented on #73
Fixed in 3.8.0.parallelizing.beta.8. Will close once it is released

[2019-07-25 13:17] lyndsey-ferguson commented on #115
@yousefhamza I _may_ need a sample project and fastlane if the logs I've asked for above do not have enough info. Let's try the logs first as I know it takes time to put together a sample.

[2019-07-25 13:23] lyndsey-ferguson commented on #75
Fixed in 3.8.0.parallelizing.beta.8. I will close this issue once that is official released.

[2019-07-25 17:38] lyndsey-ferguson commented on #115
Ok. I can see that `multi_scan` is resetting the `Scan.config` back to the defaults:
[code]

I'm sorry, but I do need a sample project and Fastfile to test this. I do not know what next to try in order to duplicate the issue.

[2019-07-26 00:31] lyndsey-ferguson commented on #100
@v-ahadke can you include a sample of a test that causes this issue? I can duplicate it for the HTML report, but not Junit.
Thanks

[2019-07-26 12:03] v-ahadke commented on #100
Hi @lyndsey-ferguson , you can use any UITests which will fail & failure reason should include special symbol `&` as added in details of issue
`Illegal character '&' in raw string "XCTAssertTrue failed - Expected text is 'Ultimate Colosseum Arena & Exclusive Borghese Gallery Tour', actual text is 'Optional("Germaine\'s Hawaiian Luau")'"`

[2019-07-28 11:45] lyndsey-ferguson commented on #115
@yousefhamza do you have a `Scanfile` where `include_simulator_logs` is true?

[2019-07-28 17:31] lyndsey-ferguson commented on #115
@yousefhamza If you _do_ use a `Scanfile`, I have added code to account for that and allow those options to override `multi_scan's`.

Can you delete your `Gemfile.lock`, keep your modification to your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again?

Pluginfile:
[code]

[2019-07-29 21:13] jineshqa commented on #24
@fishercraigj do you mind sharing the source code on github? That seems like exactly what I need at the moment, not cross platform but iOS specific.

Thanks,
JInesh

PS: If you do not wish to share that is fine too just drop a line here so I know :-)

[2019-07-31 09:16] yousefhamza commented on #115
I think there's an issue on my side as well as I have tried the latest build again on my machine and it worked but still failed on CI

I will try to investigate the issue my side as well.
I ran `fastlane env` on my CI and here's the output If you think it can help
<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value

[2019-07-31 09:40] yousefhamza commented on #115
I think I got it 🙋‍♂️

It was `setup_cirlce_ci`

https://github.com/fastlane/fastlane/blob/d27dd65f975c067fa4e91df4d283e68c5ab2a949/fastlane/lib/fastlane/actions/setup_ci.rb#L57

What do you think is the proper solution to this?

[2019-07-31 10:40] lyndsey-ferguson commented on #115
Great detective work @yousefhamza!! This makes total sense. So, I think that the proper solution is that `multi_scan` needs to use the Scan.config object to look for values that are different from what were provided in the parameters provided to `multi_scan`.

If you want to continue testing this parallelized version of `multi_scan`, you can run `ENV.delete('SCAN_INCLUDE_SIMULATOR_LOGS')` before c

[2019-07-31 18:32] lyndsey-ferguson commented on #115
@yousefhamza ok, my latest commit should fix the issue that you found. In fact, the root.

Can you delete your `Gemfile.lock`, keep your modification to your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again?

(keep `setup_circle_ci` in the your lane)

Pluginfile:
[code]

[2019-07-31 19:21] lyndsey-ferguson commented on #115
@yousefhamza I have fixed the problem in the last commit of this branch. Can you confirm (please leave `setup_circle_ci` and run it through Circle CI.

Delete your `Gemfile.lock`, keep your modification to your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again?

Pluginfile:
[code]

[2019-08-01 14:55] yousefhamza commented on #115
@lyndsey-ferguson It worked 👍
It also looks like the other issue (retried tests cause failure) is solved, we are actually ready to use this now When the official release will be?

[2019-08-01 15:13] lyndsey-ferguson commented on #115
Yeah, I think this may be ready. I will ask for confirmation of the merged changes to the main PR works. The official release _could_ be this week if I get enough activity. 🎉  🎉  🎉

[2019-08-01 15:58] lyndsey-ferguson commented on #117
Fixed in [v3.8.0.parallelizing.beta.9](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.0.parallelizing.beta.9)

[2019-08-01 15:58] #117 closed

[2019-08-01 15:58] lyndsey-ferguson commented on #115
Fixed in [v3.8.0.parallelizing.beta.9](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.0.parallelizing.beta.9)

[2019-08-01 15:58] #115 closed

[2019-08-02 13:13] lyndsey-ferguson commented on #92
We are already collecting the skipped tests. We can, once the runner is finished, go through each testable and update the junit report(s) with this testcase/skipped elements.

[2019-08-03 20:41] lyndsey-ferguson commented on #100
I have not been able to reproduce this issue for the junit reports. The ampersands are escaped correctly.

I am using `xcpretty` `v0.3.0`, which version are you using?

[2019-08-05 14:23] jcharr1 opened #124 "Parallelization Bug: multi_scan total_retry_count always returns nil"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2019-08-05 14:57] lyndsey-ferguson commented on #124
Hm. I hadn't thought of how parallelization works with that. Would you just add up the retries across the batches?

[2019-08-05 15:38] jcharr1 commented on #124
That’s how I would do it.

[2019-08-06 13:01] lyndsey-ferguson commented on #124
@jcharr1 can you test this fix?

Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again?

Pluginfile:
[code]
(yes, the branch name itself is misspelled)

Please attach the console output as a text file to this issue (makes it easier for me to review).

[2019-08-06 13:24] lyndsey-ferguson commented on #124
[Here](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/124) is the PR if you're curious

[2019-08-06 20:09] jcharr1 commented on #124
Here you go. At first glance it looks like it worked ok. BTW, `be` at the beginning is just an alias I made for `bundle exec` so I wouldn't have to type it out all the time.

[multi_scan-total_retries.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/3473977/multi_scan-total_retries.txt)

[2019-08-06 23:34] lyndsey-ferguson commented on #124
Wonderful, yes it did work. Thank you for testing!

[2019-08-07 01:04] lyndsey-ferguson opened #126 "Collated HTML reports display the tests outside of the coloured grid rows"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2019-08-07 01:29] lyndsey-ferguson commented on #124
Fixed in [v3.8.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.0)

[2019-08-07 01:29] #124 closed

[2019-08-07 01:32] lyndsey-ferguson commented on #75
Fixed in [v3.8.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.0)

[2019-08-07 01:32] #75 closed

[2019-08-07 01:33] lyndsey-ferguson commented on #73
Fixed in [v3.8.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.0)

[2019-08-07 01:33] #73 closed

[2019-08-07 01:33] lyndsey-ferguson commented on #50
Fixed in [v3.8.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.0)

[2019-08-07 01:33] #50 closed

[2019-08-07 01:33] lyndsey-ferguson commented on #41
Fixed in [v3.8.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.0)

[2019-08-07 01:33] #41 closed

[2019-08-07 01:34] lyndsey-ferguson commented on #10
Fixed in [v3.8.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.0)

[2019-08-07 01:34] #10 closed

[2019-08-07 01:54] lyndsey-ferguson commented on #92
Fixed in [v3.8.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.0)

[2019-08-07 01:54] #92 closed

[2019-08-07 11:45] hiteshjain4 opened #127 "How to use local version of xcpretty with test_center?"
### Question Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I searched for [existing GitHub issues

[2019-08-07 12:59] lyndsey-ferguson commented on #127
Hello @hiteshjain4 give me some time to look into this. There may be something that we can look into that will make `multi_scan` pick up your version of `xcpretty` instead of a default.

How do you know it is using the regular version. Are you just basing that off the failure to create the expected html report?

[2019-08-07 13:04] hiteshjain4 commented on #127
Hi @lyndsey-ferguson : In the updated version, I have some code that creates pie chart, and also gives correct test case count. So yes I'm basing that on the expected Html report.

[2019-08-07 23:51] lyndsey-ferguson commented on #126
@ishammoho [here is the call to `multi_scan`](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/actions/multi_scan.rb#L345)

[2019-08-08 12:57] lyndsey-ferguson commented on #127
@hiteshjain4 reviewing [your changes](https://github.com/xcpretty/xcpretty/compare/master...hiteshjain4:hiteshjain4-Piechart-&-TestCount?expand=1), it seems like these changes could be made _after_ `xcpretty` is complete. In fact after a `scan` or `multi_scan`.

You would:
# Add the css to the HTML file
# Add the piechart section along with the script tags to the HTML file
# fix the test count in

[2019-08-08 13:39] lyndsey-ferguson commented on #127
Oh, and I could give you some initial guidance with REXML if you have questions.

[2019-08-08 14:09] hiteshjain4 commented on #127
Hi @lyndsey-ferguson: Thanks for the suggestion. Yeah, this seems to be the best thing to do here. I will start looking into this.

But since I'm pretty new to ruby (REXML) give me some time to learn about these technologies, and get myself familiarize with Fastlane/test_center.

I would be needing your help with this and with getting Fastlane famous 😄

[2019-08-08 14:23] lyndsey-ferguson commented on #127
The [code that I wrote for collate_html_reports](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/actions/collate_html_reports.rb) may give you the guidance you need. Learning the basics of XPath is a must.

I'll leave this Issue open so that you can ask your questions here.

[2019-08-09 22:02] lyndsey-ferguson commented on #127
I'm going to close the issue so I get better points in the Fastlane Available Plugins page. I'll keep the conversation unlocked so that we can still communicate here if you need help @hiteshjain4 .

[2019-08-09 22:02] #127 closed

[2019-08-12 21:09] ishammoho commented on #126
Thanks for checking @lyndsey-ferguson

[2019-08-13 00:06] jineshqa commented on #107
@lyndsey-ferguson as you know xchtmlreport makes report easily consumable with screenshot of failure on the side. Could you look into fixing this issue or suggest a workaround?

[2019-08-13 00:10] lyndsey-ferguson commented on #107
Can you create a ticket with a sample project, Fastfile, what you're expecting in the collated report and what you're getting instead? Thanks!

[2019-08-13 00:12] jineshqa commented on #107
I can create a ticket but not a sample project where I can reproduce the exact error. I was running tests in parallel, 4 sims. Report showed 9 failures in total but xchtmlreport shows only 3.

Should I create a ticket with the info and attach my result bundle?

[2019-08-13 00:13] lyndsey-ferguson commented on #107
Yes please. The main thing is that I need to know what you're expecting and how the collation is not meeting those expectations.

[2019-08-15 01:23] lyndsey-ferguson commented on #100
I'm closing this issue as I cannot reproduce it and I do not have any sample of a reproducible case.

[2019-08-15 01:23] #100 closed

[2019-08-20 23:06] lyndsey-ferguson opened #129 "Multiple calls to multi_scan with xctestrun causes crash!"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2019-08-20 23:12] lyndsey-ferguson opened #130 "multi_scan will crash on re-runs when test identifiers has spaces in the name and older version of fastlane"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2019-08-21 00:00] jineshqa commented on #130
Hi @lyndsey-ferguson

Are you referring to this error?

`/System/Library/Frameworks/Ruby.framework/Versions/2.3/usr/lib/ruby/2.3.0/rexml/parent.rb:58:in `[]': [!] no implicit conversion of String into Integer (TypeError)
	from /System/Library/Frameworks/Ruby.framework/Versions/2.3/usr/lib/ruby/2.3.0/rexml/parent.rb:58:in `[]'
	from /Library/Ruby/Gems/2.3.0/gems/fastlane-plugin-test_center-3.8.0/li

[2019-08-21 12:54] lyndsey-ferguson commented on #130
Hi @jineshqa, no, the issue that I reported occurs within `multi_scan` when it sends the `only_testing` parameter to `scan` which then sends it to `xcodebuild`. I'll update the description.

The crash log that you posted indicates that there is a problem when collating the junit reports, particularly, when the retries attribute is being updated. Could you create a new issue please? It would help i

[2019-08-21 14:40] sandipdhagdi opened #131 "no implicit conversion of String into Integer"
### New Issue Checklist

- [ ] Updated `fastlane-plugin-test_center` to the latest version
- [ ] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [ ] I reviewed the example [Fastfile](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/fastlane/Fastfile)
- [ ] I have removed any sensitive data such as passwords,

[2019-08-21 14:45] lyndsey-ferguson commented on #131
@sandipdhagdi this is failing when it is trying to collate junit tests. Can you please attach the junit report files? Don't forget to remove any sensitive data from them.

Thanks!

[2019-08-21 18:16] jineshqa commented on #131
Want to add this is working fine with beta 9. I had to downgrade.

[2019-08-21 19:32] lyndsey-ferguson commented on #131
@jineshqa if you could add junit report files that fail in the same way, that will help me fix this.

[2019-08-22 07:25] sandipdhagdi commented on #131
@lyndsey-ferguson thanks for your quick reply
below mentioned is a zip folder containing report.html and report.junit
[tests.zip](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/3528789/tests.zip)

[2019-08-22 07:27] sandipdhagdi commented on #131
@jineshqa I dint got you,
What you want me to downgrade, Is it  XCode version I am using?
please suggest

[2019-08-22 12:42] lyndsey-ferguson commented on #131
@sandipdhagdi I believe that he is referring to the `3.8.0.parallelizing.beta.9` of this plugin

[2019-08-22 13:01] sandipdhagdi commented on #131
@lyndsey-ferguson I have commented below lines from function increment_testable_tries from file collate_junit_reports.rb and I was able to retry failed testcases.

` def self.increment_testable_tries(target_testable, other_testable)
              #try_count = target_testable.attributes['retries'] || 1
              #other_try_count = other_testable['retries'] || 1

              #target_testable.a

[2019-08-22 13:05] lyndsey-ferguson commented on #131
Thanks! That will help me fix it faster. I won't be able to get to it today, but I will as soon as I can.

[2019-08-22 14:50] jineshqa commented on #131
@sandipdhagdi I was referring to 3.8.0.parallelizing.beta.9 like Lyndsey said.

[2019-08-22 14:53] jineshqa commented on #131
Also thanks @sandipdhagdi for uploading the junit files. I was supposed to do that but have some other priorities to take care of first.

[2019-08-22 19:05] stevenp opened #132 ""only_testing" option no longer works with multiple test targets"
### New Regression Checklist

- [X] Updated `fastlane-plugin-test_center` to the latest version
- [X] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [X] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [X] I searched for [existing GitHub

[2019-08-22 20:32] stevenp commented on #131
Running into this too.

[2019-08-22 22:26] stevenp commented on #131
This appears to be related to the version of Ruby, and I suspect it's a bug with `rexml`. In 2.3.0 (the macOS default), this failure happens for me, but in later versions installed via `rvm`, it doesn't.

[2019-08-22 22:28] #132 closed

[2019-08-22 22:33] lyndsey-ferguson commented on #132
Fixed in [v3.8.2](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/tree/v3.8.2)

[2019-08-22 22:35] lyndsey-ferguson commented on #129
Fixed in [v3.8.1](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.1)

[2019-08-22 22:35] #129 closed

[2019-08-22 22:35] lyndsey-ferguson commented on #130
Fixed in [v3.8.1](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.1)

[2019-08-22 22:35] #130 closed

[2019-08-23 00:40] lyndsey-ferguson commented on #131
@stevenp good find. Did you chance find this issue by chance, or did you suspect that the ruby version was the issue?

[2019-08-23 06:25] jainhitesh3 commented on #127
Hi @lyndsey-ferguson, Thanks to your suggestion I have created a method that updates the HTML file. Please have a look [UpdateXCprettyReport](https://github.com/jainhitesh3/UpdateXCprettyReport), and also could you please do suggest me if anything else can be added or any change is required here.

Currently:
* The HTML File location is hardcoded as I'm not sure of how to get that from Fastfile lan

[2019-08-23 10:38] stevenp commented on #131
I was running my tests on CircleCI and their macOS installations use 2.3.0 by default (since that’s what ships with the OS), but I was unable to repro the issue on my local machine, where I’m running 2.6.3, so I tried updating my CI build to use a newer Ruby and the problem went away.
On Aug 23, 2019, 1:40 AM +0100, Lyndsey Ferguson <notifications@github.com>, wrote:

[2019-08-23 12:41] lyndsey-ferguson commented on #131
@stevenp that makes sense. I cannot hookup CircleCI to this repo because it requires giving it read permission to my private organization's code.

[2019-08-23 12:42] lyndsey-ferguson commented on #131
Everyone, please navigate to this [PR issue-131 fix REXML@2.3.0 attributes[''] crash](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/pull/134) to test the fix.

[2019-08-23 16:59] lyndsey-ferguson commented on #127
I going to take up your offer and make some suggestions to you.

First, you should reconsider using REXML rather than nokogiri. I, and my team, ran into so many problems installing that gem because it had to built locally. That required the local env to be set up exactly as the author(s) anticipated.

Often, OS upgrades would break nokogiri.

Yes, REXML is not as easy to use as nokogiri is, but on

[2019-08-23 17:02] lyndsey-ferguson commented on #127
I also suggest that you make a `fastlane` plugin that calls this gem. It is fine to have a gem because not everyone uses fastlane, but if you create a plugin, it appears in [fastlane's available plugins](https://docs.fastlane.tools/plugins/available-plugins/) and the list from calling `fastlane search_plugins`.

[2019-08-23 17:05] lyndsey-ferguson commented on #127
Also, I would not name this `UpdateXCprettyReport` as that is highly generic. You could name it `EnhanceXCPrettyReport`. You cannot name it `FixXCPrettyReport` as you are also adding a nice piechart.

[2019-08-26 13:48] lyndsey-ferguson commented on #126
Collation also does not remove failed tests when they later pass
<img width="1422" alt="html_collation" src="https://user-images.githubusercontent.com/5741516/63695409-a5d33a80-c7e6-11e9-8d19-f4e00a2ccdca.png">

[2019-08-30 13:40] ip19 opened #136 "bundler: failed to load command: fastlane (/usr/local/bin/fastlane)"
#136   An issue on the stage of rerunning tests again

#### Question Description
1. I'm executing ' bundle exec fastlane test'
2. Everything goes ok but I get an error when rerunning tests
![Screen Shot 2019-08-30 at 16 32 57](https://user-images.githubusercontent.com/37904377/64025050-7d2fa580-cb44-11e9-8837-5fe2f41e59b8.png)

![Screen Shot 2019-08-30 at 16 40 09](https://user-images.githubuserco

[2019-08-30 18:03] lyndsey-ferguson commented on #136
@ip19 can you please provide this information as part of the Issue?

[code]

[2019-08-30 22:01] jineshqa opened #137 "xchtmlreport generation only shows failed cases from last simularor"
### New Issue Checklist

- [X] Updated `fastlane-plugin-test_center` to the latest version
- [X] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [X] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [X] I have removed any sensitive data suc

[2019-08-30 22:04] jineshqa commented on #137
@lyndsey-ferguson apologies for the delay. This ticket has all the detail that you might need also the total # of failing cases is 5 (mentioned below) vs the html report which shows 2 failures.

testExample6
testExample25
testExample26
testExample33
testExample38

[2019-08-31 00:24] lyndsey-ferguson commented on #137
This is a great example of how to log a bug. Thank you so much. I will try and get to it after I solve an already-in-progress investigation.

[2019-08-31 02:10] jineshqa commented on #137
I'm humbled with your kind words. Thank you for everything you do.

[2019-08-31 13:24] ip19 commented on #136
<details>
  <pre>[epuavinw009$ fastlane run --verbose --capture_output
[✔] 🚀
[16:22:44]: fastlane detected a Gemfile in the current directory
[16:22:44]: however it seems like you don't use `bundle exec`
[16:22:44]: to launch fastlane faster, please use
[16:22:44]:
[16:22:44]: $ bundle exec fastlane run --verbose --capture_output
[16:22:44]:
[16:22:44]: Get started using a Gemfile for fastlane htt

[2019-09-03 05:40] jineshqa opened #139 "Incorrect test count shown for each batch"
### New Issue Checklist

- [X] Updated `fastlane-plugin-test_center` to the latest version
- [X] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [X] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [X] I have removed any sensitive data suc

[2019-09-03 05:40] jineshqa commented on #139
Please note that this is a trivial issue and not at all a priority.

[2019-09-03 12:00] lyndsey-ferguson commented on #139
Can you provide more of a log? I'd like to see what tests are being passed to `scan`. Scan is reporting the number of tests and I'd like to see how many `multi_scan` is sending to `scan`.

[2019-09-06 20:57] jineshqa commented on #139
@lyndsey-ferguson It's difficult to share everything. Is there a specific area in logs you are looking for? I beleive you were looking for below, also some important company specific things are masked with xxxxxxxxx.
[code]

[2019-09-09 12:25] kwstasna commented on #103
We have the same issue.
Lots of tests are disabled in a specific suite, but multi_scan still tries to run everything.

[2019-09-09 17:22] lyndsey-ferguson commented on #103
@kwstasna yes, if you can provide an example project along with the Fastfile used to call `multi_scan` on it, I can re-open this Issue and begin investigating.

[2019-09-09 20:21] jineshqa commented on #139
@lyndsey-ferguson here you go.

[code]

Also, want to highlight that below tests are not run, which is expected.
[code]

[2019-09-09 20:23] jineshqa commented on #139
Perhaps this is a `scan` bug.

[2019-09-09 20:45] lyndsey-ferguson commented on #139
So, you see that the `scan` summary states that it will test 17 tests. Yet, 7 of those are skipped.

What happens if you call `scan` with the exact same parameters except for `try_count`, `invocation_based_tests`, and `parallel_testrun_count`?

[2019-09-17 15:05] szymon-kazmierczak opened #140 "[Multi_scan] quit_simulators not working in latest releases"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2019-09-17 15:06] szymon-kazmierczak commented on #140
I didn't paste in my fastlane output as it contains a lot of sensitive data and does not seem relevant to the bug report. Let me know what you think and if i can help in any way! Love the project, and would love to help out

[2019-09-17 15:23] lyndsey-ferguson commented on #140
Are you certain it is not quitting simulators? I have [code](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/actions/multi_scan.rb#L14) that does it directly rather than using `fastlane's` version.

[2019-09-17 15:24] szymon-kazmierczak commented on #140
It's killing them when it shouldn't is what i wanted to say! I set my `quit_simulators: false` expecting the simulators to stay alive

[2019-09-17 15:26] lyndsey-ferguson commented on #140
# 😨

[2019-09-17 16:29] szymon-kazmierczak commented on #140
I have a feeling changes of the multi_scan.rb in this commit may be the culprit?

https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/commit/bbf1637943b289261bfc693d76df0db8edf254dc#diff-b1627ddcb767b566591f53bc2ae1fcffR11

[2019-09-17 17:04] lyndsey-ferguson commented on #140
That's it, yes.

[2019-09-17 17:20] lyndsey-ferguson commented on #140
Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again?

Pluginfile:
[code]

Please attach the console output as a text file to this issue (makes it easier for me to review).

[2019-09-17 22:49] hactar opened #142 "xcodebuild: error: Scheme Transient Testing"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2019-09-18 12:33] lyndsey-ferguson commented on #140
Fixed in [v3.8.4](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.4)

[2019-09-18 12:33] #140 closed

[2019-09-18 12:41] lyndsey-ferguson commented on #142
@hactar thanks for the bug report. I want to make everything explicit, so I have some questions.

1. You write that `scan` works. Are you saying that if you pass [`:build_for_testing: true`](https://github.com/fastlane/fastlane/blob/master/scan/lib/scan/options.rb#L280) to `scan`, this failure does not happen?

2. You write that if you remove that command from `xcodebuild`, it does not fail also?

[2019-09-18 12:57] lyndsey-ferguson commented on #142
Oh, one more question. If you run `multi_scan` with the non-beta of Xcode, do you see `build-for-testing` in `xcodebuild` when running the tests?

[2019-09-19 12:38] hactar commented on #142
1. Yes, if I run bundle exec fastlane scan the build_for_testing is included and it works
2. If I take the command that fastlane prints just before failing and remove the build_for_testing flag, it works too, though I'm guessing this is not the solution. I can also remove the -xctestrun parameter and replace it with -scheme (like the bundle exec fastlane scan does), the issue goes away too, I'm gu

[2019-09-19 13:53] lyndsey-ferguson commented on #142
So, it seems from your report that there is no change in the failure in the `xcodebuild` command when `test-without-building` and `build-for-testing` are both in the command. I don't have a lot of time to debug this, so this Issue will have to wait _unless_ you are able to help.

If you can help, I can make it simple:
1. In your `Gemfile`, make sure that you include the `pry-byebug` gem: `gem 'pry

[2019-09-24 13:23] lyndsey-ferguson commented on #136
@ip19 Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again with `--verbose`?

Pluginfile:
[code]

If it still crashes, please attach the console output as a text file to this issue (makes it easier for me to review). If it does not crash, please let me know.

[2019-09-24 13:25] lyndsey-ferguson commented on #139
Closing this ticket due to lack of activity.

[2019-09-24 13:25] #139 closed

[2019-09-24 17:43] lyndsey-ferguson commented on #142
Okay, so I see this:
[code]
It is failing in your `:testrun_completed_block` callback. If you _do not_ pass in that as an option, does it still crash? It should not.

I see that no tests were run, that would explain the inability of `multi_scan` to read a junit file of tests because it was not created.

Since my steps that I provided did not provide useful information, I'll create a branch that ca

[2019-09-24 17:49] lyndsey-ferguson commented on #142
Aha, and, now that I have had time to look more thoroughly at your provided data, I see that you are asking `xcodebuild` to build-for-testing when running the tests!
[code]
I can add code to warn of that issue.

[2019-09-24 18:00] lyndsey-ferguson commented on #142
Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again?

Pluginfile:
[code]

If the crash continues, please attach the console output as a text file to this issue (makes it easier for me to review). If you do not experience a crash, please let me know.

[2019-09-25 10:26] OlKir commented on #142
Thank you very much for the prompt response!!
Unfortunately crash still happens even if I don't pass testrun_completed_block and use branch which you provided for the plugin source.
It seems that xcodebuild crashes itself. But now I see the reason:
[code]
I checked my scheme and it looks fine on the first look, test bundles are added correctly.
But scheme name is missing in the xcodebuild paramete

[2019-09-25 10:50] lyndsey-ferguson commented on #142
Is your Scheme named `Transient Testing`? Have you searched the internet for this particular error? I see a [stackoverflow question answered](https://stackoverflow.com/questions/30481630/scheme-is-not-configured-for-the-test-action-ios-xcode-project) on this issue and perhaps that helps?

[2019-09-25 11:18] OlKir commented on #142
Nope, my scheme is named differently (Bikemap).
I have seen this stackowerflow question and answers, and have checked if it covers my case. But unfortunately it appeared to be general error message, and doesn't point to the real cause.

When I tried to run xcodebuild with same parameters and just added scheme manually I got an error
`xcodebuild: error: Cannot use -xctestrun with -project, -workspa

[2019-09-25 12:50] OlKir commented on #142
And it is strange but it seems that fix from [this branch](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/pull/144) doesn't work - I still see build-for-testing parameter there.
I've double checked and I have proper test-center version:
`Using fastlane-plugin-test_center 3.8.4 from https://github.com/lyndsey-ferguson/fastlane-plugin-test_center.git (at issue-142-scheme-transitent-

[2019-09-25 13:55] lyndsey-ferguson commented on #142
When you write:

Is that in the `xcargs` of the `scan` summary?
[code]
?

Also, are you using a `Scanfile`? Is `build-for-testing` there?

[2019-09-25 13:56] lyndsey-ferguson commented on #142
I can duplicate the problem *if* I add `build-for-testing` to `xcargs` and _if_ I turn off the code that strips it out before calling `scan` for testing.

[2019-09-25 14:35] OlKir commented on #142
1. build-for-testing was present in both scan summary and between parameters in this command (I saw this output in console):
[code]
2. Yes, I use Scanfile and build-for-testing was added there in xcargs. After I removed it tests run again. build-for-testing is still present in scan summary but not in the command.

So for me code which should strip it out doesn't work, I had to remove build-for-tes

[2019-09-25 14:37] lyndsey-ferguson commented on #142
When I add `build_for_testing` to a `Scanfile`, it shows up its own parameter in the `scan` summary. I'm looking at how to make it so that `scan` does not pick it up.

[2019-09-25 15:14] lyndsey-ferguson commented on #142
Ok, I've updated the branch with code that should solve the issue. It will have a different SHA so your Gemfile.lock file will not reference the correct code. Can you remove the Gemfile.lock, and then [repeat the install instructions](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/142#issuecomment-534677144)?

Please use the `--verbose` flag when calling fastlane.

[2019-09-25 18:39] jineshqa opened #145 "collating test_result bundles in Xcode 11 crashes"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [X] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [X] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [X] I have removed any sensitive data suc

[2019-09-25 21:21] lyndsey-ferguson commented on #145
This works fine for Xcode 10?

[2019-09-25 21:47] jineshqa commented on #145
Yes it does. Also, take a look at this as well.

https://github.com/fastlane/fastlane/issues/15138

[2019-09-25 21:56] lyndsey-ferguson commented on #145
@jineshqa do you have a theory that they are somehow related? This issue that you created seems to indicate that there is a problem collating test result bundles. The issue that you reference [fastlane/fastlane#15138](fastlane/fastlane#15138) indicates that there is a crash after uploading to testflight.

[2019-09-25 21:56] lyndsey-ferguson commented on #145
I saw that you commented in the issue. According to the stack trace of the crash, these are not related issues.

[2019-09-25 21:59] lyndsey-ferguson commented on #145
As this fails in both Xcode 10 and Xcode 11, this is probably not related to the versions. I haven't changed anything in the collation of test result bundles of v3.8.4 vs. v.3.8.x.

You must have something in your project that is catching an edge case that I have not encountered before. I need either the test result bundles to see why the collation fails, or a sample project that you can submit fr

[2019-09-25 23:23] jineshqa commented on #145
Hey Lyndsey,

This does not fail on xcode 10.

Thanks,
Jinesh

[2019-09-26 00:10] lyndsey-ferguson commented on #145
Okay. Can you provide a sample project or the test result bundles?

[2019-09-26 11:30] OlKir commented on #142
It was my fault - I installed your modified gem using bundler and then run fastlane normally so it used unmodified gem.. After I run fastlane using bundler it worked as you expected. So I can confirm that fix from your branch removes build_for_testing from xargs list and this prevents xcodebuild from crashing!
Thank you very much for your effort, and sorry for confusion by the first reports. We're

[2019-09-26 12:38] lyndsey-ferguson commented on #145
Oh, and another question, if you remove the request to create test_result bundles, does it still crash?

[2019-09-26 20:29] jineshqa commented on #145
I am not sure I can try.

[2019-09-26 20:29] jineshqa commented on #145
Also, will get you sample project.

[2019-09-26 21:39] #126 closed

[2019-09-26 21:45] lyndsey-ferguson commented on #142
Fixed in [v3.8.5](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/tree/v3.8.5)

[2019-09-26 21:45] #142 closed

[2019-09-26 21:46] lyndsey-ferguson commented on #136
Fixed in [v3.8.5](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/tree/v3.8.5)

[2019-09-26 21:46] #136 closed

[2019-09-26 21:47] lyndsey-ferguson commented on #126
Fixed in [v3.8.5](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/tree/v3.8.5)

[2019-09-27 17:49] jineshqa commented on #145
This is didn't help.

[2019-09-27 17:50] jineshqa commented on #145
Sample project is located [here](https://github.com/jineshqa/collate_errors)

Test output is attached.
[test_outout.zip](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/3663968/test_outout.zip)

[2019-09-30 13:15] slacklab opened #146 "Feature Request: option to not pre-delete MultiScanManager Simulator Clones"
### Feature Request

#### Motivation Behind Feature

This was a question (see below) about an issue that was not foreseen with using multiple instances of a parallelized version of `multi_scan`. When run in tandem, the second running `multi_scan` will, as part of a pre-cleanup, delete cloned simulators that are specific to the parallel version of `multi_scan`.

Unfortunately, this means that the c

[2019-09-30 13:25] lyndsey-ferguson commented on #146
If I understand correctly, you are running `multi_scan` twice on the same computer. Both calls are asking for parallelly running simulators.

I purposely delete pre-existing simulator clones before running `multi_scan` so as to not leave cloned simulators consuming space on your computer.

You _can_ "override" the [method](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master

[2019-09-30 15:41] slacklab commented on #146
Thanks a lot. You are correct, I want to run two job ( 2 simulators at each job with multi_scan) at the same time at one computer.

I try use your code above:
Put this code at start of Fastfile:
[code]

But I get same old logic: (this log from third job - this job delete simulators on the two previous jobs)
[code]

May, I wrong override function delete_multi_scan_cloned_simulators at Fastfile?
Ple

[2019-09-30 15:45] lyndsey-ferguson commented on #146
My theory is that the `TestCenter` module is being placed inside the `Fastlane` module.

Can you put this code in a separate file, `simulator_helper_override.rb`
[code]
and then in your `Fastfile`:

[code]

[2019-09-30 15:46] lyndsey-ferguson commented on #146
It could be that the `multi_scan` plugin is being loaded after your code override (I'm not sure).

If you put it in your lane, that _could_ work, maybe.

[2019-09-30 19:01] lyndsey-ferguson commented on #146
@slacklab did you suggestion above help? let me know. If other people need this, I will consider adding an option to _not_ delete "old" simulators

[2019-09-30 19:34] slacklab commented on #146
@lyndsey-ferguson Thanks a lot. I've done as you say:

Created external file with `override` content above. (`simulator_helper_override.rb`)
And call this from my lane for run tests:
[code]
It helps me , thanks. Now I can run many parallell tests at same computer without troubles.
Cloned simulators also deleting when tests done. And other run not delete old simulators.

Think, that this option for

[2019-09-30 19:50] lyndsey-ferguson commented on #146
Thanks for the confirmation. I'm glad that this works. I'll convert this question to a Feature Request soon.

[2019-09-30 22:54] jineshqa commented on #145
@lyndsey-ferguson is above info good enough.

[2019-10-01 12:55] lyndsey-ferguson commented on #145
@jineshqa yes, I was able to fix the crash. I have a [PR](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/pull/147) open.

Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to

[2019-10-01 12:57] lyndsey-ferguson commented on #145
However, I do not believe that collation now works. The test summaries no longer exist and the tests failures and passes are no longer listed.

[2019-10-01 12:59] lyndsey-ferguson commented on #145
It looks like there is a new format:
https://github.com/fastlane-community/trainer/issues/32

[2019-10-01 13:02] lyndsey-ferguson commented on #145
Ok, this looks like a lot of work.

[2019-10-01 13:02] lyndsey-ferguson commented on #145
I'm going to change this issue to a Feature Request to support Xcode 11 format.

[2019-10-01 13:05] lyndsey-ferguson commented on #145
Actually, I can issue a fix for now until test_result bundles can be collated with the new format.

[2019-10-01 13:20] lyndsey-ferguson commented on #145
@jineshqa try running the branch I suggested above with multi_scan. It will use version 2 of the test result bundle path

[2019-10-01 23:01] jineshqa commented on #145
This should have everything you need.

[console-verbose.log](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/3678779/console-verbose.log)
[console.log](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/3678780/console.log)

[2019-10-03 08:40] rahulsharma2905 opened #148 "Version 3.8.5 is failing when destination parameter a string"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2019-10-03 12:39] lyndsey-ferguson commented on #148
@rahulsharma2905 the Issue description's `Fastfile` example is not clear what you're passing as the destination. It is a variable. Are you passing an array, or a string? It looks like you're passing a string, which _should_ not be allowed according to the `:destination` option.
https://github.com/fastlane/fastlane/blob/master/scan/lib/scan/options.rb#L370

[2019-10-03 13:32] rahulsharma2905 commented on #148
[code]
i am passing destination in above string format, it seems to be working in 3.7.0 version of this plugin.
can you give me an example of valid destination value?

[2019-10-03 13:33] lyndsey-ferguson commented on #145
Please try again.

Delete your Gemfile.lock file, make sure that you have modified your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag).

Pluginfile:
[code]

If there are still problems, please let me know and attach the *complete* console output as a text file to this issue (makes it easier for me to review).  If it works,

[2019-10-03 13:34] lyndsey-ferguson commented on #148
Can you put it in an array?
[code]

[2019-10-03 13:45] lyndsey-ferguson commented on #148
Also, can you pass that same `:destination` string to Scan and it doesn't complain?

[2019-10-03 15:09] rahulsharma2905 commented on #148
passing destination as an array, makes it work again. Thanks!

[2019-10-03 16:13] lyndsey-ferguson commented on #148
One question though: does passing a string for the destination work?

[2019-10-04 05:49] rahulsharma2905 commented on #148
Yes, I just checked and passing a string for destination is working for scan.

[2019-10-04 06:51] rahulsharma2905 commented on #103
I have a repro for this issue, my scenario is i have 1 test scheme say 'scheme1' which was created in some previous version of xcode, and recently i created a new scheme 'scheme2' in xcode 10.2.

- When i run scheme1 with multi_scan, it runs all the tests regardless whatever i have defined in scheme1.

- When i run scheme2, it runs as expected.

So, I compared .xcsheme files of both schemes, and f

[2019-10-04 12:39] lyndsey-ferguson commented on #103
This is helpful. I've re-opened this Issue.

[2019-10-04 12:42] lyndsey-ferguson commented on #103
I may not be able to address this right away, but if you want to fork this repo and try fixing it, you can look in the [`tests_from_xctestrun`](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/actions/tests_from_xctestrun.rb#L22) action to make sure that the `test_identifiers` are the only ones that are passed in (rather than using `Skippe

[2019-10-04 12:46] lyndsey-ferguson commented on #148
re-opening issue as this should work just as scan does.

[2019-10-04 12:52] lyndsey-ferguson commented on #148
This should be easy to fix, but I don't have time. If you want to take a look at it, you can check if the `:destination` option is a string and wrap it in an array.

Here: https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/actions/multi_scan.rb#L19

[2019-10-06 13:41] lyndsey-ferguson commented on #71
I think that there may be a possibility of tweaking what the print table code _thinks_ is the width that it can print to. I've seen newer versions of scan printing nice tables.

[2019-10-06 13:41] lyndsey-ferguson commented on #56
Closing for now. I don't have time.

[2019-10-06 13:41] #56 closed

[2019-10-06 18:18] #137 closed

[2019-10-06 18:19] lyndsey-ferguson commented on #137
Xcode 11 adds support for merging test results. I won't spend time on adding support for collating test result bundles when people can just upgrade to Xcode 11.

[2019-10-06 18:51] jineshqa commented on #137
Could you share how to collate results with xcode 11?

[2019-10-06 19:11] lyndsey-ferguson commented on #103
`tests_from_xctestrun` uses the `xctestrun` file generated from a build to determine which tests to skip. I can only assume that that file for an older version of Xcode, an older version of `xctestrun` file has some sort of identifier that makes explicit which tests _are to run_. Can you provide a sample of the older generated `xctestrun`?

[2019-10-06 19:13] lyndsey-ferguson commented on #137
`xcrun xcresulttool merge bundle1 bundle2 --output-path merged-bundle`

[2019-10-06 19:14] lyndsey-ferguson commented on #137
I'm still waiting for your findings for my fix on https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/145

[2019-10-06 19:15] jineshqa commented on #145
Monday Oct 7th EOD, promise.

[2019-10-06 20:34] lyndsey-ferguson commented on #148
@rahulsharma2905 can you test? If so, please modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2019-10-06 20:35] lyndsey-ferguson commented on #146
@slacklab can you test a fix? If so, please modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2019-10-06 20:35] lyndsey-ferguson commented on #146
Also, remove your override 😄

[2019-10-07 06:07] rahulsharma2905 commented on #148
Facing a different issue now.
[code]

[2019-10-07 10:01] rahulsharma2905 commented on #103
i can't provide a sample ```xctestrun```, but i did some changes in ```tests_from_xctestrun``` file and my observations are:

- xctestrun of schemes generated by XCode 11 have key ```SkipTestIdentifiers```, which you are currently using.

- xctestrun of schemes generated by old XCode does not have ```SkipTestIdentifiers```, but have another key ```OnlyTestIdentifiers```.

My changes seems to be wo

[2019-10-07 10:37] slacklab commented on #146
Thanks, I will try this fix some later. Now we are work by our release

[2019-10-07 12:04] lyndsey-ferguson commented on #148
I apologize. I have fixed that issue and pushed a new version of the branch. Can you remove your Gemfile.lock file (it is tied to the Git commit of the broken version), perform  `bundle install` and re-run your fastlane?

[2019-10-07 12:31] rahulsharma2905 commented on #148
Still same issue, and your last commit is 16 hours stale. Seems like your fix is not yet pushed.

[2019-10-07 12:34] lyndsey-ferguson commented on #148
It was opened 16 hours ago

[2019-10-07 12:35] lyndsey-ferguson commented on #148
This is the SHA that should be listed in the `Gemfile.lock` file: `651b71a796a102b2b57b6da05644f0f1277850e4`

[2019-10-07 12:46] rahulsharma2905 commented on #148
I have the same SHA in Gemfile.lock, still facing the above mentioned issue (one with error in retrying_scan_helper.rb:31).

[2019-10-07 13:19] lyndsey-ferguson commented on #148
Ok, try this one. I had two different ways to access the `:destination` option. New SHA is `fa995c3379c38cdec01c8ed070e72b8f36babfbd`

[2019-10-07 13:35] rahulsharma2905 commented on #148
This version is working fine.

[2019-10-07 21:44] bluwave opened #150 "crash when collating html reports: Unexpected node test"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2019-10-07 23:47] lyndsey-ferguson commented on #150
I believe that this is a problem with REXML. See this [Issue](https://github.com/ruby/rexml/issues/15). I may be able to work around this, but can you try with Ruby 2.4.1?

[2019-10-08 05:15] rahulsharma2905 opened #151 "Getting 'uninitialized constant' error."
### Question Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I searched for [existing GitHub issues

[2019-10-08 05:18] rahulsharma2905 commented on #151
I compared this machine's fastlane env output with a working machine's fastlane env output. And there is no difference in any plugin version.

[2019-10-08 13:12] lyndsey-ferguson commented on #151
One thing I see that is suspicious is that your `fastlane-plugin-test_center` is using a version off of a commit, rather than an official release:
[code]
Perhaps your `Gemfile.lock` file is referring to an old SHA that I force-pushed out of existence on a branch. (that's why I always ask people to remove their `Gemfile.lock` files when testing Pull Requests.

The directory above should refer to a

[2019-10-08 13:18] rahulsharma2905 commented on #151
That's correct, i pointed it to my fork rather than official release. it is the same with official release too.
I know this is some issue with my environment and not in plugin. I just want some direction, where should i look, what should i update if that's needed.

[2019-10-08 13:30] lyndsey-ferguson commented on #151
What does your `Gemfile` look like? Is it pulling from your fork and branch correctly? Have you made any modifications to your local copy of the plugin in `PROJECT_DIR/vendor/bundle/ruby/2.3.0/bundler/gems/`?

[2019-10-08 13:31] lyndsey-ferguson commented on #151
Oh, and you shouldn't need `fastlane-plugin-setup_fragile_tests_for_rescan` any longer. You can use this plugin's [`suppress_tests`](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center#suppress_tests) action.

[2019-10-08 13:37] pmaene commented on #150
Hi! I am seeing the same issue on Catalina, with the bundled Ruby 2.6.3p62, together with REXML v3.2.2 (which should fix these issues, according to the issue you referenced).

[2019-10-08 13:53] lyndsey-ferguson commented on #151
Also, does the `594b49875bf2` SHA exist in the branch that you are pulling from? (I believe that is the SHA).

[2019-10-08 16:49] lyndsey-ferguson commented on #150
@bluwave hopefully you can find a way. I don't have a lot of time to work on this right now. It could be tricky. My initial gut reaction is that the XPath call that I am making returns a nil internally and then it crashes. My thought of a workaround entails breaking the Xpath up into smaller paths to search with valid return nodes.

[2019-10-08 16:51] lyndsey-ferguson commented on #150
I am open to Pull Requests if you want to attempt a fix. I believe that my use of `normalize-space()` [here](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/helper/html_test_report.rb#L146) could be broken up (and other uses in that file of the same xpath function).

[2019-10-08 17:33] jineshqa commented on #137
@lyndsey-ferguson Is this good?

[console_verbose.log](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/3703785/console_verbose.log)

[2019-10-08 17:55] lyndsey-ferguson commented on #145
@jineshqa I got your console.log from the closed issue. To answer the question, no, there is an edge-case that I overlooked. Thanks for providing the log, super helpful.

[console_verbose.log](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/3703888/console_verbose.log)

[2019-10-09 05:59] rahulsharma2905 commented on #151
answers:
- No i have not changed anything in PROJECT_DIR/vendor/bundle/ruby/2.3.0/bundler/gems/
- given SHA does exist in my repo.

Sorry for creating confusion because of my repo.

Now, i am trying to fetch official release.
I created a project with blank Fastfile.

Gemfile content:
[code]

Pluginfile content:
```gem 'fastlane-plugin-test_center'```

Fastlane env:
[11:27:48]: Generating fastlane

[2019-10-09 12:53] lyndsey-ferguson commented on #151
Is it possible that a bad copy of the gem is hanging around? What about if you run `gem uninstall fastlane-plugin-test_center` and then a `gem cleanup`, then `bundle install` where your project's `Gemfile` is?

[2019-10-09 13:04] lyndsey-ferguson commented on #148
Fixed in [v3.8.6](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.6)

[2019-10-09 13:04] #148 closed

[2019-10-09 13:04] lyndsey-ferguson commented on #146
Fixed in [v3.8.6](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.6)

[2019-10-09 13:04] #146 closed

[2019-10-09 13:07] lyndsey-ferguson commented on #103
@rahulsharma2905 thank you for the confirmation! If you're open to creating a PR with tests, I'd welcome it. I suggest that you check for `OnlyTestIdentifiers` before even pulling out the tests from the `XCTest` call. Here: https://github.com/rahulsharma2905/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/actions/tests_from_xctestrun.rb#L19

[2019-10-09 17:20] lyndsey-ferguson commented on #151
Also, my `Gemfile` has:
[code]
Instead of
[code]
Maybe that is an issue?

[2019-10-10 09:49] Natasha-Cole-iOS-Developer commented on #74
Hi, I recieve ```
+------------------+------------------------+
[08:31:07]: Error: cannot find xctestrun file ''  ``` after running multi_scan when running on a remote machines. I am using Xcode 11. Can you give me any advice? Thanks a million.

[2019-10-10 11:57] rahulsharma2905 commented on #151
tried both, still no luck.

[2019-10-10 11:57] #151 closed

[2019-10-10 11:58] rahulsharma2905 commented on #151
I am closing it for now, will open it again if i have some findings.

[2019-10-10 13:19] szymon-kazmierczak opened #152 "[Multiscan] NoMethodError: Undefined method 'zip' for nil:nilClass when running parallel tests"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2019-10-10 13:30] szymon-kazmierczak commented on #152
I haven't attached env or full logs as the logs are massive. I noticed the following happening as well, not sure if related or a different issue:

[code]

on the rerun (due to failed tests). Not sure if its related.

[2019-10-10 13:39] lyndsey-ferguson commented on #74
Hm. Can you create a new Issue (that looks like a bug) and make sure you include the complete console log of running your lane with the `--verbose` flag?

[2019-10-10 13:40] lyndsey-ferguson commented on #151
Ok. I'm sure there is a solution. You did uninstalling right? Are you running fastlane with `bundle exec`?

[2019-10-10 13:42] lyndsey-ferguson commented on #152
Hm. This is the same as #145, closing this as it is a duplicate.

[2019-10-10 13:42] #152 closed

[2019-10-10 13:42] lyndsey-ferguson commented on #152
And, I'm working on it. 😉

[2019-10-10 13:54] lyndsey-ferguson commented on #152
Just to double-check, you have result bundles as an option? Can you share how you are calling `multi_scan`?

[2019-10-10 14:21] szymon-kazmierczak commented on #152
sure, heres the multiscan

    result = multi_scan(
      workspace: XCODE_WORKSPACE_FILEPATH,
      try_count: 3,
      fail_build: false,
      scheme: scheme,
      testrun_completed_block: test_run_block,
      device: deviceName,
      output_directory: "fastlane/reports",
      result_bundle: "TestResults",
      prelaunch_simulator: true,
      quit_simulators: false,
      parallel_testrun

[2019-10-10 15:37] lyndsey-ferguson commented on #152
Yup, same problem.

[2019-10-10 21:23] lyndsey-ferguson commented on #145
@jineshqa @szymon-kazmierczak I _believe_ (:pray:) that I have fixed the issue.

Can you modify your `Pluginfile` per my instructions below, (if you already have, please delete your `Gemfile.lock` file), run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text fil

[2019-10-10 21:24] lyndsey-ferguson commented on #151
You don't have to give up! ✊

[2019-10-11 23:52] lyndsey-ferguson commented on #150
@bluwave can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2019-10-12 00:24] bluwave commented on #150
Thanks for the quick fix.  It did not work.  I have attached the output.
[lastOutput.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/3719963/lastOutput.txt)

[2019-10-12 16:17] lyndsey-ferguson commented on #150
I don't think that run of fastlane is using my branch: you should not see `normalize-space()` in the stackcrawl nor should you see the `3.8.5` version of the plugin in the path of ruby files being used. It should be in the form of a Git commit SHA.

Can you remove your `Gemfile.lock` file and re-run the [instructions above](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/150

[2019-10-12 17:00] lyndsey-ferguson commented on #145
@jineshqa @szymon-kazmierczak any update?

[2019-10-12 18:04] jineshqa commented on #145
[console_verbose.log](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/3721002/console_verbose.log)

I still see the error. I followed your instructions to the dot.

[2019-10-12 18:09] jineshqa commented on #145
My plugin file looks like this,

[code]

[2019-10-13 05:32] bluwave commented on #150
My apologies. After retrying this and making sure it had the right branch, it worked 🎉.

[2019-10-13 12:31] lyndsey-ferguson commented on #145
For some reason, it is failing to pre-delete xcresult files. When `xcodebuild` tries to create a new one, it fails because it already exists.

[2019-10-13 12:37] lyndsey-ferguson commented on #145
Can you remove your `Gemfile.lock` file, bundle install, and then re-run your lane with the `--verbose` flag?

[2019-10-13 12:37] lyndsey-ferguson commented on #145
I've added more logging

[2019-10-13 20:55] jineshqa commented on #145
[console_verbose.log](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/3722460/console_verbose.log)

There you go captain. @lyndsey-ferguson

[2019-10-14 10:14] szymon-kazmierczak commented on #145
@lyndsey-ferguson seems to be working for me! Btw, with multiscan parallel support my test run went down from 1 hour 20 minutes to 26 minutes with only 3 simulators 😂 Amazing work on the plugin 🤘

[2019-10-14 12:40] lyndsey-ferguson commented on #145
@szymon-kazmierczak thank you for testing and confirming the fix. I truly appreciate that you shared the good news and the joy 😄.

Now I just have to figure out what is going on with @jineshqa 's system.

[2019-10-14 12:54] lyndsey-ferguson commented on #145
@jineshqa can you please remove your `Gemfile.lock`, modify your `Pluginfile` per my instructions below, run `bundle install`, and confirm that the revision SHA for the `fastlane-plugin-test_center` is `add995823a105d1b4b257a33fc7efaf92fa79f78`?

The section in the `Gemfile.lock` file for the plugin should look like this:
[code]

Once you've confirmed that the `Gemfile.lock` is pointing to the cor

[2019-10-14 17:50] jineshqa commented on #145
**Gemlock file screenshot**

![image](https://user-images.githubusercontent.com/9420719/66769250-78f7e700-ee69-11e9-82b2-0bf58a68c3df.png)

**Pluginfile**

`
gem 'fastlane-plugin-test_center', :git => "https://github.com/lyndsey-ferguson/fastlane-plugin-test_center.git", :branch => "issue-145-crash-when-collating-test-bundles"
`

**Bundle list output**
![image](https://user-images.githubuserconten

[2019-10-14 18:09] lyndsey-ferguson commented on #145
@jineshqa, the logs indicate that it was not run with the latest changes. For example, in the logs I see this:

[code]

Where on my local, I see this:

[code]

[2019-10-14 18:09] lyndsey-ferguson commented on #145
The difference above tells me that what you are running is _not_ using the latest code.

[2019-10-14 18:10] lyndsey-ferguson commented on #145
Is this running on CI and your bundle install was performed locally? CI must have the same `Gemfile.lock` and `Pluginfile` in order to get those changes.

[2019-10-14 18:14] jineshqa commented on #145
@lyndsey-ferguson
I am running it on local and I do bundle install manually. What you are suggesting is that somehow I am not running the latest code from the branch that you told me to add in plugin file? If yes, kindly tell me how to make sure that I am running the latest. I checked the SHA and it's same as you mentioned. Also, I uninstalled the fastlane-plugin-test_center gem before I ran bundl

[2019-10-14 18:26] lyndsey-ferguson commented on #145
Let's put a breakpoint in to see if it is the same code. I will assume that you have not done debugging of Ruby code before, so please be patient and follow these instructions (and thank you for your participation!!):

1. Add ` gem 'pry-byebug'` to your `Gemfile`
2. Run `bundle install`
3. In your `Fastfile` add this to the top: `require 'pry-byebug'`
4. In your `Fastfile`, above the line where yo

[2019-10-14 18:27] lyndsey-ferguson commented on #145
Please be sure to include the file path as I did. I want to make sure it is using the correct gem.

[2019-10-14 18:59] lyndsey-ferguson commented on #145
One other thing, you do not have to uninstall the gem. But you _do_ need to remove the `Gemfile.lock` file. Also, and this is important, are you running `fastlane` with the `bundle exec` command? It makes sure that the gems that are being used are the ones you specified in your `Gemfile`.

*Very important*

i.e.:
[code]

[2019-10-15 11:57] rahulsharma2905 opened #154 "Result bundle is not collated in multi_scan."
### Feature Request
Result bundles must be collated similar to html and junit reports when multi_scan action is used.
#### Motivation Behind Feature

junit and html reports generated by multi_scan action are collated and all test numbers are shown correctly, but when i look at result bundle, it only contains results for last iteration of test execution.
#### Feature Description

Say, I have 30 tes

[2019-10-15 12:19] lyndsey-ferguson commented on #154
Hi @rahulsharma2905, it will be a lot of work to add proper collation to test result bundles. Xcode 11 adds a "merge" capability which I will be using once #145 is fixed. If you like, please navigate to that Issue for instructions on how to test it.

I am closing this as I will not be fixing test result collation for < Xcode 11.

[2019-10-15 12:19] #154 closed

[2019-10-15 23:16] jineshqa commented on #145
@lyndsey-ferguson This looks different than yours. I got below first time when debug point was hit.

[code]

So I deleted the Gemfile.lock, uninstalled the plugin and ran bundle install. After that I did bundle list and saw that correct version is installed (see below).
![image](https://user-images.githubusercontent.com/9420719/66876349-5a2b4a80-ef66-11e9-922d-b8eedc2a4aa3.png)

What is happening

[2019-10-16 15:57] moatazeldebsy commented on #150
I did the steps and the problem solved but the collate report issue happen again that all folders from workers removed and I got only one folder in the test results folder, it was working normally before changed the plugin file, can anyone help me in this

[2019-10-16 16:44] moatazeldebsy commented on #150
@lyndsey-ferguson Please, can you merge the Open PRs? because they will solve our current problems

[2019-10-16 17:10] jineshqa commented on #145
@lyndsey-ferguson Apologies for the delay. I am dealing with a stupid setup issue.
[code]
Even though byebug is installed.

[code]

Any idea?

[2019-10-16 17:12] lyndsey-ferguson commented on #150
@moatazeldebsy when you write merge the open PRs, are you referring just to this one:https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/pull/153? The others are not related and not ready yet. I was hoping to put them all in the same release.

With regards to your comment about all folders being removed, that is the intended result if you leave [`collate_reports`](https://github.com/ly

[2019-10-16 17:15] lyndsey-ferguson commented on #145
How are you calling it? This is what I would do if I were you:

1. Add the `pry-byebug` gem to your Gemfile.
2. Run bundle install
3. Run `bundle exec fastlane your_lane_name --verbose`

This is when you've put the `require 'pry-byebug'` in your `Fastfile` right?

If you ran `gem install pry-byebug` that may not install it in the right place for when you run `bundle exec fastlane ...`.

[2019-10-16 17:22] jineshqa commented on #145
That is exactly what I am trying to do but when I execute `bundle exec fastlane your_lane_name --verbose` command fails with the below error.
[code]

[2019-10-16 17:48] moatazeldebsy commented on #150
Thank you for replying , I mean All PRs , because we have different problems , we use the latest version of the Plugin and the result folders are not deleted so for example if we run on 6 devices we got 6 folders and we generate report from these folders , but we have this exception in this issue that fastlane always falied because bug or error with Ruby version , i follow your steps to change the

[2019-10-16 18:40] lyndsey-ferguson commented on #145
Ah, did you already `gem pristine byebug --version 11.0.1`?
Otherwise I would `gem cleanup byebug; gem cleanup pry-byebug`

[2019-10-16 19:25] jineshqa commented on #145
Now my entire ruby installation is messed up. The default one on the OS.

[2019-10-16 21:07] lyndsey-ferguson commented on #150
Well, first this is the only PR that is ready. The other two that are open are not ready.

The PR only fixes the issue where collating html files fails for Ruby v2.6+ (which looks like you are facing). From what you describe, you are experiencing this issue only. Correct?

Are you facing problems with Xcode 11 and test_result bundles not collating correctly?

Are you facing problems with older `xc

[2019-10-16 21:09] lyndsey-ferguson commented on #145
What did you do? I cannot imagine that running those commands would cause the problem.

Unless, you ran other commands with `sudo`. That would be very dangerous.

[2019-10-16 21:09] lyndsey-ferguson commented on #145
I *highly* recommend using a virtual version manager such as [rbenv](https://github.com/rbenv/rbenv). That way you will not break your system Ruby and you can install any version of Ruby that you want.

[2019-10-16 21:13] jineshqa commented on #145
Will do that..for now the ruby is restored but now I am getting a new error.

`No tests found in '/Users/jdoshi/Documents/Jinesh/workspace/xx/DerivedData/xx/Build/Products/Debug-iphonesimulator/xx-Runner.app/PlugIns/xx.xctest'!`

`Is the Build Setting, `ENABLE_TESTABILITY` enabled for the test target JobsUITests?`

I am using Version 11.1 (11A1027)

[2019-10-16 21:14] lyndsey-ferguson commented on #145
# 😱

[2019-10-16 21:14] lyndsey-ferguson commented on #145
Unending challenges!

[2019-10-16 21:15] lyndsey-ferguson commented on #145
Is the `ENABLE_TESTABILITY` on for that test target?

[2019-10-16 21:15] lyndsey-ferguson commented on #145
Does that `xctest` file exist?

[2019-10-16 21:39] moatazeldebsy commented on #150
Yes with the latest version of the plugin we have this error:
[code]
and the we have all the test results folders for the 6 devices , but after I changed the `Fastlane` `PluginFile` and add the branch the problem solved but the collate is not working correctly all folders deleted with screenshots and logs files , and if I add `collate_reports:false` all the folders exsit but contains the `re-run f

[2019-10-16 22:09] jineshqa commented on #145
Enable_testability is on and xctest file does exist. However I get this message at the beginning of the run. Do you think this has anything to do with missing tests?
`Ignoring byebug-11.0.1 because its extensions are not built.  Try: gem pristine byebug --version 11.0.1`

[2019-10-16 22:42] jineshqa commented on #145
Any idea what would cause this?
[code]

[2019-10-17 12:52] lyndsey-ferguson commented on #145
Not offhand. It is stating that the `-U` option for `nm` is not valid. Which is _very_ strange.  Is this running on a Mac? Have the Command Line Tools been installed? Have they been corrupted?

[2019-10-17 17:29] lyndsey-ferguson commented on #150
Please be patient, but I am having difficulty understanding. Here is what I think you are saying:

1. With the released version of the plugin, you see the crash:
[code]
2. You see that this is _fixed_ when you follow the [instructions](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/150#issuecomment-541258767) on using the fix for this Issue #150. Is that correct?

3. You ar

[2019-10-17 17:35] lyndsey-ferguson commented on #145
With regards to this:

This is just stating that the run cannot use the `byebug` gem. I don't think it would cause the code to determine that there are no tests. I think that the problem is that the `nm -U` command is failing to pull the tests out of the `xctest` binary file.

You could try adding _another_ breakpoint once you get `byebug` installed properly. When your `Fastfile` breaks at the `by

[2019-10-17 17:44] jineshqa commented on #145
I tried to run tests with xcodebuild and it ran just fine. So I'm not sure what is causing this. Command line tools are solid.

[2019-10-17 18:37] lyndsey-ferguson commented on #145
Ok...I have to clean it up a bit, I'll do that and you'll see it merged soon.

[2019-10-17 20:44] moatazeldebsy commented on #150
Ok Sorry for that, I will make it simple :

1- We are using version `fastlane-plugin-test_center (3.8.6)` but we have this problem [#150 ](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/150) and `collate_test_result_bundles` is working normally and we have a folder for each device ex: we run on `6 devices`, So we have `6 folders` including `screenshots, logs, and all files`

[2019-10-17 21:28] lyndsey-ferguson commented on #150
Thank you!! That helps. The good news is that I should be able to merge the first two issues, I'm still waiting for tests for the disabled tests PR.

[2019-10-17 21:50] lyndsey-ferguson commented on #150
Fixed in [v3.8.7](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.7)

[2019-10-17 21:50] #150 closed

[2019-10-17 21:50] lyndsey-ferguson commented on #145
Fixed in [v3.8.7](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.7)

[2019-10-18 10:17] moatazeldebsy opened #156 "Collating test_result bundles are deleted after completion with Xcode 10.3"
### New Issue Checklist

- [ ] Updated `fastlane-plugin-test_center` to the latest version (`3.8.7`)
- [ ] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [ ] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [ ] I have removed any sensitiv

[2019-10-18 17:49] lyndsey-ferguson commented on #156
Hello @moatazeldebsy, thank you for the bug report. A couple things I want to clarify with you.

`multi_scan` by default, will collate test_result bundles when given the option to generate them. Collation means that all the test_result bundles are merged into one final test_result bundle. This means that the others are removed.

So, it is a feature to remove the intermediate test_result bundles. T

[2019-10-18 17:50] lyndsey-ferguson commented on #156
When you provide the `collate_reports:false` option, the test_result bundles are _not_ collated and the intermediate files are _not_ removed because they are not merged into the final test result.

[2019-10-18 17:50] lyndsey-ferguson commented on #156
Unless I misunderstand, this is not an actual bug unless you are asking for a new feature.

[2019-10-18 19:48] jineshqa commented on #145
@lyndsey-ferguson didn't want to spam by creating a new issue but I am seeing this after upgrading to latest version of the plugin. Kindly let me know if I should create a new issue or it is just me.

https://pastebin.com/DricQwqh

[2019-10-18 19:52] lyndsey-ferguson commented on #145
Ug.

[2019-10-18 19:53] lyndsey-ferguson commented on #145
I don't have time to test, but it looks like it is using the new apis. Sorry for this.

[2019-10-18 19:55] jineshqa commented on #145
Please do not apologize...you are doing awesome work for the community.

[2019-10-18 19:57] lyndsey-ferguson commented on #145
This is not professional to drop a broken gem out there.

[2019-10-18 20:03] jineshqa commented on #145
Well, @szymon-kazmierczak tested and it was working for him. It could be just me.

[2019-10-18 20:13] lyndsey-ferguson commented on #145
No, I refactored the code and didn't adequately test it.

[2019-10-18 20:13] moatazeldebsy commented on #156
@lyndsey-ferguson Thank you for your replay and actually the problem that after `multi_scan` is collating the results from different folders and removed them, the last folder is including only the test output from last clone (ion our case clone 6).

`Xpretty` contains the correct number of tests with the correct status but

we are using `Allure-report `to generate reports with screenshots and grap

[2019-10-18 20:22] lyndsey-ferguson commented on #156
Can you include a log of your fastlane run (please use the `--verbose` flag)?

[2019-10-18 20:44] moatazeldebsy commented on #156
this is for collate report part
[code]

[2019-10-18 20:50] lyndsey-ferguson commented on #156
Ah, okay. Yes, `collate_test_result_bundles` will *not* properly collate pre-version 3 format bundles.  With Xcode 11, it _will_. It is a lot of work to collate pre-Xcode 11 based test_results *properly* so I have decided to not do the work.

Please update to Xcode 11 and this will begin working.

[2019-10-18 20:51] lyndsey-ferguson commented on #156
I will close this issue as I don't intend on fixing it. If you feel strongly about it and want to fix that action to work pre-Xcode-11, I can give you guidance on making the changes.

[2019-10-18 20:51] #156 closed

[2019-10-18 20:54] lyndsey-ferguson commented on #145
@jineshqa, can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2019-10-18 21:02] lyndsey-ferguson commented on #156
@moatazeldebsy just think, if you do fix this for Xcode 10 people, you'll become famous in the *test_center* community!! You'll be the unsung hero!

Let me know if you'd like to tackle this. It is not complicated work, just a series of things that you need to do that take some time. Time I don't have to do it by myself.

[2019-10-18 21:04] lyndsey-ferguson commented on #156
I would review this [PR](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/pull/138/files) where I fixed collation for HTML test results. I would suggest the same approach. Make wrapper classes for each file of a Xcode 10 test result with methods to "collate" each file.

[2019-10-18 21:05] lyndsey-ferguson commented on #145
@jineshqa are you doing it now? Have you tested it yet?

Just kidding 😄. Let me know when you've had a chance to look at it.

[2019-10-18 21:06] moatazeldebsy commented on #156
@lyndsey-ferguson ok will try to do that. I need to check this [PR](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/pull/138/files) or need to do something else

[2019-10-18 21:26] jineshqa commented on #145
Hi @lyndsey-ferguson, it is working fine now. That was a nice quick turn around.

[2019-10-18 21:44] lyndsey-ferguson commented on #145
*truly fixed* in [v3.8.8](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.8)

[2019-10-18 21:44] #145 closed

[2019-10-18 23:37] jineshqa commented on #145
Fix verified on `fastlane-plugin-test_center (3.8.10)`.

[2019-10-19 15:41] moatazeldebsy commented on #156
@lyndsey-ferguson I updated to Xcode 11 and the results are in `xcresult` format without screenshots and logs ,

<img width="389" alt="Screenshot 2019-10-19 at 17 20 19" src="https://user-images.githubusercontent.com/45570191/67147714-8c56e800-f297-11e9-805d-75c27923d39e.png">
<img width="389" alt="Screenshot 2019-10-19 at 17 20 31" src="https://user-images.githubusercontent.com/45570191/67147715-

[2019-10-21 13:21] lyndsey-ferguson commented on #156
@moatazeldebsy are you saying that the original test result bundles have screenshots and then when the `xcresulttool` performs the merge, the screenshots are no longer there? Can you please post sample test result bundles that demonstrate the failing merge?

(My Xcode 11 install is broken and I cannot get tests to run on my local computer at the moment.)

[2019-10-21 14:02] moatazeldebsy commented on #156
Yes during running the tests the folders have screenshots and logs but in the collate step (last step) all removed and I found only the `xcresult` files.

<img width="385" alt="Screenshot 2019-10-21 at 15 50 21" src="https://user-images.githubusercontent.com/45570191/67211276-c13f7800-f41a-11e9-907a-35dbab58c4af.png">

<img width="385" alt="Screenshot 2019-10-21 at 15 50 37" src="https://user-imag

[2019-10-21 14:19] lyndsey-ferguson commented on #156
Ok. Please post sample test result bundles so that I can test that out. Once you do that, I'll update this Issue and reopen it.

[2019-10-21 17:23] lyndsey-ferguson commented on #156
I need sample result bundles. If you could provide your call the `multi_scan` the option `collate_reports: false`, it will generate uniquely named test result bundles. Please zip those up and and attach them to this Issue (make sure no sensitive data is provided).

[2019-10-21 18:51] jineshqa commented on #156
@lyndsey-ferguson I would like to add that .xctestresult files are altogether missing. I use xchtmlreport to generate xcode type looking result html. This plugin will soon be upgraded to support Xcode 11 and would need .xcresultfiles to generate html. Could you not delete .xcresult file or collate 1 .xcresult file from multiple simulator runs?

[2019-10-21 18:53] lyndsey-ferguson commented on #156
From my observation, the xcresult file is just a test_result bundle with the xcresult file extension.

[2019-10-21 18:58] jineshqa commented on #156
So far the new version of the plugin is not released. As soon as it is released, I'll test it out and let you know. In worst case could we get a collated .xcresult file instead of bundle?

[2019-10-21 19:09] lyndsey-ferguson commented on #156
You _may_ have to make a symbolic link ending with `.xcresult` that points to your resulting `test_result` bundle and provide that the the `xchtmlreport` plugin, but I really don't know. Play with it and let me know 😄

[2019-10-21 19:37] moatazeldebsy commented on #156
@lyndsey-ferguson test_results is big file but like you said test_result bundle with the xcresult file extension without any screenshot or logs even I disable collate this is the results from 1 clone like the following image

<img width="385" alt="Screenshot 2019-10-21 at 21 34 53" src="https://user-images.githubusercontent.com/45570191/67237106-e055fe00-f44a-11e9-935a-8ca9fe6f5889.png">

<img wid

[2019-10-21 22:08] jineshqa opened #158 "Pass section in html does not show passed test cases from failed suites"
### New Issue Checklist

- [X] Updated `fastlane-plugin-test_center` to the latest version
- [X] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [X] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [X] I have removed any sensitive data suc

[2019-10-22 11:01] bpoplauschi commented on #103
Hi guys. Me and my team are having the same issue (`multi_scan` runs the disabled tests with the newer versions of the `test_center` plugin).

I'm glad @rahulsharma2905 shared those insights, but I think you only have half the picture.

From what I tested, the difference between having the `SelectedTests` tag in the `xcscheme` (backed by `OnlyTestIdentifiers` in the `xctestrun`) or `SkippedTests`

[2019-10-22 17:22] lyndsey-ferguson commented on #156
@moatazeldebsy can you upload the bundles to a service like Dropbox? I need to run the code to see where it is failing and what is in the intermediate test_result bundles.

[2019-10-22 17:24] lyndsey-ferguson commented on #158
@jineshqa and this works in normal scan? As in the passing tests from a failing testsuite show up?

[2019-10-22 17:26] lyndsey-ferguson commented on #103
@bpoplauschi thank you for educating us all, this is great knowledge!

[2019-10-22 18:57] jineshqa commented on #158
Stopped using normal scan once I started using this :-) This is not a blocker for me so I'll try to reproduce this using scan only later today or perhaps tomorrow.

[2019-10-22 19:09] lyndsey-ferguson commented on #158
I'm just curious if this ever worked. I am not changing the CSS from what it should be based on my understanding of what is there.

[2019-10-22 22:08] lyndsey-ferguson commented on #158
I'm going to make this a feature request.

[2019-10-22 22:36] jineshqa opened #159 "bug xcresulttool merge command fails when scheme name has a space"
### New Issue Checklist

- [X] Updated `fastlane-plugin-test_center` to the latest version
- [X] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [X] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [X] I have removed any sensitive data suc

[2019-10-22 23:20] lyndsey-ferguson commented on #159
This [`tmp_collated_bundlepath`](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/16599a56dad0f3e5f7b490c5123be20e9a27889e/lib/fastlane/plugin/test_center/actions/collate_test_result_bundles.rb#L62) needs to be `tmp_collated_bundlepath.shellescape`.

As my time is limited, could you please open up a PR to make that change?

[2019-10-23 12:41] #103 closed

[2019-10-23 12:45] lyndsey-ferguson commented on #103
Fixed in [v3.8.11](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.11)

[2019-10-23 13:06] bpoplauschi commented on #103
We really appreciate this @lyndsey-ferguson and @rahulsharma2905 🎉

[2019-10-23 13:08] lyndsey-ferguson commented on #103
Yes, thank you for your contribution @rahulsharma2905 !!!!

[2019-10-23 14:45] jineshqa commented on #159
Yes sir. On it.

[2019-10-23 14:58] jineshqa commented on #159
Simulator log collection is failing for me when I run tests so I had to change scanfile from
`include_simulator_logs true`
to
`include_simulator_logs false`

[2019-10-23 15:24] jineshqa commented on #159
@lyndsey-ferguson Please let me know if anything else needs to be done.

[2019-10-23 17:16] lyndsey-ferguson commented on #159
@jineshqa regarding the simulator collection crashes: you have to update to the latest fastlane. I fixed it [here](https://github.com/fastlane/fastlane/pull/15440)

[2019-10-23 17:22] lyndsey-ferguson commented on #159
Fixed in [v3.8.12](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.12). Thanks @jineshqa!!

# 🎉

[2019-10-23 17:22] #159 closed

[2019-10-23 17:35] jineshqa opened #161 "Is there a way to capture console output without redirection?"
### Question Checklist

- [X] Updated `fastlane-plugin-test_center` to the latest version
- [X] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [X] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [X] I searched for [existing GitHub issues

[2019-10-23 18:05] jineshqa commented on #161
Every I have to log a bug I have to redirect output which means I can't see the logs until everything is done. So would like a nice handy way to capture and see the log at the same time.

[2019-10-23 18:54] lyndsey-ferguson commented on #161
Oh, then that is easy. Hold on.

[2019-10-23 19:00] lyndsey-ferguson commented on #161
`bundle exec fastlane <your_lane_here> --verbose 2>&1 | tee /path/to/logfile.txt`

https://stackoverflow.com/a/18462920/71877

[2019-10-24 02:40] jineshqa commented on #161
Thanks @lyndsey-ferguson, one more question. What does `clean` option on multi_scan do? Is it possible to delete app before each test case run?

[2019-10-24 03:07] thuyvu113 opened #162 "Test log on console when using multi scan with parallel_testrun_count option"
#### Question Description
When I use multi scan tool with parallel_testrun_count option, I would like to see the log of current testing process. However, this log is only available when the testing job is done.

This what I got when the testing jobs were running:
[code]

Is it possible to show the current log of testing of all testing clone?

[2019-10-24 04:52] technomark commented on #162
To refine this a bit - how about just printing `Test runner 1: testSomethingARather() passed [44 seconds]`
`Test runner 2: testSomethingElse() failed [43 seconds] - couldn't find element xyz`

so that way we get an idea of the progress but don't get a whole lot of jumbled mess.

[2019-10-24 05:22] technomark commented on #119
Thank you @lyndsey-ferguson for this awesome plugin.

I assume this is the same issue afflicting our iOS project currently...

We depend on the pod 'GoogleMaps'

When I run `multi_scan` in parallel in verbose mode I see:

`DEBUG: Found the following tests: GMSPlacesClient/testingPhotoFetchTimeout
	GMSPlacesClient/testingPhotosURLConfiguration
	GMSPlacesServerClient/testBlock
	GMSx_GTLBatchQuery/te

[2019-10-24 12:39] lyndsey-ferguson commented on #119
Hi @technomark, I use a fairly crude method of getting the tests from your generated `xctest` file. I ask what methods are there, and those that start with `test` are considered part of the tests you want to run. Are you including the GoogleMaps as part of your testtarget? Is it necessary to link your tests against the GoogleMaps SDK?

Typically, your test runner should not be linking against 3rd

[2019-10-24 12:42] lyndsey-ferguson commented on #162
Unfortunately, it was very difficult for me to have parallel processes printing sensible console messages.
1. because they are in parallel, they would write when they wanted to. This means that one processes methods  would write in the middle of another one and one could not decipher which message came from which.
2. Even if I was able to lock down the STDOUT system (I probably could with some eff

[2019-10-24 12:43] lyndsey-ferguson commented on #162
I'm open to PRs if you can figure it out, but for now, I'm going to close this Issue.

[2019-10-24 12:43] #162 closed

[2019-10-24 12:46] lyndsey-ferguson commented on #161
@jineshqa `clean` is passed straight to `scan` [here](https://github.com/fastlane/fastlane/blob/master/scan/lib/scan/options.rb#L135). From what I remember, `scan` simply adds the `clean` `buildaction` to the `xcodebuild` command which states (from a [man page I found online](https://www.manpagez.com/man/1/xcodebuild/)):

[2019-10-24 12:46] #161 closed

[2019-10-24 22:38] jineshqa commented on #161
@lyndsey-ferguson One more question since there is no other way to chat with you and I don't want to create unnecessary tickets.

Is there anyway for you to uninstall app before each test case run? I used to do that with XCUiTest itself but with Xcode 11 it has become very very flaky :-(

[2019-10-25 07:49] technomark commented on #119
Thanks - it appears GoogleMaps.bundle is copied into the test target output (not sure why) but in any case after having deleted it I still found the tests were being run.  skip_testing the tests didn't help (it ran xcodebuild with both -only-testing:'GMSPlacesClient/testingPhotoFetchTimeout' -skip-testing:'GMSPlacesClient/testingPhotoFetchTimeout' and still took time from the simulator) so I'll ju

[2019-10-27 00:28] lyndsey-ferguson commented on #162
Also, one other thing you may be able to do if you want to invest, is re-use the pipes between each subprocess and the parent process to send each line. The main process would be responsible for printing the messages. That way, each message would _not_ be be writing in the middle of the other message.

[2019-10-27 00:32] lyndsey-ferguson commented on #161
@jineshqa yes, you can use the [`:reinstall_app` option](https://github.com/fastlane/fastlane/blob/master/scan/lib/scan/options.rb#L90). Take a look at that and the other options.

[2019-10-27 01:12] jineshqa commented on #161
That option only does it once not before each test case run.

Thanks,
Jinesh

On Sat, Oct 26, 2019, 5:32 PM Lyndsey Ferguson <notifications@github.com>
wrote:

[2019-10-27 12:55] lyndsey-ferguson commented on #161
@jineshqa Each test run is a separate invocation of `scan`. That passes through `Scan::Runner.new.run`, that goes through [`test_app`](https://github.com/fastlane/fastlane/blob/b051f0e0dc0c93229752c2f0ae5216f7814e2179/scan/lib/scan/runner.rb#L25) then it runs the [`uninstall_app`](https://github.com/fastlane/fastlane/blob/b051f0e0dc0c93229752c2f0ae5216f7814e2179/scan/lib/scan/runner.rb#L46) if tha

[2019-10-27 22:41] lyndsey-ferguson commented on #161
One thing: I recommend not using this option with parallelize as it will uninstall on all devices. Even in the middle of a run.

[2019-10-28 03:17] jineshqa opened #163 "Collate json reports action fails"
### New Issue Checklist

- [X] Updated `fastlane-plugin-test_center` to the latest version
- [X] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [X] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [X] I have removed any sensitive data suc

[2019-10-28 03:37] jineshqa opened #164 "Feature Request: merge xcresult action"
### Feature Request

#### Motivation Behind Feature
Currently collate_test_result_bundles creates a directory which is not in .xcresult format. Many of us use [XCTestHTMLReport](https://github.com/TitouanVanBelle/XCTestHTMLReport) tool which presents result in html format that is similar to Xcode. That tool requires xcresult format. So I and am pretty sure many others would like the final bundle i

[2019-10-28 12:59] lyndsey-ferguson commented on #164
@jineshqa thank you for the idea. To clarify, are you suggesting two things here?
1. A new `collate_xcresults` action that does what it says.
2. Something that generates the HTML, junit, and json result files? One only has to pass the desired [`output_types`](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/actions/multi_scan.rb#L295) to g

[2019-10-28 13:03] lyndsey-ferguson commented on #164
Also, as you know, my time is extremely limited. If you're open to working on this, I can give you guidance. Here is a rough idea of what would have to be done:
1.Create the new `collate_xcresults` action. [`collate_test_result_bundles`](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/actions/collate_test_result_bundles.rb) may be a good

[2019-10-28 13:09] lyndsey-ferguson commented on #163
@jineshqa yes please provide sample sample json files. The ones I have work fine and I need to test the collate json action on to identify the problem. 👍 Thanks!

[2019-10-28 14:33] ilyapuchka opened #165 "Unresolved conflict between options: 'test_without_building' and 'build_for_testing'"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2019-10-28 14:44] lyndsey-ferguson commented on #165
@ilyapuchka which version of `multi_scan` were you using before?

[2019-10-28 15:56] lyndsey-ferguson commented on #165
That helps, I significantly refactored the internals with `3.8.3`. I probably introduced the defect then.

[2019-10-28 17:19] lyndsey-ferguson commented on #165
@ilyapuchka, my schedule doesn't permit me much time to work on this at the moment, but if you're up for it, I'm open to people providing pull requests.

I believe that what needs to be done is add a line:
[code]
[here](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/actions/multi_scan.rb#L178)

If you need help with how to get started co

[2019-10-28 17:21] lyndsey-ferguson commented on #165
Easy, but takes time I don't have

[2019-10-31 13:59] ilyapuchka commented on #165
BTW with a work around to change `test_without_building` to `skip_build` the project is actually rebuilt, so it does not make it a good solution either

[2019-10-31 14:01] ilyapuchka commented on #165
I'm afraid deleting `test_for_building` manually will result in the same behaviour

[2019-10-31 14:11] ilyapuchka commented on #165
Also it looks like it does not happen on 3.8.11, but I'm still investigating

[2019-11-05 02:03] lyndsey-ferguson commented on #165
Thanks @ilyapuchka, I appreciate any investigation that you can perform to help iron this out. I didn't intentionally fix anything related to this, so I would be surprised if it was fixed in `3.8.11`.

[2019-11-05 02:04] lyndsey-ferguson commented on #164
@jineshqa: on Friday, I'll update this Issue to just be a request to create a `collate_xcresults` action unless I hear otherwise before then. Thanks.

[2019-11-05 14:26] lyndsey-ferguson commented on #165
@ilyapuchka  I believe I have fixed the issue. To test, can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2019-11-05 19:15] lyndsey-ferguson commented on #163
@jineshqa any update on providing sample json files?

[2019-11-05 19:21] jineshqa commented on #164
Hi @lyndsey-ferguson,

Yes, we need a new action that does not change the format of merged xcresult files as that is required to generate html in the Xcode format. Also, same action should be able to output result file in desired format based on parameters passed.
So if my input is,
[code]
and I call this new action as described in feature request above the output would be
[code]

[2019-11-05 19:25] lyndsey-ferguson commented on #164
@jineshqa I don't see how a new action that collates `xcresult` files should generate `json`, `html`, and `xml` files.

_Maybe_ 3 other actions that convert the `xcresult` file into `json`, `xml`, and `html` files, but that would be a stretch that I would not prioritize for myself.

[2019-11-05 19:56] jineshqa commented on #164
I understand what you are saying...could you explain how you currently generate a merged Junit result fie from multiple simulators running in parallel? Current file is good enough.

I would then try to merge the xcresult files and create an action to generate junit file using your code which removes duplicates.

[2019-11-05 21:24] lyndsey-ferguson commented on #164
I received the email about how junit files are merged. I use the action that is part of this plugin: [`collate_junit_reports`](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/actions/collate_junit_reports.rb)

[2019-11-05 21:37] jineshqa commented on #164
I realized that after hitting submit and immediately deleted it but too late I guess :-)

Feel free to close this ticket. I am using trainer from fastlane to generate individual xml from each xcresult file and then merge them using collate_junit_reports.

[2019-11-05 21:41] lyndsey-ferguson commented on #164
I'll keep this open as the `collate_xcresults` action is a good idea.

[2019-11-07 13:37] lyndsey-ferguson commented on #165
@ilyapuchka do you think that you'll be able to test this soon? I'm pretty certain that I've fixed the issue, but I would like to get a confirmation.

[2019-11-09 16:29] lyndsey-ferguson commented on #165
Fixed in [v3.8.13](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/tree/v3.8.13)

[2019-11-09 16:30] #165 closed

[2019-11-09 16:31] lyndsey-ferguson commented on #163
Closing this issue as I cannot reproduce and there hasn't been any activity on this Issue.

Will re-open if given sample files that I can use to reproduce the issue.

[2019-11-09 16:31] #163 closed

[2019-11-10 16:17] ilyapuchka commented on #165
@lyndsey-ferguson thanks, will try to test this. For now we workaround this by changing `test_without_building: options[:test_without_building].presence || false` to just `test_without_building: options[:test_without_building].presence`

[2019-11-14 08:40] dp-1a opened #169 "multi_scan occasionally crashes while trying to rename a folder after retrying a failed test"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2019-11-14 13:35] lyndsey-ferguson commented on #169
@dp-1a thank you for the Issue report. Can you include the output of `fastlane env` here?

[2019-11-14 21:10] dionc opened #170 "Plugin fails to load: uninitialized constant TestCenter::Helper::MultiScanManager::TestBatchWorker"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2019-11-14 21:54] lyndsey-ferguson commented on #170
It does not work for me if I include the `--capture-output`, but it works fine if I do not include it. Can you run:
[code]
And then run the
[code]
command again?

[2019-11-15 10:26] dp-1a commented on #169
Hi @lyndsey-ferguson,

attached the relevant parts of the fastlane file. The scenario seems only to happen when tests are being retried after a failure. Questions is who creates the initial folder during the tests run and why might it be already existing?

We are currently trying to split the execution of the UITests over multiple azure agents to speed up the execution.

### Stack

| Key

[2019-11-15 13:35] lyndsey-ferguson commented on #169
@dp-1a so, that folder `/Users/runner/runners/2.160.0/work/1/s/fastlane/output/General_Tests-batch-1/General-2.test_result` is created by `multi_scan` in preparation for the next test run. It is doing that because `xcodebuild` via `scan` will create `/Users/runner/runners/2.160.0/work/1/s/fastlane/output/General_Tests-batch-1/General.test_result` and we need a new one for each test-run.

I wanted

[2019-11-15 13:38] lyndsey-ferguson commented on #169
See [this example](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/actions/multi_scan.rb#L495) of running batches of tests in parallel. You don't even have to specify which tests to test, `multi_scan` figures it out.

[2019-11-18 11:34] rahulsharma2905 opened #172 "Getting DirectoryNotEmpty error when result_bundle option is true."
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2019-11-18 12:14] rahulsharma2905 commented on #172
I am using Xcode 10.3, i think recent changes for Xcode 11 in file lib/fastlane/plugin/test_center/helper/multi_scan_manager/retrying_scan_helper.rb are causing this issue.

[2019-11-18 14:24] lyndsey-ferguson commented on #172
@rahulsharma2905 you are not running `multi_scan` in parallel are you? This is similar to #169.

[2019-11-18 16:03] rahulsharma2905 commented on #172
Not running in parallel, just a single instance.

[2019-11-18 19:46] lyndsey-ferguson commented on #172
They still may be the same problem, but I will wait a little while longer to get some feedback from the other person.

[2019-11-18 22:21] lyndsey-ferguson commented on #172
It works fine for me, would you be able to provide a sample project and sample `Fastfile` that I can use to debug the issue?

[2019-11-19 06:03] rahulsharma2905 commented on #172
which version of Xcode are you using? looking at the code i have a feeling that it would work fine for XCode 11.x but not for lower versions.

[2019-11-19 10:27] rahulsharma2905 commented on #172
Few more findings:
I inserted some logging in move_test_result_bundle_for_next_run method in retrying_scan_helper.rb file. My changes looks like below:
[code]
In logs i found below lines:
for first iteration:
[code]
for second iteration:
[code]
command failed before reaching 'Preexisting folders after' line of code.
Error thrown:
[code]

[2019-11-19 10:29] rahulsharma2905 commented on #172
seems like in between calls of this method for iteration 1 and iteration 2, somehow folder PROJECT_DIR/SCHEME_test_results/PROJECT-batch-1/SCHEME-1.test_result is renamed to folder PROJECT_DIR/SCHEME_test_results/PROJECT-batch-1/SCHEME-2.test_result

[2019-11-19 14:04] lyndsey-ferguson commented on #172
Can you re-run your lane with the `--verbose` flag and include the output? [This](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/helper/multi_scan_manager/report_collator.rb#L133) may be contributing to the problem, although it still works fine for me.

[2019-11-19 14:22] rahulsharma2905 commented on #172
i am getting this piece of information in logs after running with --verbose:
[code]

[2019-11-20 13:59] lyndsey-ferguson commented on #172
@rahulsharma2905 I have duplicated the error, now I can look into it more.

[2019-11-20 14:00] lyndsey-ferguson commented on #172
I think it could be the same as the other Issue as I can reproduce it in single mode. I will close this Issue and link the two. The other issue is [#169](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/169)

[2019-11-20 14:00] #172 closed

[2019-11-20 14:01] lyndsey-ferguson commented on #169
I have duplicated this issue.

[2019-11-20 15:49] dp-1a commented on #169
Hi, sorry for the late response.

Even without parallel jobs this issue seems to occur. We have the configuration you have recommended on our Jenkins based CI infrastructure and there it is guaranteed that only one job is running at the same time. I guess there must be some kind of race condition but unfortunately we where not able to narrow the issue further down.

Best regards

[2019-11-20 15:57] dp-1a commented on #169
One rather hacky "fix" we tried, which seems to work but of course does not really fix the issue, was replacing `File.rename` with `FileUtils.mv(src_test_bundle, dst_test_bundle, :force => true)` on line 307 in the `retrying_scan_helper` file.

[2019-11-20 22:52] lyndsey-ferguson commented on #170
This ticket will close tomorrow at the end of the day (EST) due to lack of activity.

[2019-11-20 22:55] lyndsey-ferguson commented on #169
@dp-1a & @rahulsharma2905, I believe that I have fixed the issue.

Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let

[2019-11-21 05:29] rahulsharma2905 commented on #169
@lyndsey-ferguson, It worked without any error.

[2019-11-21 07:29] rahulsharma2905 commented on #170
@lyndsey-ferguson, i am facing the same issue on one of my machines.
output of command ```bundle exec fastlane update_plugins --verbose```
[code]

[2019-11-21 08:17] dp-1a commented on #169
Hey @lyndsey-ferguson, your fix seems to work. The issue did not occur anymore in the latest runs. Thank you very much for your efforts.

[2019-11-21 13:33] lyndsey-ferguson commented on #169
# 👏

[2019-11-21 13:45] lyndsey-ferguson commented on #169
Fixed in [v3.8.14](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.14)

[2019-11-21 13:45] #169 closed

[2019-11-21 13:47] lyndsey-ferguson commented on #170
@rahulsharma2905 this is a different issue, but the root problem may be similar.

Let's focus on `uninitialized constant`. There is a problem with your gem installation. Have you already performed the steps that I [suggested](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/170#issuecomment-554098060)

[2019-11-21 15:00] rahulsharma2905 commented on #170
@lyndsey-ferguson yes i performed given steps,  and it failed on last command. Output of last command is in my last comment.

[2019-11-21 16:14] mykola-mokhnach opened #174 "The plugin throws an exception after update on Xcode10"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2019-11-21 16:17] lyndsey-ferguson commented on #170
I think that [this issue](https://github.com/fastlane/fastlane/issues/8530#issuecomment-355533052) may be the problem. Two different installations of ruby or fastlane.

I recommend using [rbenv](https://github.com/rbenv/rbenv) to manage where gems are installed.

[2019-11-21 16:19] lyndsey-ferguson commented on #174
This does not fail with Xcode 11?

[2019-11-21 16:20] mykola-mokhnach commented on #174
Yes, Xcode11 is totally fine as you can see in https://travis-ci.org/appium/WebDriverAgent/builds/614495733

Also, it worked properly with both Xcode version before I updated the plugin and Fastlane

[2019-11-21 16:26] lyndsey-ferguson commented on #174
Ug, I don't know what I'm looking at for the multi_scan logs.

[2019-11-21 16:29] mykola-mokhnach commented on #174
Do you mean the [log](https://travis-ci.org/appium/WebDriverAgent/jobs/614495760) link above or which link would you like to have?

[2019-11-21 16:31] mykola-mokhnach commented on #174
The fast lane script is located at https://github.com/appium/WebDriverAgent/blob/master/Fastlane/Fastfile

[2019-11-21 17:13] lyndsey-ferguson commented on #174
Can you link to the log where it works fine with Xcode 11?

What version of the test_center plugin were you using before?

[2019-11-21 18:05] mykola-mokhnach commented on #174
Sure, here is the log where the previous version properly works with Xcode 10: https://travis-ci.org/appium/WebDriverAgent/jobs/612418172

The version change is visible here:
https://github.com/appium/WebDriverAgent/pull/252/files#diff-e79a60dc6b85309ae70a6ea8261eaf95R68 (line 68) -> fastlane-plugin-test_center (3.6.3) to fastlane-plugin-test_center (3.8.13)

[2019-11-22 03:03] lyndsey-ferguson commented on #174
@mykola-mokhnach can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2019-11-22 03:03] lyndsey-ferguson commented on #170
@rahulsharma2905 can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2019-11-22 03:07] lyndsey-ferguson commented on #170
@rahulsharma2905 I do not think that my fix I mentioned above will help you for:

output of command bundle exec fastlane update_plugins --verbose

[code]

This is a problem with your fastlane installation. I do _not_ recommend using your System Ruby Gems directories to install non-Apple gems. Problems generally result.
(`/Library/Ruby/Gems/2.3.0`).

I highly recommend using [`rbenv`](https://githu

[2019-11-22 06:24] rahulsharma2905 commented on #170
@lyndsey-ferguson , i actually use --path in bundle exec command, which lets me install gems in a local directory separate from System Ruby Gems.
when i tried command ```bundle install --path vendor/bundle```, it installs all gems in vendor/bundle. and the output of this command is throwing the same error as mentioned in this issue.
[code]
P.S. i tried changing my Plugin file to ```gem 'fastlane-p

[2019-11-22 09:20] mykola-mokhnach commented on #174
Unfortunately the job still fails. Please find the verbose log at https://travis-ci.org/appium/WebDriverAgent/jobs/615413571

Xcode11 run is still fine though: https://travis-ci.org/appium/WebDriverAgent/jobs/615413563

[2019-11-22 09:22] mykola-mokhnach commented on #174
Attaching the raw text log as requested:
[log.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/3878795/log.txt)

[2019-11-22 13:57] lyndsey-ferguson commented on #174
I've made some changes. Can you try updating your `Gemfile.lock` to use this git SHA: `c0ba3dbaa19e234f3f59f3ea744a815acea683f1`, bundle install, and re-run your lane?

[2019-11-22 13:57] lyndsey-ferguson commented on #170
I've made some changes. Can you try updating your `Gemfile.lock` to use this git SHA: `c0ba3dbaa19e234f3f59f3ea744a815acea683f1`, bundle install, and re-run your lane?

[2019-11-22 14:11] rahulsharma2905 commented on #170
@lyndsey-ferguson , 👍 it worked. The error is gone, and tests are running fine.

[2019-11-22 14:15] lyndsey-ferguson commented on #170
# 🎉
# 🎉
# 🎉

[2019-11-23 00:15] lyndsey-ferguson commented on #174
@mykola-mokhnach have you been able to test this yet? Someone else experiencing something similar has confirmed that my fix above solves their issue.

[2019-11-23 07:08] mykola-mokhnach commented on #174
sorry, Travis CI is not the fastest one :)

Yes, with the recent commit I can confirm the bug is fixed and the plugin works for both Xcode11 and Xcode10:
- 11: https://travis-ci.org/appium/WebDriverAgent/jobs/615647128
- 10: https://travis-ci.org/appium/WebDriverAgent/jobs/615647136

[2019-11-23 20:10] #174 closed

[2019-11-23 20:13] lyndsey-ferguson commented on #170
Fixed in [v3.8.15](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.15)

[2019-11-23 20:13] #170 closed

[2019-11-23 20:13] lyndsey-ferguson commented on #174
Fixed in [v3.8.15](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.15)

[2019-11-23 21:35] lyndsey-ferguson opened #176 "Feature Request: alter the tests to retry in testrun_completed_block"
### Feature Request

#### Motivation Behind Feature

If a test has a higher probability of failing, it is a waste of test time to re-run tests with that test included. It would be nice to be able to control the next retrying test run of `multi_scan` to exclude certain tests, or to change the order of the tests.

#### Feature Description

The callback could return a Hash with different values. For

[2019-11-23 22:16] lyndsey-ferguson opened #177 "suppress_tests is not suppressing tests"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2019-11-25 12:14] moatazeldebsy commented on #156
Hi @lyndsey-ferguson can I know with which `Xcode` version you fixed this issue `Fixes issue with multi_scan when collating test_result`?

[2019-11-25 14:55] lyndsey-ferguson commented on #156
Sorry, I don't remember.

[2019-11-25 14:57] lyndsey-ferguson commented on #156
I believe I only started using Xcode 11 around Oct 18th.

[2019-11-27 21:58] mobile-build-release-earnin opened #178 "destination option is being stripped out and breaking xcodebuild"
### Question Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I searched for [existing GitHub issues

[2019-11-27 22:06] lyndsey-ferguson commented on #178
I would need more information to help, can you provide this info:
[code]

[2019-11-28 13:31] lyndsey-ferguson commented on #178
Some other things to look at:
1. the console, do you see 4 or 5 tests being run?
2. you have 5 tests being inputted. How? Are you passing those 5 tests via `only_testing`? Or are you stating that your test target only has 5 tests?

[2019-12-02 19:33] mobile-build-release-earnin commented on #178
@lyndsey-ferguson I apologize about the delay - I hope you had a wonderful thanksgiving Thanks for getting back to me so quickly. I'm not sure what --verbose is printing out that you are looking for ... there are several "summary" tables that are being printed. Would you be able to elaborate if there are any keywords/ specific things you are looking for so I can past them here?

I'm passing in tho

[2019-12-03 18:35] lyndsey-ferguson commented on #178
I was expecting something like:

[code]
In the log. To see what `xcodebuild` is receiving and _actually_ testing.

[2019-12-03 19:41] mobile-build-release-earnin commented on #178
@lyndsey-ferguson OK a problem with the example you provided is that I don't get anything that looks remotely close to that, so here's what I have for batch #1.

[code]

Then when it runs the tests

[code]

So it isn't running `UITests/testUI` and it looks like Xcode is interpreting an assertion fail as happening twice ...which could be a reason why it's running a particular test twice? I'm not re

[2019-12-03 22:38] mobile-build-release-earnin commented on #178
OK so, I resolved the error where I was getting 2 failed assertions for a single test, but it looks like it's still skipping that first test. I checked the scheme to ensure that the test was apart of it/ it actually exists - it does. Any idea why it isn't running this test?

[2019-12-04 17:08] jordan-romeroporter-earnin commented on #178
@lyndsey-ferguson Something I also noticed is that when I set a destination, it causes the xcodebuild to fail ... :

[code]

[2019-12-04 18:40] lyndsey-ferguson commented on #178
Can you provide the entire line that tells `xcodebuild` to run? `multi_scan` creates (or uses an existing) `xctestrun` file.

It should _also_ be providing the `-destination` flag, especially as you're using the parallelization functionality (as I see via `[worker 1]`.

The `xcodebuild` line should look _something_ like:
[code]

Note that my `-destination` flag is using the UDID of the Simulator.

[2019-12-04 18:45] jordan-romeroporter-earnin commented on #178
The reason I set the destination is because I'm using CircleCI and there's no guarantee what iOS the simulator will be .. so my thought process was by being specific, we can test against the most. downloaded iOS. Below is the modified excerpt.

[code]

[2019-12-05 16:16] lyndsey-ferguson commented on #178
Ok, I see that the `-destination` flag is not being provided. I understand that you want to specify it, and that makes sense, I do the same.

However, the way you are providing it is very specific. I recommend as a work-around, that you use the [`:device` option](https://github.com/fastlane/fastlane/blob/master/scan/lib/scan/options.rb#L47) for now. I'll update this Issue to be a bug.

[2019-12-05 17:14] jordan-romeroporter-earnin commented on #178
Hey @lyndsey-ferguson thank you for taking a look - so to be clear, I cannot choose the iOS version yet?

[2019-12-05 18:12] lyndsey-ferguson commented on #178
You can specify the version. In your case, you would provide the option like so:
[code]

See [this code](https://github.com/fastlane/fastlane/blob/adb29097ea9b00b856d0261c46183d18ecf32bce/snapshot/spec/test_command_generator_xcode_8_spec.rb#L51)

[2019-12-05 18:18] jordan-romeroporter-earnin commented on #178
incredible - thank you so much @lyndsey-ferguson !!

[2019-12-05 20:22] jordan-romeroporter-earnin commented on #178
@lyndsey-ferguson I'm now getting an error when running the second group of tests:
[code]

[2019-12-05 20:23] jordan-romeroporter-earnin commented on #178
Here is the fastlane stacktrace:

[code]

[2019-12-06 19:04] jordan-romeroporter-earnin commented on #178
@lyndsey-ferguson any idea what's going on here?

[2019-12-06 19:25] lyndsey-ferguson commented on #178
Sorry, no. As this is a separate Issue, can you create a new Issue in this repo? Also call the action `quit_core_simulator_service` before you call `multi_scan`. That may help if the service has been corrupted.

The new Issue should have its template info filled in (verbose logs, fastfile, environment). Please the information from your comments:
https://github.com/lyndsey-ferguson/fastlane-plugin-

[2019-12-06 22:18] jordan-romeroporter-earnin commented on #178
Unfortunately calling that in the fastlane file is causing the it to fail out before the tests can get run:

[code]

Also, I'm only using 2, but I'll try a new build without that command and with only 1 for the `parallel_testrun_count`. But I will create a new issue now.

[2019-12-12 00:04] jordan-romeroporter-earnin opened #179 "Selecting multiple devices causes a failure"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2019-12-12 18:14] lyndsey-ferguson commented on #179
Can you provide the logs and use the `--verbose` flag? I want to see what is happening before this crash.

[2019-12-12 21:39] jordan-romeroporter-earnin commented on #179
@lyndsey-ferguson when I run with --verbose && --capture_output all I get is this:

[code]

[2019-12-13 00:17] jordan-romeroporter-earnin commented on #179
@lyndsey-ferguson looks like --capture_output was problematic, below is what it produced:

[code]

[2019-12-13 18:14] lyndsey-ferguson commented on #179
This gives me some things to think about. Did you see logs from `[worker 1]`? Was it able to spin up the Simulator? I can imagine that it may have had problems and what you saw was the _first_ failure.

[2019-12-13 18:15] lyndsey-ferguson commented on #179
Also, what happens if you remove the `parallel_testrun_count` option?

[2019-12-13 18:25] jordan-romeroporter-earnin commented on #179
@lyndsey-ferguson I did see logs from worker-1, the first time all the tests failed, then the second run all the tests passed. However prior to worker-1, it tried to run an xcodebuild command and had "problems". Below is what the code looked like.

[code]

[2019-12-13 18:30] jordan-romeroporter-earnin commented on #179
I'm not sure, I can try now. But a follow up question is, what would be the benefit of not adding it? I'm hoping to parallelize the automation process via this.

[2019-12-13 18:38] lyndsey-ferguson commented on #179
A benefit for me to see if this is a problem with parallelization or with the simulators.

[2019-12-13 18:39] jordan-romeroporter-earnin commented on #179
@lyndsey-ferguson when I set it to 1, it works great - and I'm currently using it on our CI tool. If that provides any clarity

[2019-12-13 18:39] lyndsey-ferguson commented on #179
The next step may be to get the sim that matches, and try and run a simple command in parallel on each to see if there we can boot the simulator.

[2019-12-13 18:40] jordan-romeroporter-earnin commented on #179
How can I help?

[2019-12-13 18:44] lyndsey-ferguson commented on #179
I won't be able to write it right now as i am at work. My idea in pseudocode:
1. get the UDID of the Simulator that matches your selected sim
2. try and boot that with xcrun simctl boot <UDID>
3. Does that fail?
4. If that does not fail: make clones of that simulator
5. For each one, try booting them, does that fail?

There could be a problem with the original sim, in which case I'd reach out to C