[2019-12-13 20:23] jordan-romeroporter-earnin commented on #179
@lyndsey-ferguson so this is actually a limitation within CircleCI, so not a bug with your library. I'll figure out a work around - thank you for working through this with me.

[2019-12-13 21:39] lyndsey-ferguson commented on #179
@jordan-romeroporter-earnin how do you know that? Is there a link to docs on that? I _thought_ that other people with CircleCI were using this. If this is documented, I'd like to warn users about this, and even alert people in the plugin if they try this.

[2019-12-13 21:50] jordan-romeroporter-earnin commented on #179
@lyndsey-ferguson  I'm working with a support engineer that told me:

[2019-12-13 22:08] lyndsey-ferguson commented on #179
Ok, I'll add a warning to those people that use Circle CI. For this case then, I suggest using the actions that are in this plugin to:
1. decide how many batches of test runs you want to run.
2. create a CircleCI job for each batch
3. use the `tests_from_xctestrun` action to get the complete list of tests
4. using that list, split that into batches ([example code](https://github.com/lyndsey-fergus

[2019-12-13 22:09] lyndsey-ferguson commented on #179
Later on, I'll create an Issue that references this one stating that CircleCI does not support parallel and to make it error out early.

[2019-12-13 22:09] lyndsey-ferguson commented on #179
I am leaving this open as a reminder to create the other Issue

[2019-12-14 12:59] Cyberbeni opened #180 "Missing tests if the batch fails to start"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2019-12-16 15:10] selin194 opened #181 "When parallel run is selected, only last simulator failure is retried again in Xcode11."
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [ ] I have removed any sensitive data suc

[2019-12-16 17:33] lyndsey-ferguson commented on #181
Hello @selin194, thank you for the bug report. I haven't seen this before. Can you run your fastlane with the `--verbose` flag and attach the logs from the console to this Issue?

The only thing that I can think of is if the the first batch had some sort of error that would cause it to crash.

[2019-12-16 18:22] selin194 commented on #181
+-------------------------+-----------------------------------------------+
|              [0;32;49mSummary for multi_scan (test_center v3.8.15)[0m               |
+-------------------------+-----------------------------------------------+
| try_count               | 3                                             |
| testrun_completed_block | #<Proc:0x007f9c8b25d120@Fastfile:56 (lambda)> |
| para

[2019-12-16 18:22] selin194 commented on #181
+-------------------------+-----------------------------------------------+
| �[0;32;49mSummary for multi_scan (test_center v3.8.15)�[0m |
+-------------------------+-----------------------------------------------+
| try_count | 3 |
| testrun_completed_block | #<Proc:0x007f9c8b25d120@Fastfile:56 (lambda)> |
| parallel_testrun_count | 2 |
+-------------------------+---------------------------------

[2019-12-16 18:40] selin194 commented on #181
Hey thank you for responding, I rerun the job again with --verbose flag and I see:
[0;34;49m[worker 1] [0mDEBUG [2019-12-16 10:23:11.95]: Batch #1 incrementing retry count to 1
[0;34;49m[worker 1] [0mDEBUG [2019-12-16 10:23:11.95]: Scan found failing tests for batch #1
[0;34;49m[worker 1] [0mWARN [2019-12-16 10:23:11.97]: [0;33;49mThe run of tests would finish with failures due to fragile te

[2019-12-17 17:53] selin194 opened #182 "output_types with a space between the types crashes multi_scan"
### Question Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I searched for [existing GitHub issues

[2019-12-17 18:20] lyndsey-ferguson commented on #182
Hello @selin194, you cannot provide `xcresult` files in the `output_types` yet. That is part of #164 that is in slow progress. You can provide `result_bundle: true` as described in the underlying action's [options](https://docs.fastlane.tools/actions/scan/#parameters) (scan).

However, those xcresults will **not** be collated. If this answers your question, I'll close this Issue and suggest you ke

[2019-12-17 18:21] lyndsey-ferguson commented on #182
Oh, and the `xml` file type is the same as `junit`.

[2019-12-17 18:28] selin194 commented on #182
I see, thank you for responding so quickly. However I can not give `html` and `junit` output types at the same time. By giving:
`output_types: 'junit, html', output_files: 'report.xml, report.html'` which gives me error when I run the jobs.

[2019-12-17 18:29] lyndsey-ferguson commented on #181
One thing, can you re-run this without the color-codes? It is hard to read.
Here is how I would do it:

[code]

When you write:

Are you stating that things are working? The logs do not list which tests were run, nor does it list how `xcodebuild` was called, etc. There is a lot missing from the logs.

I'd like to see how this works from the moment that `fastlane` is called on the command line unti

[2019-12-17 18:33] lyndsey-ferguson commented on #182
Ah, try without the space. That shouldn't cause an issue, but that is what jumps out at me.
`output_types: 'junit,html', output_files: 'report.xml,report.html'`. If that fixes it, we can create a bug Issue for this as the spaces should not be a problem.

But you can see from [here](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/spec/reportname_helper_spec.rb#L93) that

[2019-12-18 08:55] selin194 commented on #182
Hey again, I tried `without spaces` and  I can successfully take both `xml` and `html` reports.

[2019-12-18 14:00] lyndsey-ferguson commented on #182
Thanks @selin194, I've updated this Issue to describe the problem. For now, please remove the extra space.

[2019-12-18 14:02] selin194 commented on #182
Thank you @lyndsey-ferguson 🎉

[2019-12-20 01:26] lyndsey-ferguson commented on #180
Hi @Cyberbeni, thank you for the Issue, and I apologize for the delay in responding.

In order to debug this, I need a few things.

I do not know if this is failing because `multi_scan` fails to continue testing, or if `collate_junit_reports` is failing to collect the tests properly.

If you provide the full logs, without the color codes, that will help me answer the first concern as I will be abl

[2019-12-20 01:27] lyndsey-ferguson commented on #181
@selin194 any progress on my request above?

[2019-12-20 01:32] lyndsey-ferguson opened #183 "Feature Request: exit early with advice when running parallel simulators on CircleCI"
### Feature Request

#### Motivation Behind Feature

Circle CI does not allow `multi_scan` to create and run iOS Simulators in parallel. See this message from a Support Engineer:

#### Feature Description

This would first require some investigation; Does Circle CI prevent any job from creating and launching multiple iOS Simulators in parallel? Or is this just a particular configuration that @jord

[2019-12-20 01:33] lyndsey-ferguson commented on #179
Closed as I created #183

[2019-12-20 01:33] #179 closed

[2019-12-20 05:53] Cyberbeni commented on #180
Easy reproduction of "fails to start" tests is if you try parallel testing with Xcode 11.2.1 on 10.15.2, pretty much all of the batches will fail to start and none of them will be retired.

[2019-12-20 10:27] selin194 commented on #181
Hey @lyndsey-ferguson, sorry for the late response. Unluckily I am not allowed to share all of the logs publicly. However, I can share the table that summaries the process. Thank you so much for your interest and support!

[2019-12-20 12:59] lyndsey-ferguson commented on #181
I need the logs, can you not anonymize/edit them to make them generic?

[2019-12-20 13:02] lyndsey-ferguson commented on #180
It will be a while before I am able to test with that same setup. If you can provide me with the logs and sample files, it will potentially help me resolve this faster.

[2019-12-20 14:28] lyndsey-ferguson commented on #182
@selin194, I believe that I have fixed the issue. Can you add the spaces back to your `:output_types` parameter, modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me

[2019-12-23 07:12] selin194 commented on #182
Hey @lyndsey-ferguson, I followed the steps that you wrote and it worked with spaces!
When I give output types and files as below with specified branch `gem 'fastlane-plugin-test_center', :git => "https://github.com/lyndsey-ferguson/fastlane-plugin-test_center.git", :branch => "issue-182-fix-output-types-with-spaces"`
[code]
Output files are successfully generated. Thanks for this fix 🎉

[2019-12-23 07:55] selin194 commented on #181
[code]

An error occurred attempting to retry the failed test cases, but this time for the second batch. Do you have any idea and these logs are enough to catch failure reason?

[2019-12-26 17:50] lyndsey-ferguson commented on #182
You're welcome, thank you for confirming the fix.

[2019-12-26 17:55] lyndsey-ferguson commented on #182
Fixed in [v3.8.16](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.8.16)

[2019-12-26 17:55] #182 closed

[2019-12-26 18:05] lyndsey-ferguson commented on #181
This is the error:
[code]

`xcodebuild` cannot run the tests because the necessary `xctestrun` file is missing.

If you can include the full log, I can review the steps when `multi_scan` will build the app and then find the `xctestrun` file.  By giving me only snippets of the log, it forces me to guess and the whole process of solving this issue is delayed unnecessarily.

Please 🙏, provide the com

[2019-12-30 08:07] githubist16 opened #185 "parallel_testrun_count throws "comparison of String with 0 failed" error"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2019-12-30 08:13] githubist16 commented on #185
To resolve issue, updated this file:
/lib/fastlane/plugin/test_center/actions/multi_scan.rb

by adding the type as shown below:

before:
<pre>FastlaneCore::ConfigItem.new(
            key: :parallel_testrun_count,
            description: 'Run simulators each batch of tests and/or each test target in parallel on its own Simulator',
            optional: true,
            is_string: false,

[2019-12-30 13:58] lyndsey-ferguson commented on #185
Just provide the value `2`, not `'2'` and this problem won't occur.

[2019-12-30 14:04] #185 closed

[2019-12-30 14:41] lyndsey-ferguson commented on #180
I was able to download Xcode 11.2.1 and run a parallel test run. I cannot upgrade to 10.15.2 for various reasons right now.

Still, I was hoping that I could reproduce this issue: I cannot.

I'd like to repeat my request from above:

[code]

If you're not able to provide this information, no worries. I can close this Issue and re-open it when someone else can reproduce the issue.

[2019-12-30 18:02] githubist16 commented on #185
tried both ways didnt work. Like i mentioned added that line of code to make it work,

[2019-12-30 18:56] lyndsey-ferguson commented on #185
It works fine for me, can you post a copy of how you are calling `multi_scan`?

[2019-12-30 22:36] Cyberbeni commented on #180
Ah, it was probably 10.15.1 where the issue happened 100% of the time, like here: https://github.com/fastlane/fastlane/issues/15640

[2020-01-06 22:24] lyndsey-ferguson commented on #180
So, you are saying that some of the tests are not run by `xcodebuild test` the first time? In your logs that you have not posted, do you see the **same** tests listed for `-only-testing` as are in the `scan` summary table?

For example:
[code]

And:
[code]

[2020-01-06 22:25] lyndsey-ferguson commented on #181
@selin194 any update on this?

[2020-01-06 22:45] Cyberbeni commented on #180
Yes, we had 4 nightly runs since dec 20 (out of 5 os versions per day) where success+failure didn't add up to the number of test cases that was started.

[2020-01-07 12:18] fahmisdk6 opened #186 "No tests found in .xctest even when `ENABLE_TESTABILITY` is true"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-01-07 16:28] lyndsey-ferguson commented on #180
@Cyberbeni please include the information that I need to diagnose this.

I was able to run this successfully with our CI system using Xcode 11.3, fastane 2.106.2, and test_center 3.8.16, with a `parallel_testrun_count` of 2. It tests all of the tests it needs to and reports reflect that.

I will close this Issue on Friday if you cannot provide [the information I need](https://github.com/lyndsey-fe

[2020-01-07 16:58] lyndsey-ferguson commented on #186
@fahmisdk6 thanks for the report. A couple of thoughts:
1. You wouldn't see this issue with `scan` as `multi_scan` does some extra things. In this case, your Fastfile indicates that you are calling `multi_scan` in a way that makes it first build the project, then locate the `xctestrun` file, and uses that file to find the `xctest` file.
1. I need to ask for more logs using the `--verbose` flag. I

[2020-01-07 18:01] fahmisdk6 commented on #186
Thanks for the quick reply.

1. Correct
2.
<details><summary>Verbose logs</summary>
INFO [2020-01-08 00:49:43.53]: ------------------------------
INFO [2020-01-08 00:49:43.53]: Driving the lane 'ios test_nightly' 🚀
INFO [2020-01-08 00:49:43.53]: ------------------------
INFO [2020-01-08 00:49:43.53]: --- Step: multi_scan ---
INFO [2020-01-08 00:49:43.53]: ------------------------

+---------------

[2020-01-07 18:14] lyndsey-ferguson commented on #186
The logs that you provided are helpful, **but**, I don't see the failure indicating that no tests were found. Instead, it lists out all the tests that it found. Is there something that is missing?

[2020-01-09 07:32] selin194 commented on #181
Hey @lyndsey-ferguson, Jenkins stores the last 100 job builds and when I checked each build error for these jobs I realized that we did not receive such an error :(

[2020-01-09 18:21] lyndsey-ferguson commented on #181
@selin194 sounds great. I'll close this Issue, but don't worry, if you encounter the issue again and have the logs, you can attach them to the Issue.

I will get a notice and I will then re-open the issue. Happy New Year!

[2020-01-09 18:21] #181 closed

[2020-01-09 19:34] Cyberbeni commented on #180
[out.zip](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/4042116/out.zip)

[2020-01-09 20:18] Cyberbeni commented on #180
Or you can make one where not every batch fails:
[out 2.zip](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/4042320/out.2.zip)

Just put this in the test target:
[code]

[2020-01-10 18:16] lyndsey-ferguson commented on #180
Thanks @Cyberbeni, at the very least, this will provide me clues to start figuring this out. It may take me a few days before I can start.

[2020-01-15 01:25] lyndsey-ferguson commented on #186
@fahmisdk6 any update on the answers to my question above? If not, I can close this Issue on Friday unless you have more information.

[2020-01-15 01:26] lyndsey-ferguson commented on #183
@jordan-romeroporter-earnin can you let me know if Circle CI prevents any job from creating and launching multiple iOS Simulators in parallel? Or is this just a particular configuration that you are using?

[2020-01-15 04:11] ishammoho opened #187 "cannot run on multiple devices using fastlane multi_scan"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the example [Fastfile](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/fastlane/Fastfile)
- [x] I have removed any sensitive data such as passwords,

[2020-01-15 19:03] jordan-romeroporter-earnin commented on #183
I can only reiterate what I was told by the specialist that I'm in contact with. So that's all I can work with - based off my experience it seems to be true. My configuration is pretty trivial and does not include anything obvious that would prevent multiple iOS simulators in parallel.

[2020-01-15 21:23] lyndsey-ferguson commented on #187
@ishammoho could you include the logs of the fastlane when you include the `--verbose` flag? I'd like to see what is happening.

Also, to make sure I don't miss anything when trying to reproduce this issue on my end, could you provide a sample of how you are calling `multi_scan` in the `Fastfile`?

[2020-01-15 21:45] ishammoho commented on #187
Thanks @lyndsey-ferguson
[code]

fastlane looks like this

[code]

[2020-01-17 22:45] lyndsey-ferguson commented on #186
Closing due to lack of actionable information and lack of activity. We can re-open this if there is more information.

[2020-01-17 22:45] #186 closed

[2020-01-20 09:58] alexnot95 opened #188 ":tests_from_xctestrun and :multi_scan no longer work with version 2 of the xctestrun file"
**My Fastfile**
[code]

While running native_ui_test I receive 'no implicit conversion of String into Integer' error with Traceback:
[code]

[2020-01-20 19:02] lyndsey-ferguson commented on #188
A different error occurs when I run a similar `Fastfile`:
[code]

[code]

[2020-01-24 13:53] andreaantonioni opened #189 "Remove pre-existing xcargs `-parallel-testing-enabled` in multi_scan"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-01-24 14:09] lyndsey-ferguson commented on #189
@andreaantonioni thanks for the question. I'm not certain I understand the question.

Are you stating that you see `-parallel-testing-enabled NO` *twice* in the logs for the call to `xcodebuild test`? I think it should not harm it. I am curious why that is happening. Can you include the logs and a copy (anonymized if you like) of your `Fastfile` (specifically the lane that calls `multi_scan`).

[2020-01-24 14:21] andreaantonioni commented on #189
Okay, but I think`-parallel-testing-enabled NO` should be `-parallel-testing-enabled=NO`, isn't it?

Then when I run this:
[code]

from the logs I see this:
`[worker 3] [0m| xcargs | -UseModernBuildSystem=NO -parallel-testing-enabled=YES  -parallel-testing-enabled NO `

[2020-01-24 18:55] lyndsey-ferguson commented on #189
Hmm. The docs suggest without the equals:
[code]
I don't see it being turned on by `fastlane`. Have you turned it on from your Project?

[2020-01-25 17:36] andreaantonioni commented on #189
Ops, I just found my mistake. I was adding manually `-parallel-testing-enabled=YES` in `xcargs` in `multi_scan`.
Sorry 🙏🏻

[2020-01-27 18:05] lyndsey-ferguson commented on #189
@andreaantonioni no worries, I will update the code to remove the regex `-parallel-testing-enabled(=|\s)(YES|NO)` before applying `-parallel-testing-enabled NO`

[2020-01-27 19:31] andreaantonioni opened #190 "Wrong retry test count log"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-01-28 17:38] lyndsey-ferguson commented on #190
Hello @andreaantonioni, can you please include the logs using the `--verbose` flag when running the fastlane?

[2020-02-07 05:47] anuragmaheshwari opened #191 "Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Failed to set posix_spawn_file_actions for fd -1 at index 0 with errno 9'"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-02-07 05:56] #191 closed

[2020-02-10 13:53] lyndsey-ferguson commented on #190
Closed issue due to lack of activity (and logs).

[2020-02-10 13:53] #190 closed

[2020-02-10 19:12] technomark commented on #119
Just to answer my own question - turns out the test target was inheriting all the cocoapod dependencies of the main app - which was unnecessary but also meant that the GoogleMaps bundle was being included - hence the extra tests. Thanks @lyndsey-ferguson for your assistance.

[2020-02-10 20:12] lyndsey-ferguson commented on #119
Makes perfect sense!

[2020-02-10 22:52] lyndsey-ferguson commented on #188
@alexnot95 I can no longer reproduce this, can you try again? If able to reproduce, can you provide the full logs by running your fastlane with the `--verbose` flag?

[2020-02-16 20:31] thuyvu113 opened #192 "prelaunch_simulator error with two multi_scan runs"
Thank you for the awesome plugin!

I tried to run two multi_scan in two separated lanes like this:

[code]

The problem is that the first `multi_scan` in `lane1` works smoothly . However, when the `multi_scan` in `lane2` ran, I got an error `prelaunch_simulator' value must be either 'true' or 'false'! Found String instead.`

I also set `FASTLANE_EXPLICIT_OPEN_SIMULATOR` in my env but it still does

[2020-02-17 13:02] lyndsey-ferguson commented on #188
Let me know if you can provide the verbose logs. If not, I can close this Issue on Friday, Feb 21st.

[2020-02-18 08:14] alexnot95 commented on #188
Hi @lyndsey-ferguson I still can reproduce this issue :(
**Here is my fastfile:**
[code]

**Logs with --verbose flag:**
[code]

[2020-02-18 14:08] lyndsey-ferguson commented on #188
New Issues usually have this template to fill in, I need it to help me further diagnose:
[code]

[2020-02-18 14:09] lyndsey-ferguson commented on #188
Also, can you include the `/Users/alexeysomov/Library/Developer/Xcode/DerivedData/TestProject-glpzcstadckwmkfaazamhcdzqrfn/Build/Products/Regression_LocalizationUpload_iphonesimulator13.2-x86_64.xctestrun` file?

[2020-02-18 18:20] lyndsey-ferguson opened #193 "Set parallel simulator count to 0 for parallel multi_scan"
### Feature Request

#### Motivation Behind Feature

Fastlane scan recently created an option to control the number of parallel simulators. For parallel multi_scan, we should set it to 0 (zero).

See [PR](https://github.com/fastlane/fastlane/pull/15949)

#### Feature Description

#### Alternatives or Workarounds

[2020-02-19 11:56] alexnot95 commented on #188
@lyndsey-ferguson
Here is `fastlane env`:

[code]
</details>

<details><summary>`./fastlane/Appfile`</summary>

[code]
</details>

### fastlane gems

| Gem      | Version | Update-Status      |
| -------- | ------- | ------------------ |
| fastlane | 2.141.0 | 🚫 Update available |

### Loaded fastlane plugins:

| Plugin                                                | Version | Update-Status |
| -

[2020-02-19 12:51] alexnot95 commented on #188
Here is file you asked for:

[code]

[2020-02-20 22:50] lyndsey-ferguson commented on #164
Completed with [v3.9.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.9.0)

[2020-02-20 22:50] #164 closed

[2020-02-21 10:54] hellostu opened #194 "NoMethodError: [!] undefined method 'value' for nil:NilClass error after multi_scan completes on CircleCI"
### Question Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I searched for [existing GitHub issues

[2020-02-21 14:37] lyndsey-ferguson commented on #192
Can you please include the entire log using the `--verbose` flag?

[2020-02-21 14:39] lyndsey-ferguson commented on #194
It is having a problem collating html. As I don't have time to fix this in this moment, set `output_types: junit` to avoid generating the HTML report.

[2020-02-21 14:40] lyndsey-ferguson commented on #194
Can you reproduce this problem on your local computer? If you can provide me a sample project/Fastfile that duplicates this problem, it will be a lot easier for me to fix this.

[2020-02-21 22:50] lyndsey-ferguson commented on #187
@ishammoho actually, I need to see more logs. It is easiest for me to get the complete log. You can remove sensitive data such as API keys, token values, test names, product names, but leave the data that includes what `xcodebuild` command is doing, what the results are from calling that command, any stack traces of crashes, etc.

[2020-02-25 23:00] lyndsey-ferguson commented on #188
@alexnot95 this has been very helpful, thank you. It seems that the xctestrun file format has changed.

[2020-02-27 16:46] lyndsey-ferguson commented on #188
Ok. Yes, the file format has changed and will be version 2 for Xcode Schemes that do not have test plans. See the [release notes](https://developer.apple.com/documentation/xcode_release_notes/xcode_11_release_notes?language=objc) for more information.

[2020-02-27 16:49] lyndsey-ferguson commented on #188
Okay. A test plan seems to be a separate file that the scheme references now. If so, that could break my other actions that try to get and set skipped tests in the Scheme.

[2020-02-27 16:52] lyndsey-ferguson commented on #188
Ok, I've duplicated the error on my local with this new knowledge.

[2020-02-28 07:31] Cyberbeni commented on #180
@lyndsey-ferguson is there any ETA on this? As I mentioned earlier, I think updating this one line to set the new only testing args based on the current ones minus the passed ones should probably solve the issue(if it happens rarely enough, as it is now):
https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/0c0a827bf6f56adc6f6cde2ab7c4d4381695eb75/lib/fastlane/plugin/test_center/he

[2020-02-28 21:58] lyndsey-ferguson commented on #180
Hello @Cyberbeni , I'm sorry, some family issues came up and I forgot about this. I am not following what you're suggesting. Are you suggesting the code look at what was originally sent in the `only_testing` option, and subtract the ones that passed from that list, and that becomes the next run's `only_testing` option?

I'm confused why the failing tests would not just equal that already?

BTW, I

[2020-02-29 14:40] lyndsey-ferguson commented on #188
@alexnot95 can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2020-02-29 19:31] Cyberbeni commented on #180
No worries, family should always come before work/hobby.

Yes, that is correct. We want to rerun tests that did not pass and those don't equal to failed ones in case the whole testrun fails to start.

[2020-03-01 01:05] lyndsey-ferguson commented on #180
@Cyberbeni can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2020-03-01 13:28] Cyberbeni commented on #180
Ah, they are still not getting retried because they are seen as build errors (the log in the OP has the same error code):

    [worker 2] ERROR [2020-03-01 14:17:30.24]: Exit status: 65
    [worker 2] DEBUG [2020-03-01 14:17:30.24]: Batch #5 incrementing retry count to 1
    [worker 2] DEBUG [2020-03-01 14:17:30.24]: Scan unable to test for batch #5

https://github.com/lyndsey-ferguson/fastlane-pl

[2020-03-01 13:39] Cyberbeni commented on #180
Forgot to save the whole log the first time, reran it:

[Archive.zip](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/4271816/Archive.zip)

[2020-03-01 21:20] lyndsey-ferguson commented on #178
@jordan-romeroporter-earnin can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2020-03-01 21:22] lyndsey-ferguson commented on #178
@jordan-romeroporter-earnin please note that CircleCI does not allow you to clone Simulators and the parallelization of this feature **will** fail on that platform.

[2020-03-01 21:25] lyndsey-ferguson commented on #180
You set your try count to 2, can you set it higher? `multi_scan` will only retry that many times, and if you have a failing or crashing test, those are counted the same.

[2020-03-01 23:01] Cyberbeni commented on #180
I've removed some stuff from handle_build_failure and now I'm seeing some `Starting scan #2` messages:

https://github.com/Cyberbeni/fastlane-plugin-test_center/tree/no-error-on-build-failure

[Archive 2.zip](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/4272669/Archive.2.zip)

[2020-03-01 23:37] lyndsey-ferguson commented on #180
So, you're suggesting to not throw exceptions when I get these errors and to retry anyway?

[2020-03-02 00:09] lyndsey-ferguson commented on #183
@jordan-romeroporter-earnin I don't suppose you could test this out to make sure you get the warning when on Circle CI and parallelizing simulator runs?

If so, can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console out

[2020-03-02 00:30] lyndsey-ferguson commented on #189
@andreaantonioni would you like to test this for me?

If so, can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me kno

[2020-03-02 09:18] alexnot95 commented on #188
Hi @lyndsey-ferguson thank you for the help, I will try and let you know how it goes :)

[2020-03-02 18:46] Cyberbeni commented on #180
Yep. I opened a PR.

I'm always confused on whether FastlaneCore::UI.error throws an exception or not. Cos it always seems like they do. But then they have code after them in a lot of places.

I remember missing tests for iOS9 simulator testruns with older Xcode versions where that other change would be also useful (But from my understanding they would only work for non invocation based tests prop

[2020-03-02 19:00] lyndsey-ferguson commented on #180
As you opened a new PR for the retry even with test runner failures, does this PR meet your needs?

[2020-03-02 19:42] Cyberbeni commented on #180
Yes.

But one thing I still don't understand. The original behaviour should work the same way as now when "Test runner exited before starting test execution", there is even a test for it that it doesn't raise an exception. But then when I use the original behaviour, there is no `Starting scan #2` anywhere in the log even though there are failures with "Test runner exited before starting test execu

[2020-03-02 20:35] Cyberbeni opened #202 "retrieve_test_operation_failure doesn't work with Xcode 11.3.1"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-03-02 20:37] Cyberbeni commented on #180
Now I get it, opened a new issue for it.

[2020-03-02 23:05] jordan-romeroporter-earnin commented on #178
@lyndsey-ferguson Right now I'm using device to set the phone type, is there a preference / benefit to using destination now?

I will test shortly. Thanks for putting this fix in!

Also something I noticed is that when you include a test in "only_testing" and it doesn't exist, multi_scan will stall out. I can create another issue for this if you'd like.

[2020-03-03 01:15] lyndsey-ferguson commented on #178
@jordan-romeroporter-earnin yes, please create a new Issue. If you can provide the verbose logs, that will help.

[2020-03-03 01:17] lyndsey-ferguson commented on #178
@jordan-romeroporter-earnin with regards to whether or not this change is worth it: I think so, you may not be the only person that wants this.

[2020-03-10 10:14] alexnot95 commented on #188
Hi @lyndsey-ferguson I'm still receiving an error :(

Here is **fastlane env**:
`<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key                         | Value                                       |
| --------------------------- | ------------------------------------------- |
| OS                          | 10.15.3                                     |
| Ruby

[2020-03-10 10:16] alexnot95 commented on #188
And here is logs without verbose flag:
`
[11:46:42]: -----------------------------------
[11:46:42]: --- Step: clean_build_artifacts ---
[11:46:42]: -----------------------------------
[11:46:42]: Cleaned up build artifacts 🐙
[11:46:42]: Fail? with 'native_ui_test_newest' Exception no implicit conversion of String into Integer
+------------------+-----------------------+
|               Lane Conte

[2020-03-10 12:50] lyndsey-ferguson commented on #188
@alexnot95 I don't think you're testing the test version of the plugin for this fix. In the log that you posted, I see:

[code]

In the test version, that line is an `else` and does not try to index into an array.

Also, not the path to the plugin: `/Users/user/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/fastlane-plugin-test_center-3.9.0/`

Note that version `3.9.0`. That should instead be the

[2020-03-10 12:56] lyndsey-ferguson commented on #180
I'll close this once I perform the release so I can link the two.

[2020-03-11 15:52] frankh opened #203 "try_count retries all tests instead of just the failing test"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-03-11 22:02] lyndsey-ferguson commented on #194
Closing due to an inability to reproduce/debug

[2020-03-11 22:02] #194 closed

[2020-03-11 22:02] lyndsey-ferguson commented on #192
Closing due to an inability to reproduce/debug

[2020-03-11 22:02] #192 closed

[2020-03-11 22:03] lyndsey-ferguson commented on #187
Closing due to an inability to reproduce/debug

[2020-03-11 22:03] #187 closed

[2020-03-11 22:10] #193 closed

[2020-03-12 16:08] frankh commented on #203
I managed to fix it, I needed to set `skip_build: false`, with it set to true it first ran all the tests and if one failed it re-ran them all again, then worked as expected

[2020-03-12 16:08] #203 closed

[2020-03-16 19:50] lyndsey-ferguson commented on #188
@alexnot95 any update on your testing of this?

[2020-03-17 12:26] lyndsey-ferguson commented on #71
@littlebobert is this still happening? I want to know before I start looking into fixing this.

[2020-03-17 13:22] alexnot95 commented on #188
Hi @lyndsey-ferguson looks like multi_scan doesn't see the tests :(

`[14:07:39]: fastlane finished with errors
[!] You must pass at least one result_bundle_path`

`[14:07:36]: Running Tests: ▸ Touching BettermeUITests.xctest (in target 'TestProjectUITests' from project 'TestProject')
[14:07:36]: ▸ Test build Succeeded
+--------------------+---+
|      Test Results      |
+--------------------+---

[2020-03-17 14:07] lyndsey-ferguson commented on #188
@alexnot95 can you include the logs using the `--verbose` flag? Thanks!

[2020-03-17 21:42] lyndsey-ferguson commented on #202
@Cyberbeni what is your expected behavior in this case? I think the generic error stating `Underlying error: Test runner exited before starting test execution` could apply to anything. I think it would be better if I were to look for this error, and then exit: `Please unlock your device and reattach`

[2020-03-17 21:52] Cyberbeni commented on #202
I think the goal is to fix known fixable errors, exit on known unfixable ones and just retry everything else.
In my case, I only run tests on simulator and I only get the occasional random error that I want to retry.

[2020-03-17 21:57] lyndsey-ferguson commented on #202
Hm. but this particular log indicated that it failed because the device was unlocked. In this case, that is something that requires an early exit. Sometimes a `Test runner exited before starting test execution` could just be an intermittent error and a retry would work...

[2020-03-17 22:04] Cyberbeni commented on #202
?

The point is `test_operation_failure_match = /Test operation failure: (?<test_operation_failure>.*)$/ =~ test_session_last_messages` doesn't match anything because the output is different.

[2020-03-17 22:10] lyndsey-ferguson commented on #202
Ah, so your suggesting that `Test operation failure:` is no longer going to happen? You're saying that as a general "catch" this will no longer work?

[2020-03-17 22:14] Cyberbeni commented on #202
Yes.

[2020-03-17 22:15] lyndsey-ferguson commented on #202
I need the sad emoji.

[2020-03-17 22:16] lyndsey-ferguson commented on #202
I'll double check this by running a parallel run with more sims than it should be able to handle. If the pattern has changed, I should no longer see "test operation failure"

[2020-03-18 17:25] santigmagaldi opened #204 "multi_scan + slather => Unit Tests not being considered"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-03-18 17:50] lyndsey-ferguson commented on #204
I have a feeling I know what the problem could be, but could you post the logs by running your lane with the `--verbose` flag?

[2020-03-18 19:19] santigmagaldi commented on #204
@lyndsey-ferguson thanks for your quick answer :)

here is my test lane:
`INFO [2020-03-18 16:04:23.46]: ------------------------------
INFO [2020-03-18 16:04:23.46]: --- Step: default_platform ---
INFO [2020-03-18 16:04:23.46]: ------------------------------
INFO [2020-03-18 16:04:23.48]: Driving the lane 'ios tests' 🚀
INFO [2020-03-18 16:04:23.52]: ------------------------
INFO [2020-03-18 16:04

[2020-03-19 14:09] lyndsey-ferguson commented on #204
I think that the problem is the coverage report is being overwritten by the second batch of tests. Can you add a `testrun_completed_block` (see this [example](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/docs/feature_details/multi_scan.md#examples)) that renames the code coverage file to something else?

This is a bug, but the above should be a workaround that you ca

[2020-03-19 17:14] alexnot95 commented on #188
Hi @lyndsey-ferguson
sure here is the log, also maybe it conflicts with xchtmlreport library?

`INFO [2020-03-19 09:50:24.92]: Running Tests: ▸ Touching TestProjectUITests.xctest (in target 'TestProjectUITests' from project ‘TestProject’)
INFO [2020-03-19 09:50:25.09]: ▸ Test build Succeeded
+--------------------+---+
|      Test Results      |
+--------------------+---+
| Number of tests    | 0 |

[2020-03-19 18:02] santigmagaldi commented on #204
Sorry to bother, but I'm not sure how to rename the file. Could you please help me?

<pre>
test_run_block = lambda do |testrun_info|
  failed_test_count = testrun_info[:failed].size
  passed_test_count = testrun_info[:passing].size
  try_attempt = testrun_info[:try_count]
  batch = testrun_info[:batch]

  # UI.abort_with_message!('You could conditionally abort')
  UI.message("\ὠA everything is fin

[2020-03-19 21:15] lyndsey-ferguson commented on #204
You can use [`File.rename`](https://ruby-doc.org/core-2.5.1/File.html#method-c-rename) to rename the old file to the new file.

For example, maybe your code coverage file is at `test_output/code_coverage.xml`. Your block above would be:
[code]

[2020-03-20 20:11] lyndsey-ferguson commented on #202
Yes, the errors have changed.
I see this:
[code]
[code]

[2020-03-23 15:29] karthick-nagendran opened #205 "only_testing option is not working when using it for Test Bundle"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the example [Fastfile](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/fastlane/Fastfile)
- [x] I have removed any sensitive data such as passwords,

[2020-03-23 17:08] lyndsey-ferguson commented on #205
Can you include the logs using the `--verbose` flag?

One note, this error that you included is a big "flag" that something is wrong:
[code]
It cannot find the tests in the `xctest` test bundle so it cannot expand the `testable` into a list of all the tests. Have you enabled testability for your configuration and target?

See [this example](https://github.com/lyndsey-ferguson/fastlane-plugin-test_

[2020-03-23 17:56] karthick-nagendran commented on #205
Hi, @lyndsey-ferguson thank you so much for the quick suggestion it worked, Yes I haven't enabled the testability after enabling it worked to me.

But still, have one doubt out of curiosity when I used the same **only_testing** parameter in the scan it worked but not in multi_scan why? and even in multi_scan if I specify a single test "MyAppUITests/LoginTests/testVerifyLogin" like this it got work

[2020-03-23 18:03] lyndsey-ferguson commented on #205
`scan` passes the command directly to `xcodebuild`. `multi_scan` on the other hand, needs to grab "all" the tests for the given "testable" in order to break it up into batches and separate them into separate output sub-directories for different test targets.

*TL;DR* `scan` is simpler and doesn't need to perform so much pre-processing.

[2020-03-23 18:03] #205 closed

[2020-03-23 18:03] lyndsey-ferguson commented on #205
Closed issue as testability wasn't enabled.

[2020-03-23 20:09] lyndsey-ferguson commented on #188
A couple of things:

1. there is something seriously wrong, there is a lot of information missing that I cannot account for. I can tell that these tests are found:

[code]
But then all the logs that would normally happen are missing until this:
[code]
I cannot do anything without this information. I don't know why the tests didn't get through. I don't see the calls to `scan`, I don't see the call

[2020-03-24 22:32] lyndsey-ferguson commented on #202
Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2020-03-25 07:01] b3hni4 opened #207 "Double param `-resultBundlePath` in xcargs with multi_scan"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-03-25 12:16] lyndsey-ferguson commented on #207
@b3hni4 do you have a Scanfile with result_bundle set to true? You can see that the table summarizing the parameters includes a `result_bundle` option set to true.

[2020-03-25 12:46] b3hni4 commented on #207
No, we don't have a Scanfile. But we do use setup_jenkins in which the default value for result_bundle is set to be true.

[2020-03-25 13:27] b3hni4 commented on #207
We set the result_bundle to false in setup_jenkins and now we it works.

[2020-03-25 14:07] lyndsey-ferguson commented on #207
Yes, I'll have to make sure that I clear out that environment variable (and others that I may not be clearing out and need to).

[2020-03-25 22:02] lyndsey-ferguson commented on #207
@b3hni4 can you test this with `result_bundle` set to `true` in the `setup_jenkins` action?

If so, modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag).

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).

[2020-03-25 22:51] jordan-romeroporter-earnin opened #209 "multi_scan is timing out with no error logs"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-03-26 00:05] jordan-romeroporter-earnin opened #210 "Getting bundler: failed to load command inconsistently"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-03-26 07:34] b3hni4 commented on #207
@lyndsey-ferguson I have tried it with default value for result_bundle to be True and it works. Thanks.

[2020-03-26 08:28] alexnot95 commented on #188
Hi @lyndsey-ferguson I think we can close this issue and merge the fix, because looks like the problem on our internal side, thanks a lot for your help :)

[2020-03-26 13:29] #178 closed

[2020-03-26 13:29] #180 closed

[2020-03-26 13:29] #183 closed

[2020-03-26 13:29] #188 closed

[2020-03-26 13:29] #189 closed

[2020-03-26 13:34] lyndsey-ferguson commented on #178
Fixed in [v3.10.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.10.0)

[2020-03-26 13:35] lyndsey-ferguson commented on #180
Fixed in [v3.10.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.10.0)

[2020-03-26 13:35] lyndsey-ferguson commented on #183
Fixed in [v3.10.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.10.0)

[2020-03-26 13:35] lyndsey-ferguson commented on #188
Fixed in [v3.10.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.10.0)

[2020-03-26 13:35] lyndsey-ferguson commented on #189
Fixed in [v3.10.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.10.0)

[2020-03-26 17:34] lyndsey-ferguson commented on #209
1. If you use `scan` instead, does it work?
2. Do you have access to the logs, like `/Users/distiller/project/build/DerivedData/test_output/g47/CompanyUITests-batch-1/Company-Dev.test_result/Staging/1_Test/Diagnostics/CompanyUITests-7C6C0BFE-B1CE-4FF2-A238-467E17A59945/CompanyUITests-5EBDFE08-8DFC-4CED-9AE3-7B5DDB5D300A/Session-CompanyUITests-2020-03-25_215136-do8fuT.log`? If so, are there any clu

[2020-03-26 17:37] lyndsey-ferguson commented on #210
[code]
Is telling you that tests failed. If you set [`:fail_build`](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/v3.8.15/lib/fastlane/plugin/test_center/actions/multi_scan.rb#L34) to `false`, it won't throw when your tests failed.

[2020-03-26 17:39] lyndsey-ferguson commented on #210
As to why you're getting this:
[code]
I'm not sure yet.

[2020-03-26 17:39] lyndsey-ferguson commented on #210
This has a similar pattern:
https://github.com/fastlane/fastlane/issues/11071

[2020-03-26 18:18] jordan-romeroporter-earnin commented on #209
1. Haven't tried yet.

2. Because it times out, it isn't able to save that log as an artifact so we do not get access to it

[2020-03-26 18:19] lyndsey-ferguson commented on #209
Okay, I would try running `scan` first. If that also hangs, you may want to try to put together your only simple call to `xcodebuild` and see if it can run.

[code]

[2020-03-26 18:40] #207 closed

[2020-03-26 18:40] lyndsey-ferguson commented on #207
Fixed in [v3.10.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.10.0)

[2020-03-26 21:24] jordan-romeroporter-earnin commented on #210
So for the first part, we need the fail_build so that way it returns the correct exit code & prevents the flow of execution on our CI

[2020-03-26 22:20] jordan-romeroporter-earnin commented on #210
For your follow up - the changes we made were double checked and didn't seem to have any syntax issues - however we did include --verbose into every single run of multi_scan...so I wonder if that's inducing it?

[2020-03-26 22:29] lyndsey-ferguson commented on #210
Try without it and let me know if that changes anything

[2020-03-26 22:41] jordan-romeroporter-earnin commented on #210
We're confident that's the problem.

[2020-03-26 22:41] #210 closed

[2020-03-26 22:41] jordan-romeroporter-earnin commented on #210
However, is there a way to keep --verbose without it failing?

[2020-03-26 23:27] lyndsey-ferguson commented on #209
I could swear that you sent emails that without `--verbose` this works fine. If so, can you try with `--scan` as well? If it also hangs, then that is an Issue that you should open with fastlane folks.

[2020-03-30 21:50] lyndsey-ferguson commented on #119
@technomark I've finally been able to look into this. Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2020-03-30 22:04] lyndsey-ferguson commented on #119
@aslattum I'd also appreciate your feedback, (see my above comment).

[2020-03-31 20:54] lyndsey-ferguson commented on #71
This is no longer happening! 🎉

[2020-03-31 20:54] #71 closed

[2020-03-31 20:59] lyndsey-ferguson commented on #177
Fixed with #188

[2020-03-31 20:59] #177 closed

[2020-03-31 21:00] lyndsey-ferguson commented on #204
@santigmagaldi did this help?

[2020-04-01 22:15] lyndsey-ferguson opened #212 "multi_scan does not run tests for Xcode 11's test plans"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-04-01 22:46] lyndsey-ferguson commented on #212
Fixed by [v3.10.1](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.10.1)

[2020-04-01 22:46] #212 closed

[2020-04-03 22:18] lyndsey-ferguson commented on #204
This is tricky. I don't know where these code coverage reports are generated, but I do see that there is this command:

https://forums.developer.apple.com/thread/124329

[code]
This may help me generate some sort of report or way of merging the reports.

[2020-04-08 22:11] lyndsey-ferguson commented on #204
I have enabled code coverage from the Scheme in my example Project. Now trying to run slather to see it loaded. Next step is to put a breakpoint in slather to step through its code to see where it finds the profiling files.

[2020-04-08 22:16] lyndsey-ferguson commented on #204
Okay, it gives me the path of the profile data file. I don't know where the final report is placed, but I can figure that out tomorrow.

[2020-04-10 21:33] lyndsey-ferguson commented on #209
Closed as I cannot reproduce and there is no forthcoming logs to help diagnose this. I can reopen this Issue if more information is provided.

[2020-04-10 21:33] #209 closed

[2020-04-10 21:35] lyndsey-ferguson commented on #119
Fixed in [v3.10.2](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.10.2)

[2020-04-10 21:35] #119 closed

[2020-04-10 21:36] lyndsey-ferguson commented on #202
Fixed in [v3.10.2](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.10.2)

[2020-04-10 21:36] #202 closed

[2020-04-11 14:47] lyndsey-ferguson commented on #204
@santigmagaldi I have some higher priorities to take care of. If you want to take a crack at this, you're welcome to open a pull request. I started looking into how slather collects and processes profile files, but haven't made progress.

You may want to review the slather code to investigate how you can process the code coverage files.

See this PR for how I _started_ to see if I could incorporat

[2020-04-11 14:47] #204 closed

[2020-04-14 12:32] karthick-nagendran opened #215 "Feature Request: capability of splitting the test cases as batch"
### Feature Request

#### Motivation Behind Feature
I have the test cases where it's interlinked if test cases A is logged in then test B should be ideal if test case B is logged in then test case A should be ideal, but.
Currently, the number of test cases is splitting equally by the random manor and distributing to the simulators.
It will be greater if I have control of splitting the batches by u

[2020-04-14 16:54] bpoplauschi opened #216 "multi-scan parallel run with 1+ devices will only run on one of those devices"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-04-14 17:13] lyndsey-ferguson commented on #215
So, basically, you want to provide the batches to be tested on the different iOS Simulators yourself, yes? To override the automated splitting/batching?

[2020-04-14 17:44] lyndsey-ferguson commented on #216
Hello @bpoplauschi, this seems like a bug to me. It _should_ create 3 clones of each of the devices that you provided and split the tests on each device.  I don't have a lot of time to look at it right now, but I would hazard a guess that what is happening is that I am not providing the `:destination` correctly (only specifying one simulator) where the [clone simulators are being set up](https://g

[2020-04-14 19:05] karthick-nagendran commented on #215
Yes, exactly that's the point.

[2020-04-17 22:28] lyndsey-ferguson commented on #215
First +karthick-nagendran, thank you for the suggestion on how to make the plugin better. I welcome every opportunity to improve my fellow developer's lives :smile:.  Your suggestion is a good one and I can imagine other people would also appreciate being able to control which tests are grouped together.

Unfortunately, my focus cannot be on adding new features to the plugin at this time. Would yo

[2020-04-21 13:20] HimanshiTFT opened #217 "on using 'parallel_testrun_count' to run tests in parallel. Even when all my test pass after retry, the build still says test have failed."
multi_scan(scheme: 'automationTests', device: 'iPhone 6', derived_data_path: 'build', clean: true, code_coverage: false, try_count: 3, batch_count: 4, parallel_testrun_count: 4)

On adding parallel_testrun_count, failed test before retry also considered for the final result.

[2020-04-21 17:39] lyndsey-ferguson commented on #217
Hello @HimanshiTFT, thank you for using the plugin and giving me the opportunity to fix a potential problem.

Can you please update your Issue to answer the questions that appear in new bug reports?  Here is a copy for your convenience:

[code]

It would also help if you could provide a sample project that exhibits the behavior? I run tests locally on a sample project of my own and have not anythi

[2020-04-28 20:29] lyndsey-ferguson opened #218 "Feature Request: convert the resultant xcresult to a list of passed/failed tests"
### Feature Request

#### Motivation Behind Feature

People don't always want junit results, and they want to use the xcresult bundles. See this tweet:

<img width="588" alt="Screen Shot 2020-04-28 at 4 29 25 PM" src="https://user-images.githubusercontent.com/5741516/80534575-75433200-896d-11ea-9d8e-57af529dcc52.png">

#### Feature Description

Add a new action that can return a list of failed/pas

[2020-04-30 22:04] kcatigbe opened #219 "NoMethodError: [!] undefined method `-' for nil:NilClass when using invocation_based_tests"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-05-01 13:35] lyndsey-ferguson commented on #219
[Here](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/helper/multi_scan_manager/retrying_scan_helper.rb#L248) is the problem. This should have been:
[code]

Sorry. It may take me a few days to update this. If you really need this right away, you can make a fork with this fix and point your Pluginfile there.

Pluginfile:
[code]
You could

[2020-05-01 13:49] kcatigbe commented on #219
Thanks for the fast response.
I'll give the change a test locally

[2020-05-01 17:28] kcatigbe commented on #219
@lyndsey-ferguson Ok, so after a bit of testing, the above solution doesn't seem to work for this particular use-case.

it appears that the `:only_testing` key is being explicitly set to nil somewhere, and for `@options.fetch(...)` that's a valid value, so it never returns the empty array.

I've adjusted the code in question to:

[code]
And that seems to work.

I've also added a test that covers t

[2020-05-01 17:32] lyndsey-ferguson commented on #219
It may be here: https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/helper/multi_scan_manager/retrying_scan_helper.rb#L89

[2020-05-01 19:56] kcatigbe commented on #219
Ok, so I was able to find the root of where the nils are getting set, here: https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/actions/multi_scan.rb#L32

Since that line is pulling the `values` property of a `FastlaneCore::Configuration` object, it gets all keys / values even if they are unset - these eventually translate to `nil` when passe

[2020-05-02 15:29] lyndsey-ferguson commented on #219
@kcatigbe I believe I fixed it.

Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2020-05-02 17:38] kcatigbe commented on #219
Ok that fixed the NoMethodError, but now seeing a different crash from `move_single_testable_reports_to_final_location`:

<details><summary>expand</summary>
<pre>
ESTCNBY41D9JGML:Mobile.iOS.***** karlcatigbe$ bundle exec fastlane test --verbose
[✔] 🚀
INFO [2020-05-02 12:54:36.65]: Successfully loaded custom action '/Users/karlcatigbe/Development/Mobile.iOS.*****/fastlane/actions/create_sonar_cover

[2020-05-02 17:41] kcatigbe commented on #219
Some details about the project itself, if it helps:

There's a single Scheme that has 4 test targets -
- Unit Test target
- Main App UI Test Targets
- Seperate framework for Network Requests
- Additional framework for a propiertary API

Right now I am just testing with one UI Test suite, and the network framework tests.

The network framework exclusively had tests from Quick/Nimble, but I added a

[2020-05-03 01:57] lyndsey-ferguson commented on #219
A sample project would be very helpful, thanks!

[2020-05-03 20:06] kcatigbe commented on #219
@lyndsey-ferguson sorry for the delay - here's a sample app that I can replicate the issue with:
https://github.com/kcatigbe/sample_app

This more-or-less replicates the build structure of my production app.

Let me know if you need more info, in the meantime I will keep digging as well.

[2020-05-04 21:39] lyndsey-ferguson commented on #219
Hello @kcatigbe I ran the sample project and did not have any problems (other than having to remove the `override` keyword).
[output.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/4577718/output.txt)

[2020-05-06 05:33] vdavydovHH opened #221 "It seems test plans still doesn't work"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-05-06 15:09] kcatigbe commented on #219
@lyndsey-ferguson - It looks like you're running Xcode 11.3 - I'll try that version

[2020-05-06 17:18] lyndsey-ferguson commented on #221
Hello @vdavydovHH, thank you for letting me know about this issue. I am not able to spend a lot of time right now, so what ever you can do to help me with this would help get this through faster.

1. while it seems that what you have should work, as you've found it uses Test Plans, but can you please confirm that the `myScheme` scheme is actually using test plans?

2. If the answer to the above is

[2020-05-06 17:20] lyndsey-ferguson commented on #219
What version of Xcode are you using? I'd like for `test_center` to work for as many versions of our tools as possible (within my limits 😄)

[2020-05-07 03:58] intoxicated opened #222 "multi_scan fail with Error: cannot find xctestrun file ''"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-05-07 04:01] #222 closed

[2020-05-07 13:07] kcatigbe commented on #219
I was using 11.4.1 on Catalina.

This is a tricky one, honestly...  sometimes it succeeds just fine, and other times it fails with the `cp_r` exception.

Something I noticed, is that when it fails, the output directory has a "different" structure:
[code]

when it passes, the structure is "similar" except that the folder is named after the batch run, i.e.
`TestCenterTestingUITests-batch-1`

The jUn

[2020-05-07 13:29] vdavydovHH commented on #221
1. Yes.
2. I attach mini project where problem is reproduced. It should helps you to understand where is the issue.
[MultiScanTestPlans.zip](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/4593185/MultiScanTestPlans.zip)

Some useful commands to interact with project:

// Ruby Gems
bundle install
// Cocoapods
bundle exec pod install
// Test with multi_scan
bundle exec fastlan

[2020-05-07 13:30] lyndsey-ferguson commented on #219
Thanks for the information and for your own investigation. I have already added code in the past to handle how different versions of Xcode behave. Hopefully, I can get this fixed over the weekend.

[2020-05-07 13:30] lyndsey-ferguson commented on #221
Thank you! Hopefully I can make progress on fixing this over the weekend. 🤞

[2020-05-08 18:04] lyndsey-ferguson commented on #217
After waiting for more than 2 weeks for more information on this issue, I am closing this issue. If the above logs and other environmental data can be provided, along with a sample project/Fastfile, I can re-open this Issue.

[2020-05-08 18:04] #217 closed

[2020-05-09 00:05] lyndsey-ferguson commented on #221
@vdavydovHH can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2020-05-09 01:02] lyndsey-ferguson commented on #219
I downloaded Xcode11.4.1 and have reproduced the same error with your sample project. Next step, understand what is going on.

[2020-05-09 01:17] lyndsey-ferguson commented on #219
Ok, here is what I think it is happening.

1. For the invocation tests, the first `xcresult` file is placed in the output folder.
2. For the subsequent tests, the `xcresult` tests are placed in "batch" subfolders in the output folder.
3. When a "batch" wraps up, the command tries to merge all the `xcresult` files in the subfolders into a final `xcresult` file in the output folder.

**Result**: as

[2020-05-09 16:20] lyndsey-ferguson commented on #219
@kcatigbe I believe that I have fixed it. Can you remove your `Gemfile.lock` file and test it with the [above instructions](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/219#issuecomment-622971030)?

[2020-05-12 06:21] vdavydovHH commented on #221
@lyndsey-ferguson It doesn't help :(
Attach .txt file as you requested
[logs.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/4613747/logs.txt)

[2020-05-12 10:59] lyndsey-ferguson commented on #221
Are there any more logs? This is showing a crash, but I don't know what is the problem. Please include the surrounding terminal output so I can have more context.

🙏

[2020-05-12 13:17] vdavydovHH commented on #221
Ok!
It is a full log from terminal
[terminalOutput.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/4615801/terminalOutput.txt)

If you need anything else - tell me
I'll try to get i :)

[2020-05-12 15:00] kcatigbe commented on #219
Thanks @lyndsey-ferguson  - I'm not seeing the failure on my sample app anymore either.

I've pointed my actual app at the new branch and will be running it through it's paces on our CI system continuously and will let you know if anything crops up, but so far so good

[2020-05-13 17:50] kcatigbe commented on #219
Ok so good news and bad news - Good news is, I get through the complete multi-scan without any more ruby exceptions.

The bad news (and this isn't related to the original issue) -
The tests that are being re-executed are incorrect -

For example, when I have this set of failed tests:
[code]

The worker threads get the following suites to retest:
[code]

As you can see, they are incorrectly named;

[2020-05-13 18:37] lyndsey-ferguson commented on #219
So, you're saying that `junit_helper` sees all those tests under the DummyTests test suite. I may be able to debug this if the sample you provided has different test suites.

[2020-05-13 22:34] lyndsey-ferguson commented on #219
I'm not familiar with invocation tests, so forgive me if this is a stupid question. What would be the correct only testing parameter be?

-`TestCenterTestingTests/RandomInvocationTests.Invocation_Test__Random_Test_Failure__Should_Fail_Randomly`
-`DummyTests/TestCenterTestingTests/RandomInvocationTests.Invocation_Test__Random_Test_Failure__Should_Fail_Randomly`
-`DummyTests/RandomInvocationTests.In

[2020-05-13 22:35] lyndsey-ferguson commented on #219
I think the failure to re-run invocation tests would be a separate issue than this and prefer to finish this one up and then work on that one.

[2020-05-13 22:45] lyndsey-ferguson commented on #221
Ok. I could swear that I actually had it running, but now it is failing in the same way for me as it is for you. It is stating that the Scheme is not set up for test plans. I will have to look at this later, maybe this weekend.

[2020-05-13 22:55] lyndsey-ferguson commented on #221
Ok, I had a few mins, it seems that `scan` is sending the `-scheme` flag, and `multi_scan`  is not....

[2020-05-13 23:07] lyndsey-ferguson commented on #221
Ok, the problem is that `multi_scan` is supplying the `xctestrun` file, which normally _should_ mean that we don't need the Scheme. AND, I believe my prior change was to actually use the smarts of the system to get the tests from the xctestrun file, not the test plan. So, maybe I do not need to pass down the -testPlan option to the testing either.

I have to confirm that the xctestrun file has the

[2020-05-13 23:07] lyndsey-ferguson commented on #221
Here's the location where the scheme is _Not_ added to the `xcodebuild` command: https://github.com/fastlane/fastlane/blob/67267841a84f6781c6b1663bc2492b0cc0bcefef/scan/lib/scan/test_command_generator.rb#L34

[2020-05-13 23:15] lyndsey-ferguson commented on #221
Hm. I suppose you can change the test plan to be something other than the default for the scheme, right?

[2020-05-14 05:44] vdavydovHH commented on #221
Schemes can have multiple test plans. The default test plan is selected if another test plan is not specified. So I can add another testplan and it won't be default.

On my main project I have two test plans - default and not. I tried to select not default test plan but result is the same - `xcodebuild: error: The flag -testPlan <name> cannot be used since the scheme does not use test plans`.

If

[2020-05-14 11:18] hannahw1ll1ams opened #224 "Can i retry a class of tests if one of its tests fails, rather than just retrying the single test?"
### Question Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I searched for [existing GitHub issues

[2020-05-14 11:50] lyndsey-ferguson commented on #221
Okay, thanks for the information. My thought is that _if_ multi_scan has to build, like in your case, and `testplan` is specified, to grab the tests from that plan and update the `only_testing` option.

[2020-05-14 11:57] lyndsey-ferguson commented on #224
It seems that you're looking to manage what tests are re-run as in [this feature request](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/176). OR, you're looking for an option ALWAYS retry the entire testcase. Either way, no multi_scan doesn't supply this out of the box..

You could use a `test_run_block` to get the junit xml report file paths and remove it between test run

[2020-05-14 12:56] vdavydovHH commented on #221
Okay!
I will wait news from you after the weekend:)

[2020-05-14 20:05] kcatigbe commented on #219
Thanks @lyndsey-ferguson.  I agree that this is a new issue.

If you'd like I can open another issue regarding the test suites to keep this topic uncluttered

[2020-05-14 20:07] lyndsey-ferguson commented on #219
Yes, I would appreciate it if you could open up another issue for the failure to re-run the failed invocation tests.
Also provide more info on [my above question](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/219#issuecomment-628280910) (to the new Issue).

[2020-05-18 23:23] lyndsey-ferguson commented on #221
@vdavydovHH if you would like to test the work-in-progress that seems functional, you can update your Pluginfile:
[code]

I have a [couple of things left to do](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/projects/4).

[2020-05-21 07:22] vdavydovHH commented on #221
Hi!
I tried to test your changes
Now i get next message: `Error: Test Plan does not exist at path './myTestPlan.xctestplan'`
Is it normal for this moment?
I am absolutely sure that the test plan exists at the path

[2020-05-21 12:09] lyndsey-ferguson commented on #221
Hi @vdavydovHH, you've found a bug, thanks for testing!

[2020-05-21 13:03] lyndsey-ferguson commented on #221
It works fine for me with the sample. Can you share your actual `Fastfile` and testplan? Or, are you specifying any path with `./`?

[2020-05-23 02:01] lyndsey-ferguson commented on #221
@vdavydovHH I've pushed up some updates with more verbose logging. Can you re-run this, but include the `--verbose` flag, and then attach the logs?

[2020-05-23 02:02] lyndsey-ferguson commented on #221
gem 'fastlane-plugin-test_center', :git => "https://github.com/lyndsey-ferguson/fastlane-plugin-test_center.git", :branch => "issue-221-testplan-crash-when-building"

You _may_ need to remove the `Gemfile.lock` file to get the actual latest commit (I've squashed my commits)

[2020-05-25 07:04] vdavydovHH commented on #221
Hi @lyndsey-ferguson
Thanks for your attention!
I cannot reproduce this problem at the sample app as you
It happens on my main project

Now I get next error: `Error setting value './../TestPlans/myTestPlan.xctestplan' for option 'testplan'`

Today I will try modify sample app to you will be able reproduce this issue

Sorry for the delay, I've been very busy in the last few days :(

[2020-05-25 09:31] vdavydovHH commented on #221
Ok
I replaced .xcodeproj file into the folder with other project files as I have on my main project
Also I corrected Podfile to pass build phase
Now I get the same issue as on my main project

[MultiScanTestPlans 4.zip](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/4676392/MultiScanTestPlans.4.zip)

PS I changed iOS version. Now it is 13.4.1. If you need another version you

[2020-05-27 17:16] vdavydovHH commented on #221
Hi @lyndsey-ferguson
Do you have any ideas about the message `Error setting value './../TestPlans/myTestPlan.xctestplan' for option 'testplan'` ?

[2020-05-27 18:14] lyndsey-ferguson commented on #221
Hello @vdavydovHH, no not yet. I'll need to run your sample to get a clue: I hope that I'll be able to do that this weekend.

[2020-05-27 23:27] intoxicated commented on #74
[code]

It ran fine for local but failed for circleci environment.

[2020-05-28 00:05] intoxicated commented on #74
local
[code]

ci
[code]

[2020-05-28 00:33] lyndsey-ferguson commented on #74
@intoxicated can you create a new issue for this? Please make sure you follow the instructions when creating the issue to help me debug the issue faster.

[2020-05-29 21:42] lyndsey-ferguson commented on #221
@vdavydovHH can you try it again? Remove the `Gemfile.lock` file to ensure you get the freshest commit.

[2020-05-30 11:56] vdavydovHH commented on #221
I don't have this problem at last commit
But there is another issue
I have two test plans
And now default test plan is always selected regardless of which test plan I specified

[2020-05-31 15:46] lyndsey-ferguson commented on #221
I created a second test plan in the sample you gave me, updated the `Fastfile` to select that one, and when running `multi_scan`, it selected my second one.

I've updated the logging for this branch, can you remove your `Gemfile.lock`, run `bundle install` and retry your fastlane?

[2020-06-01 12:10] vdavydovHH commented on #221
Okay
Forget my last comment about default and non-default test plans, it is a bullshit I guess
I have new idea about how it happens but not why it happens

I've created two test plans
When I select 'TestPlan1' and run lane with --verbose flag I get next message:

<details>
<summary>First message</summary>
[code]
</details>

When I select 'TestPlan2' and run lane with --verbose flag I get next mess

[2020-06-01 14:13] raviTokopedia commented on #203
I am facing the same problem and this solution doesn't seem to work for me.

[code]

It retries all the tests in the suit instead of just the failed one. When I checked the junit file, it seems to have no logs, even though the parallel testing option is disabled.

[code]

It reports 0 number of tests which should have been 2 and 0 number of failures which should have been 1.
<pre>
** TEST EXECUTE

[2020-06-01 14:15] Ravi61 commented on #203
I am facing the same problem and this solution doesn't seem to work for me.

[code]

It retries all the tests in the suit instead of just the failed one. When I checked the junit file, it seems to have no logs, even though the parallel testing option is disabled.

[code]

It reports 0 number of tests which should have been 2 and 0 number of failures which should have been 1.
<pre>
** TEST EXECUTE

[2020-06-01 15:09] lyndsey-ferguson commented on #203
Can you create a new issue with this info included? Make sure you look at the template as you create the ticket to make sure you provide everything.

[2020-06-01 15:20] Ravi61 opened #225 "All the tests are retried instead of just the failed one when -quiet passed in the :xcargs"
### Question Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I searched for [existing GitHub issues

[2020-06-01 15:20] Ravi61 commented on #203
Done, here https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/225 @lyndsey-ferguson

[2020-06-01 20:35] lyndsey-ferguson commented on #225
Hi @Ravi61, thanks for the report. In the template for creating issues, there are instructions for providing more info (which I need).

I need the full logs with the `--verbose` flag, and I need the output of `fastlane env`.

AND, if you _really_ want me to solve this faster, a sample with a project and Fastfile will help alot.

[2020-06-01 22:14] lyndsey-ferguson commented on #221
Oh, there are two `xctestrun` files for each test plan. How devious of Apple.

[2020-06-01 22:25] lyndsey-ferguson commented on #221
Ok, I've updated the code to use the `xctestrun` associated with the test plan. Please test and let me know. One thing to keep in mind, you haven't told me what the actual latest problem is.

# 😉

[2020-06-02 05:34] intoxicated commented on #225
I just looked for this. If you set `try_count` to 0, test will not be executed at all. `try_count` is a bit misleading here

[2020-06-03 13:54] vdavydovHH commented on #221
Could you tell me, how TestCollector seeks test plans?
On my main project I get next message:
[code]

On the sample app TestCollector finds test plans and all works correct. I can't modify sample so that TestCollector doesn't find test plans

[2020-06-03 21:46] lyndsey-ferguson commented on #176
Note: I've had one person requesting this behavior.

[2020-06-03 21:47] lyndsey-ferguson commented on #225
@intoxicated what would you expect when you tell `multi_scan` to try to test zero times? This is not "retry" but "try".

[2020-06-04 03:36] intoxicated commented on #225
Based on your documentation, its `The number of times to retry running tests via scan`

[2020-06-04 10:54] Ravi61 commented on #225
Hey, sorry I could not update details here due to personal commitments, but I tried this in a sample app and it worked perfectly fine. Upon checking the diff, I found that we were passing `-quiet` argument in `xcargs` parameter, which somehow was causing this issue. Removing that argument worked. If you'd still like anymore details, let me know.

@intoxicated maybe if you are facing the same issue

[2020-06-04 13:16] lyndsey-ferguson commented on #225
@intoxicated excellent point, I'll look into either making this truly "retry" or "try": either in the docs or the code. I'll admit, I'm not completely focused these days with what's going on in the world and didn't look deeply into this...would you create a separate ticket to keep Issues focused and keep me focused too?

@Ravi61 I think that `multi_scan` should at least issue a very big warning if

[2020-06-04 22:08] lyndsey-ferguson commented on #225
@intoxicated I think that the way that I've been using this and promoting this is that "try" is the number of tries. It seems to me that it would make sense to update the docs, add code to throw in a warning that "0" (zero) is an invalid `:try_count` and reset to to 1. Thoughts?

[2020-06-05 12:21] lyndsey-ferguson commented on #224
Closing this Issue as I haven't received a response from the author and I don't think there is any more to discuss: we have a workaround, and there is already a feature request.

[2020-06-05 12:21] #224 closed

[2020-06-05 18:25] lyndsey-ferguson commented on #221
@vdavydovHH have you had a chance to look at the Scheme that is being referenced? Any chance you could include it?

[2020-06-06 23:39] #219 closed

[2020-06-06 23:40] #225 closed

[2020-06-07 00:04] lyndsey-ferguson commented on #225
Fixed in [v3.10.3](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.10.3)

[2020-06-07 00:04] lyndsey-ferguson commented on #219
Fixed in [v3.10.3](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.10.3)

[2020-06-08 05:48] vdavydovHH commented on #221
Hi @lyndsey-ferguson !
I'm so sorry about the so big delay, I was very sick last week :(
Today I'll try to understand where is the problem and I'll keep you up the date

[2020-06-08 12:54] lyndsey-ferguson commented on #218
[Here](https://www.chargepoint.com/engineering/xcparse/) is an article describing the steps that have to be performed to get the actual data. Starting with:
[code]

[2020-06-08 15:19] sdaniel55 opened #228 "Extension of resultBundlePath has changed in fastlane/scan for Xcode 11"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-06-08 17:47] lyndsey-ferguson commented on #221
I am sorry to hear that you were very sick, but the fact that you're writing that you "were" means that you are better: that is great news.

Whatever you can send me for the scheme or the run of the `testplans_from_scheme` action would help me a lot. I want to make sure that this issue is fixed before merging this to master and releasing it.

Also, I saw the ❤️  sponsorship!! Thank you so much! Se

[2020-06-08 17:53] lyndsey-ferguson commented on #228
Thanks for hunting down the change that broke this! I won't be able to tackle it right away, but I will soon. A temporary fix would be to downgrade the version of fastlane you want to use.

[2020-06-08 17:56] sdaniel55 commented on #228
@lyndsey-ferguson I can open a PR if you'd like, already fixed it in my forked repo 🙂 just need to figure out how to test it 😄

[2020-06-08 18:00] lyndsey-ferguson commented on #228
That would be great! I looked at your change every so briefly and it looks like there may be a possibility of a problem with simply changing the file extension (and yes, I would like logic to be there for checking the version of Xcode as you have done).

The problem, _I think_, is that I think I recall that I make a symbolic link file `.result_bundle` to the actual `.xcresult` bundle as I didn't w

[2020-06-09 05:53] sdaniel55 commented on #228
I think I remember reading about that 🤔 I'll try to look into it a bit more today and make sure this doesn't break anything 🙂

[2020-06-09 09:41] vdavydovHH commented on #221
Okay
I guess all my problems with test plans running were because of my bad

But it seems there is some problem with .xcresult reports when parallel_testrun_count is enabled -reports are not created

Could you check it?

[2020-06-09 10:23] vdavydovHH commented on #221
Ohhh...
It is again my fault

So
I believe you could merge this branch to master
If I'll find other problems I'll let you know

Thank you, great job! 👍

[2020-06-09 23:02] jcharr1 opened #230 "mullti_scan "Error: xcresult bundle not found" because merged xcresult file is now in subfolder"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-06-09 23:10] #221 closed

[2020-06-09 23:15] lyndsey-ferguson commented on #221
Fixed in [v3.11.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.11.0)

[2020-06-09 23:28] lyndsey-ferguson commented on #230
Thanks for the bug report @jcharr1, good to see you again even under these circumstances.

Does `multi_scan` generate the same error if you use batches and no parallel runners? What about no batches and no parallel runners?

Could you attach a log generated by running your fastlane with the `--verbose` flag? My time is more limited these days so whatever you can do to help would be appreciated!

[2020-06-10 00:15] jcharr1 commented on #230
Hi @lyndsey-ferguson. I hope you and yours are doing ok. We're still kickin' over here so far.

I get the same error if I use batches and no parallel runner but not if I don't use either. Here are verbose logs for the 3 configs I tried.

[multi_scan-logs.zip](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/4755474/multi_scan-logs.zip)

[2020-06-11 08:23] vdavydovHH opened #231 "MultiScan cannot find scheme with test plans when container for scheme is a xcworkspace"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-06-11 16:55] lyndsey-ferguson commented on #231
Thanks, I have a crashing bug that will be of higher priority than this one. As a work-around, you can update your Fastfile to passing the `:only_testing` result of the new `test_options_from_testplan` action if you know the path of your testplan.

[2020-06-11 22:15] lyndsey-ferguson commented on #230
Okay. So it is not failing for me. Based on your logs, I guessed that maybe spaces in file paths contributed to the problem so I changed my `:output_directory` to have spaces. No change.

Can you post a sample `Fastfile`? Maybe you can modify the sample "AtomicBoy" project I have for this repo?

[2020-06-15 19:51] 0rtm opened #232 "multi_scan picks wrong testplan when there are multiple test runs"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-06-16 17:06] lyndsey-ferguson commented on #232
@0rtm thanks for the report!

When developing this feature, the person helping me had this setup and I put in [this logic](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/commit/1fd6f8d85627c7e6dfd03f38924017f6d5ed0ad8#diff-b1627ddcb767b566591f53bc2ae1fcffR249) to detect that. It _should_ modify which test runs it is looking at.

Can you provide the details that were included in th

[2020-06-16 17:07] lyndsey-ferguson commented on #230
@jcharr1 is there anyway that you can provide a sample?

[2020-06-16 18:30] jcharr1 commented on #230
@lyndsey-ferguson sorry, I must have missed the notification email for your reply the other day. This is a commercial app, so I have to be very careful how much of the project files I share. I'll do some more testing on my end and try out the sample project. I'll let you know how it goes and work on figuring how much I can share (the vast majority of the Fastfile should be ok).

[2020-06-16 18:32] lyndsey-ferguson commented on #230
I totally understand. The main thing I need is something that I can use to reproduce the error. I suggested the sample hoping that you could tweak it to be similar enough to replicate the problem.

Thanks!

[2020-06-16 18:33] lyndsey-ferguson commented on #232
Oh, and @0rtm , great avatar!

[2020-06-16 18:54] 0rtm commented on #232
Unfortunately I cannot provide you with the details of the original run.
However, I setup an example project https://github.com/0rtm/multi_scan_test with a configuration very similar to the original.
Problem is I cannot make it produce multiple `testrun` files. While my original project has it happen every time `multi_scan` is run

[2020-06-16 19:17] lyndsey-ferguson commented on #232
`fastlane env` will only show the versions of tools you are using.

From my experience, I was able to get multiple `xctestrun` files when the Scheme had multiple test plans. If your Scheme has multiple testplans, do you get multiple `xctestrun` files when you press Command-Shift-U?

[2020-06-16 19:38] 0rtm commented on #232
I am getting just one

[2020-06-16 19:56] 0rtm commented on #232
I figured out what was wrong. My test plans are named `UITests` and `Localization_UITests`.
So the regex `#{Scan.config[:derived_data_path]}/Build/Products/*#{scan_options[:testplan]}*.xctestrun"` gets both of them, and picks just the first one

[2020-06-16 20:01] lyndsey-ferguson commented on #232
So, how Xcode generates the name of the `xctestrun` files is a bit of a mystery to me. Can you provide the names of both of the `xctestrun` files?

[2020-06-16 20:19] 0rtm commented on #232
So here is the test runs Xcode generated.
<img width="811" alt="Screen Shot 2020-06-16 at 4 13 44 PM" src="https://user-images.githubusercontent.com/14303393/84823540-82cf7c80-afec-11ea-8600-9da8644300f9.png">

multi_scan invocation:
[code]

terminal output:
[code]
So It chooses `LocalizationUITests` over `UITests` as it is  precedes alphabetically

[2020-06-16 21:28] jcharr1 commented on #230
I'm still poking around, but so far I've found that this starts happening for me in v3.10.3 of the plugin. If I downgrade to 3.10.2 this problem doesn't happen and all the test result files end up in my root test_output folder.

[2020-06-16 21:34] lyndsey-ferguson commented on #230
I imagine that the problem is in [here](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/compare/v3.10.2...v3.10.3#diff-8e5624a2717b59358a99a62cd65433a3R215-R247)

[2020-06-17 00:39] lilyball opened #233 "Simulator logs can't be collected because Scan uses the wrong device"
### New Issue Checklist

- [ ] Updated `fastlane-plugin-test_center` to the latest version
- [X] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [X] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [X] I have removed any sensitive data suc

[2020-06-17 07:19] vdavydovHH commented on #232
This may sound silly, but try double quotes for the test plan parameter

[2020-06-17 17:25] lyndsey-ferguson commented on #233
Hello @lilyball, thanks for the report. The reason why `destination` is used is that `multi_scan` clones the chosen simulator for each `parallel_testrun` so that the subset of tests runs _only_ on that simulator. No other tests will run on that simulator.

I'm not familiar with the "slide to unlock" step, are you saying that is part of the `scan` action itself? And that it is using the "device" op

[2020-06-17 19:41] lilyball commented on #233
"Disable 'Slide to Type'" is just one of the steps scan seems to run by default. It involves writing a `defaults` key on the simulator, prior to running the tests. I'm not really sure why it does this but it's just an example of an action that Scan applies to `Scan.devices` that is supposed to be applied to the test simulator.

More important to me is the fact that logs aren't being collected, bec

[2020-06-17 22:37] lyndsey-ferguson commented on #232
@0rtm, can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2020-06-17 22:59] 0rtm commented on #232
It works correctly now!

<img width="811" alt="Screen Shot 2020-06-17 at 6 56 28 PM" src="https://user-images.githubusercontent.com/14303393/84958894-4e32f200-b0cc-11ea-9aaa-7f3823c8cbe3.png">

[code]

[2020-06-17 23:01] lyndsey-ferguson commented on #232
Great, thanks for the quick response!!!!

[2020-06-17 23:01] #232 closed

[2020-06-17 23:08] lyndsey-ferguson commented on #232
Fixed in [v3.11.2](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.11.2)

[2020-06-17 23:41] lyndsey-ferguson commented on #233
Ok, I've duplicated the problem, and made significant progress. However, the logs are not brought into the final output folder when I'm collating the results. I have to fix that.

[2020-06-17 23:46] lyndsey-ferguson commented on #233
If you want to observe the lack of a crash, modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2020-06-18 00:42] lilyball commented on #233
It didn't work.

It's still using the wrong device for the "Disabling 'Slide to Type'" and "Collecting system logs" steps. Not only that, but it's failing after merging the result bundles.

There's a crazy amount of console output, including a lot of details about the project, so I really don't feel comfortable attaching it. But the failure looks like

[code]

and then of course fastlane itself fa

[2020-06-18 00:58] lyndsey-ferguson commented on #233
There should be a stack crawl providing more information of what crashed without exposing any of your data.

`scan_devices` is a method, and I think you're right about how to clear it out. The crash was for the build step.

I won't be able to look into it more today, hopefully I'll get some more time tomorrow evening

[2020-06-18 12:36] lyndsey-ferguson commented on #233
I have not been able to make it crash, here is my `fastlane env`:

<details><summary>✅ fastlane environment ✅</summary>

### Stack

| Key                         | Value                                             |
| --------------------------- | ------------------------------------------------- |
| OS                          | 10.15.5                                           |
| Ruby

[2020-06-18 21:51] lilyball commented on #233
The "Error setting value" line has no stack trace. The final "Error: xcresult bundle not found" has the following trace:

<details><summary>Stack trace</summary>

[code]

</details>

Looking at that actual line, it's

[code]

Looking above this, I think this is the problem:

[code]

The `||` here should be an `&&` in order to match the behavior described by the comment.

---

In any case, this is

[2020-06-19 00:59] lyndsey-ferguson commented on #233
Hello @lilyball, I believe that I have fixed the issue now. Would you please test it again?  If so, please modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file (removing any sensitive data) to this issue

[2020-06-19 11:11] vdavydovHH opened #237 "If use test plans all tests in its class will be retried when only one test in class failed"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-06-19 13:08] lyndsey-ferguson commented on #237
@vdavydovHH Good morning (that's the time here)! As my time is very limited currently, I won't be able to spend a lot of time investigating. You can help to speed things up by providing some logs, and if I cannot figure out the problem from the logs, I'll need a sample project.

Can you attach the logs by running your lane with the `--verbose` flag and attach the resulting output here? You can fee

[2020-06-19 13:11] lyndsey-ferguson commented on #230
@jcharr1 I _may_ have fixed it while looking at another Issue. While I was making progress on their Issue, they faced the same crash. Do you want to try using the fix that I set up for them?

If so, please modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please l

[2020-06-19 17:56] jcharr1 commented on #230
@lyndsey-ferguson That branch fixed it for me. Thanks. 😀

[2020-06-19 18:03] lyndsey-ferguson commented on #233
@lilyball thanks to your testing, I've also fixed another Issue that someone was facing and that I could not reproduce; *thanks!*

[2020-06-22 10:12] gadireddi226 commented on #230
@lyndsey-ferguson It fixed it for me too. Thanks for good work ! It will be probably included in v v3.11.3, right ?

[2020-06-22 12:27] lyndsey-ferguson commented on #230
@jcharr1 @gadireddi226 I'm still waiting for the other bug reporter to test that issue's fix.  I've made a separate PR for that, can you test it? If it works, I'll merge and release it.

Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know

[2020-06-22 12:51] gadireddi226 commented on #230
Tested the branch => "issue-230-xcresult-not-found-crash" . I had both problems(issue-230-xcresult-not-found-crash and issue-233-prepopulated-devices-sent-to-scan) and now everything works fine.

[2020-06-22 13:04] lyndsey-ferguson commented on #230
Ok, great, I'll merge and release this so you no longer have the crash!

[2020-06-22 13:05] #230 closed

[2020-06-22 13:08] lyndsey-ferguson commented on #230
Fixed in [v3.11.3](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.11.3)

[2020-06-22 19:37] lyndsey-ferguson commented on #237
@vdavydovHH bump ⬆️

[2020-06-22 19:38] lyndsey-ferguson commented on #233
@lilyball could you give me an idea if you'll be able to test this week? I can merge on Friday without your testing, but I would **love** a confirmation that this fixes the issue that you were seeing.

[2020-06-23 13:55] vdavydovHH commented on #237
Sorry for the delay, I tried to figure out what the problem is so that you have more information

I suppose that the problem occurs if you disable some tests in the test plan. I have attached logs where you will see how testLaunchPerfomance_4 is called twice.
I also attached a test app where you can reproduce this behavior

[logs.zip](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center

[2020-06-23 17:11] lyndsey-ferguson commented on #237
Ok, thank you!

[2020-06-23 22:27] lyndsey-ferguson commented on #237
@vdavydovHH, can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2020-06-24 08:06] vdavydovHH commented on #237
Okay
Looks like a fix 👍

[2020-06-24 13:19] lyndsey-ferguson commented on #231
Hello, @vdavydovHH!

Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2020-06-24 13:26] lyndsey-ferguson commented on #231
And, thanks again for the sample projects, it really makes it easy to fix!

[2020-06-25 23:25] lyndsey-ferguson commented on #216
@bpoplauschi
Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2020-06-26 09:21] vdavydovHH commented on #231
No problem!
It seems that everything all right 👍

Could you release this fix and https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/237 today?

[2020-06-26 15:01] lyndsey-ferguson commented on #237
Fixed in [v3.11.4](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.11.4)

[2020-06-26 15:01] #237 closed

[2020-06-26 15:01] lyndsey-ferguson commented on #233
Fixed in [v3.11.4](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.11.4)

[2020-06-26 15:01] #233 closed

[2020-06-26 15:02] lyndsey-ferguson commented on #231
Fixed in [v3.11.4](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.11.4)

[2020-06-26 15:02] #231 closed

[2020-06-26 15:02] lyndsey-ferguson commented on #216
Fixed in [v3.11.4](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.11.4)

[2020-06-26 15:02] #216 closed

[2020-06-27 05:45] bpoplauschi commented on #216
@lyndsey-ferguson I really appreciate you looking into this issue and fixing it. I no longer work on that project, so I can't try out the fix, but maybe one of my former teammates can look into this: @nfagen1 @jleyrer @akoller-vs (Hi guys!).

[2020-06-27 13:48] lyndsey-ferguson commented on #216
@BohdanOrlov thank you for connecting me with your former team members -- hopefully when they test, they will see that it is fixed.

I hope that you're enjoying your current project!

[2020-06-27 19:13] lyndsey-ferguson opened #242 "Survey for the next feature"
I am looking to prioritize the next feature for my test_center plugin and wanted to get your input. As you've interacted with the plugin before, I wanted to reach out to you to see if you had a preference for one of these features, or a suggestion for something I hadn't considered yet.

I greatly appreciate you taking the time to share your thoughts. It is only one question and shouldn't take more

[2020-06-29 16:07] vdavydovHH opened #243 "Test plans don't work again with the same error"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-06-29 17:15] lyndsey-ferguson commented on #243
Thanks @vdavydovHH , this is so embarrassing. Hopefully, I can fix it tonight.

[2020-06-30 11:51] lyndsey-ferguson commented on #243
The [PR](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/pull/236) for fixing how sim logs are collected caused this problem.

[2020-06-30 11:59] lyndsey-ferguson commented on #243
@vdavydovHH can you test this? It was a foolish mistake and I fixed it quickly.

Modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, pleas

[2020-06-30 12:00] lyndsey-ferguson commented on #243
Actually, I need to fix this right away, and I know that this code needs to be changed. So test it to confirm for me, I have to merge it now.

[2020-06-30 12:02] lyndsey-ferguson commented on #243
Fixed in [v3.11.5](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.11.5)

[2020-06-30 12:02] #243 closed

[2020-06-30 21:59] lilyball commented on #233
I apologize I was unable to look at this last week because of Apple's developer conference. I'll be looking at the published version sometime soon and will let you know if I still have issues.

[2020-06-30 22:01] lyndsey-ferguson commented on #233
No worries @lilyball ! Given what is going on in the world I was worried that you were tied up with something else, less pleasant. 👏

[2020-07-01 20:35] zardazare opened #246 "multi_scan issue: NoMethodError: [!] undefined method `delete_element' for nil:NilClass"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-07-01 23:03] lyndsey-ferguson commented on #246
Hello @zardazare, I cannot reproduce this issue.

Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

I've added some debugging to try and isolate why this is crashing when collating html. Please attach your logs to this Issue so that I can figure out what is going on.

[2020-07-02 10:32] zardazare commented on #246
Pluginfile modified per instructions, here is the log with --verbose mode on.

<details>
<pre>bundle exec fastlane test_XXX --verbose
DEBUG [2020-07-02 03:28:11.42]: Checking if there are any plugins that should be loaded...
DEBUG [2020-07-02 03:28:11.42]: Loading 'fastlane-plugin-test_center' plugin
INFO [2020-07-02 03:28:11.42]: gem 'fastlane-plugin-test_center' is already installed
+-----------

[2020-07-04 18:05] lyndsey-ferguson commented on #246
Hello @zardazare, thank you for providing the logs! The output indicates that there is something seriously wrong with either the report files that `:multi_scan` is processing *or*, you have discovered an edge case that `:multi_scan` is currently incapable of handling.

The testcases in the Junit phase of the collation are empty. I don't know how this even works with such a report, but I've added l

[2020-07-04 18:10] lyndsey-ferguson commented on #246
Another thought, would you be able to include the html and junit files in this Issue? If you are concerned about exposing sensitive information, please change the names of the test target, test suites, test cases and failure text, but in a way so that it makes sense.

For example, if I have a test suite named "NASARocketLauncherTests", I would name it "NRLTests" so that I, as your helper, can diff

[2020-07-07 18:25] zardazare commented on #246
Hey @lyndsey-ferguson, great insights about this issue.
Yes, you are correct - I've provided Fastfile in a previous comment and I didn't use :testrun_completed_block. The reason why I missed to include all logs is that I think it is not necessary.  I'm monitoring pipeline executions with fastlane for a while and testrunner didn't crash during execution, all other logs also were good.

After a thor

[2020-07-07 19:22] lyndsey-ferguson commented on #246
Thanks for the update! I would like to have multi_scan determine if the file had been indeed corrupted, maybe that is something I can do in the future.

I'm going to close this issue as you've resolved it!

[2020-07-07 19:22] #246 closed

[2020-07-07 19:52] nathan-149 commented on #222
Any answers on this? I have the same error.

[2020-07-07 20:11] nathan-149 opened #247 "-parallel-testing-enabled flag always set to "NO""
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-07-07 21:52] lyndsey-ferguson commented on #222
Can you please open a new issue? Please use the issue placeholder text as a guide to provide the necessary logs, environment, etc.

[2020-07-07 21:56] lyndsey-ferguson commented on #247
Please provide this info as suggested by the placeholder text that was present when this Issue was first created:
[code]

Note that `-parallel-testing-enabled` feature is meant to run 3 simulators for the same batch of tests, which interferes with the goal of `:parallel_testrun_count`, which is to divide all your tests into 3 batches and run each batch of tests on its own simulator, in parallel.

[2020-07-08 00:47] lilyball commented on #233
Finally tried it v3.11.5. I don't know what's going on but the .logarchives it produced were completely empty. Nothing at all in the folders. I don't know why the stderr of the log collect is piped to /dev/null, it seems like it would be useful output to have. It does appear to be referencing the correct device UUID (finally) so I don't know why there's nothing here. Because test_center moves the

[2020-07-08 11:53] lyndsey-ferguson opened #248 "Logs from simulators empty"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-07-08 17:14] lchinigioli-eb commented on #248
I've noticed this issue as well. Note that setting `include_simulator_logs` to false still attempts to include them. If you look at the logs, it says `include_simulator_logs = true`

[2020-07-08 17:53] lyndsey-ferguson commented on #248
I also see this. The simulator logs are empty. I stopped the code before any moving of the logs was done and they were still empty. I thought, "perhaps there is some relationship to the existence of the sims they came from", and stopped deleting them after the runs were done, "still empty".

[2020-07-08 18:07] lyndsey-ferguson commented on #248
They are also empty when I do not specify the parallel test runs option.

[2020-07-08 18:09] lyndsey-ferguson commented on #248
When I use plain scan, the logarchive is also empty.

[2020-07-08 18:10] lyndsey-ferguson commented on #248
I'll update my environment info and @lchinigioli-eb @lilyball, can you compare?

[2020-07-08 18:12] lyndsey-ferguson commented on #248
See the details of the Environment section of the Issue description above.

Use this command:
[code]

[2020-07-08 18:46] lyndsey-ferguson commented on #248
Also, @lchinigioli-eb @lilyball, can you try with just plain `scan` to see if the logs are empty?

[2020-07-08 19:34] lyndsey-ferguson commented on #248
I upgraded to Xcode 11.5, and the same error is occurring on an iOS 13.5 simulator.

[2020-07-08 20:21] nathan-149 opened #249 "multi_scan using xcpretty?"
### Question Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I searched for [existing GitHub issues

[2020-07-08 20:33] nathan-149 commented on #247
I see, that makes a lot of sense to me. Thanks so much!
However, when I set parallel_testrun_count to 4, it still only completes all tests on one simulator. Is this unexpected?

[2020-07-08 20:45] nathan-149 commented on #249
Nevermind, this makes sense to me. it spins up multiple simulators without the built in xcode parallelization, so using xcpretty will work on the separate simulators :)

[2020-07-08 20:45] #249 closed

[2020-07-08 20:50] lyndsey-ferguson commented on #249
Yup, it works with `xcpretty`!

[2020-07-08 20:55] lyndsey-ferguson commented on #247
You should see 4 simulators running and the logs in the console indicating which "worker" it ran on....unless you don't have even 4 tests to run.

[code]

[2020-07-08 20:56] lyndsey-ferguson commented on #247
Please include the logs and I may be able to provide more info/help.

[2020-07-08 21:57] nathan-149 commented on #247
Thanks for the reply. The output right now doesn't show any workers for me (not even [worker 1]), just standard xcpretty output. Unfortunately I can't include logs because this is for a large company pipeline - thank you though, I'll look more into it!

[2020-07-08 22:12] lyndsey-ferguson commented on #247
Are you comfortable with Ruby? I can offer you some guidance on how to debug it.

[2020-07-08 22:15] lyndsey-ferguson commented on #247
One thing I would suggest is to use the `--verbose` flag, and watch for any weird issues.

Keep in mind that you can simply remove sensitive info by renaming tests, targets, paths, etc.

[2020-07-08 23:43] lilyball commented on #248
I'm getting a blank logarchive with a regular `scan()` too. If I run the same log collect by hand (since the sim still exists after the scan) I get

[code]

This has a successful error code though. And if I do `log show` instead I get a complete failure as

[code]

I don't know if the `log show` error is actually useful though, it's complaining that it can't connect to `logd` which isn't surprisin

[2020-07-09 00:42] lilyball opened #250 "HtmlTestReport::TestSuite::remove_duplicate_testcases can throw exception in some cases"
### New Issue Checklist

- [ ] Updated `fastlane-plugin-test_center` to the latest version (I verified the code though)
- [X] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [X] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [X] I have r

[2020-07-09 00:52] lilyball commented on #248
I validated that xcode is indeed booting the device, running tests, and shutting it down again before fastlane has a chance to collect logs. I also validated that booting the device first keeps it booted. The problem, however, is fastlane is still passing the `--standalone` flag to `xcrun simctl spawn` and that makes the command fail regardless of the booted status.

This plugin could still work a

[2020-07-09 01:01] lilyball commented on #248
I filed https://github.com/fastlane/fastlane/issues/16800 against fastlane.

[2020-07-09 07:02] nathan-149 commented on #247
Thanks for being so helpful!!! I'm not that familiar with Ruby, but will try my best to debug it for now, and let you know soon! :)

[2020-07-09 12:05] lyndsey-ferguson commented on #247
@nathan-149 Okay, good luck! I suggest that you take a look at [the debugging guidelines](https://github.com/fastlane/fastlane/blob/master/ToolsAndDebugging.md) put out by fastlane to start. That's how I started learning and contributing to fastlane (and then creating plugins).

I'm going to close this issue as I cannot reproduce it and you're not authorized to share info that will help.

[2020-07-09 12:05] #247 closed

[2020-07-09 12:08] lyndsey-ferguson commented on #248
Thanks for investigating this so thoroughly and filing the bug report for fastlane.

[2020-07-09 18:19] lilyball commented on #250
Looks like this may actually be a "nearly 100% issue" for us rather than an intermittent issue, when running our full UI test suite.

[2020-07-10 12:10] lyndsey-ferguson commented on #250
Hello, @lilyball. This is my top priority for `multi_scan` at the moment as it is a crash that is disrupting any use of the tool.

While I work on this, can you look at this [Issue](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/246#issuecomment-652927220)? Someone with a similar error was able to provide the logs and it seems that some outside process was actually interfer

[2020-07-10 13:37] lyndsey-ferguson commented on #250
@lilyball, can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2020-07-10 19:56] lilyball opened #252 "multi_scan interprets skip_build differently than scan does"
### New Issue Checklist

- [X] Updated `fastlane-plugin-test_center` to the latest version
- [X] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [X] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [X] I have removed any sensitive data suc

[2020-07-10 20:19] lilyball opened #253 "multi_scan expects `xcresult` in output_types, but scan doesn't"
### New Issue Checklist

- [X] Updated `fastlane-plugin-test_center` to the latest version
- [X] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [X] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [X] I have removed any sensitive data suc

[2020-07-10 20:31] lilyball opened #254 "multi_scan doesn't collate results when it uses a single batch"
### New Issue Checklist

- [X] Updated `fastlane-plugin-test_center` to the latest version
- [X] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [X] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [X] I have removed any sensitive data suc

[2020-07-10 21:57] lyndsey-ferguson opened #255 "Support test-configurations"
### Feature Request

#### Motivation Behind Feature

#### Feature Description

Add the option to handle the new `xcodebuild` `test-configurations` option.

#### Alternatives or Workarounds

[2020-07-10 22:11] lyndsey-ferguson commented on #218
I've created the project [Get tests from xcresult](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/projects/5)

[2020-07-11 01:16] lilyball commented on #250
I ran a full build of the test suite with your modified plugin, no failure. I then ran a build with `collate_reports: false` so I could inspect the individual html files. There's a lot so I couldn't look at everything, but every test failure I looked at had associated failure details.

So this doesn't actually tell me what was failing. However, PR #251 should fix the actual crash, with the `unless

[2020-07-11 23:32] lyndsey-ferguson commented on #248
@lilyball, can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2020-07-14 23:18] lyndsey-ferguson commented on #254
@lilyball can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2020-07-14 23:38] lyndsey-ferguson commented on #254
I moved this back into progress as I've discovered an issue.

[2020-07-15 00:09] lyndsey-ferguson commented on #254
Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2020-07-15 13:20] lyndsey-ferguson commented on #242
Here are the results!
![Screen Shot 2020-07-15 at 9 18 20 AM](https://user-images.githubusercontent.com/5741516/87549749-31162280-c67c-11ea-8275-fe94d0f22170.png)

There was a tie between "A new action that reads the passing and failing tests from an xcresult bundle" and "Generate a single Junit report for all test targets rather than a report for each". I'll break the tie and choose the one that

[2020-07-15 13:20] lyndsey-ferguson commented on #242
Thank you everyone!

[2020-07-15 13:20] #242 closed

[2020-07-15 22:43] lyndsey-ferguson commented on #253
So, the option to pass `xcresult` to `:output_types` was something that I added while `scan` was still writing out `result_bundles`. I didn't like that there were two different ways to get these types of output types, so I added `xcresult`.

`scan` then changed the file name of the result bundle to use the `xcresult` file extension. That broke what people were expecting from `multi_scan` so I twea

[2020-07-16 12:51] lyndsey-ferguson commented on #253
@lilyball, I have fixed the warning from `scan` regarding the `xcresult` output type. Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it

[2020-07-16 15:10] lchinigioli-eb commented on #248
I've done so and I'm still getting the same issue (w/ multi_scan):
[code]

[2020-07-16 15:15] lyndsey-ferguson commented on #248
@lchinigioli-eb are you saying that you updated your Gemfile as per the instructions, ran `bundle install` and `simctl` is still spawning with the `--standalone` flag?

If so, can you re-run it with the `--verbose` flag and provide the logs? Also, can you include the output from `fastlane env` here to help me confirm that you have everything I think you have?

[2020-07-16 15:26] lchinigioli-eb commented on #248
@lyndsey-ferguson let me double check

[2020-07-16 18:39] lchinigioli-eb commented on #248
@lyndsey-ferguson sorry for the delay. It turned out that I had some problems and I wanted to clear the ground a bit before providing information. So, we have this problem while using `multi_scan` for UITests. Notice (in the attached logs) that `include_simulator_logs` is set to `true` even when we disabled it. I've updated the PluginFile using `gem 'fastlane-plugin-test_center', :git => "https://

[2020-07-16 21:55] lyndsey-ferguson commented on #248
@lchinigioli-eb a couple of things:

1. I don't think that the `--verbose` flag is being used, the logs don't have anything that I can use (it would tell me where it is incorrectly setting scan values, etc.).
2. Does your Gemfile.lock have this at the top?
[code]
3. You indicate that your call to `multi_scan` has `include_simulator_logs: false` (or doesn't specify it all). I see from your logs tha

[2020-07-17 12:18] lchinigioli-eb commented on #248
@lyndsey-ferguson 👋  :
1. I'm having problems on the `circleci` instance. Not sure why the `--verbose` doesn't work there. Maybe it's been overwritten by any configuration. Let me check. (Things work nice locally 😕 ).
2. My Gemfile.lock has that exact same thing:
[code]
3. Our Scanfile:
[code]
It doesn't have a lot of things. We introduced it as an attempt to disable the simulator logs, but still

[2020-07-17 12:54] lyndsey-ferguson commented on #248
@lchinigioli-eb thank you for your patience and persistence. I believe that I have found the issue.

Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

The git commit SHA in your `Gemfile.lock` should be `2ada8c7010d9c2fb050808e81067fab933878d32`.

With regards to the `--verbose` flag

[2020-07-17 13:26] lchinigioli-eb commented on #248
@lyndsey-ferguson I had already modified the plugin file per your instructions. This way, bundle install didn't modify the SHA in `Gemfile.lock` to `2ada8c7010d9c2fb050808e81067fab933878d32`.
Is this correct?
`gem 'fastlane-plugin-test_center', :git => "https://github.com/lyndsey-ferguson/fastlane-plugin-test_center.git", :branch => "issue-248-fix-empty-sim-logs"`

[2020-07-17 13:28] lyndsey-ferguson commented on #248
What happens is that sometimes Gem will see that you already have a reference to the branch, and it won't update the SHA. I _believe_ that you can edit the commit SHA in the `Gemfile.lock` file directly to be the desired value. Or, if you don't mind, for testing purposes, just delete the `Gemfile.lock` file and `bundle install`.

[2020-07-17 13:58] lchinigioli-eb commented on #248
So, the bad news is that I have a huge mess on my end because I cannot get the `verbose` flag to take effect. The good news is that it worked with your latest fix!

[faslane_env_7_17.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/4938185/faslane_env_7_17.txt)
[output_7_17.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/4938186/output_7_17.txt)

[2020-07-17 14:04] lyndsey-ferguson commented on #248
So, your logs indicate that turning off `include_simulator_logs` worked and it _didn't_ try to get the logs. Can you test turning **on** `:include_simulator_logs` by setting it to true and confirm it doesn't `xcrun simctl spawn --standalone ...`?

[2020-07-17 14:31] lchinigioli-eb commented on #248
This looks good to me. I've got a different error but might be on my end:
[code]
[output_include_sim_logs.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/4938341/output_include_sim_logs.txt)

[2020-07-17 14:55] lchinigioli-eb commented on #248
Pretty much same failure at `circleci`, still unrelated with the original problem
[code]

[2020-07-17 21:38] lyndsey-ferguson commented on #252
Okay, [here's](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/41) where I introduced investigated this issue. I misunderstood what `:skip_build` does.  It seems that the proper fix is just to remove that option when it is calling `scan`.

[2020-07-17 22:09] lyndsey-ferguson commented on #252
@lilyball, I believe I have addressed your concerns. Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2020-07-21 00:52] lyndsey-ferguson opened #261 "tests_from_xctestrun fails when there are spaces in a target's name"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-07-21 12:38] lyndsey-ferguson commented on #248
@lilyball I would appreciate it if you could test this: I'd like to confirm that this addresses your concerns. If you're too busy right now, I can merge this on Friday and we can open up another issue if there are remaining problems.

[2020-07-21 12:38] lyndsey-ferguson commented on #254
@lilyball I would appreciate it if you could test this: I'd like to confirm that this addresses your concerns. If you're too busy right now, I can merge this on Friday and we can open up another issue if there are remaining problems.

[2020-07-21 12:38] lyndsey-ferguson commented on #253
@lilyball I would appreciate it if you could test this: I'd like to confirm that this addresses your concerns. If you're too busy right now, I can merge this on Friday and we can open up another issue if there are remaining problems.

[2020-07-21 12:38] lyndsey-ferguson commented on #252
@lilyball I would appreciate it if you could test this: I'd like to confirm that this addresses your concerns. If you're too busy right now, I can merge this on Friday and we can open up another issue if there are remaining problems.

[2020-07-25 13:55] lyndsey-ferguson commented on #254
Fixed in [v3.11.6](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.11.6)

[2020-07-25 13:55] #254 closed

[2020-07-25 13:55] lyndsey-ferguson commented on #248
Fixed in [v3.11.6](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.11.6)

[2020-07-25 13:55] #248 closed

[2020-07-25 13:56] lyndsey-ferguson commented on #250
Fixed in [v3.11.6](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.11.6)

[2020-07-25 13:56] #250 closed

[2020-07-25 13:56] lyndsey-ferguson commented on #261
Fixed in [v3.11.6](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.11.6)

[2020-07-25 13:56] #261 closed

[2020-07-25 13:56] lyndsey-ferguson commented on #253
Fixed in [v3.11.6](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.11.6)

[2020-07-25 13:56] #253 closed

[2020-07-25 13:56] lyndsey-ferguson commented on #252
Fixed in [v3.11.6](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.11.6)

[2020-07-25 13:56] #252 closed

[2020-07-26 13:39] lyndsey-ferguson commented on #242
BTW, one person wrote:

Keep in mind that `multi_scan` is calling `scan` under the hood, which then calls `xcodebuild test`. So, by running multiple test "tries" in `multi_scan` you are doing the same thing...._unless_ you are calling `scan` with the failed tests in a different CI agent, which would mean that the environment is different (including the CoreSimulator service). Conceptually, you cou

[2020-07-28 05:43] lilyball commented on #248
I finally got a chance to test this, and I finally have logs! 🎉

[2020-07-28 12:22] lyndsey-ferguson commented on #248
Thanks for letting me know!

[2020-07-30 21:24] akoller-vs commented on #216
@lyndsey-ferguson We finally got around to testing this newer version of the plugin and parallel runs with multiple devices appears to be fixed. However, we're seeing that failed tests are only reran when they fail on _all_ selected devices. If a test fails on only 1 device when using multiple `devices`, a retry test run correctly starts but doesn't actually rerun the failed tests.

[2020-07-30 21:34] lyndsey-ferguson commented on #216
@akoller-vs thanks for testing and the info! Would you be able to open up a new issue with any logs/env details that you're allowed to provide?

# 🙏

[2020-07-30 22:03] akoller-vs opened #263 "multi_scan test retrying does not work with multiple devices"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-07-30 22:04] akoller-vs commented on #216
@lyndsey-ferguson Sure, here it is https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/263.

[2020-07-30 22:06] lyndsey-ferguson commented on #216
Thanks, prioritized!

[2020-07-30 23:58] lyndsey-ferguson commented on #242
I created the new action to get test results from your xcresult bundles! 🎉

Check it out [here](https://t.co/d4bVMWuxSo?amp=1)
![Screen Shot 2020-07-30 at 7 55 48 PM](https://user-images.githubusercontent.com/5741516/88985689-f547a380-d29e-11ea-9b48-ecb8f9a05881.png)

[2020-07-30 23:58] lyndsey-ferguson commented on #242
Next up, generate 1 single junit from multiple junits (due to multiple test targets in the same project).

[2020-07-30 23:59] lyndsey-ferguson commented on #218
I created the new action to get test results from your xcresult bundles! 🎉

Check it out [here](https://t.co/d4bVMWuxSo?amp=1)
![Screen Shot 2020-07-30 at 7 55 48 PM](https://user-images.githubusercontent.com/5741516/88985689-f547a380-d29e-11ea-9b48-ecb8f9a05881.png)

[2020-07-30 23:59] lyndsey-ferguson commented on #218
@vdavydovHH this one is for you, you have early access!

[2020-08-02 18:36] lyndsey-ferguson commented on #69
Started [project](https://github.com/fastlane-plugin-test-center/fastlane-plugin-test_center/projects/2)

[2020-08-04 15:49] ssharma0312 opened #266 "Pipeline timeout with 3.11.6 version"
fastlane-plugin-test_center
**Version**: 3.11.6
Xcode Version: 11.4.1
Pipelines: GitLab Pipelines

With latest version 3.11.6, I noticed the pipeline is times out. After completion of test execution for all tests, the Simulators never shutdowns, and pipeline never finishes.  After rolling back to 3.11.5 version, this issues seems to be resolved. Unfortunately, I don't have any logs.

[2020-08-04 16:44] lyndsey-ferguson commented on #266
Hello @ssharma0312. Thank you for reporting a problem. However, I do need more information in order to provide assistance.

1. You didn't state it, but looks like an issue with the `multi_scan` action. Can you confirm?
2. Please re-run your pipeline with the `--verbose` flag and collect the logs. Then, remove any sensitive data (passwords, tokens, private company data, etc.), and paste the logs he

[2020-08-04 20:36] ssharma0312 opened #267 "How to generate code coverage report (preferrable .html)"
I am using this plugin multi_scan action to run tests on 5 parallel simulators, at the end of the regression following reports are generated.

./fastlane/test_output/DemoUITests/report.xcresult
./fastlane/test_output/DemoUITests/report.test_result

./fastlane/test_output/DemoTests/report.xcresult
./fastlane/test_output/DemoTests/report.test_result

When I opened the .xcresult file, I see coverage

[2020-08-04 22:57] lyndsey-ferguson commented on #267
Hello @ssharma0312,

Thank you for the question. I'm not familiar with that particular aspect of coverage in `.xcresult` files. Can you provide instructions on how you got `multi_scan` to generate these reports with coverage?

1. Are there Xcode project configuration changes that you have to make?
2. Can you provide an example of a `Fastfile` that calls `multi_scan` that generates coverage?
3. And

[2020-08-05 16:12] ssharma0312 commented on #267
1. No Xcode Configurations has been modified (Most default)

2.
Fastfile
`TEST_SIMULATORS = ['iPhone 11','iPhone 11','iPhone 11','iPhone 11','iPhone 11']

  desc "Full UI Scan"
  lane :scanUITest do |options|
    sh 'rm -rf test_output/*'

    test_run_block = lambda do |testrun_info|
      failed_test_count = testrun_info[:failed].size
      passed_test_count = testrun_info[:passing].size
      t

[2020-08-05 16:15] ssharma0312 commented on #267
[sampleFastFile.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/5029686/sampleFastFile.txt)

[2020-08-05 17:12] lyndsey-ferguson commented on #267
Thanks, I'll use this to help me look into a solution/suggestion

[2020-08-05 22:27] lilyball opened #268 "test center massively duplicates tests by 32 times"
### New Issue Checklist

- [ ] Updated `fastlane-plugin-test_center` to the latest version (I'm on 3.11.6)
- [X] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [X] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [X] I have removed any se

[2020-08-06 00:19] lyndsey-ferguson commented on #268
Are there 29,148 tests in total, that's how I could imagine 4 workers getting all of those tests.

`multi_scan` finds all the tests to figure how to split them all evenly among the workers, and is overrunning the command line argument limits. In this case, it should be dividing the 96 testsuites into 4 and have each worker figure out the individual tests themselves. It may not be even per worker,

[2020-08-06 00:20] lyndsey-ferguson commented on #268
And this is not just for parallel workers. If this ran through one worker (the default), it would try to send all 29,148 tests to that one worker. Wow.

[2020-08-06 00:21] lyndsey-ferguson commented on #268
But, you write that there is duplication in the tests, I don't know how that happened. That's something else.

[2020-08-06 00:22] lyndsey-ferguson commented on #268
I wrote a bunch of my thoughts that are invalid as I read more and more of your report.

You have 224 unique tests. 96 testsuites.

[2020-08-06 00:46] lyndsey-ferguson commented on #268
Some questions (and please cause this to fail right away with `fail_build: true`):

1. If you remove the `:parallel_testrun_count` option, does the duplication occur?
1. Does this duplication happen on the first run for each worker? (perhaps there is something happening when trying to figure out which tests to run next)

If that doesn't give me any clues, I'm at a loss right now to figure out what

[2020-08-06 00:47] lyndsey-ferguson commented on #268
Even though I didn't understand your finding, some of my early thoughts are something to worry about; if someone does have 24,000 tests, and each worker does try to run 6000 tests each, this thing will fall apart.

[2020-08-06 00:54] lilyball commented on #268
Looking at the ordering of the duplicated tests, I think the tests were duplicated at the test suite level, and most of the time all the duplications occur in one block (e.g. all tests for a given suite are listed, then the sequence repeats N times). And the suites are all traversed in alphabetical order. But in the case where one test suite is a subclass of another, the subclass suite can be repe

[2020-08-06 01:00] lilyball commented on #268
Another quirk: The PR that this job was associated with introduced yet another subclass/superclass pair (actually two but only one is remarkable). This time the subclass doesn't redeclare any superclass tests at all (it's just using some other stuff from the superclass), and the subclass's  name is not suffixed by the superclass's name like the other pairs were. In fact, the subclass's name is suf

[2020-08-06 01:39] lilyball commented on #268
I’m done working for the day but I’ll look into your request for testing again with modified parameters tomorrow.

[2020-08-06 13:10] lyndsey-ferguson commented on #268
@lilyball hold off on my request. I'm putting together a test for your case as I have a suspicion that the [`TestCenter::Helper::TestCollector#expand_testsuites_to_tests`](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/helper/test_collector.rb#L105) is working incorrectly based off of the notes that you provided above.

[2020-08-06 18:23] lilyball commented on #268
[code]

Assuming that `known_test` is a `String` (which I think it is) that would certainly explain why `BarSuite` is pulling in `FooBarSuite`'s tests too.

[code]

If the list of testables includes duplicates this will duplicate the tests too, though I believe `testable` in this case is the suite name and we're not passing in any duplicated suite names.

Also since `xctestrun_known_tests` is a me

[2020-08-06 21:47] lyndsey-ferguson commented on #268
Yes exactly. As it has been a while since I looked at this code, I don't remember how it works. So, I'm writing up comments, asking questions to myself, and answering the questions to make sure I understand everything before making changes.

[2020-08-06 22:35] lyndsey-ferguson commented on #268
`testable` is the xcodeproj name for the test target. So, if your test target was "AllMyTests" and it built "AllMyTests.xctest", it would be the first part of a test identifier. The testsuite is the second part. "AllMyTests/FrenchdoorUITests". The last part of the identifier would be the individual testcases "AllMyTests/FrenchdoorUITests/testThatDoorClosesWithoutSqueaking".

[2020-08-06 22:36] lyndsey-ferguson commented on #268
What I'm wondering is why is there `+=`. If the code is supposed to grab the tests from a testable, why can I not just grab the matching tests in known_tests that have the same testsuite?

[2020-08-06 23:06] lyndsey-ferguson commented on #268
@lilyball can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2020-08-07 01:58] lyndsey-ferguson commented on #268
I just realized that there is a problem with the code if a test identifier of the format `testsuite/testcase` is provided. Should not affect you though.

[2020-08-07 12:58] lyndsey-ferguson commented on #268
Ok, I fixed it.

[2020-08-07 22:47] lyndsey-ferguson commented on #267
Okay, here are some things that you can do:

1. Once you have the file path to the `.xcresult`, you can use the command line tool:
[code]

It will print out the report to the console:
[code]

[2020-08-07 22:48] lyndsey-ferguson commented on #267
2. If you provide the `--json` flag, you'll get a JSON report
[code]

[2020-08-07 22:54] lyndsey-ferguson commented on #267
If you want to run this from within your Fastlane Ruby code, do these steps:
1. At the top of your `Fastfile`:
[code]

2. After `multi_scan` is complete and you have the path to your `.xcresult` file, add this:

[code]

[2020-08-07 22:54] lyndsey-ferguson commented on #267
I believe that should help you, so I'll close this Question. Best of luck! ☘️ !

[2020-08-07 22:54] #267 closed

[2020-08-08 01:40] ssharma0312 commented on #266
#1
Yes, issue in multi_scan

#2
Can you please provide an example where to pass this flag "--verbose"

#3
`:~$ fastlane env
[✔] 🚀
[19:37:03]: fastlane detected a Gemfile in the current directory
[19:37:03]: However, it seems like you didn't use `bundle exec`
[19:37:03]: To launch fastlane faster, please use
[19:37:03]:
[19:37:03]: $ bundle exec fastlane env
[19:37:03]:
[19:37:03]: Get started usin

[2020-08-09 00:22] lyndsey-ferguson commented on #266
Thank you for the response. For #2, when you run your fastlane, for example:

[code]

[2020-08-10 20:45] lilyball commented on #268
I'll test the fix today and let you know.

[2020-08-11 21:16] lilyball commented on #268
I'm finally testing it now, sorry for the delay. It's actually building, which is very encouraging, but it did print out the `Getting tests from xctestrun file at …` and `Found the following tests: …` logs 98 times, which I guess means once for every suite (since I passed 98 suites to it), though each time it found the same set of tests. And it printed out 481 tests, with no duplicates, so that's

[2020-08-11 22:01] lyndsey-ferguson commented on #268
Ok, so it works, but it is wastefully getting tests **multiple** times from the xctestrun file. It could be accessing it outside of the method I changed. I can update that particular function to get the tests once for each xctestrun file.

[2020-08-11 22:01] lyndsey-ferguson commented on #268
Thank you @lilyball, I appreciate your collaboration on this.

[2020-08-11 22:07] lilyball commented on #268
The fastlane job finished executing; 2 tests failed, but that's not the fault of the plugin (heck, flaky tests are a big reason why we're using your plugin in the first place). Worker 1 was only passed 114 tests, which is definitely a lot better than the 7287 tests previously.

It looks like the fix works, except for the duplication of parsing the xctestrun file.

[2020-08-11 22:52] lyndsey-ferguson commented on #268
Would you mind trying again to confirm? The commit SHA in your Gemfile.lock should be `b57ab9cbfc9695b48927a19c03e47b91691e5c0b`

[2020-08-11 23:48] lilyball commented on #268
It's still building but from the output I can see it only parsed the xctestrun file once instead of 98 times, and it produced the same list of 482 tests.

[2020-08-12 11:34] lyndsey-ferguson commented on #268
Fixed in [v3.13.2](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.13.2)

[2020-08-12 11:34] #268 closed

[2020-08-13 17:26] lyndsey-ferguson commented on #176
Hello @pudupa1, I'm tagging you on this feature request as I believe that it is what you want: to alter what is re-run on a subsequent run by testing the entire test class (testsuite). Is that correct?

[2020-08-13 17:26] lyndsey-ferguson commented on #176
Note: this is the second person requesting this behavior.

[2020-08-13 17:33] lyndsey-ferguson commented on #176
Note: @pudupa1, for your case there could be a work around performed by editing the junit file given by the [`testrun_completed_block[:report_filepath]`](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/docs/feature_details/multi_scan.md#parameters) and removing all entries for the given testsuite.

[2020-08-13 18:04] pudupa1 commented on #176
@lyndsey-ferguson thanks for bringing me here! I meant more around the class..
So we have a suit with n classes. Each class has n test cases. When any of the tests cases fail, I was looking for a way to re run all the test cases in that class.

[2020-08-13 18:06] lyndsey-ferguson commented on #176
The structure of a test identifier is 'test target/test suite/test case'.  What you can do is use the failed tests that is given in the call back, pull the test suite and then remove each testcase for the matching test suite from the junit file.

That file is what is used to determine which testcases to re-run.

[2020-08-13 18:13] pudupa1 commented on #176
sure.. ill give this a shot.. pretty new to all this.

[2020-08-13 18:21] lyndsey-ferguson commented on #176
[Here](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/docs/feature_details/multi_scan.md#examples) is an example of the callback (it is not pulling the `:report_filepath` from the Hash (think map/dictionary).

[`collate_junit_reports`](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/actions/collate_junit_repor

[2020-08-14 09:27] selin194 opened #271 "multi_scan does not find any tests when :only_testing is an array of testTargets"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-08-14 12:01] lyndsey-ferguson commented on #271
@selin194 thank you for the bug report, sorry that this is happening. Can you share how you are calling `multi_scan`? Two things changed since 3.13.0: 1) the method in which testsuites are expanded when given to the `:only_testing` option, and 2) how `:parallel_testrun_count` is pinned to the number of tests (i.e. if you only have 2 tests, and ask for 4 parallel test runs, you'll get 2 as 2 parall

[2020-08-14 12:07] lyndsey-ferguson commented on #271
I can [see](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/runs/975612047?check_suite_focus=true) that tests are being picked up by these integration checks.

[2020-08-14 14:10] selin194 commented on #271
Hey! We are calling `multi_scan` with `only_testing`and `parallel_testrun_count`with value 2.

[2020-08-14 14:11] selin194 commented on #271
Not sure I can not see our tests are not executed 🤔

[2020-08-14 14:16] lyndsey-ferguson commented on #271
Yes, but what values are in `:only_testing`? Is it an array of testsuites? An array of 'test-targets/testSuites'? An array of 'testSuites/testcases'?

[2020-08-14 14:17] selin194 commented on #271
We are calling like ` only_testing: 'ourTests',`

[2020-08-14 14:18] lyndsey-ferguson commented on #271
And is that a testSuite?

[2020-08-14 14:18] selin194 commented on #271
It is a scheme

[2020-08-14 14:54] jambudi commented on #271
@selin194  We have a similar design. I have ApplicationUI under our schema and many other different target and when I use `only_testing` that is not picking up our application tests and if I do not use `only_testing`, in that case, it is picking up something random unit tests. I tried to use scan and it works fine with scan

[2020-08-14 14:58] lyndsey-ferguson commented on #271
Okay, that is something that I hadn't anticipated. It makes sense, for now, can you use `3.13.1` or earlier?

[2020-08-14 15:01] jambudi commented on #271
I can try

[2020-08-14 15:40] jambudi commented on #271
I think`:only_tests` doesn't work in 3.13.0

[2020-08-14 15:45] lyndsey-ferguson commented on #271
@jambudi you may be experiencing a different problem from @selin194; she found that `3.13.0` _did_ execute her tests successfully.

[2020-08-14 15:49] jambudi commented on #271
I will open a different ticket. Thank you.

[2020-08-14 17:19] jambudi opened #272 "multi_scan failing because it cannot find the xctestrun file when given test_without_building option"
Lane 👍

[code]
[code]
[code]

	desc "Runs smoke tests ****"
	lane :smoke_tests do

		cocoapods(try_repo_update_on_error: true)

		sh("defaults write com.apple.iphonesimulator ConnectHardwareKeyboard -bool no")

		multi_scan(
			project: File.absolute_path('../ ****.xcodeproj'),
			only_testing: [" ****UITests"],
			app_identifier: " ****",
			scheme: " ****",
			devices: ["iPhone 11 Pro (13.3)"],

[2020-08-14 17:46] jambudi commented on #272
I keep seeing this error as well

`15: from Fastfile:35:in `block (2 levels) in parsing_binding'  35 line number is starting multi_scan function `

[2020-08-14 18:04] jambudi commented on #272
I also removed

`			clean: true,`

[2020-08-14 19:43] jambudi commented on #272
[code]

Scan function works fine

Here multi_scan.

		multi_scan(
			project: File.absolute_path('../ ****.xcodeproj'),
			only_testing: [" ****UITests"],
			app_identifier: " ****",
			scheme: " ****",
			devices: ["iPhone 11 Pro (13.3)"],
			include_simulator_logs: true,
			disable_concurrent_testing: true,
			disable_xcpretty: true,
			output_types:"",
			code_coverage: false,
			derived_data_p

[2020-08-14 19:44] jambudi commented on #272
@lyndsey-ferguson Do you know why multi scan doesn't generate xctestrun file

[2020-08-14 19:46] jambudi commented on #272
I also tried with workspace

[2020-08-14 19:50] lyndsey-ferguson commented on #272
@jambudi I'll respond with a gut level "feeling" right now as I don't have a lot of time to look into this.

I believe that it is failing because you have the `:test_without_building` set to true, and that `multi_scan` is expecting the path to the `*.xctestrun` file.

I think that `scan` is succeeding because it _may_ be finding a random `*.xctestrun` file in your Derived Data folder, and I don't

[2020-08-16 16:01] lyndsey-ferguson commented on #271
@selin194 can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2020-08-16 17:03] lyndsey-ferguson commented on #272
So, I can build for testing using scan, and multi_scan will find the xctestrun file without an issue
[code]

[2020-08-16 17:05] lyndsey-ferguson commented on #272
Can you attach an image of what is in your directory `./fastlane/DerivedData/Build/Products`? There should be an `*.xctestrun` file there, but `multi_scan` is not finding one there.

[2020-08-17 01:09] lyndsey-ferguson commented on #69
[v3.14.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/docs/feature_details/multi_scan.md#better-results-reporting) now supports the collation of junit reports generated for different test targets.

[2020-08-17 09:06] selin194 commented on #271
Hello @lyndsey-ferguson! I tried with this branch and it seems that it worked and all tests are executed. Will it be fixed? Thanks!

[2020-08-17 12:12] #271 closed

[2020-08-17 12:29] lyndsey-ferguson commented on #271
@selin194 thank you for confirming 🎉! This has been released in [v3.14.1](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.14.1)

[2020-08-17 12:31] lyndsey-ferguson commented on #242
Generating 1 single junit from multiple junit reports from different test targets is [complete](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/docs/feature_details/multi_scan.md#better-results-reporting).

[2020-08-17 12:33] lyndsey-ferguson commented on #242
Next up, [control of how the batches are created](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/215).

[2020-08-17 17:53] jambudi commented on #272
`./fastlane/DerivedData/Build/Products` In this directory, I have only one folder that's `/Debug-iphonesimulator `. I think it is not generating *.xctestrun

[2020-08-17 17:57] lyndsey-ferguson commented on #272
Is there any `.xctestrun` file in any directories around that path?

[2020-08-17 19:22] jambudi commented on #272
my assumption:

After I remove : `test_without_building: true`, I can see .xctestrun file under ``./fastlane/DerivedData/Build/Products`.  I am able to run tests without using  test_without_building: true. I don't have answers to why.

[2020-08-17 19:23] jambudi commented on #272
I tested with different alternative and I am sure it is not generating .xctestrun when we have flags true for test_without_building:

[2020-08-17 21:23] lyndsey-ferguson commented on #272
When you remove `test_without_building: true`, you're telling `multi_scan` to go ahead and build your app before running the tests. That _will_ create the `.xctestrun` file.

[2020-08-17 21:24] lyndsey-ferguson commented on #272
Can you include the logs for `scan` when you call it instead of `multi_scan` in your `:smoke_tests` lane?

[2020-08-17 21:40] jambudi commented on #272
[code]

[2020-08-17 21:44] lyndsey-ferguson commented on #272
That's the summary, and I don't see `test_without_building: true` as one of the options. I want to see the `xcodebuild` command too (to see how scan resolves the params).

[2020-08-17 22:27] jambudi commented on #272
xcode command

`From Multi_scan command `

$ set -o pipefail && env NSUnbufferedIO=YES xcodebuild -workspace xxxx.xcworkspace -scheme xxxx -destination 'platform=iOS Simulator,id= xxxx' -derivedDataPath './fastlane/DerivedData' -disable-concurrent-testing -enableCodeCoverage NO -quiet -only-testing: xxxx build-for-testing | tee 'xxxx.log'

`From Scan command `

$ set -o pipefail && env NSUnbuffere

[2020-08-18 00:16] lyndsey-ferguson commented on #272
Why did you close this Issue? Did you find out something?

[2020-08-18 01:14] jambudi commented on #272
@lyndsey-ferguson  I thought I found a workaround for my issue. Never mind I opened again.

[2020-08-18 01:21] lyndsey-ferguson commented on #272
Thanks! I would rather find the root of the problem even if you find a workaround. Others may face the same issue...

Please be patient as I don't have a lot of time I can dedicate to this right now.

Step by step, we will figure it out.

[2020-08-18 12:26] lyndsey-ferguson commented on #272
I cannot reproduce a successful run of scan if I configure my example run of `scan` in the same way that you have:

[code]

And every time it fails to run tests because it cannot find the application. Can you please provide a sample project and `Fastfile` that demonstrates a successful run of this with `scan`? You can use the [AtomicBoy.xcodeproject](https://github.com/lyndsey-ferguson/fastlane-pl

[2020-08-18 15:00] jambudi commented on #272
@lyndsey-ferguson  in our scan file do not have `workspace: File.absolute_path('../AtomicBoy/AtomicBoy.xcworkspace'),` I am not sure because of this you are not seeing error. I will try to reproduce that error as per your suggestion. Currently I am investing other issues

- Skipping selected tests from the schema (in our smoke tests we have 45 test cases and only ran 20 test cases)

-  retry funct

[2020-08-18 16:29] lyndsey-ferguson commented on #272
I'm sorry, but I don't understand. Are you seeing a different issue? If yes, please create a new Issue with all the logs and other data requested in the Issue template 🙏.

[2020-08-19 11:54] lyndsey-ferguson commented on #263
When running `xcodebuild` with multiple devices, as is the case here, the junit report records the testcase results in the same junit report file. It does this without indicating for which device the tests failed or passed.

`multi_scan` is using the junit report to determine which tests failed and which tests passed.

In order to fix this, `multi_scan` would have to call `scan` separately for eac

[2020-08-23 05:37] jambudi opened #275 "Setting option disable_xcpretty to true crashes multi_scan's retry functionality"
All tests are executing as per expectation and at the end, We are seeing this error

+----------```
--------------------------------------+---------------------------------------------------------------------------------------+
|                                                        Summary for scan 2.153.1                                                        |
+--------------------------------

[2020-08-24 02:21] jambudi commented on #275
After `disable_xcpretty: false`, Jenkins's console output is not formatted.  Do you have any suggestions on how to print console output formatted?

[2020-08-24 16:39] lyndsey-ferguson commented on #275
@jambudi can you elaborate? I never use that flag and the Jenkins console output seems normal (?). What are the differences that you see?

[2020-08-24 18:36] jambudi commented on #275
@lyndsey-ferguson  I think everything looks good.  After changing from true to false for `disable_xcpretty: false`. All test results are merged and working as expected. thank you

[2020-08-24 18:43] lyndsey-ferguson commented on #275
Great, thank you! I will change this Issue title so that I prevent that from happening in the action in itself

[2020-08-24 21:29] lyndsey-ferguson commented on #215
[Project](https://github.com/fastlane-plugin-test-center/fastlane-plugin-test_center/projects/3) started

[2020-08-25 14:33] alexnot95 commented on #272
Hi @lyndsey-ferguson I think I have somehow the same issue, so what the problem:
I have localization tests which I run with this Fastlane script:
[code]
So, as you can see I'm using scan to build app only once and then I'm using snapshot for localization ui tests, I want to use multi_scan instead of scan, but when I try to run tests with this script:
[code]
I'm receiving an error:
[code]

I think

[2020-08-25 15:25] lyndsey-ferguson commented on #272
@alexnot95 can you run your lane with the `--verbose` flag and attach the logs to this Issue? Please obfuscate any sensitive data (but keep their uniqueness).

Also, what happens if you run `multi_scan` without `build_for_testing`? Also, what version of Xcode are you using?

[2020-08-26 08:37] alexnot95 commented on #272
@lyndsey-ferguson xcode 11.5 and tried with updated test_center plugin: 3.14.1

with --verbose flag:
[code]

Also, fastlane env:
[code]
</details>

### fastlane gems

| Gem      | Version | Update-Status |
| -------- | ------- | ------------- |
| fastlane | 2.156.1 | ✅ Up-To-Date  |

### Loaded fastlane plugins:

| Plugin                                                | Version | Update-Status |
|

[2020-08-26 12:18] lyndsey-ferguson commented on #272
@alexnot95 I don't know why the `*.xctestrun` file cannot be found. I've put more debugging code to try and determine where the file is.

Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to t

[2020-08-26 12:56] alexnot95 commented on #272
@lyndsey-ferguson
from your branch with --verbose flag:
[code]

[2020-08-26 13:09] lyndsey-ferguson commented on #272
Hm. That's not at all what I expected. I put special code to log when that array of xctestrun files is empty. I've modified the code to put a little more logging.

Can you delete your Gemfile.lock file and, run bundle install, and retry your lane with the `--verbose` flag?

[2020-08-26 13:45] alexnot95 commented on #272
@lyndsey-ferguson is this one you are looking for? deleted Gemfile.lock + bundle install + run fastlane with --verbose from your branch:
[code]

[2020-08-26 13:49] lyndsey-ferguson commented on #272
This is not using the branch; you can see that the message that your code is printing out is **not** the same code that I [wrote](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/compare/issue-272-no-xctestrun-crash#diff-b1627ddcb767b566591f53bc2ae1fcffR282).

Further, I just remembered, the fact that the stacktrace is logging the crash from the released plugin, means that it is not

[2020-08-26 16:33] lyndsey-ferguson commented on #272
I accidentally deleted my comment: but no this isn't the log I'm expecting. At the very least, it should have "Hello!" when it states which xctestrun files it found:

https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/compare/issue-272-no-xctestrun-crash#diff-b1627ddcb767b566591f53bc2ae1fcffR282

Can you make sure that the Gemfile.lock file was removed, bundle install was run, and you

[2020-08-27 10:07] mykola-mokhnach opened #277 "The plugin fails to parse some test reports on Xcode10"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-08-27 10:14] mykola-mokhnach commented on #277
The fastlane script: https://github.com/appium/WebDriverAgent/blob/master/Fastlane/Fastfile

[2020-08-27 13:48] jambudi opened #278 "Fail to create tests results report after running all tests"
[code]

[2020-08-27 16:47] lyndsey-ferguson commented on #277
@mykola-mokhnach could you attach the HTML reports it was trying to collate? That would make this even easier to work on.

[2020-08-27 16:50] mykola-mokhnach commented on #277
Unfortunately these are not preserved on the nodes and it might take quite of a while to retrieve them, since the error seems to be random (e.g. it looks like it only fails collation for failed tests which have `&` character(s) in the failed line) :(

[2020-08-27 19:22] lyndsey-ferguson commented on #277
Hmm...interesting.
Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2020-08-28 15:22] mykola-mokhnach commented on #277
The problem seems to be still relevant: https://dev.azure.com/AppiumCI/Appium%20CI/_build/results?buildId=10868&view=logs&j=c35d0b48-1a81-588f-cb3f-11c0104b4d91&t=395aacd7-0aff-5297-3d48-6c86fbdd1acd

Parent PR: https://github.com/appium/WebDriverAgent/pull/375

[2020-08-28 17:02] reallyyun opened #280 "Feature Request: disconnect hardware keyboard for the clone simulator when run test in parallel"
### Disconnect hardware keyboard for the clone simulator when run test in parallel

#### Motivation Behind Feature
When the simulator clone connected to the hardware keyboard,  type text might fail due to the keyboard in simulator is not pop up successfully during automation test.  Disconnect the hardware keyboard will solve this problem.

#### Alternatives or Workarounds
Modified the simulator_he

[2020-08-28 17:19] lyndsey-ferguson commented on #277
This seems to be a different error: [`Lost connection to testmanagerd`|https://dev.azure.com/AppiumCI/Appium%20CI/_build/results?buildId=10868&view=logs&j=c35d0b48-1a81-588f-cb3f-11c0104b4d91&t=395aacd7-0aff-5297-3d48-6c86fbdd1acd&l=686]. I've seen that when there is something corrupt in the CoreSimulatorService. You could try re-running the job and maybe you'll get a different CI agent, *OR*, you

[2020-08-28 17:23] mykola-mokhnach commented on #277
yes, you're right. Let me intentionally change some condition containing `&` to see if it invokes the collator exception

[2020-08-29 06:01] mykola-mokhnach commented on #277
It seems like I cannot reproduce it anymore, which means the fix is working. Thanks for the quick turnaround.

[2020-09-01 11:57] lyndsey-ferguson commented on #218
Released in [v3.14.2](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.14.2)

[2020-09-01 11:57] #218 closed

[2020-09-01 13:05] lyndsey-ferguson commented on #275
Fixed in [v3.14.2](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.14.2)

[2020-09-01 13:05] #275 closed

[2020-09-02 00:23] lyndsey-ferguson commented on #277
You're welcome!

[2020-09-02 14:56] jambudi commented on #278
@lyndsey-ferguson  `What does  "report.test_result."  does?`

[2020-09-02 14:57] jambudi commented on #278
report.test_result do not have any permission that's causing more problem on Jenkins Machine

[2020-09-02 15:04] jambudi commented on #278
**I do see list of following files**

`report_files      | ["/private/****/report.junit", "/private/****report.html", "/private/****/report.test_result", "/private/****/report.xcresult"] |

`
**And then seeing the following errors**

[code]

[2020-09-03 07:07] jambudi commented on #278
I was able to fix the above issue by adding some sleep in Jenkins and removing

[code]

Expected results: After generating all results, We should delete report.test_result.

[2020-09-03 09:32] EstelaDF opened #281 "No tests found in xctest file when I use multi_scan with cucumberish tests"
### New Issue Checklist

- [ ] Updated `fastlane-plugin-test_center` to the latest version
- [ ] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [ ] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [ ] I have removed any sensitive data suc

[2020-09-03 13:38] ryanpato commented on #280
very interested in this!

[2020-09-03 23:26] dimirey opened #282 "multi_scan crashes when include_simulator_logs is set to true from Circle CI job"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-09-04 20:41] slanska opened #283 "xcov fails when running after multi_scan"
Hi there, First, thanks for the nice plugin.

While struggling with instability of UI tests I came across your plugin and replaced run_tests with multi_scan, using the following config (actual project name is replaced with Foo):

    _test_run_block = lambda do |testrun_info|
      sh('mkdir -p ./temp_build_logs')
      temporary_directory = "./temp_build_logs"

      require "fileutils"
      Fil

[2020-09-05 14:47] lyndsey-ferguson commented on #283
Hello @slanska thank you for using the plugin and for your words of encouragement 😄 .

First, it seems that `xcov` is expecting a `*.xcoverage` file and is not finding it:

[code]
According to `xcov's` code for this failure, it tells you to either [enable 'Gather code coverage'](https://github.com/fastlane-community/xcov#requirements) in your scheme settings or provide the full path to that file.

[2020-09-05 14:54] lyndsey-ferguson commented on #282
@dimirey thank you for the issue report and for using `multi_scan`. I suspect that there is a problem collecting simulator logs as the last step is:
[code]
Before a failure. Now, I don't see that you have requested `include_simulator_logs`, but is that requested in a Scanfile?

If so, can you take that option out to see if that makes a difference?

Of course, `multi_scan` is intended to work with

[2020-09-05 15:27] lyndsey-ferguson commented on #281
@EstelaDF thanks for the report. Can you help clarify some confusion that I am experiencing?

1. You tell `multi_scan` to NOT build_for_testing. That means that there should be an existing `xctestrun` and therefore a `xctest` file. The `xctest` file is what contains the actual tests to be run.

2. You tell `scan` to run. That tells it to build tests if necessary.

3. Question: what happens if you

[2020-09-05 15:29] lyndsey-ferguson commented on #272
I'm closing this issue as I don't have the information I need to reproduce the problem.  I need better logs as I described [above](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/272#issuecomment-680989682) or a complete sample project that exhibits this problem so I can reproduce.

This issue can be reopened if I get that information.

[2020-09-05 15:29] #272 closed

[2020-09-06 02:55] slanska commented on #283
Hi @lyndsey-ferguson !
Thanks for the prompt response!

Yes, I did checked those settings:
- 'Gather code coverage' is checked
- I do not think we use xccoverage files, so there should be none (I will double check that).

Note, that xcov works fine with standard scan (before and after using multi_scan), without further changes in the fastlane script nor Xcode project. So, it should be something re

[2020-09-07 06:40] EstelaDF commented on #281
@lyndsey-ferguson I answer the points one by one:

1. Sorry but I think multi_scan ALWAYS `build_for_testing`, because even If I put `build_for_testing: false` in the lane, the summary for scan puts `build_for_tesing = true`.

<pre>+------------------------------------------------+---------------------------------------------------------------------------------------------+
|

[2020-09-07 12:18] lyndsey-ferguson commented on #281
@EstelaDF thank you for your reply.

Yes, `multi_scan` will *always* build for testing if `:test_without_building` is not set.

When you see:
[code]

After the build step, that is expected: it built your app and the test runner and didn't run any tests.

AND then, from what I see, it isn't actually able to run the tests, it stops. I'll see if I can reproduce it locally.  Question, if you remove th

[2020-09-07 12:21] lyndsey-ferguson commented on #283
I was guessing from the name of the action you're interested in running, `xcov`, and the docs for that site, that it _needs_ `xccoverage` files. Perhaps the collation is removing them?

Could you set `collate_reports` to `false` in `multi_scan` and re-run your lane?

[2020-09-07 13:35] lyndsey-ferguson commented on #176
[Project](https://github.com/fastlane-plugin-test-center/fastlane-plugin-test_center/projects/4) started

[2020-09-07 14:20] EstelaDF commented on #281
@lyndsey-ferguson thanks for fast response.

Yes, but I understand that the parameter `build_for_testing` is only for to build, not for to run. Is it? For this reason I put the parameter with FALSE value. Because multi_scan seems that only build.

If I remove the `build_for_testing` option entirely from `multi_scan` the parameter is automatically TRUE in the summary for scan table, and the same re

[2020-09-07 15:07] lyndsey-ferguson commented on #176
Released in Sponsors-first version of [v3.15.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/docs/feature_details/multi_scan.md)

[2020-09-07 15:08] lyndsey-ferguson commented on #215
Released in Sponsors-first version of [v3.15.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/docs/feature_details/multi_scan.md)

[2020-09-07 15:18] lyndsey-ferguson commented on #281
Ohhh, "Cucumberish" tests. I would guess that those are `invocation_based_tests`? If so, can you pass the option `invocation_based_tests: true` to `multi_scan`?

[2020-09-07 15:24] lyndsey-ferguson commented on #242
Want to explicitly control how your tests are batched rather than dividing them up evenly? The fastlane plugin, test_center has got you covered in [3.15.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/215#issuecomment-688382800)!

[2020-09-07 15:24] lyndsey-ferguson commented on #242
Fastlane plugin test_center users: do you want to stop retrying your fragile tests early? Or do you want to change what tests are run in the next retry?

Checkout [v3.15.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/176#issuecomment-688382729)

[2020-09-07 15:54] EstelaDF commented on #281
@lyndsey-ferguson  thanks!

It works when I pass the option `invocation_based_tests: true` to `multi_scan`. I don't know this parameter, I don't find it in the documentation, sorry.

First, build with zero tests but then, run tests and it find all of them:

<pre>[17:35:32]: ▸ Test execute Succeeded
+--------------------+---+
|      Test Results      |
+--------------------+---+
| Number of tests

[2020-09-07 21:19] lyndsey-ferguson commented on #281
@EstelaDF thanks for keeping up with this. It looks like this is crashing when trying to parse a testcase element in the junit file generated from the first run.  Would you be able to attach the `report.junit` file that was generated?

[2020-09-08 06:22] EstelaDF commented on #281
@lyndsey-ferguson ok, but there are two errors.

**On one hand, with this lane (no `testplan` parameter)**

<pre>desc "Multiple Cucumberish tests"
  lane :tests do
    multi_scan(
      workspace: "FoodTracker2.xcworkspace",
      scheme: "FoodTracker2",
      #testplan: "FoodTracker2",
      invocation_based_tests: true,
      device: "iPhone",
      clean: true
    )
  end</pre>

The error of fa

[2020-09-08 12:41] slanska commented on #283
As per your suggestion I tried the build with ```collate_reports: false```. Here is what I got:

[code]

[2020-09-08 21:42] dimirey commented on #282
@lyndsey-ferguson it turns out that circle enabled `include_simulator_logs` to true by default. changing it to `include_simulator_logs: false` resolved the issue.

[2020-09-08 21:46] lyndsey-ferguson commented on #282
Huh, interesting. So CircleCI snuck that in, perhaps there is an environment variable as part of the job that made this happen and `multi_scan` is not picking up on that. You can also try `include_simulator_logs: true` in your call to `multi_scan` directly and it should work.

The crashing problem occurs because the previous simulator logs are already there: the command to extract the logs fails b

[2020-09-09 07:01] jambudi opened #284 "generate report.xcresult for passed tests only."
Hello ,

We implemented successfully Fastlane-plugin-test_center. We are trying to integrate with our internal tools and have some question before we modify code ourself.

Currently, report.xcresult have failures tests and after retry passed tests

Example Image :

<img width="952" alt="Screen Shot 2020-09-09 at 12 26 51 PM" src="https://user-images.githubusercontent.com/25522050/92565203-e7227500

[2020-09-09 12:32] lyndsey-ferguson commented on #284
Are you stating that you are seeing all the failed tests and then the passing tests after the retry? That is a function of the [`xcrun xcresulttool merge`](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/actions/collate_xcresults.rb#L22) command; there is not much I can do about that.

You could also pass `collate_reports: false` to `mult

[2020-09-09 14:02] jambudi commented on #284
@lyndsey-ferguson  Can you provide an example or reference to following suggestion?

`You could also pass collate_reports: false to multi_scan and choose the xcresult you want.`

[2020-09-09 17:21] lyndsey-ferguson commented on #284
What are you looking for? `collate_reports: false` would be an option to `multi_scan` and then you can get the tests that you want from `tests_from_xcresult` by passing in the file paths to the outputted files in the uncollated folders.

[2020-09-09 21:47] lyndsey-ferguson commented on #281
@EstelaDF thank you for the report, for the second error, pay close attention to this error:
[code]
It seems that the `FoodTracker2` Scheme does not use test plans.

Meanwhile, I look at the first error.

[2020-09-10 01:26] lyndsey-ferguson commented on #281
Here is what I found:

1. Your junit files do not have the expected name attribute for the `testsuites` root element, which indicates what the testable name is.
2. I have allowed for that, and hope that it works if the testable name is not part of the test identifier.

[2020-09-10 01:27] lyndsey-ferguson commented on #281
@EstelaDF please can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2020-09-10 07:03] EstelaDF commented on #281
@lyndsey-ferguson thanks for the response.

1) On the subject of the testplan, yes, there is a testplan in the scheme FoodTracker2, and If I use `scan` with the parameter `testplan` it works.

2) Sorry, but I don't know about `testsuites`, How I can obtain this for you?

3) Finally, I tried to modify my pluginfile with your command:

`gem 'fastlane-plugin-test_center', :git => "https://github.com/

[2020-09-11 11:23] lyndsey-ferguson commented on #281
For no. 1, can you post the both the `scan` summary and the `xcodebuild` command for scan when running your fastlane? You can see how `multi_scan` is working with `scan` to send it here:
[code]

[2020-09-11 11:26] lyndsey-ferguson commented on #281
For no. 2, there isn't anything that YOU can do that I can think of to get the `testable` names out of the junit file, it simply is not there. It is the `testable` (or also known as test target) that is missing. Typically, `xcpretty` is generating that, and perhaps because this is a Cucumber test, it is not possible to get that info 🤷‍♂️ .

[2020-09-11 11:27] lyndsey-ferguson commented on #281
For no. 3, have you run the `bundle install` command? What is the command that you are running before you see that error?

[2020-09-11 11:46] markOsipov opened #286 "Feature Request: allow simulator log level, predicate, style, and type as simulator arguments"
### Feature Request

Add an option, `simctl_args`, that allows extra arguments to be passed pre-launched simulators.

#### Motivation Behind Feature

Before tests start, we are using this fastlane script to set env variables in simulators and start streaming sim logs into file:
[code]

#### Feature Description

Like `xcargs`, allow users to pre-launch the simulators and pass extra arguments to eac

[2020-09-11 12:02] EstelaDF commented on #281
@lyndsey-ferguson ok, for no. 1:

### This is the command `scan` output:

<pre>[13:47:54]: ------------------------------
[13:47:54]: --- Step: default_platform ---
[13:47:54]: ------------------------------
[13:47:54]: Driving the lane 'testsScan' 🚀
[13:47:54]: ------------------
[13:47:54]: --- Step: scan ---
[13:47:54]: ------------------
[13:47:54]: Resolving Swift Package Manager dependencies

[2020-09-11 12:11] lyndsey-ferguson commented on #281
Ok, I have a sinking feeling in my stomach 😊 . `scan` _is_ sending the Scheme, `multi_scan` is not. `xcodebuild` should really show the error associated with _which_ scheme it is using.

Oh, and BTW, your testable, or test target, in this case is `FoodTracker2CucumberTests`. I could tell that because of this line:

[code]

[2020-09-11 12:12] lyndsey-ferguson commented on #281
I'll look into why `multi_scan` is misbehaving and update this test branch when I can. Looks like we have two bugs:
1. junit helper is crashing when it cannot find the test target.
2. multi_scan is not passing down the scheme when using a testplan.

[2020-09-11 12:24] lyndsey-ferguson commented on #283
I do not see the same errors:

Fastfile
[code]

[code]
[xcov_report.zip](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/5208890/xcov_report.zip)

[2020-09-11 12:26] lyndsey-ferguson commented on #283
@slanska can you please put together a sample Xcode project and Fastfile (with `multi_scan` and `xcov`) that reliably reproduces the problem? Once you provide that, I should be able to fix the problem faster.

[2020-09-11 12:28] lyndsey-ferguson commented on #283
If you're curious, this `issue-283-codecoverage` branch has the work that I did to try and reproduce the issue.

[2020-09-11 12:35] EstelaDF commented on #281
Sorry, the no. 3 I was able to modify my PluginFile and run `bundle install`. And when I run `multi_scan` with `--verbose` and without `testplan`, I can see this:

<pre>
+------------------------------------------------+---------------------------------------------------------+
|                                         Summary for scan 2.159.0                                         |
+-----------

[2020-09-11 13:39] lyndsey-ferguson commented on #281
I have my doubts that this is using the correct version of the Gem that I posted.

Can you check if your `Gemfile.lock` file starts with something like this?
[code]
After following the [above instructions](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/281#issuecomment-689915480)?

[2020-09-12 09:50] #278 closed

[2020-09-12 09:51] jambudi commented on #284
Thank you..

[2020-09-12 09:51] #284 closed

[2020-09-13 21:14] slanska commented on #283
Hi @lyndsey-ferguson ,
unfortunately I cannot provide info you requested because of NDA. I just can state the following: 1) fragment of my fastlane script is listed above (in my first post) and 2) our project does not use explicit xccoverage file.

I will give it a try.

Thanks for helping me!

[2020-09-13 21:16] slanska commented on #283
@lyndsey-ferguson , maybe, the following information would be of interest for you: in addition to main project, our workspace also includes notification extension project. Not sure though if this is something that can make a difference at this point.

[2020-09-14 06:13] EstelaDF commented on #281
Ok, my Gemfile.lock file starts like:

<pre>GIT
  remote: https://github.com/lyndsey-ferguson/fastlane-plugin-test_center.git
  revision: f613c36ef84b179d863fc5f2e309474a07eeb2f3
  branch: issue-281-junits-with-no-name
  specs:
    fastlane-plugin-test_center (3.14.2)
      colorize
      json
      plist
      trainer
      xcodeproj
      xctest_list (>= 1.2.1)</pre>

Now, I will follow the inst

[2020-09-14 07:27] EstelaDF commented on #281
After I followed the instructions, the result is the same:

### * Without `testplan`:

<pre>
+------------------------------------------------+---------------------------------------------------------+
|                                         Summary for scan 2.159.0                                         |
+------------------------------------------------+---------------------------------------

[2020-09-14 22:17] lyndsey-ferguson commented on #281
@EstelaDF let's focus on the problem _without_ the testplan for now. I don't understand how it could be failing as there is special code to _not_ try and get the `value` if the `name` attribute yields nil.

I've put in a special debug message to make sure that the the lane is using my changes. Please, can you modify your `Pluginfile` per my instructions below, remove the Gemfile.lock file, run `bu

[2020-09-14 22:29] lyndsey-ferguson commented on #283
@slanska I need a sample project and `Fastfile`. You can use the AtomicBoy project and 'fastlane/Fastfile` that is part of this plugin ➡️   if you can modify these files so that I can reproduce this issue, then I can proceed with the investigation into this issue.

To be absolutely clear: I do not need your actual project, so there is no need to discuss an NDA since you would be modifying the code

[2020-09-14 22:30] lyndsey-ferguson commented on #283
If we cannot figure this out, and I don't have a way of reproducing the issue, I will have to close this issue. I typically wait 2 weeks to give you time to provide something before I close the issue.

[2020-09-14 23:57] lyndsey-ferguson commented on #286
Hello @markOsipov thank you for this bug report. It is a very interesting scenario. In the change from [v3.11.5 to v3.11.6](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/compare/v3.11.5...v3.11.6) I changed the code that is responsible for collecting logs and that could have affected it.

Also, while I don't have a copy of your Fastfile, nor a full copy of the logs, I do see indi

[2020-09-15 08:28] markOsipov commented on #286
@lyndsey-ferguson Thank you for your response!
There is our call of multi_scan. `include_simulator_logs` is set to false, so it shouldn't be the cause of the problem
[code]

I also tried to set `quit_simulators` or `pre_delete_cloned_simulators` (or both) to false and watch the results. Simulators seemed to stop failing after start. Tests didn't passed though, but this time that could be not becau

[2020-09-15 09:01] EstelaDF commented on #281
@lyndsey-ferguson sorry, I also think my lane isn't use your changes because:

1) I removed my Gemfile.lock file
2) I modified my Pluginfile with: `gem 'fastlane-plugin-test_center', :git => "https://github.com/lyndsey-ferguson/fastlane-plugin-test_center.git", :branch => "issue-281-junits-with-no-name"`
3) I ran `bundle install`
4) I ran my lane with `--verbose`

### And I don't see the message t

[2020-09-15 12:06] lyndsey-ferguson commented on #281
Are you using `bundle exec fastlane <lanename> --verbose` to run your lane? If you're using just `fastlane <lanename> --verbose` it may be using the wrong version of the plugin.

[2020-09-15 21:09] lyndsey-ferguson commented on #277
Fix released in [v3.14.3](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.14.3)

[2020-09-15 21:09] #277 closed

[2020-09-15 21:09] lyndsey-ferguson commented on #69
Released to the public in [v3.14.3](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.14.3)

[2020-09-15 21:09] #69 closed

[2020-09-15 21:10] lyndsey-ferguson commented on #242
Generating 1 single junit from multiple junit reports from different test targets has been released publicly in [v3.14.3](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.14.3)

[2020-09-16 06:29] EstelaDF commented on #281
@lyndsey-ferguson sorry!! I was using directly `fastlane <lanename> --verbose`. Now I use `bundle exec fastlane <lanename> --verbose` and it works!!

<pre>bundle exec fastlane tests --verbose
[✔] 🚀
DEBUG [2020-09-16 06:53:51.40]: Checking if there are any plugins that should be loaded...
DEBUG [2020-09-16 06:53:51.41]: Loading 'fastlane-plugin-test_center' plugin
INFO [2020-09-16 06:53:51.41]: gem

[2020-09-16 16:26] lyndsey-ferguson commented on #88
@amelendezSGY thank you for sponsoring me as a fan! 🎉

[2020-09-16 17:08] lyndsey-ferguson commented on #281
@EstelaDF great news! Yes, use `bundle exec` to use the Gems associated with the Gemfile. I think you cannot update as you've specifically tied the plugin to the version that you and I are debugging. That isn't a problem.

So, the first pass succeeded. Can you update the `:try_count` to 2 and make one of the tests fail (assert fails or something) to make sure that it retries properly?

[2020-09-17 06:28] EstelaDF commented on #281
@lyndsey-ferguson ok, I put `try_count: 2` and I made one test fails.

My lane, now is like this:

<pre>lane :tests do
    multi_scan(
      workspace: "FoodTracker2.xcworkspace",
      scheme: "FoodTracker2",
      #testplan: "FoodTracker2",
      invocation_based_tests: true,
      device: "iPhone",
      try_count: 2,
      clean: true
    )
  end
</pre>

And my output is:

<pre>[✔] 🚀
DEBUG [20

[2020-09-17 14:25] lyndsey-ferguson commented on #281
No it doesn't!
# 😢

What if, and I know I'm asking a lot, but I don't have these types of tests (nor time to set it up), you remove the "invocation tests" option, and add `only_testing: ['FoodTracker2CucumberTests/CCIFeaturesOfAdd/addMeal']` and `xctestrun: '/Users/estela/Library/Developer/Xcode/DerivedData/FoodTracker2-gejaozxwqyuvkuefuccelbzkdwgh/Build/Products/FoodTracker2_FoodTracker2_iphonesi

[2020-09-17 16:09] EstelaDF commented on #281
@lyndsey-ferguson ok, no problem, I want to resolve this :)

My lane is this:

<pre>lane :tests do
    multi_scan(
      workspace: "FoodTracker2.xcworkspace",
      scheme: "FoodTracker2",
      #testplan: "FoodTracker2",
      #invocation_based_tests: true,
      only_testing: ['FoodTracker2CucumberTests/CCIFeaturesOfAdd/addMeal'],
      xctestrun: '/Users/estela/Library/Developer/Xcode/DerivedD

[2020-09-17 22:17] lyndsey-ferguson commented on #282
@dimirey is your circle ci enabling `include_simulator_logs` via the `setup_circle_ci` action? How does it enable it? Can you remove the option to set `include_simulator_logs` from `multi_scan` and provide more of the of the logs with the `--verbose` flag?

Specifically, I want to see the `scan` summary table and the debug logs stating what values it assigning to each key.

debug logs before `mult

[2020-09-17 22:24] lyndsey-ferguson commented on #281
Oh, remove the `clean: true`

[2020-09-18 06:04] EstelaDF commented on #281
@lyndsey-ferguson I removed the `clean:true` and I think it fails.

My lane:

<pre>lane :tests do
    multi_scan(
      workspace: "FoodTracker2.xcworkspace",
      scheme: "FoodTracker2",
      #testplan: "FoodTracker2",
      #invocation_based_tests: true,
      only_testing: ['FoodTracker2CucumberTests/CCIFeaturesOfAdd/addMeal'],
      xctestrun: '/Users/estela/Library/Developer/Xcode/DerivedDa

[2020-09-18 17:01] lyndsey-ferguson commented on #281
Sorry, add this `test_without_building: true`.

[2020-09-18 21:47] lyndsey-ferguson commented on #242
I would like to share an article about using fastlane and HashiCorp Vault. If you develop and release mobile applications, this can help you manage code-signing credentials in a secure and semi-automated manner.

https://medium.com/appian-engineering/automate-secure-code-signing-assets-3331d09d7c7c

[2020-09-21 06:13] EstelaDF commented on #281
Ok, this is my lane:

<pre>lane :tests do
    multi_scan(
      workspace: "FoodTracker2.xcworkspace",
      scheme: "FoodTracker2",
      #testplan: "FoodTracker2",
      #invocation_based_tests: true,
      only_testing: ['FoodTracker2CucumberTests/CCIFeaturesOfAdd/addMeal'],
      xctestrun: '/Users/estela/Library/Developer/Xcode/DerivedData/FoodTracker2-gejaozxwqyuvkuefuccelbzkdwgh/Build/Produ

[2020-09-21 16:02] lyndsey-ferguson commented on #281
# 😢

I don't know what to recommend to you next.

@yousefhamza you use Kiwi, which involves Invocation style tests, right? What should the `:only_testing` identifier be in order for the test to be found again?

I had _guessed_ `FoodTracker2CucumberTests/CCIFeaturesOfAdd/addMeal`, but `xcodebuild` doesn't find that test.

Any thoughts on what's going on?

[2020-09-21 17:47] lyndsey-ferguson commented on #281
@EstelaDF, Yousef will share his thoughts after he wraps up a big release he is working on. I'll leave this Issue open (I usually close them after inactivity).

[2020-09-21 21:45] lyndsey-ferguson commented on #10
I was reading a blog entry that linked to this Issue and ended up wasting time reading everyone's comments; I just wanted to say **thank you** to everyone who helped test this and provided me with encouragement and excitement along the way

# 🤗

[2020-09-22 01:51] lyndsey-ferguson commented on #286
This was changed in [fastlane 1.153.0](https://github.com/fastlane/fastlane/pull/16833/files#diff-b6a3ba6dff446741cb76248e99156be7R42) AND [fastlane-plugin-test_center 3.11.6](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/compare/v3.11.5...v3.11.6#diff-8e5624a2717b59358a99a62cd65433a3R49) to pre-boot simulators in order to properly collect logs.

Yours were working because you we

[2020-09-22 01:51] lyndsey-ferguson commented on #286
Thoughts on the above?

[2020-09-22 18:23] markOsipov commented on #286
Yes, we want to keep only filtered logs of some custom events. So we'll glad to see this feature in future versions of test-center)

[2020-09-23 16:00] lyndsey-ferguson commented on #286
Okay, thanks for confirming! I'll update this when I get a chance.

[2020-09-23 20:59] githubist16 opened #287 "Feature Request: Support option to reuse simulators"
### Feature Request

#### Motivation Behind Feature

#### Feature Description
Add option to not delete simulators and instead detect cloned simulators and re-use them in subsequent runs of multi_scan

My company's app has to perform a sync (on login) with a Salesforce Web application if it the first time the user has logged into the app on that Simulator. This sync takes a considerable amount of t

[2020-09-23 21:45] lyndsey-ferguson commented on #287
This is a great feature request, thanks! I'll put it in the project and prioritize it the best I can given the other issues.

[2020-09-23 22:31] githubist16 commented on #287
Thank you. This is why this is one of my fav projects

[2020-09-23 23:22] reallyyun commented on #281
@EstelaDF , just FYI,  I met a similar error but I'm not with cucumberish.  After our dev code moved to a new branch, run multi-scan will not able to execute any test, while is it working well on old branch.  I spent couple of days,  and finally found after changed the Enable Testability to Yes for Automation config,  the multi-scan works again.
![image](https://user-images.githubusercontent.com/1

[2020-09-24 00:28] lyndsey-ferguson commented on #281
@reallyyun thanks for the suggestion. One thing, her tests _do run_, (see this [run](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/281#issuecomment-693968090)), but we cannot specify individual tests in the way that are being generated in the Junit file. I don't know if that is something you were seeing too.

All the same it would be a good idea to double-check "Enable Tes