[2020-09-24 15:37] reallyyun commented on #281
@lyndsey-ferguson  I'm running in 3 clones, without that settings  no test is able to picked out for each clone,   I'm still able to see run successfully msg.

[10:33:08]: Successfully finished 'UIAutomationTest'
+------+----------------------------+-------------+
|                fastlane summary                 |
+------+----------------------------+-------------+
| Step | Action

[2020-09-27 19:44] lyndsey-ferguson commented on #283
I cannot duplicate the problem. If a sample project is provided, I can re-open this Issue. Please consider providing one so I can fix the bug!
# 🙏

[2020-09-27 19:44] #283 closed

[2020-09-29 17:21] ssharma0312 opened #288 "How to specify test_output folder location in multi_scan"
### Question Checklist

`fastlane-plugin-test_center` --> version 3.11.5
using multi_scan below code
`multi_scan(
      workspace: "ABC.xcworkspace",
      scheme: options[:scheme],
      code_coverage: true,
      output_types: 'junit',
      output_files: "junit.xml",
      try_count: 3, # retry _failing_ tests up to three times^1.
      batch_count: 6,
      code_coverage: true,
      parallel_

[2020-09-29 17:34] lyndsey-ferguson commented on #288
I'll teach [you how to fish rather than giving you the answer directly](https://en.wiktionary.org/wiki/give_a_man_a_fish_and_you_feed_him_for_a_day;_teach_a_man_to_fish_and_you_feed_him_for_a_lifetime).

1. Go to the [README](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center#features)
2. Find and click the `multi_scan` action.
3. Navigate to the Parameters section and click the link

[2020-09-29 17:55] ssharma0312 commented on #288
Added parameter `output_directory` = "./fastlane/test_output/" + options[:branch]
Will update here once pipeline job completes.

[2020-09-29 19:04] ssharma0312 commented on #288
It works

[2020-09-29 19:04] #288 closed

[2020-09-29 19:13] lyndsey-ferguson commented on #288
Teach your friends! 🤗

[2020-09-29 21:58] lilyball opened #289 "scan option :build_for_testing is silently ignored"
### New Issue Checklist

- [ ] Updated `fastlane-plugin-test_center` to the latest version (I checked latest source though)
- [X] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [X] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [X] I ha

[2020-10-01 13:14] BytesGuy commented on #215
Would this feature help to split test cases into batches that can be run on separate physical Macs? For example, say we have 1000 tests - even running these in parallel on a single machine may take some time (especially if we are running older hardware). Ideally in this scenario I would want to split the tests into batches of 200 and run them on 5 machines at once (later having a job to collate th

[2020-10-01 17:26] lyndsey-ferguson commented on #215
Hi @BytesGuy, no this feature won't help with your use case, but all of the actions in this plugin would. My first thought would be to have a job that runs `tests_from_xctestrun` to get the **all** the tests you want to run.

Then, I would split those tests into batches based on the number of other machines (5 in your case) (see this as an [example](https://github.com/lyndsey-ferguson/fastlane-plu

[2020-10-02 02:02] ssharma0312 commented on #266
@lyndsey-ferguson apologies for late response, so I made two branches to carefully compare the difference. One branch is one version 3.11.5 which completes around 55 minutes where as another branch I updated to latest version of this plugin at 3.14.3. Both times the time taken by branch with latest version i.e. 3.14.3 is almost double. I run using --verbose flag so attached complete raw logs. For

[2020-10-02 02:04] ssharma0312 commented on #266
![image](https://user-images.githubusercontent.com/15973152/94880759-210f1300-0421-11eb-8363-8c0a6e54a96a.png)

![image](https://user-images.githubusercontent.com/15973152/94880792-3d12b480-0421-11eb-80c9-d686f2f0f879.png)

[2020-10-02 08:29] ryanpato commented on #266
I'll be interested to see the log too but I can't open your link.

I've only just recently started testing multi-scan, but I see a similar sounding issue myself when working with multiple test-plan configurations and multiple devices in one run, with a try count of 2, and forcefully killing/erasing simulators.

Originally I wanted to do something like this: (where testplan has two enabled configur

[2020-10-02 16:13] CorbinMontague commented on #280
+1 to this issue. `scan` launches simulators with the `ConnectHardwareKeyboard` option set to `false` by default, but `multi_scan` seems to have that option set to `true` because my UI tests pass with scan, but fail with `multi_scan` in a way that would only happen if the `ConnectHardwareKeyboard` option was `true`.

[2020-10-02 17:06] lyndsey-ferguson commented on #280
I moved this up to the top of the to do list. I am open to PRs, if someone would like to [contribute](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/docs/CONTRIBUTING.md)

[2020-10-02 17:09] lyndsey-ferguson commented on #266
@ssharma0312 The log file link in your [comment](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/266#issuecomment-702487177) is an empty link: `[Uploading CompleteRawLog.txt…]()`

Can you try again?

@ryanpato you're facing a [problem](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/263) that I am currently working on. I have limited time that I can wo

[2020-10-02 17:10] CorbinMontague commented on #280
I was able to work around this issue just now by executing `defaults write com.apple.iphonesimulator ConnectHardwareKeyboard -bool false` before the `multi_scan` call. I also added the `reset_simulator` param to the `multi_scan` call set to `true`.

[2020-10-02 17:14] ssharma0312 commented on #266
@lyndsey-ferguson sorry about that, try now:
[CompleteRawLog.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/5319388/CompleteRawLog.txt)

[2020-10-02 17:19] lyndsey-ferguson commented on #280
I don't see any code in fastlane's scan that does this, but I only spent 1 minute looking. Once I can properly look at this, I can provide a better, built-in method so that you don't have to _know_ to do this.

[2020-10-02 17:20] lyndsey-ferguson commented on #266
Thank you, that worked

[2020-10-05 00:20] lyndsey-ferguson commented on #280
https://github.com/fastlane/fastlane/blob/master/fastlane_core/lib/fastlane_core/device_manager.rb#L242

[2020-10-05 21:54] lyndsey-ferguson commented on #176
Released in [v.3.14.4](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.14.4)

[2020-10-05 21:54] #176 closed

[2020-10-05 21:55] lyndsey-ferguson commented on #242
Control which batches are tested, and control what happens next after a testrun has completed in [v.3.14.4](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.14.4)

[2020-10-05 21:55] lyndsey-ferguson commented on #215
Released in [v.3.14.4](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.14.4)

[2020-10-05 21:55] #215 closed

[2020-10-05 22:03] BytesGuy commented on #215
Thanks, going to give that a try :) Splitting tests in this way would be perfect for speeding up large test suites in CircleCI - if I can get something working we may be able to include this in the docs!

[2020-10-05 22:05] lyndsey-ferguson commented on #215
@BytesGuy whoop, that would be amazing!

[2020-10-07 12:35] Cyberbeni opened #291 "Scan.devices.replace crash when running macOS tests"
### Question Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I searched for [existing GitHub issues

[2020-10-07 17:11] lyndsey-ferguson commented on #291
You're assumption is correct, `Scan.devices` is nil at this point. Which it shouldn't be as the system _does_ think it should replace this at the moment.

I'd be interested in seeing the console logs (with the fastlane command run with `--verbose`), but I'm not sure how much customization you've done to your project.

[2020-10-07 17:54] Cyberbeni commented on #291
This part is inside an `unless config[:xctestrun]` block (our macOS tests use the project file instead of xctestrun as they checkout the git workspace because they need to rebuild the test runner to use the correct version of XCTest): https://github.com/fastlane/fastlane/blob/48151291f2c4949c3b1b9919ba2cc81a7cc33293/scan/lib/scan/detect_values.rb#L18-L40
With an added comment: `# TODO: detect_simu

[2020-10-08 15:46] yakimant opened #292 "Don't rely on xcpretty junit generated file"
Please switch to other junit generation tool

#### Motivation Behind Feature
xcprerry is not updated for several years, looks like it's loosing support:
https://github.com/xcpretty/xcpretty/issues/360

It generates junit from xcodebuild log, which can cause issues.
Sometimes it misses some failed tests, which is dangerous for CI.

Where are other tools, which rely on xcresults for junit generation

[2020-10-08 16:30] lyndsey-ferguson commented on #292
Thank you for the request.

I do not have a lot of time to work on this plugin, so I would have to prioritize it lower than the more critical issues. If you'd like to try your hand at making the changes, I am open to PRs and I can provide guidance (also checkout the [CONTRIBUTING](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/docs/CONTRIBUTING.md) guidelines).

I alre

[2020-10-09 15:31] dvataksi16 opened #293 "No tests found when passing test suite to multi_scan using the only_testing param"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-10-09 20:11] lilyball opened #294 "Request: Workers should periodically emit status updates to fastlane stdout"
### Feature Request

#### Motivation Behind Feature

When we run our full UI test suite, this can take a while. Last time I checked, a full run took about 40min. We have our Jenkins job set to time out after an hour of no activity. The problem is, our full UI test run sometimes times out, my assumption is because something happened and it has to retry a lot more tests than normal, but the console

[2020-10-10 01:35] lyndsey-ferguson commented on #294
Until I can do something more elegant to address this, you can add messages from your callback to output to the global STDOUT:
[code]

Another thing to be careful of, don't put any code in your callback that will cause the other process to hang.

[2020-10-10 01:50] lyndsey-ferguson commented on #293
Hello @dvataksi16 , this may be a difference of terminology, the `only_testing` doesn't accept folders or files. It accepts test targets (sometimes called testbundles, or testables), test targets+ test suites, and test targets + test suites + test cases.

This [stackoverflow discussion](https://stackoverflow.com/questions/35166214/running-individual-xctest-ui-unit-test-cases-for-ios-apps-from-the-

[2020-10-10 01:51] lyndsey-ferguson commented on #293
Also, it would help to know for which version `multI_scan` was working for you.

[2020-10-10 14:40] lyndsey-ferguson commented on #282
Closing as cannot reproduce.

[2020-10-10 14:40] #282 closed

[2020-10-11 13:10] lyndsey-ferguson commented on #266
@ssharma0312 could you provide both logs: for the slow and the normal? I'd like to do a diff of both (or you can do that yourself and provide me with the diff).  Again, please use the `--verbose` flag for both runs.

[2020-10-11 13:30] lyndsey-ferguson commented on #263
@akoller-vs I believe that I have addressed the issue. Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2020-10-11 14:21] lyndsey-ferguson commented on #289
@lilyball this is fairly straightforward to fix. Just to make sure, can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let

[2020-10-11 15:34] lyndsey-ferguson commented on #291
@Cyberbeni, the key is what you wrote above "...our macOS tests..." indicates that I had forgotten about simulator-less tests in `multi_scan`. I've modified the code in a branch that I would appreciate your tests on.  Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are stil

[2020-10-12 13:36] dvataksi16 commented on #293
Hello, Yes I did mean testbundle/testsuite in my example. I cannot pass a testsuite to the only_testing flag. Thank you for pointing that out. I was not aware of the terminology.

This is the output with the verbose flag:

<pre>DEBUG [2020-10-12 09:27:43.76]: Checking if there are any plugins that should be loaded...
DEBUG [2020-10-12 09:27:43.76]: Loading 'fastlane-plugin-test_center' plugin
INFO

[2020-10-12 15:50] AlexTrott commented on #293
Can confirm I'm seeing the same issue since updating to v3.14.4

[2020-10-12 22:30] lilyball commented on #294
Is there any way for me to figure out what worker I'm running in if I print directly to STDOUT? I think it would be useful to include that info in the line.

[2020-10-13 00:19] lilyball commented on #294
It turns out that `STDOUT.puts` doesn't work. You're calling `$stdout.reopen` rather than reassigning to `$stdout`, which means it's modifying the underlying file descriptor (which is to say, `$stdout == STDOUT`). Presumably you're doing this because you don't otherwise have a safe way of redirecting the logger owned by `UI`.

https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/bb

[2020-10-13 12:41] lyndsey-ferguson commented on #294
@lilyball unfortunately, you will have to clone STDOUT. I remember that I originally was changing the assignments for STDOUT, etc. but there were problems (I cannot remember, and my journal does not indicate why this resolves the issue). If your batch count matches the number of parallel workers, you can use this:

[code]

[2020-10-13 13:03] lyndsey-ferguson commented on #293
Thank you, the logs were very helpful and I believe I've fixed the problem.

@dvataksi16 and @AlexTrott, can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me

[2020-10-13 13:58] dvataksi16 commented on #293
This update fixes the issue for me! Thank you 💯

[2020-10-14 12:44] yakimant commented on #292
Thank you for instructions! I will think about it.

[2020-10-14 12:52] lyndsey-ferguson commented on #286
So @markOsipov, I didn't remember how spawn works until I started looking into this issue. A couple of questions:

1. You're setting a environment variable of `PROJECT_FOLDER_PATH`. Is that needed?
1. You're asking for a stream of the log, is that needed, or can we use the collect method to get the logs that match?
  If we can use collect, then I simply modify Scan's `[copy_archive](https://github

[2020-10-14 13:04] markOsipov commented on #286
1. PROJECT_FOLDER_PATH is needed because we want to save logs in project folder on CI
2. I think we need streaming, because we use this logs in our tests. We check created events in real time like this:
[code]

[2020-10-14 13:13] lyndsey-ferguson commented on #286
I'm not familiar with those events, how does it work?

[2020-10-14 13:14] lyndsey-ferguson commented on #286
Would be acceptable if the logs were saved in the logs dir path that you give to scan/multi_scan?

[2020-10-14 13:31] markOsipov commented on #286
Application sending metrics after certain users actions.
We are checking that log contains event of sending metrics which we expect.

So we need logfile to contain last events in real time

[2020-10-14 13:31] markOsipov commented on #286
Yes, thats would be OK. Than you!

[2020-10-14 13:55] lyndsey-ferguson commented on #286
Ok, so the application logs user actions. From what I understand, each log entry will have a timestamp. You write that you're checking that the log contains that event.

It is not clear to me why you need to respond to those events in real time. Do you have code that responds the moment that you see the event in the log to do something, and that _something_ has to be at the moment?

Or, can you no

[2020-10-15 13:03] lyndsey-ferguson commented on #286
More questions while I try to figure out how to provide a feature that solves your case, and the more generic case.

It seems that I could do a couple of things.

I could add a string option that lets you spawn various other processes in the simulator after it has spun up.

I could add a callback option, that calls your code with a device UDID so that you can run whatever command you want on the d

[2020-10-15 16:40] Cyberbeni commented on #291
Our macOS tests didn't have any problems after merging 3.14.4 to our fork and fixing the line linked in the original comment. (Only tried running iOS tests before the fix)

[2020-10-15 17:54] lyndsey-ferguson commented on #291
Sure, `Scan.devices = @options[:scan_devices_override]` will work, but that should not even be done in the macOS case. Can you test my change that I mentioned above? 🙏

[2020-10-16 07:56] markOsipov commented on #286
I believe forks will be overkill now, so if there are no other cases similar to our, there is no need to make fork support for now.
I will discuss it with my team though, in case of someone has an idea how to use it, but quick answer is - Callback option seems to be ok.

We don't have any other processes that watching the log, the only one thing we use it for now - is metric events check.
I'll try

[2020-10-16 18:40] lilyball opened #299 "Allow controlling the html report verbose logging separately from fastlane verbose flag"
### Feature Request

#### Motivation Behind Feature
I run `fastlane` with the `--verbose` flag because it's really useful when diagnosing failures, especially with long-running jobs that I don't want to have to repeat locally.

The downside is `multi_scan` dumps a ton of output under verbose when it's collating HTML reports, as it prints the entire raw HTML contents of the report. I'd really like

[2020-10-16 20:07] lyndsey-ferguson commented on #286
Thanks for explaining the scenario!

[2020-10-16 23:44] lyndsey-ferguson commented on #263
Fixed in [v3.14.5](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.14.5)

[2020-10-16 23:44] #263 closed

[2020-10-16 23:44] lyndsey-ferguson commented on #289
Fixed in [v3.14.5](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.14.5)

[2020-10-16 23:44] #289 closed

[2020-10-16 23:44] lyndsey-ferguson commented on #291
Fixed in [v3.14.5](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.14.5)

[2020-10-16 23:44] lyndsey-ferguson commented on #293
Fixed in [v3.14.5](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.14.5)

[2020-10-16 23:44] #293 closed

[2020-10-19 09:10] Cyberbeni commented on #291
This (or some other change) breaks the tests on macOS:

[code]

[2020-10-19 12:32] lyndsey-ferguson commented on #291
Sorry @Cyberbeni, I broke this with the recent merge.

Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2020-10-19 12:37] lyndsey-ferguson commented on #280
Note to self: this is pending publication for Sponsors.

[2020-10-19 12:54] Cyberbeni commented on #291
It fixes the issue.

[2020-10-19 18:56] lyndsey-ferguson commented on #291
Released in [v3.14.6](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.14.6)

[2020-10-19 18:56] #291 closed

[2020-10-21 15:41] ssharma0312 commented on #266
@lyndsey-ferguson I start to suspect it could be slow network at that specific time. I spent more time running pipeline on the latest version 3.14.3, noticed now the execution time has dropped down to pretty much similar time as old version 3.11.5. I don't it's any issue. Closing Issue.

[2020-10-21 15:41] #266 closed

[2020-10-22 07:31] CyberOwl opened #303 "multi_scan parallel test workers crash when trying to replace Scan.devices"
### New Issue Checklist
- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data such

[2020-10-22 12:28] lyndsey-ferguson commented on #303
@CyberOwl, Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2020-10-22 12:30] Cyberbeni opened #305 "invalid option '-parallel-testing-enabled' on older Xcode versions"
# New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data such

[2020-10-22 13:39] CyberOwl commented on #303
With branch `issue-303-no-scan-devices-crash` multi_scan starts idling (w/o running tests) after ` Starting test run N` message

<details><pre>
INFO [2020-10-22 16:22:55.70]: Testing batches for device 'UI-Tests'
DEBUG [2020-10-22 16:22:55.71]: Fetching available simulator devices
INFO [2020-10-22 16:22:56.08]: Deleting UI-Tests Clone 1 TestCenter::Helper::MultiScanManager::SimulatorHelper<7024776

[2020-10-22 13:43] lyndsey-ferguson commented on #303
It looks like a problem in your Fastfile:
[code]

[2020-10-22 14:56] CyberOwl commented on #303
No, i just manually send `SIGINT` to terminate process and handle it with `Signal.trap('INT') { throw :force_quit }`

[2020-10-22 15:03] lyndsey-ferguson commented on #303
[code]
means that the tests are running in parallel.  How long do you let it run for?

[2020-10-22 15:56] yakimant commented on #292
@lyndsey-ferguson, I tried to use `TestsFromXcresultAction` instead of `TestsFromJunitAction` and got the following format difference:

`TestsFromXcresultAction`
TargetName/TestCase/Test

`TestsFromJunitAction`
TestCase/TestCase/Test()

What's the best to do? Allign the format or reformat `TestsFromXcresultAction` output in `update_only_testing`?

[2020-10-22 15:59] lyndsey-ferguson commented on #292
`only_testing` is supposed to receive an array of strings of the format `TargetName/TestCase/Test`, and that is what `TestsFromJunitAction` _should_ be providing...Did you perhaps mean to write that `TestsFromXcresultAction` results in `TestCase/TestCase/Test()`?

Otherwise, `TestsFromXcresultAction` _should not_ put the `()` as that will break `xcodebuild`.

[2020-10-22 16:42] yakimant commented on #292
@lyndsey-ferguson, thanks for quick reply!

Sorry, my bad, It was vice versa:
`TestsFromXcresultAction`
TestCase/TestCase/Test()

`TestsFromJunitAction`
TargetName/TestCase/Test

[2020-10-22 17:58] lyndsey-ferguson commented on #292
So, you probably want to put a
[code]
[here](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/actions/tests_from_xcresult.rb#L40)

[2020-10-23 09:21] yakimant commented on #292
And wind a way to replace TestCase to TargetName in the same class?

[2020-10-23 11:24] CyberOwl commented on #303
After 3~ minutes tests has been started. After 1 minute testrun just freezes for long time and doesn't respond.

Comparison: fastlane & test_center from branch: 30 min
Latest fastlane & test_center:

[2020-10-23 11:29] CyberOwl commented on #303
- Idle after simulator initialization like 4~ minutes
- Idle after some tests (XCTest TestRunner doesn't respond too)
- Test run completes after 40~ minutes with 4 parallel runs and 16 tests in total

[2020-10-23 13:26] lyndsey-ferguson commented on #303
Can you summarize what you're trying to tell me?

Keep in mind that using more simulators will put more load on your computer. Try with a parallel_testrun_count of 2.

[2020-10-23 13:27] lyndsey-ferguson commented on #292
Can you elaborate? It isn't clear to me what the question is.

[2020-10-23 14:55] CyberOwl commented on #303
I've tested pure Xcode 12 parallel testing and got same performance issues which i never I have not seen before.

[2020-10-23 14:56] CyberOwl commented on #303
So... initial issue (`issue-303-no-scan-devices-crash`) is fixed. Thank you!

[2020-10-23 14:58] lyndsey-ferguson commented on #303
So, you're saying that you're seeing the same stuttering and performance issues? What sort of specs do you have? I have been able to go up to 8 parallel test runs without much of an issue...(on a MacBook Pro with 16GB of RAM).

You may also want to make sure that you don't have left over processes that are taking up power...reboot the comptuer?

[2020-10-23 17:13] #303 closed

[2020-10-23 17:29] lyndsey-ferguson commented on #303
Fixed in [v3.14.7](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.14.7)

[2020-10-23 20:41] lyndsey-ferguson commented on #299
@lilyball Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane like so:

[code]

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2020-10-25 15:58] lyndsey-ferguson commented on #305
@Cyberbeni, can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2020-10-25 16:08] lyndsey-ferguson commented on #287
As I start this feature, I like to let my thoughts flow from my brain, through my fingers, into the keyboard, and into some document. I'm using this Issue for that purpose.

What I write does not mean I have decided how I will accomplish this feature, rather, it is just some thoughts related to the feature.

Let's begin.

[2020-10-25 16:08] lyndsey-ferguson commented on #287
One thought, I could allow the user to specify the device ids of the simulators that they want to use for the parallel test runs.

[2020-10-25 16:09] lyndsey-ferguson commented on #287
Another thought, probably preferable to githubist16, is to have the system automatically detect the simulators that match the requested specifications.

[2020-10-25 16:09] lyndsey-ferguson commented on #287
So, let's explore that avenue first.

[2020-10-25 16:10] lyndsey-ferguson commented on #287
I think if we provide a new option, reuse simulators for parallel test runs, instead of "cloning" we match the specifications that meet the requested devices. We already can do that fairly easily I believe.

[2020-10-25 16:10] lyndsey-ferguson commented on #287
We also have to make sure that we don't delete the simulators at the end.

[2020-10-25 16:11] lyndsey-ferguson commented on #287
That also makes me think that `:pre_delete_cloned_simulators` would be set to `false` if `:reuse_simulators_for_parallel_testruns` was set to `true.

[2020-10-25 16:20] lyndsey-ferguson commented on #287
If there are not enough existing simulators, we need to create the missing ones.

[2020-10-25 16:22] lyndsey-ferguson commented on #287
Can we detect if those simulators are in use?

[2020-10-25 16:26] lyndsey-ferguson commented on #287
Hm. If I knew the app name of the app about to be tested I could do a `ps | grep` inside the simulator. Maybe that could be future enhancement for now if really desired.

[2020-10-25 16:40] lyndsey-ferguson commented on #287
Now, to keep the thoughts flowing. What is my next step?

It seems that I should create a method in `SimulatorHelper` `parallel_destination_simulators` that ensures that we have simulators to use for the parallel test runs. That method will have a local variable, something like `remaining_desired_simulators` set to `@options[:parallel_testrun_count]`.

Using that variable, if `@options[:reuse_simu

[2020-10-25 16:45] lyndsey-ferguson commented on #287
For the method `find_matching_destination_simulators`, we will have to create a `FastlaneCore::DeviceManager:Device` for each destination. Using that, we can then use the `FastlaneCore::DeviceManager.simulators('iOS').find_all` method to find all matches for each of those devices.

Just thinking, does this make a little tricky. `destinations = Scan.config[:destination]` can represent multiple devi

[2020-10-25 19:02] lyndsey-ferguson commented on #287
Thinking through that last thing I mentioned.
1. I've updated the code that calls this to _always_ set a destination array of 1, so I don't think I need to worry about this.
1. In fact, I should update this code to assert that it is always 1 as I expect. Not crash, but throw a red flag indicating that there could be a problem and grab the first one.

So, from there, I could just loop through the d

[2020-10-25 19:30] lyndsey-ferguson commented on #287
Another thing, this code will look for clones that it previously made? Right, so it should specifically look for clones that have the expected names.

[2020-10-26 08:08] Cyberbeni commented on #305
It gives a different error now. Compared to the currently working version, it passes the xctestrun parameter instead of the workspace and scheme parameters into test-without-building (The xctestrun file is the one built with the newest Xcode, the whole derived data is transferred to machine with old macOS after build-for-testing, project file is modified, so build-for-testing the test target doesn

[2020-10-26 13:43] yakimant commented on #292
@lyndsey-ferguson, sorry for that. I have a question about same name difference:

`TestsFromXcresultAction`
TestCase/TestCase/Test()

`TestsFromJunitAction`
TargetName/TestCase/Test

Shall I make `TestsFromXcresultAction` to have the same format as `TestsFromJunitAction`?
Meaning not only removeing `()`, but also changing `TestCase` to `TargetName` as a first part of the name.

[2020-10-26 13:45] lyndsey-ferguson commented on #292
Ouch, what!? My action returns testcases for the first segment! How embarrassing!!!

Yes, it should return TargetNames as the first segment.

[2020-10-27 18:31] githubist16 commented on #287
Not sure about this part. I would like the flexibility to pre_delete_cloned_simulators even when reuse is set. I can see a case where I want to cleanup simulators after N runs. Or prior to starting a run of tests identified uniquely (using Jenkins lingo here), I want to delete cloned simulators getting a clean slate and then on subsequent jobs for the same run, the pre_delete is turned off

[2020-10-27 18:35] githubist16 commented on #287
Yes this is better

[2020-10-27 18:51] lyndsey-ferguson commented on #287
I'm glad I laid out my thoughts

[2020-10-29 11:02] Cyberbeni commented on #305
I tested it and modifying the linked to check for xcode version solves the issue
[code]

[2020-10-29 19:12] Cyberbeni commented on #305
(Also I know that the output contains color codes, that's a different issue: https://github.com/fastlane/fastlane/issues/17498 )

[2020-10-30 21:08] lyndsey-ferguson commented on #305
Hi @Cyberbeni it does not feel that this is a generalizable solution. From what I recall, I've _always_ needed a `xctestrun` when running `test-without-building`. I believe that xcodebuild can get the xctestrun file from the derived data file path though.

Is there no `xctestrun` file in the derived data folder that was copied over from the older macOS build?

[2020-10-30 21:10] lyndsey-ferguson commented on #281
@yousefhamza just to give us an idea, do you know when you'll be done with your next big release and be able to advise @EstelaDF and I on this issue?

[2020-10-30 21:18] lyndsey-ferguson commented on #294
Okay, so this is a stream of consciousness as I look into providing this feature. It is not formalized nor the final product. Nor will it be grammatically correct or necessarily sensible to the reader who doesn't live in my mind.

Let's open the tap.

[2020-10-30 21:19] Cyberbeni commented on #305
From what I remember, the only difference in xctestrun files was from removing the target application before rebuilding the test runner, so I'm keeping the xctestrun file built with newer Xcode.

Which is correctly found according to the log.

[2020-10-30 21:20] lyndsey-ferguson commented on #294
`ParallelTestBatchWorker` is responsible for managing the child process and the "intercommunication". I put quotes here because there is only one message "I'm done".

So, currently, it is not really possible for the child to send periodic updates. Refactoring has to be done.

Luckily, there is a direct line of communication from the worker to the child process.

[2020-10-30 21:23] Cyberbeni commented on #305
Ah, I totally forgot about the actual log file, that might tell us more about the issue than the xcpretty formatted version. I'll take a look at it on Monday.

[2020-10-30 21:42] Cyberbeni commented on #305
Ah, I guess that wasn't the only difference between the xctestrun files: `dyld: could not load inserted library '__DEVELOPERUSRLIB__/libMainThreadChecker.dylib' because image not found`
But it would still be nice to not have to hack around with merging the 2 xctestrun files (That would just add one more possible point of failures) when using the project+scheme is perfectly fine.

[2020-10-30 21:44] lyndsey-ferguson commented on #294
Currently the "console" log for the child worker is sent to a log file. That file is written to by the child worker.

Can I read from it after each test run?

[2020-10-30 21:47] lyndsey-ferguson commented on #305
I was thinking that it should be possible to use the old xctestrun file 🤞

[2020-10-31 13:23] Cyberbeni commented on #305
The best solution might be to add an option to skip setting the xctestrun file as temporarily downgrading the project file for running tests is a supported use case by Xcode.

[2020-11-01 17:01] lyndsey-ferguson commented on #305
@Cyberbeni let me walk through what I understand the situation you find yourself in.

On a Mac, you're using Xcode 9.2. The build (and the derived data folder) were created with Xcode 9.2. Your test job downloads the build and the associated derived data folder and your `scan` (and `multi_scan`) paths point appropriately to those directories.

`scan` will work fine: it finds what it needs and runs

[2020-11-01 17:18] Cyberbeni commented on #305
First machine has newest MacOS and newest Xcode and runs `xcodebuild build-for-testing` with the appropriate commands.

Second machine has macOS 10.11 running Xcode 8.2 (and other macOS versions with the newest Xcode that supports them), downloads the code and the prebuilt derived data. Modifies the project file by removing the target application from the test target, so it can run `xcodebuild bui

[2020-11-02 14:06] lyndsey-ferguson commented on #294
So, let's write this out. What do we want to look into?

We want to find out how this currently prints out the console.

I think that the runner tells the worker when to print. Let's take a look?

I see that the `wait_for_all_workers` method tells each of the 'busy workers to `process_results`'

The process results method opens up the log file, and for each line, prints the worker prefix and the l

[2020-11-02 14:09] lyndsey-ferguson commented on #294
Ok, some more random thoughts.

Can the worker, when a test run is complete, send a message to the parent process indicating that the test run is complete, and then wait for a message to be sent back down the pipe?

The parent process, when it gets a message from one of the pipes, can print out the current log and then wipe it out to allow the worker to start anew.

So, that seems fine. But, I do

[2020-11-02 14:11] lyndsey-ferguson commented on #294
From what I remember, this only caused a problem when everything on the child process was done, and the parent process just hung

[2020-11-02 14:22] lyndsey-ferguson commented on #294
So, let's say that that is the case.

Wait for all workers is waiting for the child process to complete. That's not the right place to hook in the communication mechanism.

Unless I change this to be a select waiting on messages from the workers.

Theoretically, each worker would only set their own state to ready-to-work if they were complete. Then this wait for all workers method would change to

[2020-11-03 13:39] lyndsey-ferguson commented on #305
Ok, so the xctestrun is actually built by the newer machine.

[2020-11-03 19:04] CorbinMontague opened #308 "Build times are slower when using multi_scan to parallelize tests"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-11-03 19:49] ssharma0312 opened #309 "Cert Pinning Error on some simulators"
First of all, Thanks for creating this amazing plugin. It is now a must-have thing for our project.

I encountered a very weird issue relating to cert pinning. Recently we have upgraded our XCode to XCode 12.0.1 from 11.4.1, since then we are encountering cert pinning error on some simulators (I would 2-3 simulators out of 6 when tests are running). I have been trying to resolve the issue by exper

[2020-11-03 21:01] ssharma0312 commented on #309
[multi_scan_verbose_logs.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/5484024/multi_scan_verbose_logs.txt)

Attached --verbose logs

[2020-11-04 10:42] KITSEPAMAntonKomin opened #310 "multi_scan The flag -testPlan <name> cannot be used error when test_without_building = true"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-11-04 14:00] lyndsey-ferguson commented on #294
So, Ruby select is possible, but for two way communication, that means I would have to have two pairs of pipes.

That got me to thinking that I should use a framework to better manage this stuff.

I see [cod](https://github.com/kschiess/cod), but it does not seem to be fairly popular.

I see [resque](https://github.com/resque/resque). It's last update was 2 years ago. However, it gave me the idea

[2020-11-05 12:58] lyndsey-ferguson commented on #294
Putting this back in the "To do" column while I fix some bugs and release the new features. This ticket will take too long for those other issues to wait.

[2020-11-05 13:26] lyndsey-ferguson commented on #305
So, I'm going to allow my consciousness to stream, to generate ideas. Maybe some of them are good, maybe some are trash.

Right now, the problem is that the version of the xctestrun file is not really compatible with the older version of Xcode.

I've reviewed the file that was attached in [this comment](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/305#issuecomment-7163842

[2020-11-05 13:32] Cyberbeni commented on #305
`ln -s /dev/null "$DERIVED_DATA_DIR/Logs/Test/Attachments"`

Xcode 8.2 is generating those attachments to 3 different places and doesn't clean them up after success and we want to avoid running out of disk space while running the tests (They take around 3-4 hours currently). That is just a warning, doesn't fail the tests.

[2020-11-05 13:41] Cyberbeni commented on #305
[code]

The dylib loading error was in the log file that tee generated.
Maybe the xcpretty output was filtered by this part of our workflow:
[code]

[2020-11-05 14:17] Cyberbeni commented on #305
I think VirtualBox would be sufficient for this (haven't tried it, we are using ESXi) following [this](https://www.soupbowl.io/2020/04/macos-in-virtualbox/) guide and getting the image from [here](https://support.apple.com/en-us/HT206886).

[2020-11-05 14:28] Cyberbeni commented on #305
[dylib crash.log](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/5494964/dylib.crash.log)

[2020-11-05 14:30] Cyberbeni commented on #305
If you think I missed anything please let me know.

[2020-11-05 22:22] ssharma0312 commented on #309
After spending quite some time, we found out that issue was related to TrustKit (1.5.3) pod library. After upgrading to TrustKit (1.7.0), and using latest version of Fastlane 2.161.0 this issue is resolved.

[2020-11-05 22:22] #309 closed

[2020-11-06 00:54] lyndsey-ferguson commented on #309
Great, thanks for letting me know what the problem was.

[2020-11-06 22:23] lyndsey-ferguson commented on #305
It looked like valid failure. I've seen the same kind of error when `xcodebuild` tries to run and a directory it wants to write to already exist. That was when I was building out the parallel runner code -- I think it was for the `xcresult` file directory.

But, you're saying that Xcode 8.3 generates those and is failing? Does it _not_ fail for the first run?

[2020-11-06 22:32] lyndsey-ferguson commented on #305
Regarding VirtualBox, I always have problems when trying to set one up.

[2020-11-06 22:40] Cyberbeni commented on #305
No, it only causes warning logs during run. If we would let Xcode write to those folders, that would fill up the disk and that would make Xcode fail.

[2020-11-09 18:48] lyndsey-ferguson commented on #305
@Cyberbeni I've created a new option for `multi_scan` that will let you change the options that `scan` will receive.

Here is an example of how I could see you using it:

[code]

Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and atta

[2020-11-10 10:05] Cyberbeni commented on #305
It works.

`override_scan_options_block`?

[2020-11-12 10:35] Cyberbeni opened #311 "Update example for tests_from_xctestrun"
### Feature Request
Update example for tests_from_xctestrun

#### Motivation Behind Feature

The current example doesn't demonstrate any real life use case, just prints the test names. I think the most common use case for this action is to build the tests on 1 CI machine, split the test cases into multiple parts and then run those tests on multiple CI machines parallelly.

#### Feature Description

[2020-11-12 20:15] Cyberbeni commented on #311
(Jenkins has a bug where rerunning a job can result a multiline string turning into single line, making separating with "," better than "\n", so only testing a couple tests without splitting can use the same lane)

[2020-11-13 15:49] lyndsey-ferguson commented on #299
Released in [v3.14.8](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.14.8)

[2020-11-13 15:49] #299 closed

[2020-11-13 16:11] lyndsey-ferguson commented on #287
Released in [Sponsors-first](https://github.com/sponsors/lyndsey-ferguson) version of [v3.15.1](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/docs/feature_details/multi_scan.md). Available to the general public around Dec 18th, 2020!

[2020-11-13 16:11] lyndsey-ferguson commented on #286
Released in [Sponsors-first](https://github.com/sponsors/lyndsey-ferguson) version of [v3.15.1](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/docs/feature_details/multi_scan.md). Available to the general public around Dec 18th, 2020!

[2020-11-13 16:11] lyndsey-ferguson commented on #280
Released in [Sponsors-first](https://github.com/sponsors/lyndsey-ferguson) version of [v3.15.1](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/docs/feature_details/multi_scan.md). Available to the general public around Dec 18th, 2020!

[2020-11-13 16:11] lyndsey-ferguson commented on #305
Released in [Sponsors-first](https://github.com/sponsors/lyndsey-ferguson) version of [v3.15.1](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/docs/feature_details/multi_scan.md). Available to the general public around Dec 18th, 2020!

[2020-11-13 17:12] lyndsey-ferguson commented on #311
Done!

[2020-11-13 17:12] #311 closed

[2020-11-13 22:32] lyndsey-ferguson commented on #310
Hello @KITSEPAMAntonKomin, thank you for taking the time to report the issue. I have begun reviewing this, and would like to repeat what you wrote, in my own words, to confirm that I understand what you're saying.

When you provide pre-build artifacts, built with `multi_scan` and `:build_for_testing`, subsequent runs with `:test_without_building` is failing if the `testplan` option is provided.

I

[2020-11-13 22:34] KITSEPAMAntonKomin commented on #310
Yes, correct

Скачайте Outlook для iOS<https://aka.ms/o0ukef>
________________________________
От: Lyndsey Ferguson <notifications@github.com>
Отправлено: Saturday, November 14, 2020 12:32:31 AM
Кому: lyndsey-ferguson/fastlane-plugin-test_center <fastlane-plugin-test_center@noreply.github.com>
Копия: Anton Komin <Anton_Komin@epam.com>; Mention <mention@noreply.github.com>
Тема: Re: [lyndsey-fergus

[2020-11-13 23:42] lyndsey-ferguson commented on #310
The `:testplan` option should **not** be passed to `scan` as I see in the logs. The code that collects the tests should pull in the tests and populate `:only_testing` and the `:testplan` option should be rejected from the options that are being passed to scan.

This is the [rejection](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/helper

[2020-11-13 23:59] lyndsey-ferguson commented on #310
@KITSEPAMAntonKomin can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2020-11-14 00:12] lyndsey-ferguson commented on #308
So, this is just a random brainstorm of what could be the problem.

1. If Simulator logs are being included (via a Scanfile or an environment variable), that could account for the slowdown as the new simulators are being spun up prior to running tests and all the logs are being pulled out.
2. Additionally, if the simulator has a _lot_ of logs, that will now take a lot of time to pull as code was f

[2020-11-14 01:42] lyndsey-ferguson commented on #294
Just reviewed cod, it's last update was 9 years ago!

[2020-11-15 17:39] KITSEPAMAntonKomin commented on #310
@lyndsey-ferguson  I've tried to use your plugin version, but unfortunately it also fails with error.

`+------------------------------------------------+----------------------------------------------------------------------------------------------------+
|                                                              Summary for scan 2.165.0

[2020-11-16 11:48] BORUC228 opened #313 "Adding tvOS simulators support"
Thank you for useful plugin

### Motivation Behind Feature
Fastlane works  with tvOS simulators same good as  with iOS simulators so it would be great to adding tvOS simulators supporting.
Seems that it's easy to adding 'tvOS simulator' and 'tvOS' to all places in codebase where os_type defined but who knows

#### Feature Description
After implementation, the user can use the tvOS simulators (as A

[2020-11-16 13:40] lyndsey-ferguson commented on #310
Reviewing this error:
[code]
Makes me suspect that the test target `MyProjectBaseAppTests` is not included in the `BASE-TEST` Xcode Scheme. Can you double check that it is included?

[2020-11-16 13:43] lyndsey-ferguson commented on #294
Okay, so neither of these technologies are maintained, perhaps it would be better if I were to use two pipes between each fork for bidirectional communication.

[2020-11-16 13:51] lyndsey-ferguson commented on #294
Back to two pipes: let's look into select and how I can use it in the runner.

[2020-11-16 13:58] KITSEPAMAntonKomin commented on #310
@lyndsey-ferguson
Yes, indeed it is included.

I'm getting this when I try to launch tests from build deriveredData

`INFO [2020-11-15 19:30:07.32]: $ xcodebuild -showBuildSettings -workspace MyProject.xcworkspace -scheme MyProject-TEST -configuration Debug -derivedDataPath fastlane/deriveredData/MyProject-TEST
WARN [2020-11-15 19:30:10.32]: Command timed out after 3 seconds on try 1 of 4, trying

[2020-11-16 14:11] lyndsey-ferguson commented on #294
So, instead of waiting for child processes, we can select on an array of the workers read pipes for the parent fork.

[2020-11-18 14:08] lyndsey-ferguson commented on #310
@KITSEPAMAntonKomin it looks like the action meant to parse the testplan, `test_options_from_testplan` is unable to parse the given test plan. It is looking for the key "selectedTests" in each test target. My guess is that it is supposed to use the "name" field in each test target in this particular case.

Are the values "MyProjectBaseAppSnapshotTests", "ComponentLibraryTests", "MyProjectModelTest

[2020-11-19 08:44] KITSEPAMAntonKomin commented on #310
@lyndsey-ferguson
I've checked it and yes, test suite classes are added to their test targets as members.
If I use scan with testPlan parameter it works fine (with or without test_without_building = true), but we have some flaky tests and that is why we need functionality of multi_scan to retry them...

[2020-11-19 14:36] lyndsey-ferguson commented on #310
Ok, great, thank you for the information and for collaborating with me on this issue.

I will have to update the `test_options_from_testplan` action to better parse this information. Would you be able to upload a copy of the testplan document? You can change the names of things if you want, but I'd like the full format in order to iterate on fixing my code.

Once I have something that I think will

[2020-11-19 18:16] asos-chrisblackmore opened #314 "multi_scan succeeds when retrying test failures from multiple test targets"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-11-20 11:30] KITSEPAMAntonKomin commented on #310
@lyndsey-ferguson
Could you give me your email ? I will sent it there.

[2020-11-20 13:31] lyndsey-ferguson commented on #310
I don't want to post my email publicly. Can you encrypt it with my public key, attached the encrypted file, and I can decrypt it on my local?

[code]

[communication-public.key.zip](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/5573772/communication-public.key.zip)

[2020-11-20 13:31] lyndsey-ferguson commented on #314
Thanks for attaching the sample project. I'm sure that will help me track down and fix the problem faster.

[2020-11-20 13:32] lyndsey-ferguson commented on #314
In the meantime, I suggest running `multi_scan` once for each target with the testTarget set to the name of the test target. Sorry for the inconvenience.

[2020-11-20 13:43] KITSEPAMAntonKomin commented on #310
@lyndsey-ferguson ok, good idea with encryption, but data size of 470 kb is too large for your public key (I tried to encrypt and got this error - "data too large for key size")

[2020-11-20 13:50] lyndsey-ferguson commented on #310
Okay, I'll set up another key with GPG later on.

[2020-11-21 14:57] lyndsey-ferguson commented on #310
GPG is no longer working on macOS 11. So, I used this [article](https://gist.github.com/colinstein/de1755d2d7fbe27a0f1e) to guide me on how we can exchange this file.

Here's the short version.

1. Create a password file that you will use to encrypt your testplan file:
[code]
2. Encrypt the testplan file with that secret:
[code]
3. Encrypt the password file with the attached public key:
[code]
4.

[2020-11-23 11:29] ryanpato opened #315 "Best way to test multiple devices and configurations with retry capability?"
### Question Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I searched for [existing GitHub issues

[2020-11-24 09:59] plezervi opened #316 "multi_scan leaves out scheme from xcodebuild command"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2020-11-24 12:38] lyndsey-ferguson commented on #316
Hello @plezervi, the error `[worker 1] [09:28:08]: ▸ xcodebuild: error: The flag -testPlan  cannot be used since the scheme does not use test plans.` tells me that you may be facing the same Issue as #310.

Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If the output is similar to

[2020-11-24 12:56] lyndsey-ferguson commented on #315
Hello @ryanpato, thank you for reporting this. You'll have to bear with me as I work to understand your test scenario. I don't have much experience with testplans except in the multi_scan usecase to direct xcodebuild to run a given list of tests.

From what I understand, your testplan should run each test in the left-to-right mode, and then right-to-left mode, for each of the devices?

And, are yo

[2020-11-24 13:15] ryanpato commented on #315
That's correct!

Yeah after the left-to-right run, results files `left-to-right.junit, left-to-right.xcresult` are created. Then it will run the tests again with the right-to-left configuration, but this step is overwriting the `left-to-right.xcresult` and replacing it with `right-to-left`.

I haven't actually tried using the callback 🤔  yeah this could be a much tidier workaround! I'll check the

[2020-11-24 17:13] plezervi commented on #316
Hey @lyndsey-ferguson! Sorry for the duplication, that issue indeed seems similar to this. However on your branch my tests are running properly ¯\_(ツ)_/¯

[2020-11-24 18:31] lyndsey-ferguson commented on #316
Have you let them run all the way through? You haven't seen the xcresult and junit files overwritten?

[2020-11-25 01:17] lyndsey-ferguson commented on #315
Yes, if you can provide a project, that would be fantastic. Then I can test against that as I make changes.

[2020-11-25 13:37] KITSEPAMAntonKomin commented on #310
[MyProject-testplan.zip](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/5596973/MyProject-testplan.zip)
@lyndsey-ferguson sorry for the delay

[2020-11-29 14:57] #316 closed

[2020-11-29 15:00] lyndsey-ferguson commented on #308
@CorbinMontague are you including simulator logs? Have you been able to turn off collation to see if that makes a difference?

[2020-11-29 15:53] lyndsey-ferguson commented on #310
Ok, I don't know why I had to do do this, but I had to use a docker image with openssl to successfully decode this test plan. I think it is something to do with the latest OpenSSL on the new macOS.

[2020-11-29 16:31] lyndsey-ferguson commented on #310
I created this lane:
[code]

And ran it on the testplan that you provided (Thanks!).

However, it seems to be parsing the testplan file correctly. With the `--verbose` flag, I do not see this output (from the [above comment](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/310#issuecomment-728061806) indicating a problem):

[code]

Can you copy the lane that I created and run

[2020-11-29 16:36] lyndsey-ferguson commented on #310
My other thought is that the logic that is pulling the tests for the `only_testing` is failing. Looking at that.

[2020-11-29 17:02] lyndsey-ferguson commented on #310
Okay, I don't see anything, but I have added more logging to this git branch.

@KITSEPAMAntonKomin can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to re

[2020-11-29 17:12] lyndsey-ferguson commented on #310
So, @KITSEPAMAntonKomin , you have two assignments 😄

1. see [this comment](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/310#issuecomment-735420332)

2. see [this comment](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/310#issuecomment-735424445)

[2020-11-29 17:23] lyndsey-ferguson commented on #310
It may get to the point where I have to ask for a sample project to properly debug this.

[2020-11-30 13:42] CorbinMontague commented on #308
@lyndsey-ferguson Hey, sorry about the slow response here. I will carve out some time this week to turn off collation and kick off a few test runs.

[2020-11-30 21:37] adrienyvon699 commented on #310
Hello @lyndsey-ferguson, I am also trying to use an `.xctestplan` file with some defined tests to run in our current project.

I just saw this issue now, I went ahead and created a new empty project with one Test target, one class of Test with 3 tests, and one .xctestplan file with one selected test.
I updated the Pluginfile per your instruction [above](https://github.com/lyndsey-ferguson/fastlane

[2020-12-01 15:22] CorbinMontague commented on #308
@lyndsey-ferguson Simulator logs are not being included. At least I assume not since `include_simulator_logs` defaults to `false` and I'm not setting it in my multi_scan call. I'm gathering some data now around collation times to see how they compare in `3.11.5` vs `3.14.8`.

[2020-12-01 20:43] lyndsey-ferguson commented on #308
@CorbinMontague one thing about the include simulator logs, even though you don't set it, it can be set by a Scanfile or by your CI system sometimes (CircleCI as one example).

If you run `multi_scan` with the `--verbose` flag, and you see the `scan` summary of options before it tests, you will be able to see if `include_simulator_logs` is true or false.

[2020-12-03 13:42] lyndsey-ferguson commented on #310
@adrienyvon699 your sample project is useful in demonstrating a bug, but I don't think it is the same bug. All the same, I'll update this branch with some work.

Oh, and the bug is: your test plan has skipped tests, and the `test_options_from_testplan` action is not parsing them.

[2020-12-03 14:51] asos-chrisblackmore commented on #314
Thanks for the suggestion @lyndsey-ferguson! Unfortunately one of the targets in question has a substantial amount of unit tests in it, and providing the target to `only_testing` results in all test functions being passed along, which unfortunately generates an error: `Argument list too long - fork failed`. I've had to disable retrying until the issue is resolved.

Please reach out if you'd like a

[2020-12-03 14:55] lyndsey-ferguson commented on #314
@asos-chrisblackmore if you have tons of tests, then I suggest running them in batches. Try with a `batch_count: 8` to see how that works for you.

[2020-12-03 15:16] KITSEPAMAntonKomin commented on #310
@lyndsey-ferguson
Files of 2 assignments )
Encrypted as my previous files
[Logs and screens.zip](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/5636992/Logs.and.screens.zip)

[2020-12-03 15:48] yakimant commented on #292
We decided to use the following actions instead:

1. tests_from_xcresult
2. collate_junit_reports
3. collate_xcresults

Reason - we want to switch from scan to xcodebuild action to run the tests because of this issue: https://github.com/fastlane/fastlane/discussions/17563

[2020-12-03 16:42] lyndsey-ferguson commented on #292
Interesting. I could probably monkeypatch scan so it doesn't do that.

[2020-12-03 18:04] adrienyvon699 commented on #310
Yes that sounds right! Thank you again for looking into it, I'll be watching the thread.

[2020-12-03 18:16] CorbinMontague commented on #308
@lyndsey-ferguson I don't see a Scanfile anywhere and `include_simulator_logs` is `false` as you can see below:
[code]

I also had a look at my build logs when I gathered all this data originally and it looks like in the case of `3.11.5` and `3.14.7` collating the logs took around 2-3 minutes.

[2020-12-04 10:03] alexnot95 opened #318 "Collate_xcresults command question"
### Question Checklist

- [ ] Updated `fastlane-plugin-test_center` to the latest version
- [ ] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [ ] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [ ] I searched for [existing GitHub issues

[2020-12-12 13:31] lyndsey-ferguson commented on #308
Sounds good. I'll close this for now. You could try using this sampler to see where the time is going:

https://github.com/rbspy/rbspy

I used it when I was developing the parallelized version of multi_scan and saw that it was taking a lot of time (I found out that each fork was buffering the console output and had to turn that off to send the output to the console right away -- which I had piped

[2020-12-12 13:31] #308 closed

[2020-12-12 13:41] lyndsey-ferguson commented on #318
Yes, the `xcresulttool` tool is doing all of the collation. From your findings, it appears that the `xcresulttool` cannot differentiate between different locales. What if you tried a different device for each locale? Maybe the tool could reason through that?

Otherwise, you could turn off collation, and then specify which xcresults to merge in the input parameters.

Otherwise, the next thing to tr

[2020-12-12 13:41] lyndsey-ferguson commented on #318
I'm going to convert this into a GitHub Discussion question in case someone else has a suggestion.

[2020-12-12 13:42] #318 closed

[2020-12-12 14:30] lyndsey-ferguson commented on #310
@adrienyvon699 I believe that I've fixed the skipped_tests issue, could you remove your `Gemfile.lock` file, make sure that you've modified your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (ma

[2020-12-12 14:31] lyndsey-ferguson commented on #310
@KITSEPAMAntonKomin downloading your sample project now!
(apologies for slow responses -- I'm super busy and have limited time to work on this plugin)

[2020-12-12 14:54] lyndsey-ferguson commented on #310
I apologize, I am about to run out of the time I can spend on this plugin for now. I was able to successfully decrypt and unzip the screenshots and review them. I haven't had enough time to really analyze them, and so much time has passed since we last communicated that I need to re-read the thread of this Issue to figure out why I asked for the screenshots. I see that you have test plans in them,

[2020-12-12 14:56] lyndsey-ferguson commented on #310
For myself, next time:

1. Review this Issue thread to understand _why_ I was asking for screenshots.
2. Analyze the provided screenshots to see if the bug submitter has configured his project in an unanticipated way.
3. Based on the information that the bug submitter provides, review the logs for why he/she may be experiencing an issue.

[2020-12-16 14:41] KITSEPAMAntonKomin commented on #310
@lyndsey-ferguson
Current issue is that we can't run unit tests without building (from precompiled, build for testing = true). multi_scan return error "xcodebuild: error: The flag -testPlan  cannot be used since the scheme does not use test plans."
We want to have set of different test plans for specific test scenarios and to run them after only 1 project compilation instead of test with compilati

[2020-12-16 16:45] KITSEPAMAntonKomin commented on #310
@lyndsey-ferguson
I've tried this version :branch => "issue-310-testplan-passed-to-scan"

and got this error

INFO [2020-12-16 18:39:51.36]: ▸ xcodebuild: error: Failed to build workspace temporary with scheme Transient Testing.
INFO [2020-12-16 18:39:51.36]: ▸ 	Reason: Tests in the target “MyAppBaseAppTests” can’t be run because “MyAppBaseAppTests” isn’t a member of the specified scheme.

But it

[2020-12-21 13:35] lyndsey-ferguson commented on #287
https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.15.0

[2020-12-21 13:35] #287 closed

[2020-12-21 13:36] lyndsey-ferguson commented on #305
Released in [v3.15.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.15.0)

[2020-12-21 13:36] #305 closed

[2020-12-21 13:36] lyndsey-ferguson commented on #280
Released in [v3.15.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.15.0)

[2020-12-21 13:36] #280 closed

[2020-12-21 13:36] lyndsey-ferguson commented on #286
Released in [v3.15.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.15.0)

[2020-12-21 13:36] #286 closed

[2020-12-22 15:59] yakimant opened #321 "Fix TestsFromXcresultAction tests identifiers"
Currently tests are reported as `TestSuite/TestSuite/TestName()`, but should as `TestTarget/TestSuite/TestName()`

See also https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/292

[2021-01-04 20:54] Djuise opened #325 "undefined method `map' for nil:NilClass (NoMethodError)"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2021-01-07 10:02] raviTokopedia opened #326 "No tests found when passing test suite to multi_scan using the only_testing param"
### New Regression Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I searched for [existing GitHub

[2021-01-07 10:03] raviTokopedia commented on #326
Kind of a duplicate of https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/293, but it doesn't work for me.

[2021-01-11 18:25] lyndsey-ferguson commented on #325
Hello, can you provide more information? I have the "New Issue" template set up to guide you on how to provide that information.

![Screen Shot 2021-01-11 at 1 25 05 PM](https://user-images.githubusercontent.com/5741516/104222532-6ecbec00-5410-11eb-8d8c-1b2e461006eb.png)

[2021-01-11 18:31] lyndsey-ferguson commented on #326
Can you remove this option:

`build_for_testing: true`

From your call to `multi_scan` and try again. Before, when you passed this, it would also test, which is the opposite of what you're asking. When you pass in `build_for_testing: true`, that's all it should do.

Please let me know the results.

[2021-01-17 15:08] lyndsey-ferguson commented on #321
Fixed in [v3.15.2](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.15.2)

[2021-01-17 15:30] lyndsey-ferguson commented on #310
Reviewing this thread, I've caught up and the current state is that the project of @KITSEPAMAntonKomin cannot test pre-built data because 1. the testplan option is being provided to scan in appropriately, 2. when I fix that issue, we get an error with xcodebuild unable to "build workspace temporary with scheme transient testing"

[2021-01-17 15:31] lyndsey-ferguson commented on #310
Next up: analyze the provided screenshots to look for anything unanticipated.
Then: analyze logs for any clues.

[2021-02-01 11:22] alexnot95 opened #327 "How can I collect all skipped tests from xcresult?"
### New Issue Checklist

- [ ] Updated `fastlane-plugin-test_center` to the latest version
- [ ] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [ ] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [ ] I have removed any sensitive data suc

[2021-02-08 23:55] lyndsey-ferguson commented on #327
Can you submit a sample of an `*.xcresult` bundle that exhibits this issue? I can take a look at it.

[2021-02-09 08:37] alexnot95 commented on #327
Sure, here is the example with 1 success 1 failure, and 1 skipped test

[Test-testProject-2021.02.09_10-35-49-+0200.xcresult.zip](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/5949948/Test-testProject-2021.02.09_10-35-49-%2B0200.xcresult.zip)

[2021-02-09 08:39] alexnot95 commented on #327
I believe that there is 5 lines fix for it, here - tests_from_xcresult.rb
[code]

just add one more elsif and collect skipped array ?

[2021-02-11 18:14] aistetests opened #328 "Crash when using xcresult output type"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2021-02-11 18:51] lyndsey-ferguson commented on #315
Cleaning up abandoned issues. Closed as no example project was provided.

[2021-02-11 18:51] #315 closed

[2021-02-11 20:29] adrienyvon699 commented on #310
Hi @lyndsey-ferguson I am so sorry for being so late in responding to you.
I ran it again per your instructions and seems to have the same issue:

[code]

[2021-02-12 15:19] BohdanSweep commented on #281
Experienced the same type of issue. The tests are successfully found and ran when using the regular `scan`. Here how lane command looks:
[code]

But when using `multi_scan` the test are not found. I'm running regular UI XCtests.
[code]

Were there any investigations of this issue?

[2021-02-12 15:21] lyndsey-ferguson commented on #281
I am not aware of any investigation. @yousefhamza were you able to look into this? Any tips would be appreciated.

[2021-02-15 19:20] lyndsey-ferguson commented on #327
Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2021-02-16 10:27] alexnot95 commented on #327
@lyndsey-ferguson Thank you very much for the support, but looks like I can't get count of skipped tests on your branch :(

bundle install
[code]

After I run with verbose flag:
[code]
And that's a test lane:
[code]

Using the same xcresult I sent before

[2021-02-16 13:39] lyndsey-ferguson commented on #327
It doesn't look like it is actually using the gem with the change. Can you run it via:

[code]

?

[2021-02-16 14:09] alexnot95 commented on #327
Weird, now receiving shell error

[code]

[2021-02-17 08:20] alexnot95 commented on #327
@lyndsey-ferguson found the problem, looks like everything works as expected, thank you for your support, I think you can merge your PR :)

[2021-02-18 16:44] lyndsey-ferguson commented on #327
Released in [v3.15.3](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.15.3)

[2021-02-18 16:44] #327 closed

[2021-02-25 19:20] john-mejia opened #330 "Code coverage is lost for first multi_scan run"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2021-03-01 13:37] absimas commented on #328
bump 😭

[2021-03-01 14:15] lyndsey-ferguson commented on #328
I don't have a lot of time to look into issues right now. You can see the list of priorities in the [project](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/projects/1).

If you're open to investigating, I can review and test pull requests that fix issues or add features.

[2021-03-02 13:12] lyndsey-ferguson commented on #310
I don't see anything off with the images. I do see that Anton is using test plans in the test stage.

[2021-03-02 13:19] lyndsey-ferguson commented on #310
@KITSEPAMAntonKomin can you provide a sample project that exhibits this problem? I'm afraid I need it to proceed further.

[2021-03-02 13:20] lyndsey-ferguson commented on #325
Closing this issue due to lack of response and data

[2021-03-02 13:20] #325 closed

[2021-03-02 13:20] lyndsey-ferguson commented on #326
Closing this due to lack of response and data

[2021-03-02 13:20] #326 closed

[2021-03-02 13:27] #321 closed

[2021-03-02 13:38] lyndsey-ferguson commented on #328
**Good news**! I have been able to spend some time on this issue this morning.
**More good news**! I have a clue of what the problem is. Take a look at this:
[code]

Do you notice any difference between the source and destination file path? No? Well the check to see if the paths are the does see the difference:

[code]

But Mac OS does not: the `F` in `fastlane` is capitalized in the source path,

[2021-03-04 22:37] lyndsey-ferguson commented on #328
Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this issue (makes it easier for me to review).  If it works, please let me know.

[2021-03-05 14:47] aistetests commented on #328
Thanks Lyndsey!

It no longer fails with this error, and if there has been no test retrying I can see both reports (junit and xcresult) nicely 👍 .

However, if there has been a retry I see nothing under test_output (neither junit nor xcresult reports). I do see them there while the run is in progress and then they disappear. Then I can only find the merged xcresult in the temporary directory - e.g

[2021-03-06 20:34] lyndsey-ferguson commented on #328
Are you saying that this print statement:
[code]

Is not correct and there is no such file being created?  Can you include the entire log file for me to analyze?

[2021-03-07 02:33] lyndsey-ferguson commented on #314
There is a problem with retrying tests with `invocation_based_tests` (#281). The sample you provided isn't an invocation test based project. Are you certain that you want to use that option?

[code]

If I remove that option from the sample, everything seems to work fine, except for the final report of the passing/failing tests.

[2021-03-07 02:38] lyndsey-ferguson opened #333 "Summary of failed tests for multi-target multi_can is incorrect"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2021-03-07 02:39] lyndsey-ferguson commented on #314
I've created issue #333 for the failed tests summary.

[2021-03-07 02:41] lyndsey-ferguson commented on #314
@asos-chrisblackmore please let me know if removing the option `:invocation_based_tests` works for you. If you _do_ have invocation tests, I apologize but I do not have a workaround to properly retry those tests at the moment.

[2021-03-08 11:11] aistetests commented on #328
Yes - to be more exact, this file is being created (as well as junit report and report-2.xcresult), but after collating test_output folder becomes empty.

Here is the full log:
[logs for test-center issue #328.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/6100907/logs.for.test-center.issue.328.txt)

[2021-03-08 12:44] aistetests commented on #328
I digged a bit deeper and added a verbose:true to collate_xcresults.rb, line 32:
`FileUtils.cp_r(tmp_collated_xcresult_bundlepath, params[:collated_xcresult], verbose: true)`

It showed the command being executed:
`cp -r /var/folders/1y/vn6grmgx1dl74ly29rsgc6yh0000gn/T/collated_result_20210308-14152-100p8w4.xcresult /Users/aistes/anonymised-app-ios/fastlane/test_output/report.xcresult`

I executed

[2021-03-08 15:59] aistetests commented on #328
Update: I got it to work! There were simply more places in the report_collator.rb where `.downcase` was needed.

Attached a version that seems to work (I only did the changes for xcresult and junit reports):
[report_collator.rb.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/6102554/report_collator.rb.txt)

[2021-03-08 18:50] lyndsey-ferguson commented on #328
So, downcasing worked? This is soo strange. There could be something else going on with your case. I don't have time to look deeply into this right now, but thank you for your hard work and the clues!

[2021-03-13 22:27] lyndsey-ferguson commented on #281
I will close this issue unless someone has an idea of how to retry failed invocation tests.

[2021-03-15 09:21] Monte9 commented on #281
@reallyyun your suggestion of "Enable Testability to Yes" fixed this issue for me. Thanks a ton! 💯

[2021-03-18 01:37] lyndsey-ferguson commented on #328
@aistetests I've modified the code to add more logging to find out where this difference in case is occurring. Can you re-run your fastlane on my updated branch with the `--verbose` flag on?

Remove your Gemfile.lock file, modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still p

[2021-03-19 12:59] aistetests commented on #328
Sure, here's the output. Thanks for looking into it!

[logs for test-center issue #328 - 2.txt ](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/6171235/logs.for.test-center.issue.328.-.2.txt)

[2021-03-20 14:08] yousefhamza commented on #281
Hi @lyndsey-ferguson sorry for the late reply 🙏

With invocation style tests `only_testing` should be empty for the first run, because the tests are created at runtime, for any subsequent run, `only_testing` should contain the test _classes_ not the test cases, because test cases, because even after the tests run you can only run the classes not a single test case.

I got this conclusion from watc

[2021-03-22 17:34] lyndsey-ferguson commented on #281
@yousefhamza I do think that this helps. I'll open this issue back up again.

[2021-03-22 17:36] lyndsey-ferguson commented on #310
Closing this ticket as I have no way to reproduce and fix this issue.

[2021-03-22 17:36] #310 closed

[2021-04-06 16:09] asos-chrisblackmore commented on #314
@lyndsey-ferguson apologies for the delay in getting back to you!

Disabling `invocation_based_tests` does indeed solve this particular issue, thank you for the suggestion!

The junit (`report.junit`) looks correct, but there's now `xcresult` files per-target, which isn't ideal. I'd expect them to be collated like they would previously. I'm assuming that's a separate issue?

[2021-04-06 16:22] iammike commented on #314
Just a note, invocation based tests also worked for getting me from 0 tests to all my tests. Unfortunately, I'm on Circle and it  seems to ignore parallel_testrun_count so end of the line for me :(

[2021-04-06 17:22] lyndsey-ferguson commented on #314
@asos-chrisblackmore yes, the failure to collate xcresult files for separate targets would be a separate issue, in fact, it would have to be a feature request as I didn't build the collation to handle separate targets. You _could_ achieve the same result with the `xcresulttool` and the `merge` command. [This Ruby code](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib

[2021-04-06 17:47] iammike commented on #314
Yeah, working with Circle has been a nightmare. They do so much weird stuff regarding Xcode/don't support much of anything "fun" or useful w/ XCUITest. Thinking we'll migrate off it soon. Thanks for the idea, unfortunately out of time for this spike right now so will file it away and try again later.

[2021-04-06 17:51] lyndsey-ferguson commented on #314
@iammike Ug, sorry to hear that you're having problems with CircleCI 😢

[2021-04-06 17:55] lyndsey-ferguson commented on #314
@marcomorain I thought you may want to bubble @iammike's bad experience up to your product managers.

[2021-04-06 17:57] marcomorain commented on #314
Thanks I’ll pass this thread on 👍

[2021-04-06 18:30] iammike commented on #314
Ticket 86853 🤗

[2021-04-06 20:02] asos-chrisblackmore commented on #314
@lyndsey-ferguson using your `collate_xcresults` lane would solve that particular problem no? Using something like `Dir.glob("../build/output/**/*.xcresult")` to make sure all `xcresult` files (regardless of the file structure) are pulled in.

[2021-04-06 20:40] lyndsey-ferguson commented on #314
@asos-chrisblackmore I _think_ that should work as it is basically the same thing

[2021-04-06 21:45] asos-chrisblackmore commented on #314
Yup, tried it, works perfectly. If you're happy for this issue to continue under https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/281 (albeit manifesting differently) then feel free to close this. Appreciate your investigation and suggestions :)

[2021-04-06 21:47] lyndsey-ferguson commented on #314
Wait, are you saying that there isn't anything more to do here?
🤯

[2021-04-06 21:52] asos-chrisblackmore commented on #314
Removing `invocation_based_tests` is a good enough workaround for my use case, test retrying correctly fails for multi targets when doing so!

There still is an issue, but like I said, if you're happy for that to continue under https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/281 then go for it. I'm not too if a fix would address both problems or not. I'll leave it with you!

[2021-04-08 11:49] lyndsey-ferguson commented on #314
My plan for #281 is to fix it so that the failing test class is retested for invocation based tests. I'm closing this ticket for now.

Thanks!

[2021-04-08 11:49] #314 closed

[2021-04-09 18:47] jdoshi-indeed opened #335 "collate_junit_reports action fails on version 3.15.3"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2021-04-09 19:05] jdoshi-indeed commented on #335
Just debugged across versions and I can confidently say that this has broken between version 3.14.2 and 3.14.3.

[2021-04-13 06:41] aistetests commented on #328
I noticed the issue has status "awaiting response", perhaps my previous comment got lost, so dropping this line just in case.

[2021-04-14 14:28] asos-chrisblackmore commented on #314
Hey @lyndsey-ferguson - jus an FYI that although removing `invocation_based_tests` does solve the problem, supplying a `batch_count` drastically slows down the test run. It batches per target - so with 10 targets, and a batch count of `5`, would result in 50 batches. There seems to be a little overhead with batches, and when you consider 1000's of tests, it does become an issue in terms of speed/p

[2021-04-14 19:08] jdoshi-indeed commented on #335
@lyndsey-ferguson any plans to get to this?

[2021-04-15 14:05] lyndsey-ferguson commented on #335
@jdoshi-indeed I don't think I'll have time to look into this until December. I have placed this at the top of the list in the [kanban board](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/projects/1) for this project.

[2021-04-15 23:18] jdoshi-indeed commented on #335
@lyndsey-ferguson Could I help you? Of course I would need some guidance from you.

[2021-04-16 19:35] lyndsey-ferguson commented on #335
Hello @jdoshi-indeed, yes I would appreciate any help and I can provide guidance. I do not think you even need a lot of experience in Ruby, just a little willpower to push through the obstacles of lack-of-knowledge.

You can use [these fastlane instructions](https://github.com/fastlane/fastlane/blob/master/ToolsAndDebugging.md) on debugging in the same way that you can in the plugin.
_maybe I shou

[2021-04-16 20:13] lyndsey-ferguson commented on #328
Thanks @aistetests, unfortunately, I have other things that are demanding my time right now. I may not be able to really look at this until December. If you're willing to investigate this, I can provide some guidance.

[2021-04-16 20:25] lyndsey-ferguson commented on #314
I moved this to a [discussion](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/discussions/336)

[2021-04-23 11:54] Cyberbeni commented on #292
Sometimes our macOS tests hang when using Xcode12+. When this happens then ruby is at 100% CPU usage and either the app or the test runner or both are stuck in some kind of logging (-[XCTestLog testLogWithFormat:] in the test, _NSLogv in the  regular app from the spindumps I have saved)

The feedbackassistant people suggested trying to remove `xcpretty`, `tee`, `set -o pipefail`, and `NSUnbuffered

[2021-04-23 11:58] Cyberbeni commented on #292
As far as I know `NSUnbufferedIO=YES` is only needed to make the log appear faster, so I'll try passing `xcodebuild_command: "xcodebuild"` to multi_scan for a while.

[2021-04-23 16:56] lyndsey-ferguson commented on #292
@Cyberbeni can you elaborate on what you're going to try doing?

[2021-04-27 10:47] Cyberbeni commented on #292
I'm trying to get to a point where tests never hang (which is time consuming because they don't always hang, so I have to run them a lot) just taking out `NSUnbufferedIO=YES` didn't seem to help, the new `number_of_retries` parameter in `scan` seems to break a lot, so I'm going to try running scan without retries and without xcpretty to see if that changes anything.

[2021-04-28 11:51] Cyberbeni commented on #292
The test runs with disabled xcpretty (thus with regular scan, without retries) didn't hang so far (could be a coincident but based on the history, it's 90+% that it's not) so supporting disable_xcpretty would help us too. (These hangs don't affect iOS tests, only macOS ones, and only with Xcode 12+)

[2021-04-28 16:18] lyndsey-ferguson commented on #292
You tested with iOS tests? Similar number of tests?

[2021-04-28 20:34] Cyberbeni commented on #292
Both iOS and macOS run at least once every day on all supported platforms. iOS has around 180 tests and runs 6 simulators parallelly with 18 batches. macOS has around 200 tests, which is randomly split into 2 that run on separate machines.

[2021-04-29 06:48] Cyberbeni commented on #292
I don't know if a ruby spindump is any useful to you, apart from seeing that it spends all of its time in `rb_reg_...` functions but here it is:
[rubyspindump.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/6396752/rubyspindump.txt)

[2021-04-29 10:02] Cyberbeni commented on #292
One of the tests completed in 5 hours and 45 minutes (compared to the normal 90 minutes), so I'm trying to pipe the log file through xcpretty and it is taking a long time on my local machine too.

We print out the view hierarchy in the failure description and replace newlines with `Đ`, so it can be easily copied from jenkins which resulted in this case in ~37k character long line. Replacing these

[2021-04-29 17:16] lyndsey-ferguson commented on #292
The Ruby Spindump isn't helpful. I have used rbspy to help me when I was parallelizing the iOS builds; I don't know if that will help you. If xcpretty is the cause of this slowdown, the result is to use xcresult files instead to find out which tests failed. Unfortunately, I won't be free to spend any significant time on this until at least December.

[2021-04-29 17:55] Cyberbeni commented on #292
We removed the code that produced the output that made xcpretty take long in some cases, it took 32 minutes to format a log with 5 failures and half second when replacing the long lines . (The raw log of the last retry is saved, so if we really need to know what was the state at the moment of failure, we can use that instead)

[2021-05-04 04:46] tasvir-rohila-carsales opened #337 "fastlane multi_scan: undefined method `length' for nil:NilClass"
### New Issue Checklist

- [✅] Updated `fastlane-plugin-test_center` to the latest version
- [✅] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [✅] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [✅] I have removed any sensitive data suc

[2021-05-07 12:10] moglistree commented on #293
I am seeing a similar issue with version `3.15.3`. Trying to run a scheme with 71 tests and it only identifies the first 10 tests when I use `test_without_building` as `true`.
But if I do and build and run of the tests is identifies all 71 tests and runs them no problem.

[2021-05-11 14:21] Patrick-Kladek commented on #330
I have the same issue. Is there a known workaround?

[2021-05-14 19:04] lyndsey-ferguson commented on #337
Can you please re-run the lane with the `--verbose` flag?

[2021-05-14 19:36] lyndsey-ferguson commented on #293
@moglistree can you please create a new Bug Issue? Please pay particular attention to the template to provide the information I need to look into the problem.

[2021-05-15 10:51] hactar opened #339 "undefined method `value' for nil:NilClass"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2021-05-16 00:49] lyndsey-ferguson commented on #339
Hi @hactar; I won't be able to guess why this bad junit is being made. Have you reviewed it? Does it look valid? I see by the output that you did provide that you used the `--verbose` flag. I add a lot of output around junits and HTML reporting, do you see any clues there?

Are there any crashes in the test runner that you can see? Usually, full logs have more information before the problem that h

[2021-05-16 11:17] hactar commented on #339
Hey @lyndsey-ferguson, thanks, a few updates: I posted the junit already (BikemapTests-batch-3. The others, BikemapTests-batch-1, BikemapTests-batch-2 and BikemapTests-batch-4 look normal)

[code]

Thats it, it does not contain anything other than this. I've gone deeper into the logs, and yes it appears that a test runner crashed during the run:

<details>
[code]
</details>

I took a look at Test-

[2021-05-16 11:25] hactar commented on #339
Would a good workaround be adding something to collate_junit_reports.rb above line 13 which filters out xml files where the root object did not contain a .name value?

[2021-05-17 22:09] AyaAkl25 opened #340 "Question: Why Scanfile overrides multi_scan options"
### New Issue Checklist

- [ yes] Updated `fastlane-plugin-test_center` to the latest version
- [ yes] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [ yes] I reviewed the example [Fastfile](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/fastlane/Fastfile)
- [ ] I have removed any sensitive data such as p

[2021-05-22 12:03] lyndsey-ferguson commented on #340
Hello @AyaAkl25 , I have moved this question to a Discussion question: https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/discussions/342

[2021-05-22 12:03] #340 closed

[2021-05-22 12:16] lyndsey-ferguson commented on #339
@hactar that would be a workaround, but I wonder why the file doesn't exist?

[2021-05-22 12:17] lyndsey-ferguson commented on #339
I have to move this to the backlog again, personal life has gotten too busy to try and pick this up.

[2021-05-22 12:27] lyndsey-ferguson commented on #337
Once you re-run the lane with the `--verbose` flag, please upload the more detailed log. I will close this Issue next Friday if you're not able to respond.

[2021-05-22 12:52] hactar commented on #339
So just to be clear, the file does exist, its just malformed: its not a full report, but only contains two lines because the test runner crashed:

[code]

I tried the work around, but its not complete, because the tests that were supposed to run in that testrunner are never run or rerun, so multi_scan completes with the workaround, but because only 38 of the 47 tests or so where run, it marks the

[2021-05-22 13:35] lyndsey-ferguson commented on #339
Sure, it is malformed, but we don't know *why*. That's what concerns me.

`multi_scan` uses the results of those junit files to determine which tests passed so it doesn't have to run them again. Without a valid junit, the program doesn't know.

Thanks for the note about the parallelism. There were problems when running tests in parallel and extra params were sent via a Scanfile that broke things:

[2021-05-30 12:15] #337 closed

[2021-05-30 13:33] lyndsey-ferguson commented on #339
@hactar I'm trying to decrypt the log files that you sent me. When I run the command to decrypt the key that you encrypted with my public key, I am using this command:
[code]
When I try to read the `secret.txt.key`, my computer tells me that it is a binary key (which it shouldn't).

Did you encrypt that key with my public key like this?
[code]
And if so, did you create the `secret.txt.key` and enc

[2021-05-31 12:39] hactar commented on #339
The exact command I ran was this:
`openssl rsautl -encrypt -pubin -inkey lyndsey-ferguson-id_rsa.pub.pkcs8 -in secret.txt.key -out secret.txt.key.enc`

I created the key using `openssl aes-256-cbc -in build-multi-scan.txt -out build-multi-scan.txt.enc -pass file:secret.txt.key`

Thanks for the tip with the Scanfile, we do still have a scanfile around, will see if removing it changes anything (the

[2021-05-31 23:05] tasvir-rohila-carsales commented on #337
Hi @lyndsey-ferguson
Here is the detailed log of the re-run with `--verbose` flag.

[code]

Could you please take a look and advise a way forward.
Cheers,
Tas

[2021-06-03 13:18] burtsevyg commented on #337
Same problem.

[2021-06-03 13:28] lyndsey-ferguson commented on #337
Can you please include the log before the crash? It include DEBUG information that will describe what is happening and what the shape of the data is before the crash.

[2021-06-04 21:07] burtsevyg commented on #337
Sorry, I can not. Maybe next time.

[2021-06-04 21:58] lyndsey-ferguson commented on #337
The request for the logs before the crash was directed at @tasvir-rohila-carsales. @burtsevyg if you could provide logs for your issue with the `--verbose` flag, that would help me.

[2021-07-01 21:31] tejassharma96 commented on #339
Isn't it just the one generated by running `build-without-testing`? I'm having the same issue and wasn't able to resolve it by setting parallel test count to 1.

[2021-07-19 17:37] ssharma0312 opened #347 "NoMethodError: [!] undefined method error"
Batch .xcresult files are not merging to produce 1 final report, and pipeline failing with error `NoMethodError: [!] undefined method `value' for nil:NilClass`

Fastlane version: 2.187.0
Fastlane-plugin-test_center: 3.15.3

Test are called in gitlab pipelines like following:
`bundle exec fastlane ios scanUITest scheme:XXX branch:master`

Fastfile
`# This file contains the fastlane.tools configurat

[2021-07-19 18:08] lyndsey-ferguson commented on #347
@ssharma0312 can you include the logs? I'd like to see the stack trace.

[2021-07-19 20:12] ssharma0312 commented on #347
My suspect is that it could be related to following error, as I seen this issue only when one of the test fails due to

`XXX.app encountered an error (Failed to prepare device 'iPhone 11 Clone 2 TestCenter::Helper::MultiScanManager::SimulatorHelper<70251400702060>' for impending launch. If you believe this error represents a bug, please attach the result bundle at /Users/rebankbuildmachine/builds/

[2021-07-19 20:39] ssharma0312 commented on #347
XCode version 12.4

[2021-07-20 18:55] ssharma0312 commented on #347
Upon further investigation, I found this failed due to fastlane using ruby 2.6.3, after setting ruby version to 2.7.2 this issue seems to be resolved.

[2021-07-20 18:55] #347 closed

[2021-07-21 13:34] lyndsey-ferguson commented on #347
That makes sense. It didn't look like an error with the collation per-se, but rather a missing device.

[2021-08-15 19:24] lyndsey-ferguson commented on #292
Note for anyone watching: I'm prioritizing this feature now and am working on the plan. As far as the `-showBuildSettings` issue slowing the start-up, I will treat that as a separate issue.

[2021-08-20 15:13] craig-jamieson opened #353 "No tests found when using multi_scan with XCUITest"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2021-08-22 16:46] lyndsey-ferguson commented on #353
Hello @craig-jamieson you didn't explicitly mention it, so I have to ask, did you follow the suggestion to:

[code]
?

[2021-08-23 14:10] craig-jamieson commented on #353
Hello @lyndsey-ferguson, thanks for the reply

Yes, I've enabled testability for the appropriate test target

[2021-08-23 16:30] lyndsey-ferguson commented on #353
Okay, the next thing I have to ask is for you to run your lane, but this time with the `--verbose` flag and include the logs.

[2021-08-23 22:15] craig-jamieson commented on #353
Thanks!
[e2e1.odt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/7035199/e2e1.odt)

[2021-08-24 19:13] dennismozart1994 opened #354 "Allow to pass test plans instead of running all tests into a scheme"
### Feature Request
Currently there's no support for all scan features into multiscan and lots of pretty useful features are out of support right now, like concurrent_workers and mainly test_plan options.
The testplan option allows us to pass a set of tests through an Xcode file instead of having to use multiple schemes for different sets of tests like Smoke, Regression, etc... This allow us to ha

[2021-08-24 19:35] #354 closed

[2021-08-24 19:36] dennismozart1994 commented on #354
nvm

[2021-08-25 15:39] lyndsey-ferguson commented on #354
@dennismozart1994 did you see that multi_scan runs on scan and you can pass in scan params? I just want to make sure that you saw that 😄

[2021-08-29 22:01] lyndsey-ferguson commented on #353
The logs indicate that the plugin is crashing in the runner and that exception is caught in your Fastfile. The logs do not provide enough information to indicate where in the runner it is crashing. I've made some modifications to provide more logs.

Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Plugi

[2021-08-31 09:21] craig-jamieson commented on #353
Thank you!

See attached
[e2et.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/7082752/e2et.txt)

[2021-09-06 14:16] lyndsey-ferguson commented on #353
For my reference, this is the guts of where this is failing:
[code]

[2021-09-06 21:03] lyndsey-ferguson commented on #353
@craig-jamieson, I just noticed that you have this `-jobs `sysctl hw.ncpu | awk '{print 2*$2}'` ` for the `xcargs` parameter. I imagine that you're trying to achieve parallel jobs with this, but it may interfere with the logic that I've built into `multi_scan's` `parallel_testrun_count`....just food for thought as I add more logs.

[2021-09-06 21:09] lyndsey-ferguson commented on #353
Can you modify your `Pluginfile` per my instructions below, remove your Gemfile.lock file, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]
Please attach the logs. Thanks!

[2021-09-07 09:17] craig-jamieson commented on #353
Hi @lyndsey-ferguson

See logs attached.

[e2elog.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/7120387/e2elog.txt)

[2021-09-07 14:47] okankocyigit opened #356 "Coverage with multi_scan is not equal to scan coverage."
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2021-09-09 12:45] lyndsey-ferguson commented on #353
For my own reference, it is failing somewhere here:
[code]

[2021-09-09 13:04] lyndsey-ferguson commented on #353
Okay, so I believe I know what the error is: the `:destination` is being provided and most of the users do not pass it in directly (or if they do, they provide the `udid` value). The code at this point is looking for a `udid` value to identify the unique simulator. The code _should_ detect when it is missing and look it up. I also see that the old way of specifying the simulator with the `:device`

[2021-09-10 13:23] craig-jamieson commented on #353
Thanks @lyndsey-ferguson for the info
I'm having some trouble using the udid as a parameter at the moment, is there anything else you can suggest as a workaround?

[2021-09-10 17:49] lyndsey-ferguson commented on #353
You should be able to get the `udid` value via:
[code]
https://www.iosdev.recipes/simctl/

Find the iPhone 11 Pro and copy the udid of the device you want.

[2021-09-10 20:31] tejassharma96 opened #357 "Multi-scan using a deprecated option"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2021-09-12 23:53] lyndsey-ferguson commented on #356
Can you try setting the "try_count" to 1? I think multi_scan _may_ be slightly more because it can cover more tests than regular scan....

[2021-09-12 23:53] lyndsey-ferguson commented on #353
@craig-jamieson bump

[2021-09-12 23:57] lyndsey-ferguson commented on #357
Hello @tejassharma96, can you tell me which version of Xcode you're using? Also, I don't think my plugin specifically uses that flag...have you created an Issue with fastlane's scan tool (multi_scan uses scan under the hood)?

https://github.com/fastlane/fastlane/commit/a4f5daa5fdafb9bb03204b9c204f7c1e76d4c654#diff-e99d2d02f1b755b1df79d1659c11eb0ce5a2f3d3c77995350dba3a771a29e33eR41

[2021-09-13 00:26] lyndsey-ferguson commented on #339
@hactar, I have been working on making multi_scan use xcresult files instead of junit files, if you're interested in testing (alpha quality), follow the [issue for the feature request](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/292)

[2021-09-13 00:29] lyndsey-ferguson commented on #292
@Cyberbeni @yakimant I have started working on this feature to use xcresult files to find the failing tests instead of the junit files. If you're interested in alpha testing, can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are problems, please let me know and attach the con

[2021-09-13 06:44] Cyberbeni commented on #292
I'm currently on vacation, will try it out next week.

[2021-09-13 07:09] hactar commented on #339
@lyndsey-ferguson Cool thanks! we're busy with our iOS 15 release but will test it once we find a moment.

[2021-09-13 14:36] craig-jamieson commented on #353
@lyndsey-ferguson I've made some progress, I've been able to use the UDID as a parameter, but the tests still don't appear to be executing. I've attached the latest log
[e2elog.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/7155045/e2elog.txt)

[2021-09-13 16:47] tejassharma96 commented on #357
I'm using 12.5.1, I'll go ahead and create an issue in the fastlane space.

[2021-09-13 19:23] craig-jamieson commented on #353
@lyndsey-ferguson I made some progress, I was able to add the UDID as a parameter but the tests are still failing to execute, see below excerpt from logs:

[code]

[2021-09-13 20:44] craig-jamieson commented on #353
Hello,

See the full logs attached.

[e2et.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/7157263/e2et.txt)

[2021-09-16 12:08] #357 closed

[2021-09-21 22:09] lyndsey-ferguson commented on #292
@Cyberbeni sorry about that, I've fixed that issue.

[2021-09-22 07:04] CyberOwl opened #358 "Unable to start test session when using XCTestObservationCenter"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2021-09-22 12:15] CyberOwl commented on #358
Workaround for `.xctestplan` users: manually add incorrect test case's identifiers in `skippedTests` array

[2021-09-22 16:29] Cyberbeni commented on #292
There is a problem with older Xcodes (10.1 and older). After running the first batch, there is a crash because there is no xcresult file at `TestTarget-batch-1/report.xcresult`
We use these configurations:
[code]

Attached stack trace:
[test_center_crash.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/7212344/test_center_crash.txt)

For iOS we also use Xcode 12.5, that s

[2021-09-26 22:37] lyndsey-ferguson commented on #292
@Cyberbeni yes, the action that is supposed to get tests from an xcresult only works for Xcode 11+. I'll have to put some more work into `tests_from_xcresult` to support older versions.

[2021-09-26 22:39] lyndsey-ferguson commented on #358
Thanks for the workaround. `multi_scan` uses a very simple mechanism to find the tests....to test: it looks at the `xctest` binary and looks for methods named `test...`.

[2021-09-29 15:15] craig-jamieson commented on #353
Hi @lyndsey-ferguson,

Sorry for the delay, the tests are now being executed 🙌
I'm experiencing some other issues with circleci but I'll raise that separately after I've investigated

[2021-10-03 18:56] lyndsey-ferguson commented on #353
Okay, great! I'll put this issue back on the to-do pile now that you're unblocked.

[2021-10-03 19:28] lyndsey-ferguson commented on #292
@Cyberbeni so, you're saying that there is **no** `*.xcresult` bundle at that path, but there _is_ a `*.test_result` bundle at that path?

[2021-10-25 13:51] craig-jamieson opened #361 "Cannot view screenshots of failed tests"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2021-10-29 00:15] tejassharma96 opened #362 "Trying to run with testplans fails unless you specify a workspace"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2021-11-02 03:11] huyhua commented on #358
For people who do not use xctestplan, here's a workaround with similar idea
[code]

[2021-11-14 19:53] lyndsey-ferguson commented on #362
So, I'm just going to perform a brain dump so I'll let the text flow free form. If your fastlane script will be relying on multi_scan to build the project before hand, it will have to have run the magical discovery phase itself...unless that fails because you didn't provide the workspace or project. I don't remember if that will work. Let's say it would fail and you're just relying on the tests...

[2021-11-14 19:56] lyndsey-ferguson commented on #361
I noticed this in the logs: https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/179 can you try not using CircleCI (GitHub Actions maybe), or not setting parallel runners?

[2021-11-15 20:39] tejassharma96 commented on #362
thanks for the reply! I'm mostly trying to avoid adding another config item. for now I've just added
[code]
and that seems to have worked, but I was hoping you might be able to update the plugin to take advantage of scan's functionality that supports a few more use-cases and wouldn't require me to maintain it locally (ie my links in the original MR). If you just reuse scan's stuff, it isn't someth

[2021-11-15 20:43] tejassharma96 commented on #362
Created here: https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/pull/363

[2021-11-17 09:22] Cyberbeni opened #365 "Add option to skip collating "Attachments" directory"
### Feature Request
Add option to skip collating "Attachments" directory during multi_scan

#### Motivation Behind Feature
We never use the contents of this directory and Xcode 8.2 (for macOS 10.11 testing) doesn't delete the generated Attachments, so it would take up a lot of space, so we run a script using fswatch to remove write permission from directories called Attachments, which makes this c

[2021-11-17 13:38] craig-jamieson commented on #361
When I don't set parallel runners I can view the screenshots as expected, however, I haven't had an issue with the simulators being cloned on CircleCI, it's only when viewing the archivedResults

[2021-11-19 00:25] tachtevrenidis commented on #339
same issue here, trying the workaround

[code]

[2021-11-19 15:46] tachtevrenidis commented on #358
having the same issue (as of Xcode 13) but for me the test identified don't seem to correspond to classes in my bundle

[code]

[2021-11-21 18:00] lyndsey-ferguson commented on #361
It will be a while before I can look at this. Perhaps the collation of test results is wiping out the screenshots, can you add `collate_reports: false` as one of the options for `multi_scan`?

[2021-11-22 02:58] mokagio commented on #358
For what is worth, and without taking away for the great value this plugin has been delivering to retry tests from the terminal and CI, [Xcode 13 introduced a _Test Repetition_ option in the the Test Plan](https://mokacoding.com/blog/wwdc21-whats-new-in-testing/), which, as far as I can tell, can be used to obtain the same result as `multi_scan` with vanilla `xcodebuild test` or Fastlane's `scan`

[2021-11-22 17:05] lyndsey-ferguson commented on #358
Thanks @mokagio , this is an important update which will reduce the appeal of this plugin. I think the other reason people may still want to use the plugin is the ability to parallelize tests in near-equal sized batches of tests per test runner. Xcode's parallelize tests option would parallelize based on Test Suite which wasn't as ideal as the number of tests per Test Suite can vary widely.

[2021-12-02 11:51] Cyberbeni opened #366 ""Failed to prepare device" error is not retried and causes crash when collating the reports"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2021-12-02 15:23] Cyberbeni commented on #366
For some reason we were not passing true to retry_test_runner_failures even though I was the one who added that.

[2021-12-06 08:24] Haibo-Zhou commented on #33
@lyndsey-ferguson May I know if this bug has been fixed now. I meet the same issue with Xcode 13 when doing multi-Scan for my UITest. The coverage report will take the last scan as its output, since the last scan only cares a few failed test cases normally, then the coverage would be much lower than the actual result.

[2021-12-06 08:36] Haibo-Zhou commented on #33
@lyndsey-ferguson I found the same issue on 3.15.3 (the latest version). The coverage report will take the last scan result as its input, since the last scan only cares a few failed test cases normally, then the coverage would be much lower than the actual result.

[2021-12-06 09:49] Haibo-Zhou opened #367 "Multi_scan generate coverage reports base on last scan."
I found this same issue which has fixed in #33, but I meet this issue today in the latest version (3.15.3) when performing iOS UITest in Xcode 13 with fastlane. For instance, I run 10 test cases with 1 failure, and the 2nd scan re-run this failure case and with passed result. The final test coverage would be take in account with the 2nd scan result, which is much lower than the actual coverage. So

[2021-12-09 09:18] beiliubei opened #368 "for xcode13 testPlan retryOnFailure"
![image](https://user-images.githubusercontent.com/1127875/145368185-c9fe51c5-b3a9-4859-8f5a-156ec87fbe1d.png)

the report should mark it as passed

[2021-12-16 06:24] cah-suraj-bangera opened #372 "Unable to Slather due to missing .profraw/.profdata files"
### Discussed in https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/discussions/371

<div type='discussions-op-text'>

<sup>Originally posted by **cah-suraj-bangera** December 13, 2021</sup>
I had been using `scan` in Fastlane before and am planning to replace that with `mult_scan`. I am able to successfully run the `multi_scan`. I want to run slather after this step to generate Code

[2021-12-24 17:32] daianaiziatovTradeRev commented on #372
Faced the same issue. As far as I understand it from logs, then `multi_scan` uses batches here is how it works:
1. Build app for testing using `derived_data_path` -> no profdata has been generated yet, as there is no testing yet
2. For every batch it run test suit based on derived data built on previous step, but it uses "temp" folder for actual derived data for this batch:
[code]

So profdata rem

[2021-12-24 17:36] daianaiziatovTradeRev commented on #367
+
Faced the same issue, although I manually collate `xcresults` from every batch with `collate_xcresults`.

[2021-12-27 19:08] appajit opened #373 "XCTestHTMLReport(Index.html) is empty and doesn't show any test results"
The `report.html` shows up all test results but the `index.html` doesn't show any results. It would be great if you could help us to resolve this issue. Here is our configuration:

[code]

[2022-01-17 08:32] Kylmakalle opened #374 "Regression on fastlane 2.201.rc2"
### Regression Information

- Breaking version: [e.g. `2.201.0.rc2`]
- Last working version: [e.g. `2.200.0`]

### Regression Description

I'm using multi_scan and recent release candidate of fastlane breaks plugin.

##### Complete output when running fastlane, including the stack trace and command used

<details>
  <pre>bundler: failed to load command: fastlane (/Users/user/.rbenv/versions/2.7.2/

[2022-01-26 07:36] louisssliao opened #378 "Double -resultBundlePath parameters with Fastlane2.201.1"
### Issue Description

I upgraded to **Fastlane 2.201.1** and run multi_scan, it exits with status code 64 `Exit status: 64`.
This error doesn't happen in **Fastlane 2.200.0.**

[code]

When we use multi_scan with the following parameters, we see this `error: option '-resultBundlePath' may only be provided once`

[code]

[2022-02-01 16:49] lyndsey-ferguson commented on #378
@louisssliao  I want to apologize that I have not responded to this issue. A family health issue is requiring me to narrow my focus on the essentials and I don't have the time I need to focus on the plugin more than a minute. If you can get some other contributors to this project to help with this, I would consider merging a resulting PR.

[2022-02-01 16:49] lyndsey-ferguson commented on #373
I want to apologize that I have not responded to this issue. A family health issue is requiring me to narrow my focus on the essentials and I don't have the time I need to focus on the plugin more than a minute. If you can get some other contributors to this project to help with this, I would consider merging a resulting PR.

[2022-02-01 16:50] lyndsey-ferguson commented on #372
I want to apologize that I have not responded to this issue. A family health issue is requiring me to narrow my focus on the essentials and I don't have the time I need to focus on the plugin more than a minute. If you can get some other contributors to this project to help with this, I would consider merging a resulting PR.

[2022-02-01 16:50] lyndsey-ferguson commented on #368
I want to apologize that I have not responded to this issue. A family health issue is requiring me to narrow my focus on the essentials and I don't have the time I need to focus on the plugin more than a minute. If you can get some other contributors to this project to help with this, I would consider merging a resulting PR.

[2022-02-01 16:50] lyndsey-ferguson commented on #367
I want to apologize that I have not responded to this issue. A family health issue is requiring me to narrow my focus on the essentials and I don't have the time I need to focus on the plugin more than a minute. If you can get some other contributors to this project to help with this, I would consider merging a resulting PR.

[2022-02-01 16:50] lyndsey-ferguson commented on #366
I want to apologize that I have not responded to this issue. A family health issue is requiring me to narrow my focus on the essentials and I don't have the time I need to focus on the plugin more than a minute. If you can get some other contributors to this project to help with this, I would consider merging a resulting PR.

[2022-02-01 16:50] lyndsey-ferguson commented on #365
I want to apologize that I have not responded to this issue. A family health issue is requiring me to narrow my focus on the essentials and I don't have the time I need to focus on the plugin more than a minute. If you can get some other contributors to this project to help with this, I would consider merging a resulting PR.

[2022-02-01 16:50] lyndsey-ferguson commented on #362
I want to apologize that I have not responded to this issue. A family health issue is requiring me to narrow my focus on the essentials and I don't have the time I need to focus on the plugin more than a minute. If you can get some other contributors to this project to help with this, I would consider merging a resulting PR.

[2022-02-01 16:50] lyndsey-ferguson commented on #361
I want to apologize that I have not responded to this issue. A family health issue is requiring me to narrow my focus on the essentials and I don't have the time I need to focus on the plugin more than a minute. If you can get some other contributors to this project to help with this, I would consider merging a resulting PR.

[2022-02-01 16:50] lyndsey-ferguson commented on #358
I want to apologize that I have not responded to this issue. A family health issue is requiring me to narrow my focus on the essentials and I don't have the time I need to focus on the plugin more than a minute. If you can get some other contributors to this project to help with this, I would consider merging a resulting PR.

[2022-02-01 16:51] lyndsey-ferguson commented on #353
I want to apologize that I have not responded to this issue. A family health issue is requiring me to narrow my focus on the essentials and I don't have the time I need to focus on the plugin more than a minute. If you can get some other contributors to this project to help with this, I would consider merging a resulting PR.

[2022-02-01 16:51] lyndsey-ferguson commented on #337
I want to apologize that I have not responded to this issue. A family health issue is requiring me to narrow my focus on the essentials and I don't have the time I need to focus on the plugin more than a minute. If you can get some other contributors to this project to help with this, I would consider merging a resulting PR.

[2022-02-01 16:51] lyndsey-ferguson commented on #330
I want to apologize that I have not responded to this issue. A family health issue is requiring me to narrow my focus on the essentials and I don't have the time I need to focus on the plugin more than a minute. If you can get some other contributors to this project to help with this, I would consider merging a resulting PR.

[2022-02-01 16:51] lyndsey-ferguson commented on #328
I want to apologize that I have not responded to this issue. A family health issue is requiring me to narrow my focus on the essentials and I don't have the time I need to focus on the plugin more than a minute. If you can get some other contributors to this project to help with this, I would consider merging a resulting PR.

[2022-02-01 16:51] lyndsey-ferguson commented on #313
I want to apologize that I have not responded to this issue. A family health issue is requiring me to narrow my focus on the essentials and I don't have the time I need to focus on the plugin more than a minute. If you can get some other contributors to this project to help with this, I would consider merging a resulting PR.

[2022-02-01 16:51] lyndsey-ferguson commented on #294
I want to apologize that I have not responded to this issue. A family health issue is requiring me to narrow my focus on the essentials and I don't have the time I need to focus on the plugin more than a minute. If you can get some other contributors to this project to help with this, I would consider merging a resulting PR.

[2022-02-01 16:52] lyndsey-ferguson commented on #292
I want to apologize that I have not responded to this issue. A family health issue is requiring me to narrow my focus on the essentials and I don't have the time I need to focus on the plugin more than a minute. If you can get some other contributors to this project to help with this, I would consider merging a resulting PR.

[2022-02-01 16:52] lyndsey-ferguson commented on #255
I want to apologize that I have not responded to this issue. A family health issue is requiring me to narrow my focus on the essentials and I don't have the time I need to focus on the plugin more than a minute. If you can get some other contributors to this project to help with this, I would consider merging a resulting PR.

[2022-02-01 16:52] lyndsey-ferguson commented on #158
I want to apologize that I have not responded to this issue. A family health issue is requiring me to narrow my focus on the essentials and I don't have the time I need to focus on the plugin more than a minute. If you can get some other contributors to this project to help with this, I would consider merging a resulting PR.

[2022-02-01 20:27] lyndsey-ferguson commented on #374
I want to apologize that I have not responded to this issue. A family health issue is requiring me to narrow my focus on the essentials and I don't have the time I need to focus on the plugin more than a minute.  This has an active PR that hopefully the community can rally around and get it ready for merge.

[2022-02-02 12:15] mokagio commented on #358
Best of wishes for everything to resolve for the best as soon as possible @lyndsey-ferguson . _Virtual hugs_.

[2022-02-06 07:06] louisssliao commented on #378
Thanks for the response, hope everything goes well with your family. Hope there are some contributors can help on this. 🤞

[2022-02-16 05:33] cah-suraj-bangera commented on #367
@daianaiziatovTradeRev Can you please attach script for how you are performing this? Sounds like this could help me in the issue I am facing

[2022-02-16 16:08] daianaiziatovTradeRev commented on #367
Sure, this is what we did:
[code]
It is still not 100% accurate in terms of coverage tho
We also just moved from this framework recently to Xcode 13 retry.

[2022-02-21 17:37] sversov commented on #272
Hi @lyndsey-ferguson  I'm having exactly the same issue with multi_scan

[code]

[code]
The `scan` correctly builds the project and produce DerivedData, but `multi_scan` gives this output

[code]

[code]

[2022-02-22 08:43] sversov commented on #272
@alexnot95  @jambudi I know this one is pretty old, but did you manage to resolve the issue ?

[2022-02-22 09:18] sversov commented on #272
@lyndsey-ferguson  OK it seem like the issue is how the path to Derived Data is handled.
`~/Temp/DerivedData/ `  <- this path result in error `Error: cannot find xctestrun file ''`
however
'./fastlane/DerivedData/'  works as expected.

[2022-07-04 13:23] lyndsey-ferguson commented on #367
Can someone in this thread please include a sample project that I can use to reproduce this issue? Thanks!

[2022-07-04 13:24] lyndsey-ferguson commented on #368
@beiliubei can you please submit a sample project that exhibits this issue so I can reproduce and fix it? Thanks

[2022-07-04 13:25] lyndsey-ferguson commented on #373
@appajit can you provide a sample project that exhibits this problem so that I can debug and fix the issue? Thanks!

[2022-07-04 13:26] lyndsey-ferguson commented on #378
@louisssliao can you provide a sample project that exhibits this issue? A sample will help me debug and fix the problem faster. 🙏

[2022-07-04 18:32] Cyberbeni commented on #366
Haven't seen this error in a while.

[2022-07-04 19:40] lyndsey-ferguson commented on #366
I'll close it for now.

[2022-07-04 19:40] #366 closed

[2022-07-05 03:49] louisssliao commented on #378
@lyndsey-ferguson Good to see you back on this project! This issue is outdated, there is another error message when using the latest Fastlane, I will try the latest Fastlane version and create a new issue if the issue still exists. Thanks.

[2022-07-05 03:49] #378 closed

[2022-07-11 00:08] lyndsey-ferguson commented on #328
Just some notes from me as I work to recover what the problem is and what progress was made.

[2022-07-11 01:33] lyndsey-ferguson commented on #328
It _looks_ like the final xcresult file is non-existent. I've added code to confirm this by trying to print out the test results.

Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again (with the `--verbose` flag)?

Pluginfile:
[code]

If there are still problems, please let me know and attach the console output as a text file to this iss

[2022-07-11 01:34] lyndsey-ferguson commented on #328
It could also be that you need to pass the absolute path of the `xcresult` bundle to the `xchtmlreport` action that you're calling afterwards.

[2022-07-11 11:21] lyndsey-ferguson commented on #372
It looks like `test_center` could just copy the `profdata` file system it (not sure if it is a bundle or a file) to a directory like `project-directory/DerivedData/Build/ProfileData/<batch>/Coverage.profdata` according to the [slather code](https://github.com/SlatherOrg/slather/blob/034ab35987ac096d5b93f51f34c9f07a75b6de8f/lib/slather/project.rb#L226)

[2022-07-16 22:15] lyndsey-ferguson commented on #367
Closing this issue as I need a sample project to reproduce this quickly.

[2022-07-16 22:15] #367 closed

[2022-07-16 22:15] lyndsey-ferguson commented on #368
Closing the issue as I have no sample to reproduce the issue.

[2022-07-16 22:15] #368 closed

[2022-07-16 22:16] lyndsey-ferguson commented on #373
Closing the issue as I have no sample to reproduce the issue.

[2022-07-16 22:16] #373 closed

[2022-07-17 00:31] #328 closed

[2022-07-19 07:04] jdoshi-indeed commented on #335
HI @lyndsey-ferguson , I compared the files across version 3.14.2 and 3.14.3. On line 13 in newer version code is looking for package name attribute I believe but sometimes, junit reports may not have one. I am not sure how to handle such case. Could you look into it?

![Comparing_v3_14_2___v3_14_3_·_lyndsey-ferguson_fastlane-plugin-test_center](https://user-images.githubusercontent.com/79947791/1

[2022-07-23 15:08] lyndsey-ferguson commented on #335
Can you post an example of such a Junit XML file? You can see that the name attribute is referenced in other places such as line 19.

[2022-07-25 01:58] lyndsey-ferguson commented on #372
@lyndsey-ferguson, see the Todoist item for next steps.

[2022-07-25 17:18] jdoshi-indeed commented on #335
Hi @lyndsey-ferguson ,

Please find sample xml attached.
[sample_xml.zip](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/9183424/sample_xml.zip)

Thanks,
Jinesh

[2022-08-22 07:44] louisssliao opened #383 "fastlane multi_scan: merge xcresult files error"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2022-08-22 17:16] lyndsey-ferguson commented on #383
Could you attach a sample project to facilitate a fix?

[2022-08-25 12:25] AlexTrott opened #384 "[Bug] multi_scan - Unable to get a successful run"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2022-09-09 17:23] AlexTrott commented on #384
@lyndsey-ferguson so I've been looking into this, and I think I missed something obvious, these are the "Summaries from Scan" and I noticed that when it's called from `multi scan` `result_bundle` is removed, I'll keep looking for a solution, but if see this, and can point me in the next direction, that'd be great, I'll try to resolve this bug over the weekend!

---

**Summary for scan** from **sca

[2022-09-09 17:26] lyndsey-ferguson commented on #384
@AlexTrott I have had to remove the `resultBundle` item because back in the day, the `scan` action would use the default location. I was providing my own location....but now with the later versions of `scan` it needs that for the cache I believe....I have been working off and on on this, but I have not spent a lot of time on it.

[2022-09-09 17:28] AlexTrott commented on #384
I think I'm close to the root of the issue, I think it's around the operations done here: https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/helper/multi_scan_manager/runner.rb#L20-L22

I'll keep you posted and hopefully raise a PR for it

[2022-09-09 19:39] AlexTrott commented on #384
Just adding some more information, incase anyone else wants to jump in, I've found that when this is called in fastlane
[code]
https://github.com/fastlane/fastlane/blob/master/scan/lib/scan/test_command_generator.rb#L247

Which is obviously wrong, as multi scan sets the name to be `report.xcresult` but this is just part of the issue.

The other part is when `Scan.cache[:result_bundle_path]` in the

[2022-09-12 08:42] hactar commented on #384
We're seeing this too and have reverted to the old version of testcenter for now.

[2022-09-12 16:31] AlexTrott commented on #384
@lyndsey-ferguson @hactar I think I've found a solution
if you set the following variables
[code]
Scan will be able to find the the generated `.xcresult` as right now the logic is the following:
[code]
https://github.com/fastlane/fastlane/blob/ff41f3556f1baf8e700477e50f65be728780aa94/scan/lib/scan/runner.rb#L176-L182

So if it can't find the xcresult in the default scan location, it'll look in `:

[2022-09-12 22:38] lyndsey-ferguson commented on #384
Hello @AlexTrott , thank you for looking into this. You could do both. If you update multi_scan to set those env vars, then move the xcresult file to where the client requested it, that would fix the issue for people using a version of fastlane prior to your PR. You could also add a check in multi_scan for the version of fastlane where your PR with the custom xcresult path change was actually rele

[2022-09-18 20:17] AlexTrott opened #386 "[Bug] multi_scan - Unable to parse unit file when using xcbeautify"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2022-09-18 21:41] AlexTrott commented on #386
I think the actual issue sits with `trainer`
https://github.com/fastlane/fastlane/pull/20160

[2022-09-20 02:48] louisssliao commented on #383
Hello @lyndsey-ferguson, really sorry for the late reply, I was extremely busy on other projects. Here is the sample repository that can reproduce this symptom. I upgraded to Xcode14, iOS16, Fastlane 2.210.0, and TestCenter 3.19.1 and still can reproduce it.
https://github.com/louisssliao/SampleApp-TestCenter-Error

Here are the steps of using this repo:
[code]

[2022-09-22 13:47] piotrsmajek commented on #384
@lyndsey-ferguson Is it possible to fix it in shortly time?

[2022-09-22 16:44] andyjohns commented on #384
I seem to be encountering this issue as well, looking for a workaround. Setting environment variables as described above does not seem to help.

[2022-09-22 17:00] AlexTrott commented on #384
I personally haven’t had chance to write a fix to help out, but my workaround seems to resolve the issue for my project.

@andyjohns you got an example of it not working? Or an error code you can copy and paste so I can see why it’s not working for you

[2022-09-22 19:10] andyjohns commented on #384
Thanks @AlexTrott. Here's a snippet of my FastFile:

    	multi_scan(
          scheme: scheme,
          workspace: "Example/#{workspace}",
          devices: ["iPhone 14 Pro"],
          code_coverage: true,
          clean: true,
          prelaunch_simulator: true,
          pre_delete_cloned_simulators: true,
          quit_simulators: true,
          retry_test_runner_failures: true,

[2022-09-22 19:22] AlexTrott commented on #384
@andyjohns I think I've found you're issue:

[code]

You want scan to see these values as the following:
[code]

This is because since `scan` made a change to trainer, it's expectation on the `.xcresult` have changed, so where previous `multi_scan` could do it's thing, now `scan` is trying to finalise something and it looks for an `.xcresult` in the derived data location. Reference: https://github

[2022-09-22 21:20] andyjohns commented on #384
Thanks for the help @AlexTrott. Unfortunately neither of those changes have helped.
You can see in this bit of the log that the output_directory is set by multi_scan to include a subdirectory for the "batch":

DEBUG [2022-09-22 14:08:12.24]: 	Setting output_directory to /Users/user/Developer/this-project/derived_data/Logs/Test/ThisProjectExampleTests-batch-1

I believe that happens here:

https://

[2022-09-22 21:22] andyjohns commented on #384
Ok, as soon as I post that, I realize it's running two batches too, even thought it's specifically set to run a single batch.
Further, I see the first batch is the unit tests, the second batch is the UI tests. Perhaps I'll see if there's a way to run them as separate commands, as that may do it.

[2022-09-22 21:26] AlexTrott commented on #384
@andyjohns ah man that sucks, I'll try to replicate it all better tomorrow, I don't think it's try count as I use that, I don't use batch though, so the issue could lie there.

For reference, due to my CICD setup I use only_testing and do splitting based logic on the previous runs junit timing

[2022-09-23 15:27] AlexTrott commented on #384
@andyjohns just tried to replicate your issue, and I'm not seeing it on Xcode 13.4.1, going to download Xcode 14 and see if I can replicate it there

[2022-10-14 08:39] Cyberbeni commented on #384
Gemfile:

[code]

Pluginfile:

[code]

[2022-10-26 10:05] Patrick-iOS commented on #384
We have the same issue. It would be great to get that fixed

[2022-10-27 21:16] jaylyerly opened #388 "multi_scan rerunning all tests, not just failed tests."
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2022-10-27 21:17] jaylyerly commented on #388
Fastlane output (too big for bug description).

[fastlane.log](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/9883165/fastlane.log)

[2022-11-11 08:28] KuJlbKa commented on #388
I have the same problem

[2022-11-11 16:52] Cyberbeni commented on #388
#387 will probably fix this too. But it is waiting for a PR review in fastlane too.

You should be using Bundler to manage the version of fastlane and test_center, so you can easily revert whenever some change breaks stuff for you.

And then once you are using Bundler, you just need to modify 2 lines to try those changes.

Gemfile:

[code]

Pluginfile:

[code]

[2022-11-14 10:06] piotrsmajek commented on #384
@lyndsey-ferguson We have the same issue. We are blocked from upgrade fastlane version due this issue :(

[2022-11-14 16:40] jseidman95 commented on #384
@lyndsey-ferguson same here

[2022-11-16 16:59] Cyberbeni commented on #384
The PR in fastlane has been merged: https://github.com/fastlane/fastlane/commit/c5a95c21e5af2d2388f04d73836d4e649585fd30

So after the next fastlane release, this issue can be resolved as well. Anyone who wants to try out the fixes before that, just edit Gemfile/Pluginfile according to my previous comment.

[2022-11-16 17:20] jseidman95 commented on #384
That's just for scan though or works for multi scan?

[2022-11-16 17:26] Cyberbeni commented on #384
test_center passed in the -resultBundlePath through xcargs, which resulted in scan not finding it because it was looking for it at the default location, now we will set the new option: https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/pull/387/files#diff-841f7fcfdc288929b9f92ec68ae08020eaa1bcbb47da6614b98e4baefc7d101cL182-R182

[2022-11-16 17:31] Cyberbeni commented on #384
scan was originally using xcpretty (which parses the xcodebuild CLI output) for getting the test results, now they are using trainer (which parses the result bundle), that's why this wasn't a problem before.

[2022-11-21 09:58] asifhasan002 opened #390 "Xcode 14.0.1 support"
### Feature Request
Need latest xcode support
#### Motivation Behind Feature

#### Feature Description
Does this plugin support latest xcode (mine is Xcode 14.0.1). If not then please add support for latest xcode

#### Alternatives or Workarounds