[2017-11-01 14:28] lyndsey-ferguson opened #1 "Remove leftover boilerplate code"
There is a lot of boiler plate code left over from the creation of this fastlane plugin gem such as:
[code]
[code]
[code]
This should be removed.

[2017-11-01 14:30] lyndsey-ferguson opened #2 "RSpec shared example groups are duplicated"
There are many duplicate definitions of shared RSpec example groups. This leads to the following error and could cause problems (at least it is an eyesore):
[code]

[2017-11-02 14:40] lyndsey-ferguson opened #3 "Refactor common code into helpers"
Currently, there is lots of code that does the same thing such as:
- construct a test identifier
- suppress a test in a scheme
- setup mocks

This code should be consolidated where it makes sense

[2017-11-02 15:11] lyndsey-ferguson opened #4 "Suppress actions do not use xcworkspace files"
My intent was to use the xcworkspace file to find out which tests are suppressed or suppress tests for projects automatically. The actions do not currently support that.

[2017-11-16 17:58] lyndsey-ferguson commented on #1
Done

[2017-11-16 17:58] #1 closed

[2017-12-14 12:06] zacoid55 commented on #4
@lyndsey-ferguson don't suppose you managed to make any head way on this at all? :D

[2017-12-14 12:53] lyndsey-ferguson commented on #4
😄 I am working on a big feature for this plugin. As you spoke up about this (I think this is the second time someone's mentioned this), I will prioritize this as the next item after the feature. Thanks for your interest!

[2017-12-14 13:24] zacoid55 commented on #4
Thank you for the speedy answer! I'm excited to see this feature

[2017-12-15 09:35] zacoid55 opened #5 "Multi_scan doesn't work if there's no .junit or report file already"
I've run into a problem where I had an empty test_ouput folder and I ran multi_scan. It then said that there was no .junit xml report to then re-run anything from, even though the first run of multi_scan had made one

[2017-12-15 12:23] lyndsey-ferguson commented on #5
Can you attach the log from the terminal when you execute your fastlane using `multi_scan`? Also, can you provide the options that you are passing to the action so I can duplicate the issue and fix it on my computer?

[2017-12-18 10:21] zacoid55 commented on #5
Steps to reproduce here:
I created a multi_scan lane which looked like this:
[code]

[2017-12-18 13:22] lyndsey-ferguson opened #6 "multi_scan fails to retry failed tests"
### Description

The `multi_scan` action fails to retry failed tests.

### Details

After a `scan` results in one or more failed tests, `multi_scan` does try to re-run the tests with the failed tests. However, because it does not provide the 'testable' portion of the test identifier, no tests are run.

For example, `multi_scan` provides this `scan` option: `only_testing: ["AtomicBoyUITests/testExa

[2017-12-18 13:23] lyndsey-ferguson commented on #5
I fixed the issue in v1.2.0; however, `multi_scan` will not re-scan failed tests as intended due to Issue #6. I am working on this and it should be released this week.

[2017-12-18 13:34] zacoid55 commented on #5
I've just updated to 1.2.0 will check right now :)

[2017-12-18 13:56] zacoid55 commented on #5
That fixed it, thanks @lyndsey-ferguson - you're an efficient wizard!

[2017-12-18 13:56] #5 closed

[2017-12-19 12:44] lyndsey-ferguson commented on #5
@zacoid55 I won't be able to fix Issue #6 this week - not enough time before the Holidays. Hopefully next week!

[2017-12-27 14:24] lyndsey-ferguson commented on #6
Fixed in [v2.0.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/tree/v2.0.0)

[2017-12-27 14:24] #6 closed

[2017-12-27 14:30] lyndsey-ferguson commented on #5
Issue #6 fixed in [v2.0.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/tree/v2.0.0)

[2018-01-02 16:01] zacoid55 commented on #6
Thanks so much for this, @lyndsey-ferguson - works like a charm

[2018-01-03 16:43] zacoid55 opened #7 "[Multi-scan]Failing tests aren't being re-run and the tests are subsequently being marked as passed"
Running multiscan on a broken test will successfully report the test as broken the once but when it tries to re-run the broken test it won't restart the broken tests and will just repeat the same error text as before i.e.:

[code]

Followed by:

[code]
And then after this failure, the test will still be picked up as successful even with this report underneath:
[code]

[2018-01-03 16:43] zacoid55 commented on #7
I can only think it can't do this because it's running from a workspace instead of a proj?

[2018-01-04 15:07] lyndsey-ferguson commented on #7
I've reproduced the error.

[2018-01-04 15:22] lyndsey-ferguson commented on #7
@zacoid55 what did you set your `:try_count` to? It works fine for me. Can you post how you are calling `multi_scan`?

[2018-01-04 15:33] zacoid55 commented on #7
@lyndsey-ferguson I didn't know there was a `:try_count` option :O - I will try that now

[2018-01-04 16:00] zacoid55 commented on #7
@lyndsey-ferguson yeah that worked, mate - thank you. I just had to put a `try_count` > 1 and it kicked into gear - thank you!

[2018-01-04 16:00] #7 closed

[2018-01-04 16:02] lyndsey-ferguson commented on #7
One benefit is that I updated the action to print out the summary and improved the examples to show `:try_count` with the project and workspace options.

[2018-01-04 16:10] zacoid55 commented on #7
Just saw that, really handy man. Thank you so much

[2018-01-11 09:56] zacoid55 opened #8 "Separate reports for each run"
Interesting feature request for you, @lyndsey-ferguson... When running X runs on the tests, would there be anyway to append something like (1), (2), (3) etc to the end of the name of the output files?

Right now if your try_count is 3 - and all 3 retest runs are carried out, you'll end up with a report.html with only the retried tests.

[2018-01-11 14:07] lyndsey-ferguson commented on #8
Good idea, I do have that for the xml files (I believe) but there is a problem with it that I am looking into.

Thanks for the idea!

[2018-01-11 14:16] zacoid55 commented on #8
Yeah the xml files do something like that - though it starts with a .junit and the duplicates are .xmls.

Nps

[2018-01-11 14:32] zacoid55 opened #9 "Status of tests comes out as Warning status when running from Jenkins"
I'm using multi_scan within our Jenkins box now but I'm seeing the status of the builds come out as Yellow or "Warning" when the tests all succeed but they succeed after a couple of runs. E.g. 4 tests pass, 1 test fails on the first run and then the 1 test passes on the next run.

This results in a warning status to the jenkins build

[2018-01-15 15:24] lyndsey-ferguson commented on #8
Fixed with [v2.2.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v2.2.0)

[2018-01-15 15:44] lyndsey-ferguson commented on #9
Fixed in [v2.2.1](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v2.2.1).

[2018-01-15 15:44] #9 closed

[2018-01-15 15:44] #8 closed

[2018-01-22 17:17] kisialiu opened #10 "Feature Idea: Run tests in parallel"
Hello!

I found this plugin very useful. But it misses one of the XCode 9 features: parallel run of the tests. I wonder, if it is possible to add such feature to the plugin? It will reduce tests' run time a lot.

Many thanks!

[2018-01-22 17:28] lyndsey-ferguson commented on #10
Thanks for the feedback!

Running tests in parallel on my list. Once I am finished working on the current feature, I'll start that.

[2018-01-22 17:31] zacoid55 commented on #10
I'm excited for this mysterious feature :P

[2018-01-23 10:54] zacoid55 opened #11 "Feature idea - Screenshots of failed scenarios"
I'm wondering whether there's a way to extract the last screenshot that gets saved on a failed test and add it to the report. I think this happens in other reporting tools but don't quote me on that.

Slap me if you think this might be a silly idea!

[2018-01-23 17:40] lyndsey-ferguson commented on #11
No, it is definitely a good idea. fastlane already has this for `snapshot`: it does require the Xcode developer to add a rotation to the "unknown" orientation to work.

[2018-01-25 02:54] gmgchow opened #12 ""Error loading plugin...cannot load such file""
I tried installing this plugin into my project following the README instructions but when I try to run bundle exec fastlane test, I am getting the following error message. What can I do to fix this?

![screen shot 2018-01-25 at 11 53 27](https://user-images.githubusercontent.com/7692728/35368388-7c0aef82-01c6-11e8-95fb-b59243e8712b.png)

[2018-01-25 09:16] zacoid55 commented on #12
What does your Gemfile and Pluginfile look like, @gmgchow? Also what version of Ruby are you using?

[2018-01-25 09:27] gmgchow commented on #12
Ruby Version: ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin16]

[2018-01-25 09:30] gmgchow commented on #12
ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin16]
[Gemfile.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/1663352/Gemfile.txt)
[Pluginfile.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/1663353/Pluginfile.txt)

[2018-01-25 14:29] lyndsey-ferguson commented on #12
@gmgchow that's my fault. I accidentally left in a requirement on a gem that I use for debugging that I do not pull down as part of the gem spec. Try getting `v2.3.1`. @zacoid55 you probably have the gem because either I had it as part of the gem requirements, or you use it yourself.

[2018-01-25 15:26] lyndsey-ferguson commented on #12
@gmgchow By the way, this plugin basically renders the `fastlane-plugin-setup_fragile_tests_for_rescan` obsolete.

[2018-01-25 16:02] lyndsey-ferguson opened #13 "Add rubocop feature to prevent require 'pry-byebug' in rake release"
`require 'pry-byebug'` can break people's code. The `rake release` tasks should not allow code to be released if if has this requirement.

[2018-01-28 02:59] lyndsey-ferguson commented on #12
I ran this on a brand new fastlane and it worked fine. Closing.

[2018-01-28 02:59] #12 closed

[2018-01-28 20:21] lyndsey-ferguson opened #14 "Add option for callback when test run completes"

[2018-01-28 20:22] lyndsey-ferguson commented on #14
Add an option for when a test run completes, a callback can be called

[2018-01-29 02:31] gmgchow opened #15 "Feature idea - Support for .plist results"
Currently, only .junit and .html reports are supported. Is there any plan to support .plist too?

[2018-01-29 14:07] lyndsey-ferguson commented on #15
Hello @gmgchow, I hadn't considered that. Right now, `multi_scan` is relying on `fastlane`'s `scan`, which in turn relies on `xcpretty` to generate the reports. [`xcpretty`](https://github.com/supermarin/xcpretty#reporters) supports html, junit, and a `json compilation database format`. While it wouldn't be impossible to convert the junit xml to a plist, I wouldn't know what format to convert to.

[2018-01-29 23:09] lyndsey-ferguson opened #16 "Using batch option on large unit test xctest takes so long it seems hung"
This is because the `xctest_list` gem is inefficient in its parsing of the binary. Issue created: https://github.com/lyndsey-ferguson/xctest_list/issues/1

[2018-01-30 02:10] gmgchow commented on #15
.plist results are automatically generated when running fastlane's `scan` with the `result_bundle` flag. I am using [this tool ](https://github.com/TitouanVanBelle/XCTestHTMLReport)to generate nice reports rather than xcpretty, but it takes in .plist as the input. Currently I am able to generate .plist results and re-run failed tests using this plugin, but I am still investigating how to merge all

[2018-01-30 16:19] lyndsey-ferguson commented on #15
This is beautiful! I wouldn't mind at all if you created a fork and try to implement this feature. I wonder how we can make XCTestHTMLReport install along with the gem? It seems like we'd have to have the install of the gem also install that Swift based tool.

That kind of thing is probably done elsewhere and we just have to see how.

[2018-01-31 17:39] lyndsey-ferguson commented on #16
Fixed in [v2.4.3](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v2.4.3)

[2018-01-31 17:39] #16 closed

[2018-01-31 21:15] fishercraigj opened #17 "Feature: Suppress one or more targets"
I have multiple targets that I use for Unit Tests and UI Testing. Any way to add a feature that would allow us to suppress tests against one or more targets?

[2018-01-31 21:23] lyndsey-ferguson commented on #17
It depends on what you're looking for. You can use the `suppress_tests` action to identify which tests you want to suppress in the scheme itself and it will go to the right target. Say for example you have two targets, `AtomicTests` and `AtomicUITests`. You can suppress individual tests or entire test suites by passing in to to the action the tests in the format that xcodebuild wants:
[code]
Is th

[2018-01-31 22:11] fishercraigj commented on #17
Okay perfect.  I didn't notice that action at first glance.

Amazing framework btw!

[2018-01-31 22:26] lyndsey-ferguson commented on #17
Thank you @fishercraigj! I will close this issue and if you have any problem running this action, create a new Issue.

[2018-01-31 22:26] #17 closed

[2018-01-31 23:24] fishercraigj opened #18 "Enhancement: suppress_tests count or tests_from_junit count"
Total extreme NIT as this would be a nice to have feature for people like me who are uber detailed in their reporting!  I'm sure I can figure out how to do a query like this with xcodebuild but I'd like to avoid if possible as things will get messy.

IMHO it would be great if we could somewhere get a tally/list of disabled tests so that I can note that in my output across my CI.  Maybe have it add

[2018-02-01 02:34] dionc opened #19 "Failing tests aren't re-run due to incorrect test path"
I have multiple test targets in my workspace:
Unit tests: `MyTests`
UI tests: `MyUITests`

When a UI test fails in `MyUITests` it is not re-run by multi_scan because the test path passed for only_testing is incorrect.

Failing test: `MyUITests/PasswordTests/testShowHidePassword`

`multi_scan` generates this path for only_testing:
`only_testing           | ["MyTests/PasswordTests/testShowHidePasswo

[2018-02-01 14:04] lyndsey-ferguson commented on #18
Are you just looking to see a nice block of output with this info? If so, I would use `FastlaneCore::PrintTable`. You can see how I use it [here](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/actions/multi_scan.rb#L13). If so, that's pretty easy.

Would you be open to creating a PR to add this?

[2018-02-01 14:20] lyndsey-ferguson commented on #19
Ug, I was hoping it would be a while before someone ran into this problem. Even if you're not curious, I'm going to describe the problem here:
1. These tools rely on piping the `xcodebuild` output to `xcpretty`.
1. `xcpretty` creates a xml file with the root element being the "testable" (`testsuites`), or in your case `MyTests.xctest`. It does this for the first testable target it sees in the outp

[2018-02-01 16:51] fishercraigj commented on #19
I ran into this yesterday as well.  I actually like things uber organized
so what I did was created new schemes and enabled specific tests for those
schemes.  Then I have multiple lanes that use multi_scan appropriately.
IE: 1 Lane for BVT tests, 1 lane for automation tests, 1 lane for unit
tests.

On Thu, Feb 1, 2018 at 6:20 AM, Lyndsey Ferguson <notifications@github.com>
wrote:

--

*Craig Fishe

[2018-02-01 23:02] dionc commented on #19
This workaround solved the issue for me. Thanks for your quick response!

[2018-02-01 23:07] lyndsey-ferguson commented on #19
You're welcome. And yes, this issue should remain open as it is truly a defect.

[2018-02-02 13:58] lyndsey-ferguson commented on #2
Fixed in [v2.4.4](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v2.4.4)

[2018-02-02 13:58] #2 closed

[2018-02-04 09:00] fishercraigj opened #20 "test_center 2.5.0"
During my fastlane runs, I was getting messages that there was a newer version of test_center which was 2.5.0.  So I said cool, and upgraded.  The only problem is now that when ever I run an action it tells me that there are no actions available.  When I run "fastlane action multi_scan, I now get this:

`[✔] 🚀
[00:55:42]: fastlane detected a Gemfile in the current directory
[00:55:42]: however it

[2018-02-04 09:11] fishercraigj commented on #20
Sorry, figured it out.  In my plugin file I did this:
gem 'fastlane-plugin-test_center', "2.4.4"

Then removed the 2.5.0 gem.

All good now!

[2018-02-04 12:44] lyndsey-ferguson commented on #20
Sorry, my fault:
`[00:55:42]: Error loading plugin 'fastlane-plugin-test_center': cannot load such file -- pry-byebug`
I cleaned it up and released v2.5.1.

[2018-02-04 12:44] #20 closed

[2018-02-04 13:40] lyndsey-ferguson commented on #13
Done

[2018-02-04 13:40] #13 closed

[2018-02-04 13:43] lyndsey-ferguson commented on #20
This will not happen again. I changed my gem releasing to prevent pry-byebug to be required.

[2018-02-04 19:04] fishercraigj commented on #20
Nice!  Always helps having other people using your tooling so you can find these little things.  :)

[2018-02-04 19:05] lyndsey-ferguson commented on #20
Yes, it has been fantastic!

[2018-02-06 11:04] zacoid55 opened #21 "Preserving screenshots"
This is more of a discussion than anything. As you can't get Scan any more xcpretty commands there's no obvious way of collating screenshots for your reports.

Do you know any workarounds for this, @lyndsey-ferguson?

[2018-02-06 12:16] lyndsey-ferguson commented on #21
The screenshots are stored in bundles. The fastlane snapshot action has code that demonstrates how to get at that data.

The easiest thing for me right now would be to allow a callback to be called in between retries so that a user of multi_scan could perform an action, such as parsing the output to get screenshots, aborting early if a maximum threshold of failed tests is exceeded, etc.

After add

[2018-02-07 12:23] dionc opened #22 "Fastlane job succeeds even though multi_scan fails"
I am using `multi_scan` with GitLab CI to run Xcode UI Tests. When a test genuinely fails (3 times with try_count: 3), the GitLab CI job still passes. If I use `scan` instead of `multi_scan` the job fails as it should.

[code]

[2018-02-07 13:44] lyndsey-ferguson commented on #22
Hello @dionc, can you attach the `junit` file?

[2018-02-07 18:21] fishercraigj commented on #22
@lyndsey-ferguson - I feel like a "fail_build_after_mutli_scan" is kind of what @dionc might have been expecting.  I say this because when you are looking at the actions for multi_scan, the fail_build variable from scan is present and set to true by default.

@dionc - I personally would always have a variable like that set to false because I don't want uber flaky UIAutomation to stop my build proc

[2018-02-07 18:25] lyndsey-ferguson commented on #22
@fishercraigj which `fail_build` variable does `scan` have? I only see `:slack_only_on_failure`. It would be great if `scan` already had something for this that I can use in my code too.

[2018-02-07 18:26] fishercraigj commented on #22
fastlane action multi_scan

<img width="963" alt="screen shot 2018-02-07 at 10 26 00 am" src="https://user-images.githubusercontent.com/1421161/35934077-578aef2e-0bf1-11e8-8c0e-708865d17c1c.png">

[2018-02-07 18:29] lyndsey-ferguson commented on #22
Oooh, that's great

[2018-02-07 18:39] fishercraigj commented on #22
Sweet!  If you add that feature, my personal vote would be to have a "fail_build_after_mutli_scan" like option set to false by default.  But it's your framework.  I'll just adjust if I see a build failure in the logs because of it.  :)

[2018-02-07 18:48] lyndsey-ferguson commented on #22
Yeah, I'd like to not change it from the opposite of what `scan` has. I will update the version to a 3.0.0 to indicate breaking changes forthcoming.

[2018-02-07 18:56] fishercraigj commented on #22
No worries, I'll leave myself a comment in my lane to adjust if/when I upgrade.

[2018-02-07 18:57] lyndsey-ferguson commented on #22
Oh, you'll know 🔥

[2018-02-07 22:17] dionc commented on #22
Hi @lyndsey-ferguson, by adding the debug block above it fails as expected.

Here's the contents of the junit report:
[code]

[2018-02-07 22:19] lyndsey-ferguson commented on #22
Thanks, this fix should be in soon-ish.

[2018-02-12 17:57] lyndsey-ferguson opened #23 "Enhancement: multi_scan to return results"
It would be nice if `multi_scan` could return information on:
- what the final result was (pass|fail)
- where the report file(s) are
- how many times `scan` was "re-tried"

[2018-02-12 18:49] fishercraigj commented on #23
I'd take this story in a heartbeat!  But I do this manually with variables so it's not that big of a deal ATM.

There's some additional stuff that I personally use.  Not saying everyone will, but I use it this way mainly for the purpose of logging out to my CI.  If I could be so bold as to add to this list, I'd add the following:

- Return values of ALL mutl_scan specific variables that where pass

[2018-02-12 18:52] lyndsey-ferguson commented on #23
If I passed in the variables, why would I want them back? Or, if I wrote a `lane` that called `multi_scan`, I would know what variables I am passing in to the action.

I can see returning the count of tests, maybe also which tests were _fragile_.

[2018-02-12 18:59] fishercraigj commented on #23
Yup, I totally here you.  I was just looking at it as a "one stop shop" for anything multi_scan related.

If you want to get a little cray-cray on fragile tests results, you could add on which pass of you try_count that said test passed.

My app has some issues with flaky networks.  Without physically sitting and watch the actual test run live, I'm always curious as to which try the test passed on

[2018-02-12 22:27] zacoid55 commented on #23
@fishercraigj how do you get the variables? I'm having a hard time getting them out for CI purposes

[2018-02-12 22:35] lyndsey-ferguson commented on #23
I'm not sure what variables you're looking for, but if you want to get the tests that failed/passed, you can call the [`tests_from_junit`](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/actions/tests_from_junit.rb#L46) action, pointing it at your junit file to get the list of tests that passed and failed.

[2018-02-14 20:03] fishercraigj opened #24 "TestReporting"
I still hate that GitHub doesn't have private messages but figured I'd just drop you a line here.  ;)

Since you and I seem to do a lot of the same similar things in our professional lives you came to my mind when I was looking at this JIRA story that's been looming for awhile.  I was curious what you are (if you are) for auto generated reporting to a test case repository and do you do it cross pl

[2018-02-14 20:55] lyndsey-ferguson commented on #24
You use TestRail to collect the automated junit report files? I haven't heard of it before, and glancing at their [webpage](http://www.gurock.com/testrail/), it seems this is mostly used to track manual testing (?).

If you're targeting junit test result trends, that I can write about. We are just wrapping up logging our test and job metrics. We are using [Grafana](https://grafana.com) to display

[2018-02-14 21:05] lyndsey-ferguson opened #25 "multi_scan's description and details are no longer correct"
Currently, the `multi_scan`'s description and details are no longer accurate as the action provides a lot more functionality. These strings should be updated to reflect what the action truly does.

[2018-02-14 21:26] fishercraigj commented on #24
Thanks for your thoughts @lyndsey-ferguson!  I'll definitely take a peek at what you're doing and see what I can glean from it.  Gives me an excuse to go back and play in the devops game again.  :)

Aside for some quick logging of results to our internal messaging system, I'm not using junit files for anything ATM.  My reporting framework is 100% on the iOS side subclassed from XCUITest.  In a nut

[2018-02-14 21:27] #24 closed

[2018-02-14 21:28] lyndsey-ferguson commented on #24
Just a note of clarification, once we are done with our test results, we don't do anything with the junits. They're just a vehicle to get us to where we want to go.

[2018-02-14 23:09] #3 closed

[2018-02-14 23:09] #14 closed

[2018-02-14 23:09] #19 closed

[2018-02-14 23:09] #22 closed

[2018-02-14 23:09] #23 closed

[2018-02-14 23:09] #25 closed

[2018-02-14 23:10] lyndsey-ferguson commented on #25
Fixed in [v3.0.1](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/tree/v3.0.1)

[2018-02-14 23:10] lyndsey-ferguson commented on #23
Fixed in [v3.0.1](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/tree/v3.0.1)

[2018-02-14 23:10] lyndsey-ferguson commented on #22
Fixed in [v3.0.1](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/tree/v3.0.1)

[2018-02-14 23:10] lyndsey-ferguson commented on #19
Fixed in [v3.0.1](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/tree/v3.0.1)

[2018-02-14 23:10] lyndsey-ferguson commented on #14
Fixed in [v3.0.1](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/tree/v3.0.1)

[2018-02-14 23:10] lyndsey-ferguson commented on #3
Fixed in [v3.0.1](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/tree/v3.0.1)

[2018-02-14 23:11] lyndsey-ferguson commented on #18
Fixed in [v3.0.1](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/tree/v3.0.1)

[2018-02-14 23:11] #18 closed

[2018-02-15 00:37] lyndsey-ferguson opened #26 "Multi_scan return value documentation missing"
Now that the action has a return value, it needs to be documented

[2018-02-15 14:07] lyndsey-ferguson commented on #26
Fixed in [v3.0.2](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.0.2)

[2018-02-15 14:07] #26 closed

[2018-02-16 00:10] fishercraigj opened #27 "Path to test in results showing wrong folder path."
ENV: Using mutli_scan 2.4.4

For some reason when I log out the result variable for failed test cases, it showing my the correct failed test cases but it's showing me the wrong path in the begging of the path.

[code]

**What I'm being show when I log the failed results is:** ["UnitTests/AccountTests/testC217UpdatePaymentMethod"]

**Expected:**
["**UITests**/AccountTests/testC217UpdatePaymentMetho

[2018-02-16 00:18] lyndsey-ferguson commented on #27
I am confident that this is due to the same problem experienced in Issue #19. Can you upgrade to v3.0.2 and try again?

[2018-02-16 00:20] fishercraigj commented on #27
Sure, I'll give it a try tomorrow if that's alright.  From the time I submitted this ticket 5 minutes ago, about 3 fires just got dropped on me.

[2018-02-16 00:28] lyndsey-ferguson commented on #27
Also note that if you are not passing `fail_build: false` failing jobs will cause this action to throw when it is complete.

[2018-02-16 00:29] fishercraigj commented on #27
lol, thanks for the reminder on that one!  It's the only reason I didn't upgrade quite yet.  :)

[2018-02-16 18:35] fishercraigj commented on #27
Did something change in the disabled_test test variable?  You can see above how I was using it (when I was on 2.4.4).

Now I'm getting this:

[code]

I'll play with the paths to the test files but what I used to pass used to work.  Just curious.  :)

[2018-02-16 21:32] lyndsey-ferguson commented on #27
I think that my `xctest_list` tool is failing to parse out invalid tests symbols. Can you rename `testLabel` to `_testLabel` or something that does _not_ start with `test...`? `xctest_list` is looking at the symbols in the xctest bundle and matching functions that start with that keyword.

[2018-02-16 21:33] lyndsey-ferguson commented on #27
Also, I'm not sure what you mean by the `disabled_test` variable; is there code that you're referring to?

[2018-02-16 22:32] lyndsey-ferguson commented on #27
Can you also provide me the log that you see when the `scan` action starts? Specifically, the commandline call to the `xcodebuild` tool.

[2018-02-16 23:09] fishercraigj commented on #27
Yeah, sorry, it was my variable I was referring to in the above code.

+----------------------+----------------------+
| Summary for multi_scan (test_center v3.0.2) |
+----------------------+----------------------+
| fail_build           | false                |
| try_count            | 3                    |
+----------------------+----------------------+

INFO [2018-02-16 14:50:19.64]: $ xcodebu

[2018-02-17 00:01] lyndsey-ferguson commented on #27
Sorry, this is the portion of the log where the app is built. There should be another one later on that has `test_without_building` before the `| tee` portion. Can you look for that and attach it to this Issue?

I want to see how the test-identifiers are formed when we are sending them to `xcodebuild` via `-only-testing` as I suspect that I am sending them in an invalid way.

Can you also look at

[2018-02-17 00:37] lyndsey-ferguson commented on #27
I just saw some of your code:
[code]
If you want to get a list of tests that are suppressed, you should call `suppressed_tests` not `suppress_tests`.

`suppress_tests` may be returning an `Xcodeproj::XCScheme` instance.

[2018-02-17 00:44] lyndsey-ferguson opened #28 "suppress_tests action returns arrays of scheme paths"
running:
[code]
results in this:
[code]

[2018-02-17 00:52] lyndsey-ferguson commented on #28
Fixed in [v3.0.3](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.0.3)

[2018-02-17 00:52] #28 closed

[2018-02-17 00:52] lyndsey-ferguson commented on #27
_If_ this issue is due to Issue #28, [v3.0.3](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.0.3) may have fixed this. Can you update to that and try that?

[2018-02-17 03:53] fishercraigj commented on #27
Yeah, seem to be good now!

[2018-02-17 14:06] lyndsey-ferguson commented on #27
Does every work now and we can close this issue?

[2018-02-17 22:08] #27 closed

[2018-02-18 16:56] lyndsey-ferguson opened #29 "multi_scan crashes when given :test_multiscan_batch_callback"
The problem is that we are passing this option to `scan` which it doesn't expect.

[2018-02-18 17:24] lyndsey-ferguson commented on #29
Fixed in [v3.0.4](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.0.4)

[2018-02-18 17:24] #29 closed

[2018-02-23 09:00] dionc commented on #22
Tested, works now.

[2018-02-23 09:00] dionc commented on #19
Tested, works now.

[2018-02-26 19:52] armando-leal opened #30 "Add support for clean parameter on multi_scan"
Right now if you add clean to the multi_scan action the test will fail because the app binary will be deleted before the tests are actually executed. The error is also very cryptic, so it's hard to know that the issue comes from the *clean* parameter

The clean parameter should either be ignored or used only **once** on the first build and **then ignored** for all subsequent xcodebuild calls.

[2018-02-26 19:54] lyndsey-ferguson commented on #30
Thanks for the defect report!

[2018-02-27 16:14] lyndsey-ferguson commented on #30
I should have a fix this week

[2018-02-28 15:11] lyndsey-ferguson commented on #30
Fixed in [v3.0.5](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/tree/v3.0.5)

[2018-02-28 15:11] #30 closed

[2018-03-01 23:29] armando-leal commented on #30
Awesome. Thanks for the quick update.

[2018-03-03 11:22] NXGieng opened #31 "only_testing can not be used for multi_scan"
First of all, thanks for your awesome works creating this plugin.

I'm trying to rerun only the fail tests and multi_scan provides me the idea how I can achieve it. However, I am facing an issue that the code coverage will be replaced if there is some fail tests and we need to redo a new scan for only fail tests. So the new code coverage will be very low, and it is not correct.

My workaround solu

[2018-03-03 11:30] NXGieng commented on #31
My idea is that we can use `only_testing` if user passes it as an option. If they don't, we can get all the tests as we are doing at the moment.
I will try to fix it and submit a PR soon.

[2018-03-03 17:09] lyndsey-ferguson commented on #31
Hello, thank you for your kind words with respect to the plugin. :smile:

It seems to me that you have found two defects:
1. Code coverage reports are overwritten when re-scanning only failed tests.
2. `multi_scan` is not working when given `:only_testing` with an array of tests for only 1 (of 3) test targets.

Do I understand correctly?

For #1, can you use the `:testrun_completed_block` callback

[2018-03-04 03:57] NXGieng commented on #31
Hi @lyndsey-ferguson , Thanks for your prompt response. Yes, I think you understood it correctly.

For #1, I am not sure that Codecov will collect all the reports and merge it into only one. And as I saw on the `DerivedData`, there are `Coverage.profdata`, and few `.xccoverage` files (every time scan run, it will be generated as a new file), so which file should I move (rename for example)?

For #

[2018-03-04 15:31] lyndsey-ferguson commented on #31
For # 1, can you use `fastlane's` [`slather`](https://docs.fastlane.tools/actions/slather/) action to read the coverage reports and generate an HTML file (or XML, etc.) and output it to a different directory? That way you'll get what you need and it will not be overwritten.

For # 2, it seems that my code is not passing on the `:only_testing` option onto `scan`. I will take care of that.

I'm goin

[2018-03-04 15:31] #31 closed

[2018-03-04 15:33] lyndsey-ferguson opened #32 "multi_scan is not passing along the :only_testing option"
When `multi_scan` is given the `:only_testing` option with a test target, it is not passing that along to the `scan` tool and the result is that all tests in all test targets is tested instead of just the tests in one test target.

See Issue #31

[2018-03-04 15:40] lyndsey-ferguson opened #33 "multi_scan overwriting code coverage reports between runs"
When `multi_scan` completes a test run with failing tests, and starts another run of just the failing tests, it deletes the code coverage reports. When the `multi_scan` action completes, the code coverage reports are incomplete and misleading.

While the action could simply give the user options to use `slather` to create HTML, XML, etc. files and then merge those, it would be better if the algori

[2018-03-04 15:44] lyndsey-ferguson commented on #21
Added bug label as, with code coverage reports, it would be great to be able to save all screenshots and not loose those of test runs with failing tests when a re-run happens.

[2018-03-05 03:20] NXGieng commented on #31
I made it works, please let me know if you are welcome the PRs, thank you.

[2018-03-05 09:53] kaybutter opened #34 "multi_scan failing after update"
Hi,
after updating test_center from 2.4.4 to 3.0.5 multi_scan always fails with the following stack trace:

[code]

Any idea what I might be doing wrong?

[2018-03-05 13:17] lyndsey-ferguson commented on #31
Yes, I am open to pull requests. Please make sure that you have implemented tests.

[2018-03-05 14:13] lyndsey-ferguson commented on #34
Hello @kaybutter, I have an idea, but am not quite sure how you found this defect. Overall, it is failing to find an `xctestrun` file.

If you are calling `multi_scan` with the `:only_testing` option without the `:xctestrun` option, the code will look for that file in the derived data directory, and it will specifically look for it to be named after the `:scheme` that you provided. This problem _s

[2018-03-05 14:20] lyndsey-ferguson commented on #32
I have confirmed this with my sample `AtomicBoy` project.

[2018-03-05 14:27] lyndsey-ferguson commented on #32
I am stripping out that option, not sure why yet.

[2018-03-05 14:37] lyndsey-ferguson commented on #32
`TestCollector` is looking for test identifiers that match the pattern of `test-target/testsuite` and we are giving it only `test-target`. I believe that `xcodebuild` can match against just `test-target`.

[2018-03-05 14:43] lyndsey-ferguson commented on #32
@NXGieng, FYI, I am closing in a fix too. The best way of fixing this issue, in my opinion, is in the `TestCollector's` `only_testing_to_testables_tests` method. It should be able to handle a `test_identifier` of one, two, or three components.

Currently, it is expecting more than one.

[2018-03-05 14:54] lyndsey-ferguson commented on #32
After a few false starts in my investigation, it seems that `TestCollector` is providing the correct test identifiers, however, how I handle the results in `correcting_scan_helper`, `scan_testable` method is not catching the case where I have multiple possible testables, but want only one.

[2018-03-05 14:56] lyndsey-ferguson commented on #32
It would seem to me, that I want an empty list for the other testables. So, `test_collector` should look at the `xctestrun` file and gather the other testables and create an empty list for those.

[2018-03-05 14:59] kaybutter commented on #34
I run my UITests like this:
[code]
The idea was to build it once and then to run the UITests multiple times.

This is my Scanfile:
[code]

But that scheme gets overridden for the UITests.

In my `Build/Products` Folder I see the following:
* `Mail Release Tests_iphonesimulator11.2-x86_64.xctestrun`
* `Test-iphonesimulator` Folder with the app

[2018-03-05 15:10] lyndsey-ferguson commented on #32
@NXGieng look at [this branch](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/tree/fix-issue-32-scan-not-receiving-only-testing) to see how I think we should start the approach to fix this. There is a problem where I am trying to slice an empty array which I think we can check for.

[2018-03-05 15:12] lyndsey-ferguson commented on #34
FYI, `multi_scan` will build first if you don't provide `test_without_building` if you want to simplify your lane.

[2018-03-05 15:13] kaybutter commented on #34
But will it build again for every repeat?

[2018-03-05 15:14] lyndsey-ferguson commented on #34
Can you show me the log too? Perhaps when `multi_scan` calls `scan`, that `scan` is using your scan file? If the log shows that it is using the `Mail` scheme, that would indicate that it is looking for the wrong `xctestrun` file.

[2018-03-05 15:14] lyndsey-ferguson commented on #34
No, it builds only once.

[2018-03-05 15:18] kaybutter commented on #34
The fastlane log won't give me any details about what calls `multi_scan` makes.

The first call to `scan` succeeds. Then `multi_scan` fails:
[code]

[2018-03-05 15:22] lyndsey-ferguson commented on #34
I think this path, `/Users/mobileadmin/Library/Developer/Xcode/DerivedData/Mail-gnpuwvjwlahdpfdkbhwzjvxclsgm` confirms it for me. `scan` created that path, but I believe that `multi_scan` will look for the `Scheme` given to it.

[2018-03-05 17:28] NXGieng commented on #32
Hi @lyndsey-ferguson , Nice work!
There are two things that I want to share for your commit. About the function, I commented it bellow,
[code]

[2018-03-05 18:08] lyndsey-ferguson commented on #32
We could remove the sort, at first, I wanted all tests for one testable to be done before the next one, but that really doesn't matter.

With respect to your second question, that you would get a `Hash` of:
[code]
If `multi_scan` is provided the `:only_testing` option of `[ 'AtomicBoyTests/test2' ]` as the code `@only_testing.sort.each do |test_identifier|` would only see that one test, and the co

[2018-03-06 08:22] kaybutter commented on #34
So, removing my own call to `scan` and having `multi_scan` take care of the building seems to fix this particular problem. But then I run into problems with the `clean: true` in my `Scanfile`. :(

`multi_scan` seems to build the project successfully, then it cleans the result before trying to run the tests which then fails. If I pass `clean: false` to `multi_scan` it will pass it to the first buil

[2018-03-06 14:08] lyndsey-ferguson commented on #34
Thank you for further investigating this. It seems that the `Scanfile's` options override whatever we send (or do not send?) to the actual `scan` command.

I'm glad you have a workaround for now, this issue will be the next one I tackle after #31

[2018-03-06 15:19] lyndsey-ferguson commented on #32
Fixed in [v3.0.6](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/tree/v3.0.6)

[2018-03-06 15:19] #32 closed

[2018-03-07 23:10] lyndsey-ferguson commented on #34
Fixed in [v3.0.8](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/tree/v3.0.8)

[2018-03-07 23:13] #34 closed

[2018-03-08 19:00] lyndsey-ferguson commented on #33
Can you, @zacoid55 @gmgchow @kisialiu @kaybutter @NXGieng @armando-leal @fishercraigj @dionc , give me a thumbs up on a ticket which you think should be worked on next? I want to make sure that my priorities will provide you the best impact.

[2018-03-09 10:11] zacoid55 commented on #33
Sure thing!

[2018-03-10 15:40] lyndsey-ferguson opened #35 "Improve README"
The README can be improved to provide a better starting place to the developer interested in improving their automated testing and building of their iOS code.

Take a look at [this guide](https://github.com/matiassingers/awesome-readme) to start.

[2018-03-14 03:48] NXGieng commented on #33
Hi @lyndsey-ferguson , sorry for the delay reply, yeah, sure I will.
I'm still looking for a way to correct the test coverage, so please let me know if you found out.
Thanks

[2018-03-15 21:11] lyndsey-ferguson opened #36 "Feature idea: tests_from_junit should provide a way to get the reason for a tests failure"
Currently, `tests_from_junit` only provides the list of passing and failed tests. It would be helpful if one could also get the reason a particular test failed as well.

[2018-03-16 21:59] lyndsey-ferguson commented on #36
I'm working on this as it is preventing me from finishing a Medium article that I wanted to get done before fixing the top priority bug.

[2018-03-20 12:59] lyndsey-ferguson commented on #36
Addressed in [v3.1.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.1.0)

[2018-03-20 12:59] #36 closed

[2018-03-21 00:36] armando-leal opened #37 "The auto-generated only_testing list now includes properties from non-testcase classes that start with "test""
I don't think this was happening on release 3.0.4, but now on 3.1.0 any properties in non-testcase class that belong to the test target will be included in the only_testing test cases list. This will eventually cause the whole run to fail.

Here is an example list I got after adding a swift class to the AtomicBoyTests target. This class includes a **test**ing property which is causing the run to f

[2018-03-21 01:26] lyndsey-ferguson commented on #37
Can you provide an example of the Swift class?

[2018-03-21 14:44] andriko13 commented on #37
I'm getting the same issue, after adding a class var "testingLocale". It erroneously appears in the only_testing list, and after renaming it, disappears - pretty easy to reproduce.

[2018-03-21 16:49] lyndsey-ferguson commented on #37
Ok, I added a class variable and I do not see the issue. Here is what I am doing:
In the `AtomicBoyTests.m` file:
[code]
From the command line:
[code]

And here is the console log:
[code]
    if (arc4random_uniform(6) < 3) {
        XCTAssertTrue(false);
    }
[code]
    if (arc4random_uniform(6) < 3) {
        XCTAssertTrue(false);
    }
[code]

None of the `only_testing` parameters include mangl

[2018-03-21 16:51] lyndsey-ferguson commented on #37
I'm looking for the exact source code change, the command used to run `fastlane` and an example of the `Fastfile`.

[2018-03-21 17:54] armando-leal commented on #37
I added the following two swift classes to the AtomicBoyUITests

[code]

[code]

[2018-03-21 18:20] lyndsey-ferguson commented on #37
Thank you, exactly what I needed

[2018-03-21 21:04] lyndsey-ferguson commented on #37
Fixed in [v3.1.1](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/tree/v3.1.1)

[2018-03-21 21:04] #37 closed

[2018-03-21 21:08] lyndsey-ferguson commented on #37
Make sure you are getting `xctest_list` `v1.1.3`

[2018-03-21 21:25] armando-leal commented on #37
Wow that was quick! Thanks for resolving this :)

[2018-03-21 21:28] lyndsey-ferguson commented on #37
@armando-leal does this work for you? I'd love a confirmation.

[2018-03-21 21:32] armando-leal commented on #37
I'm testing it out right now. I'll let you know.

[2018-03-21 21:32] lyndsey-ferguson commented on #37
🤞

[2018-03-21 22:05] armando-leal commented on #37
Issue resolved 👍

Thanks again!

[2018-03-24 02:42] zanizrules opened #38 "Exit code 1 with no errors in log or tests run when using workspace"
Recently I tried to replace my scan function on a project with your multi_scan. I need to use the workspace rather than the project to cover my multiple projects which depend on each other... but multi_scan does not seem to work for this? Or am I missing something? I did something similar to your 'test_multiscan_workspace' example, except I had some extra parameters which I had previously passed i

[2018-03-25 13:27] lyndsey-ferguson commented on #38
Hello @zanizrules, `multi_scan` is intended to work in the way you describe. Can you provide a snippet of code demonstrating how you are calling `multi_scan` and provide the console log where it starts with this:
[code]
until the end of the log?

[2018-03-25 13:34] lyndsey-ferguson opened #39 "Create new issue template to decrease unnecessary back and forth getting details"
Sometimes issues are created without enough information to act upon immediately. If an issue template guided the creation of issues so that code used to call the action is provided, and the log of the error is provided, I can act much faster in making a fix.

[2018-03-25 15:32] lyndsey-ferguson commented on #39
Done

[2018-03-25 15:32] #39 closed

[2018-03-25 23:36] zanizrules commented on #38
Hi @lyndsey-ferguson :)

I've done some more debugging and have compared what my old scan function logs compared to what multi_scan is logging and one key difference is this:

Found in log when using scan: `clean test`
Found in log when using multi_scan: `clean build-for-testing`

Now from the scan documentation I read that `build_for_testing` will skip tests all together which would explain why I

[2018-03-26 02:38] lyndsey-ferguson commented on #38
The way I have it structured, unless `:test_without_building` is given, `multi_scan` assumes that the test app is not built. I can see this as unnecessary if you provided an `:xctestrun` parameter that pointed to an existing pre-built app and test-runner app; however, even so, if you pass `clean: true`, it would wipe those directories out.

So, I need to confirm my understanding as I'm confused as

[2018-03-26 03:57] zanizrules commented on #38
My understanding was that `skip_build: true` would skip the debug build but the test build would still happen as needed. Whatever build the scan was defaulting to worked perfectly, but for some reason `test_without_building` is not working.

[2018-03-26 13:24] lyndsey-ferguson commented on #38
You've thrown me a curve ball that I didn't expect 😄: I did not understand how `:skip_build` worked as I misunderstood it before and never really used it. Yes, `multi_scan` assumes that the build has to be performed and tries to build.

In your first example, the `:build_for_testing` completes with an error and `multi_scan` stops. Why it would halt with an error, I cannot say as the logs are redac

[2018-03-26 17:23] lyndsey-ferguson commented on #38
Fixed in [v3.1.2](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/commit/8e17d4185c257ea6fcb7ba8e18cc03a59d5a8236)

[2018-03-26 17:23] #38 closed

[2018-03-26 22:18] lyndsey-ferguson commented on #35
maybe include my twitter?

[2018-03-27 13:04] lyndsey-ferguson opened #40 "passing :result_bundle: true to multi_scan generates error: existing file at -resultBundlePath"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the example [Fastfile](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/fastlane/Fastfile)

### Issue Description

`multi_scan` fails with an error,

[2018-03-27 13:08] lyndsey-ferguson commented on #38
@zanizrules I believe that you are calling `scan` and `multi_scan` with `:result_bundle => true` as that is what I see in your output (not the example of the call). I have reproduced it and created Issue #40.

[2018-03-27 13:08] lyndsey-ferguson commented on #38
The other people must not be using that option.

[2018-03-27 13:26] lyndsey-ferguson commented on #38
Until I fix this, you can use the `:testrun_completed_block` to move the `test_result` bundle between test runs.

[2018-03-27 19:28] lyndsey-ferguson commented on #40
Fixed in [v3.1.3](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.1.3)

[2018-03-27 19:28] #40 closed

[2018-03-27 19:28] lyndsey-ferguson commented on #38
It has been fixed in [v3.1.3](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.1.3)

[2018-04-02 21:49] Sandhu412 opened #41 "multi_scan does not work with :skip_build like scan does, and fails"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the example [Fastfile](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/fastlane/Fastfile)

### Issue Description

When running the multi_scan lane,

[2018-04-02 22:03] lyndsey-ferguson commented on #41
Thank you for the bug report. I removed some api_tokens and build_secrets from the description that you provided me.

[2018-04-02 22:09] lyndsey-ferguson commented on #41
Can you remove the option to `skip_build`? I think that your use of `clear_derived_data` is wiping out the test runner that is needed to run the tests.

[2018-04-03 15:10] lyndsey-ferguson commented on #41
With `multi_scan`, I am using the build for testing and test without building flags. So, if you remove the `skip_build` option, the action will create a build for testing, then run tests up to `try_count` times (without building again).

I am not very familiar with the `skip_build` option (which I will soon change). It could be "building" for test in a different way than I am used to.

If you can

[2018-04-03 15:11] Sandhu412 commented on #41
I tried both the suggestions: removing `skip_build` and removing `clear_derived_data`. I am still getting the same error:
`bundler: failed to load command: fastlane (/usr/local/bin/fastlane)`
`FastlaneCore::Interface::FastlaneError: [!] Error: cannot find xctestrun file ''`

But if I  use `scan` before `multi_scan` it builds and runs the tests fine. Below is the updated lane I am using:

  desc "R

[2018-04-03 15:34] lyndsey-ferguson commented on #41
Are you telling `multi_scan` to `test_without_building` when it fails?

[2018-04-03 15:41] Sandhu412 commented on #41
@lyndsey-ferguson -- sorry for the confusion. I think I have fixed the lane now following your suggestion. I didn't know you were setting the flags build for testing and test without building. Now below is the lane I am using and I am not using scan anymore and I removed the `skip_build` option as well.

    multi_scan(
      workspace: File.absolute_path('../Toolkit.xcworkspace'),
      device: "

[2018-04-03 15:43] lyndsey-ferguson commented on #41
Oh, it will just re-run the tests without building.

[2018-04-03 15:44] lyndsey-ferguson commented on #41
I'm going to keep this issue, but make it revolve around the difference between how `multi_scan` treats `skip_build` vs `scan`.

[2018-04-03 15:48] Sandhu412 commented on #41
Sure, that makes sense. scan builds twice if that flag is not set to `true`. Thanks so much for putting together this plugin, it saves a lot of false failures for people like me.

[2018-04-03 16:32] lyndsey-ferguson commented on #41
You're very welcome!

[2018-04-03 16:56] Sandhu412 commented on #41
@lyndsey-ferguson -- Had another question, when we batch the tests, it generates multiple reports, is it possible to aggregate all the reports into just 1 report?

[2018-04-03 16:58] lyndsey-ferguson commented on #41
It should do that when it finishes _unless_ there are multiple test targets. Are there multiple test targets? If so, it doesn't make sense to collate them as the format doesn't merge properly.

[2018-04-03 17:06] Sandhu412 commented on #41
my UI lane only has one test target "ToolkitUItests"

[2018-04-03 17:09] lyndsey-ferguson commented on #41
What reports does it generate? When it completes, it should collate the reports into one report. You're talking about the junit reports? Or the HTML reports? If HTML, `multi_scan` does _not_ collate those. Nor does it collate plist reports in a results_bundle. Both are possible but not done.

[2018-04-03 17:16] Sandhu412 commented on #41
HTML has 3 parts, report.html, report-2.html and report-3.html (for batch count of 3). Junit only has 1 report and as per your comment above, it seems like junit is consolidated?

[2018-04-04 14:52] Sandhu412 opened #42 "using batch flag does not aggregate the HTML reports into single report"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the example [Fastfile](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/fastlane/Fastfile)

### Issue Description

If we use batch_count flag, then a

[2018-04-07 13:59] lyndsey-ferguson commented on #42
@Sandhu412 to let you know, I am open to pull requests. You can take a look at the [`collate_junit_reports`](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/actions/collate_junit_reports.rb) action for an example of how to parse XML/HTML files.

[2018-04-07 14:01] lyndsey-ferguson commented on #21
@zacoid55, now that I support `results_bundles`, you could use that and pull out the screen shots from the bundle per test run. If you are up to it, I'd welcome a pull request that adds supports for keeping the screen shots or even merging results bundles.

[2018-04-15 23:05] lyndsey-ferguson commented on #42
This has been added in [v3.2.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.2.0)

[2018-04-15 23:05] #42 closed

[2018-04-16 09:16] szymon-kazmierczak opened #43 "Feature Idea - append Retry count and pass rate to the report?"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the example [Fastfile](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/fastlane/Fastfile)

### Issue Description
I'm using multi_scan, great work on

[2018-04-16 11:25] szymon-kazmierczak opened #44 "3.2.0 - Unknown method 'target_report'"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the example [Fastfile](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/fastlane/Fastfile)

### Issue Description
I'm getting the following error whe

[2018-04-16 12:43] lyndsey-ferguson commented on #43
Thanks @szymon-kazmierczak, it is possible to add that data. While you are waiting for this feature, you _could_ pass a `:testrun_completed_block` to `multi_scan` which is called after each run (successful or not) to collect this data and add it to your report file. Let me know if that would help you (and I could provide guidance if you like).

[2018-04-16 12:59] lyndsey-ferguson commented on #44
Fixed in [v3.2.1](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.2.1)

[2018-04-16 12:59] #44 closed

[2018-04-16 13:28] szymon-kazmierczak opened #45 "2.3.1 - undefined method `text=' for nil:NilClass"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the example [Fastfile](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/fastlane/Fastfile)

### Issue Description

When running multi_scan, after a f

[2018-04-16 13:29] szymon-kazmierczak commented on #43
Sounds good, I'll use the completed block in the meantime. Thanks!

[2018-04-16 13:29] lyndsey-ferguson commented on #45
@szymon-kazmierczak could you attach the HTML reports after removing any sensitive information?

[2018-04-16 13:32] szymon-kazmierczak commented on #45
Sure, I'll attach them in a few minutes

[2018-04-16 13:41] szymon-kazmierczak commented on #45
Here you go.
[reports.zip](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/1915481/reports.zip)

There are two reports. First one is a full test suite with 3 failing tests. The 2nd run reruns the failing 3 tests and they all pass.

[2018-04-16 14:01] lyndsey-ferguson commented on #45
Ug, the `collate_html_reports` worked for me when I tested it using this lane:
[code]

**Console**
[code]
Attached is result html file.

[report.html.zip](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/1915559/report.html.zip)

[2018-04-16 14:03] lyndsey-ferguson commented on #45
Ah, I got it by using the `earlGrey_report.html` as the final result file that I want to write.

[2018-04-16 14:11] szymon-kazmierczak commented on #45
hmm, I'm on fastlane-2.91.0. Maybe there were some changes between your version 2.86.2 and 2.91.0 ?

I was using
[code]
and I wasn't specifying the output types at all. I updated it to match the suggested format

[code]
but its still failing, so that's definitely not the issue here.

[2018-04-16 14:15] lyndsey-ferguson commented on #45
@szymon-kazmierczak if you use the same report files and the lane I attached, does it work for you?

[2018-04-16 14:20] szymon-kazmierczak commented on #45
@lyndsey-ferguson yep it did

[2018-04-16 14:33] lyndsey-ferguson commented on #45
For now, you could avoid this issue by moving the HTML files out of your results folder using the completion block.

[2018-04-16 14:40] szymon-kazmierczak commented on #45
I'll skip the HTML reports for now, jUnit style is more than enough for the time being 👍

[2018-04-16 17:13] lyndsey-ferguson commented on #45
@szymon-kazmierczak during a the few mins of downtime that I have, I started looking at replicating the issue you've encountered and noticed something: you are building for testing before hand. You don't have to do that. Just run `multi_scan` without the `:test_without_building` and it will perform the `scan` version of building for testing.

[2018-04-16 17:48] lyndsey-ferguson commented on #45
@szymon-kazmierczak, could you update your `./fastlane/Pluginfile` to be:
[code]
_instead of_
[code]
?

Then re-run your lane and attach the output to this Issue?

Thanks!

[2018-04-17 10:30] szymon-kazmierczak commented on #45
@lyndsey-ferguson interesting, didnt know that!

So just to be sure - if I run multi_scan and pass in derived_data_path, it will first build for testing and store it in that location, and then it will run the tests (without building) using that derived_data_path? The reason I'm asking is because I have other tasks that reuse that derived data path :)

I rerun the tests using your branch and got th

[2018-04-17 12:34] lyndsey-ferguson commented on #45
@szymon-kazmierczak yes, `multi_scan` will use `scan` to build for testing, and then run `scan` with test without building up to the `:try_count` number of times. That derived data path will have the same thing that you would have with your setup.

I guessed the problem this morning while brushing my teeth. I _think_ that the first report, `report.html` is an invalid test HTML file (missing `test-

[2018-04-17 13:05] lyndsey-ferguson commented on #45
It is intended that you get one final report of the whole `multi_scan` to give you an overall view of what is really a problem (or not).

[2018-04-17 13:07] lyndsey-ferguson commented on #45
Why would you want the intermediate report files?

[2018-04-17 13:41] lyndsey-ferguson commented on #45
Fixed in [v3.2.2](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/tree/v3.2.2)

[2018-04-17 13:41] #45 closed

[2018-04-17 14:43] szymon-kazmierczak commented on #45
Thats fair! My use case is to store all the test results (grouped together per test run) with their passes, failures and exceptions in datadog 👍

[2018-04-17 14:47] lyndsey-ferguson commented on #45
Sounds good, then the testrun completion callback is perfect. Thanks for filing the bug report and working with me to figure this out!

Don’t forget to update your `Pluginfile` to use just the gem (not repo/branch).

[2018-04-25 14:25] Sandhu412 commented on #42
@lyndsey-ferguson -- Thanks for making this feature available. But could you please point me to an example of how to use this action? The example Fastfile in the README does not have an action using collate_html_reports. Appreciate it thanks!

[2018-04-25 14:34] lyndsey-ferguson commented on #42
@Sandhu412 good catch. I don't have a _great_ example, but try this:

[code]

[2018-04-25 14:36] lyndsey-ferguson opened #46 "collate html and junit report actions do not have examples in Fastfile"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the example [Fastfile](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/fastlane/Fastfile)

### Issue Description

There are no examples of how to us

[2018-04-25 14:36] lyndsey-ferguson commented on #42
I created an [Issue](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/46) for this.

[2018-04-25 14:49] Sandhu412 commented on #42
Thanks. Sure, will try that snippet of code.

[2018-04-25 15:44] Sandhu412 commented on #42
@lyndsey-ferguson -- I tried the snipper of code you provided and I see that its collating the reports and generating one report.html file but the file is empty. Below is the updated lane with the code. Since batch_count is 4, it is generating 5 reports in total as per the logs but the report itself is empty. Any thoughts?

desc "Runs all the TK UI Tests"
  lane :toolkit_ui_tests do
    ENV['FASTL

[2018-04-25 16:49] lyndsey-ferguson commented on #42
Can you add this _before_ you call `multi_scan`:
[code]

and this inside your call to `multi_scan`:
`testrun_completed_block: test_run_block`?

[2018-04-26 00:10] lyndsey-ferguson commented on #42
Can you run this and include the output from the Terminal?

[2018-04-29 18:12] lyndsey-ferguson commented on #42
@Sandhu412 I think that there a miscommunication. Let me share my thoughts:

1. I want to see the output from your current lane that you have:

![lane](https://user-images.githubusercontent.com/13001679/39277833-d61d4f40-48bd-11e8-8891-c5cd6a7fa55b.png)

2. I do not see the summary that `multi_scan` prints out at the very beginning. Can you attach the entire log?

3. The `multi_scan` summary also

[2018-04-30 12:04] lucasecf opened #47 "json report files being overwritten and are not collated"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the example [Fastfile](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/fastlane/Fastfile)

### Issue Description
This issue is regarding `multi_scan

[2018-04-30 13:29] lyndsey-ferguson commented on #47
I specifically _collate_ the regular junit xml and html report files into one file with the final results _as if_ the tests had run once for a complete report. It would seem that these json files should _also_ be _collated_. What are your thoughts?

[2018-04-30 14:56] lucasecf commented on #47
@lyndsey-ferguson I just realized I _can't_ keep sending all json files to our CI because it recognizes the whole PR build as failure if **any** test execution contains a failure. So yeah, collating all files results before "reporting" seems like the only way indeed...

Thanks for the `try_count` tip, I'll see what I can do meanwhile. Please let me know if I can help with anything for the _bug_ fi

[2018-04-30 14:59] lyndsey-ferguson commented on #47
I am open to PRs; adding this new functionality could take me a week or two depending on my work load and upcoming vacation (I don't have a lot of time right now).

To see how I added a `collate_html_reports` action, and called it from `multi_scan` see [this commit]. You can also review the `collate_junit_reports` action to see how it works. I think that collating json will probably be the easiest

[2018-04-30 15:32] lucasecf commented on #47
I'd love to contribute if possible, I'm not really a ruby developer but will try to at least have a look when having some free time.

One thing to highlight is that my case is slightly different from html/junit cases - those files are outputted directly by scan (through `output_files` param).

This json file I need is "outputted" by xcpretty instead, which scan proxies through the `formatter` para

[2018-04-30 16:58] lyndsey-ferguson commented on #47
Thank you for the tips. Knowing that the code should look for that environment variable will help me determine when the collation needs to be done.

[2018-04-30 17:51] lyndsey-ferguson opened #48 "multi_scan's testrun_completed_block not sending html report file"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the example [Fastfile](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/fastlane/Fastfile)

### Issue Description

The `multi_scan` action is not sen

[2018-04-30 18:00] lyndsey-ferguson commented on #42
I provided you the wrong code.  Update the `test_run_block` to be:

[code]

"I do see multiple runs of scan but only 1 run is actually running tests. Do you have code in your test-targets that have methods with names starting with test? If so, that will break the programmatic method of finding the tests unfortunately."

Do you see the multiple instances of this in your logs?

[code]

That means th

[2018-04-30 18:07] lyndsey-ferguson opened #49 "multi_scan with batches is not generating correct report"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the example [Fastfile](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/fastlane/Fastfile)

### Issue Description

Using the `:batch_count` option of

[2018-04-30 18:08] lyndsey-ferguson commented on #42
@Sandhu412 I have created a new issue #49. Let's continue our discussion there.

[2018-04-30 18:08] lyndsey-ferguson commented on #49
To continue our conversation, I had responded to your last comment this way:

I provided you the wrong code.  Update the `test_run_block` to be:

[code]

"I do see multiple runs of scan but only 1 run is actually running tests. Do you have code in your test-targets that have methods with names starting with test? If so, that will break the programmatic method of finding the tests unfortunately."

[2018-04-30 18:14] Sandhu412 commented on #49
@lyndsey-ferguson -- got it. The set of tests being ignored are because I have marked them not to run in the test target through Xcode -> Edit Scheme and out of my current test suite of 50+ tests, I am only running 6 tests. So it seems like batch_count, still considers those tests although in xcode I have disabled them in the Test target.

I will run the updated code snippet and get back to you.

[2018-04-30 18:22] lyndsey-ferguson opened #50 "multi_scan's batch_count option is batching suppressed tests and running them"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the example [Fastfile](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/fastlane/Fastfile)

### Issue Description

`multi_scan's` `:batch_count` opti

[2018-04-30 18:40] lyndsey-ferguson commented on #49
We still need to figure out why you are getting an empty report file. Even with batches of empty test reports, I believe that the report file _should not_ be empty.

[2018-04-30 19:30] Sandhu412 commented on #49
@lyndsey-ferguson -- Below is the complete log output after the corrected code snippet you provided:

=================
SANJANEYAMAC1:toolkit-ios sanjaneya$ bundle exec fastlane toolkit_ui_tests --verbose
[✔] 🚀
DEBUG [2018-04-30 15:09:31.07]: Checking if there are any plugins that should be loaded...
DEBUG [2018-04-30 15:09:31.08]: Loading 'fastlane-plugin-test_center' plugin
INFO [2018-04-30 15:0

[2018-04-30 20:42] lyndsey-ferguson commented on #49
Okay, a couple of things. Let's change your call of `multi_scan` to **not** include `:batch_count`, but instead pass in `:only_testing`:

[code]

Also, it seems that our snipped of code for the callback is printing empty lines for the file, let's update it to this:

[code]

Them run your lane and attach the console output here.

[2018-05-01 19:15] lyndsey-ferguson commented on #49
I think that I know why this is failing and it is fairly simple (😊). The first report is being used as the base report to which the subsequent report files are merged. So, an empty file cannot be merged into. The above command should work because _only_ one report file is being created.

[2018-05-01 21:38] Sandhu412 commented on #49
yes if I remove the batch_count then I get one html report with all the 6 tests results in it. So when I run this across all my tests, there wouldn't be any batches with 0 tests and hence it should concatenate the reports.

[2018-05-03 14:57] lucasecf opened #51 "multi_scan sometimes gets stuck after test failure"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the example [Fastfile](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/fastlane/Fastfile)

### Issue Description
The issue is related to `multi_scan

[2018-05-06 15:04] lyndsey-ferguson commented on #51
@lucasecf are any of the following not actual tests in your test app?

[code]

I have a feeling that one or more of these are not tests and is breaking assumptions in the testing framework about when a test is actually starting and stopping.

[2018-05-06 15:05] lyndsey-ferguson commented on #49
@Sandhu412 you should be able to use `:batch_count` with the `:only_testing` argument above until I fix `multi_scan` to not include skipped tests.

[2018-05-07 07:26] lucasecf commented on #51
Hi @lyndsey-ferguson , thanks for the reply.

Yes, there's some there that are not part of my real test suit. I had notice this weird ones before appearing in the list, but when all tests run without problems they are just ignored, the build/execution didn't fail because of them.
But yeah, good guess, maybe they can cause side-effects internally when a real test fails.

Anyways from the tests repo

[2018-05-07 14:41] lyndsey-ferguson commented on #51
@lucasecf are you including a library in your test target? Where do you think this code is coming from?

[2018-05-08 08:35] lucasecf commented on #51
@lyndsey-ferguson that was a really good question. In our `Podfile`, the UI tests target was nested inside the "main" target definition, which caused all it's dependencies to be inherited - something unnecessary. I just fixed that, and now for sure all tests reported in `multi_scan` list are real tests from my UITests target.

But unfortunately that did not solve the problem, first execution with

[2018-05-08 13:02] lyndsey-ferguson commented on #51
Ok, let me summarize my understanding and offer some thoughts:

I (think I) understand:
1. Removing the the main target from the test target stopped the extra `testXYZ` methods from appearing. Yes?
1. You still see the `Unexpected TestSuiteDidFinish` message.
1. You still see that `multi_scan` fails after a timeout/hang, but `scan` with the same parameters (except `:try_count`) fails, but not afte

[2018-05-09 15:40] lucasecf commented on #51
Hello,

**Confirming your undestanding:**
1. Correct, I don't have extra unwanted test method after removing the ui test target from inside the main target in the Podfile.

2. Correct, the problem persists with the same message

3. Yes, Only `multi_scan` presents this issue/weird behaviour. `scan` runs fine, the log I posted from `scan` is still a build failure because I have some flaky tests that

[2018-05-11 08:44] lucasecf commented on #51
@lyndsey-ferguson Like promised, here's the requested attempt logs. It seems that the rescue did capture the exception, `':multi_scan raised an exception!'` was printed, but still the `testrun_completed_block` didn't seem to be executed (`"test run complete, about to retry"` was not printed)

(fastlane env included)
<details>
<pre>
+ defaults write com.apple.iphonesimulator ConnectHardwareKeyboard

[2018-05-19 20:00] lyndsey-ferguson commented on #51
Can you suppress `testMoveToPinboardNotPinned` and see if that makes any difference? I think that either the test is crashing the test-runner app, or that test is exercising the app in a way that is causing _it_ to crash. Most likely the test.

[2018-05-20 16:13] lyndsey-ferguson commented on #46
Great moment to break examples out into individual lane files

[2018-05-20 16:14] lyndsey-ferguson opened #52 "Templates for bugs, feature requests, support questions, and regressions"
See [fastlane's issue templates](https://github.com/fastlane/fastlane/tree/master/.github)

🐛 Bug Report
If something isn't working as expected 🤔
Get started

🚀 Feature Request
A suggestion for a new feature ✨
Get started

❓ Support Question
Not sure how something works or how to implement some functionality? Ask us here! (But please check the docs first 🙃)
Get started

😱 Regression
If a recent re

[2018-05-24 08:10] lucasecf commented on #51
Hi @lyndsey-ferguson , sorry for the late response.

I experienced this problem after different flaky tests failed, so I didn't suspect it was anything specifically for this one `testMoveToPinboardNotPinned`.

I've being doing a few tests and I finally found a workaround that fixes my problem.

In all times, the execution was pretty much hanging always after a `waitForExpectation` failure. After r

[2018-05-24 17:34] lyndsey-ferguson commented on #51
@lucasecf I'm glad that you are able to proceed.

So did you find a test that was at the root of this issue by stopping immediately after a failure? Or do you think that there is a bad interaction with the "waiting" and "continueAfterFailure = true"?

[2018-05-24 17:35] #51 closed

[2018-05-25 07:59] lucasecf commented on #51
@lyndsey-ferguson Thanks! I didn't find a test root of the issue, since it happened with multiple ones I guess the problem was indeed with a combination of factors. For now I just put `continueAfterFailure = false` before every single UI test we have, which solves the issue.

1. I had `continueAfterFailure = true`(default), with a lot of waiting everywhere, and never had this problem using scan (x

[2018-05-25 10:22] lyndsey-ferguson commented on #51
Well, if you ever find out more, I'd love to know. It seemed to me that the combo of `-only-testing` and the setup, is crashing _something_ and I don't know what it is. I'm very glad that you're finding `multi_scan` useful!

[2018-05-25 23:00] jcharr1 opened #53 "multi_scan fails when trying to collate HTML reports that contain < > as part of the message"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the example [Fastfile](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/fastlane/Fastfile)

### Issue Description

multi_scan gives an error, "malfor

[2018-05-26 11:20] lyndsey-ferguson commented on #53
Thanks for the bug report @jcharr1, can you attach a copy of the xml file that is causing the problem?

[2018-05-26 18:26] jcharr1 commented on #53
Here's the Terminal output:

[code]

And the junit report with the test failure:

[code]

[2018-05-26 20:41] lyndsey-ferguson commented on #53
I have two requests:

1. Can you provide me with the console log for when you are running the code? I want to see the stack trace for when `multi_scan` fails. Right now, I am guessing that it is failing when it is trying to read the Junit XML files to collate them. However, when I try and collate the file that you have given me (with one without failing tests), it works fine.

2. Can you try addin

[2018-05-26 21:17] jcharr1 commented on #53
Hi @lyndsey-ferguson. I tried #2 and it worked fine. On a hunch, I changed your code snippet to collate the html reports instead, and bam, there's the error message. So it's happening with collating the html reports and not the junit ones. We don't actually use the html reports so an effective workaround for me would just be to disable html reports for scan. But I'd be happy to help you figure out

[2018-05-27 00:07] lyndsey-ferguson commented on #53
@jcharr1 I have not been able to force this particular error. Is there anyway you could provide a sample project that makes this error occur?

[2018-05-27 00:29] lyndsey-ferguson commented on #48
Addressed in [v3.2.4](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/tree/v3.2.4)

[2018-05-30 00:09] lyndsey-ferguson commented on #53
I may be able to fake this out by outputting this message during a test and my theory is that `xcpretty` will fail to escape the `<` and `>` at which point I can log a bug against `xcpretty` with my sample. Hopefully someone will pick it up, otherwise I will have to fix it.

[2018-06-01 07:37] lucasecf commented on #53
I think I'm facing the same problem. My build fails with this exception:

[code]

When looking to the html reports, I think the part that generates the error is this one - which contains this wrong and unclosed html tag there
[code]

Which actually seems to be part of the test error message, that was something like
[code]

[2018-06-01 10:43] lyndsey-ferguson commented on #53
Thanks @lucasecf, I've used that and the error from @jcharr1 to create [this `xcpretty` issue](https://github.com/supermarin/xcpretty/issues/320). If you want to +1 it, that may draw their attention. In the meantime, let's see if I can provide a temporary clean up section of code here...

[2018-06-01 12:31] lucasecf commented on #53
for sure will drop the +1 there. Thanks!

[2018-06-01 15:22] lucasecf commented on #53
If I may ask, what's the workaround to 'disable' the html reports? I tried to removed them from multi_scan by passing `output_types: "junit"` (since default is html,junit). According to the generated xcodebuild command, now xcpretty is not trying to generate the html anymore.

But now multi_scan is crashing for me. I'm not sure why, but it seems that it's trying to still get the html files from th

[2018-06-01 15:31] lyndsey-ferguson commented on #53
@lucasecf first to the issue you are seeing: I just accidentally introduced that defect with the latest update. I'll get on a fix right away. The idea with the workaround is for me to use the callback after each run to correct the file if it is malformed.

This [PR](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/commit/bc4c47f1f0493135d380f7ccccad4b389f050401) will give you an ide

[2018-06-01 15:32] lyndsey-ferguson opened #54 "multi_scan crashes when there are no html report files"
### New Issue Checklist

- [ ] Updated `fastlane-plugin-test_center` to the latest version
- [ ] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [ ] I reviewed the example [Fastfile](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/fastlane/Fastfile)

### Issue Description

[code]
##### An example of how the

[2018-06-01 15:34] lucasecf commented on #53
just wondering If I was doing something wrong 🤔 😅 . Thanks for the feedback! 👍

[2018-06-01 17:20] lyndsey-ferguson commented on #54
Fixed in [v3.2.5](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.2.5)

[2018-06-01 17:20] #54 closed

[2018-06-01 17:22] lyndsey-ferguson commented on #53
@lucasecf fixed in #54

[2018-06-04 01:35] lyndsey-ferguson commented on #53
Fixed in [v3.2.6](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/tree/v3.2.6)

[2018-06-04 01:35] #53 closed

[2018-06-05 13:33] lyndsey-ferguson commented on #50
@Sandhu412, I am unable to duplicate the issue. I have updated my test project to contain many tests, several of which I have suppressed. When I run `multi_scan` like so, the suppressed tests are skipped. Can you provide me a sample project that demonstrates the problem?

Fastfile:
[code]

The console:
[code]
    if (arc4random_uniform(6) < 3) {
        XCTAssertTrue(false);
    }
[code]
    if (a

[2018-06-05 21:39] lyndsey-ferguson commented on #49
lowering priority until this can be reproduced

[2018-06-05 21:40] lyndsey-ferguson commented on #50
lowering in priority until a sample reproducing this is given

[2018-06-06 13:28] lyndsey-ferguson commented on #52
Done

[2018-06-06 13:28] #52 closed

[2018-06-07 06:04] gmgchow commented on #15
Hi @lyndsey-ferguson, I ended up making my own repository instead of forking. It's still far from perfect but it's functional now so feel free to take a look and mark this issue as closed. Thanks for your help!

https://github.com/gmgchow/fastlane-plugin-retry

[2018-06-07 12:59] lyndsey-ferguson commented on #15
Thanks! I'll review the code and use it to add the collation of plists. Several people have asked `test_center` to support it.

[2018-06-07 22:54] lyndsey-ferguson commented on #4
Fixed in [v3.3.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/tree/v3.3.0)

[2018-06-07 22:54] #4 closed

[2018-06-10 02:44] lyndsey-ferguson commented on #47
Note to self: it seems that the cleanest and most obvious would be to add a `json` output type to `multi_scan` and then set up the environment/parameters correctly so that `scan` will generate the files appropriately.

[2018-06-11 21:12] lyndsey-ferguson commented on #47
@lucasecf I am considering simply extending `scan`'s `:output_types` to include simple `json`. I would then strip that off in `multi_scan` and set up the `XCPRETTY_JSON_FILE_OUTPUT` environment variable to point to the file that is going to be output.

However, that does seem a little confusing because there is an existing option, `json-compilation-database`. What do you think?

[2018-06-12 07:29] lucasecf commented on #47
I think the `json-compilation-database` is the confusing one, because it's not usable for CI reports... Not sure what is it's usercase tbh. If scan had a proper json option by default (together with junit and html) it would make a lot of sense imho

[2018-06-15 03:03] LucianoTurrini commented on #41
Hello, excellent plugin, but I'm having the same problem, waiting for fix, thanks

[2018-06-18 10:51] szymon-kazmierczak opened #55 "Mismatch in test cases executed count, test count in results and actual tests ran"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2018-06-18 12:21] lyndsey-ferguson commented on #55
@szymon-kazmierczak can you also include the log? I have a suspicion, but need to confirm it before writing it for the world to see :)

[2018-06-19 13:06] szymon-kazmierczak commented on #55
Logs for your viewing pleasure :) I removed the build process logs due to security concerns, but the rest of the logs should be there 👍
[testoutput2.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/2115272/testoutput2.txt)

[2018-06-19 20:00] lyndsey-ferguson commented on #55
Okay, this may be a problem with `scan`. Can you run the same command (omitting `:try_count`) with `scan`?

I count 34 tests being tested, but `scan` is outputting `"Executed 40 tests..."`.

[code]

[2018-06-20 12:22] lyndsey-ferguson commented on #55
Oh, one more thing, can you run the command line (from your log) that runs the tests outside of any `fastlane` wrapping?
[code]
It may be `xcpretty` that is printing out the erroneous output.

[2018-06-20 12:46] szymon-kazmierczak commented on #55
[code]
Yep, 32/40 again !

[2018-06-20 12:48] lyndsey-ferguson commented on #55
Okay, can you report a [bug against `xcpretty`](https://github.com/supermarin/xcpretty/issues)? I'll close this issue as it is not an issue with `multi_scan`.

[2018-06-20 12:48] #55 closed

[2018-06-24 18:41] lyndsey-ferguson commented on #47
Completed in [v3.4.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.4.0)

[2018-06-24 18:41] #47 closed

[2018-06-25 14:59] lyndsey-ferguson opened #56 "Feature Idea - Analytics to capture which versions of which actions are being used"
### Feature Request

#### Motivation Behind Feature

Currently, we do not have an idea of which actions are being used, how often, and which versions. If this data is collected, work effort can be focused on the most used features.

#### Feature Description

After installation, prompt the user to opt-in the data collection. If opted-in, the data collected would go to a publicly reviewable stats si

[2018-06-25 16:36] lyndsey-ferguson opened #57 "Add a "How To Contribute""
### Feature Request

Add a document that describes how to contribute.

#### Motivation Behind Feature

I need more help

#### Feature Description

It should describe how the code is laid out. Where to start with Ruby. Where to start with RSpec. How PRs should be formatted. How tests should be written. What guidance I can provide.

#### Alternatives or Workarounds

Do all the work myself and take 4

[2018-07-14 01:19] lyndsey-ferguson commented on #35
### Thoughts
- put what it is as the first thing in the readme
- include an animated gif of multi_scan
- provide a walkthrough of how to use multi_scan
- provide headings of problems with links to subpages that are walk throughs on how to solve

[2018-07-14 01:39] lyndsey-ferguson commented on #35
https://robots.thoughtbot.com/how-to-write-a-great-readme

[2018-07-14 01:39] lyndsey-ferguson commented on #35
http://jfhbrook.github.io/2011/11/09/readmes.html

[2018-07-14 01:43] lyndsey-ferguson commented on #35
https://github.com/chjj/ttystudio

[2018-07-15 18:13] lyndsey-ferguson commented on #35
What is the elevator pitch?

Unit testing and the tests themselves are written by humans. Humans are prone to error. Unit tests and the testing infrastructure can be imperfect. The `test_center` plugin includes tools that remove (or alleviate) the effects of an imperfect test infrastructure.

[2018-07-16 18:00] lyndsey-ferguson opened #58 "Add category to actions"
### Feature Request

#### Motivation Behind Feature

The fastlane actions at [available plugins](https://docs.fastlane.tools/plugins/available-plugins/) describe the category that an action is in. None of the `test_center` actions have a category.

#### Feature Description

Each action should have a block:

[code]

#### Alternatives or Workarounds

None

[2018-07-19 20:49] #35 closed

[2018-07-19 20:49] #48 closed

[2018-07-20 13:32] lyndsey-ferguson commented on #57
Done

[2018-07-20 13:32] #57 closed

[2018-07-20 18:52] lyndsey-ferguson commented on #58
Fixed in [v3.5.1](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.5.1)

[2018-07-20 18:52] #58 closed

[2018-07-23 14:06] lyndsey-ferguson commented on #33
It seems that the code coverage report is in derived data, a file named `*.xccoverage`

[2018-07-23 14:06] lyndsey-ferguson commented on #33
`slather` will read it and convert it to an xml file.

[2018-07-24 15:35] lyndsey-ferguson commented on #33
It may be tricky to handle batches and turning off code coverage after the first run as then we will lose code coverage reports for other batches.

[2018-07-25 16:11] BohdanOrlov opened #61 "passing :result_bundle: true to multi_scan generates error: and fails multi_scan"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2018-07-25 16:45] lyndsey-ferguson commented on #61
Hello @BohdanOrlov, thank you for submitting this bug. I don't see the failure. I only see that there is a failing test that continually fails, `RegisterUser.test_RegisterUserFromMenuWithAddress()`. Can you elaborate one what the problem is?

[2018-07-26 08:06] BohdanOrlov commented on #61
Hey @lyndsey-ferguson!
Thank you for the fast reply!

multi_scan fails and throws exception and doesn't return a result.
Please compare images below to see the difference between failure and success (the test fails in both cases):

### Failed multi_scan try_count: 2 and result_bundle: true
![image](https://user-images.githubusercontent.com/6740223/43249415-84765014-90b2-11e8-91ae-87a2f2cf57f7.png)

[2018-07-26 12:40] lyndsey-ferguson commented on #61
You gave 2 examples: one with `try_count: 2` and `result_bundle: true`, and the other with `try_count: 2` and `result_bundle: false`. Both output `Scan failed with Tests have failed`. Both output `Lane Context:` with the ruby Hash for the value.

In the first example, `Scan failed with Tests have failed` is immediately followed by `Lane Context:`. In the second example, `Scan failed with Tests hav

[2018-07-26 12:47] lyndsey-ferguson commented on #33
Maybe the the [xcov tool](https://github.com/nakiostudio/xcov) can help

[2018-07-26 13:30] lyndsey-ferguson commented on #33
It looks like [xcov-core](https://github.com/nakiostudio/xcov-core) can help me understand how to parse the file. It seems that it is an NSArchived file of NSObjects. I can use the code to read the file into a NSDictionary, figure out how to collate it, and then NSArchive it out.

[2018-07-26 13:32] lyndsey-ferguson commented on #33
Probably the next best step is to export each HTML or JSON file to a separate numbered file and then compare the files to see how I can merge the files.

[2018-07-26 16:52] BohdanOrlov commented on #61
@lyndsey-ferguson

It did **retry correctly** in both cases, it **didn't finish the action correctly** in the first case.

So to sum up some evidence of that please note these:

![image](https://user-images.githubusercontent.com/6740223/43276077-7d808d9e-90fb-11e8-8d39-fb040a54356a.png)
![image](https://user-images.githubusercontent.com/6740223/43276148-a6ab1d2e-90fb-11e8-9eab-028d2cb490c5.png)

H

[2018-07-26 18:47] lyndsey-ferguson commented on #61
I think that the code that deals with `test_result` bundles is causing the exception. I will run that code and try and "collate" those bundles and see what happens: hopefully I get the same crash.

[2018-07-27 13:16] lyndsey-ferguson commented on #61
@BohdanOrlov did you get an exception stack trace for this issue?

I see this:
[code]

[2018-07-27 13:40] lyndsey-ferguson commented on #61
Fixed in [v3.5.2](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.5.2)

[2018-07-27 13:40] #61 closed

[2018-07-27 14:36] lyndsey-ferguson commented on #33
It looks like the subsequent code coverage report could be just a subset of the first code coverage report: I will simply keep the first report and turn off code-coverage after the first run. My only concern is with batching...

I will have to add the batch number to each `xccoverage` file and see if `slather` can handle that.

[2018-07-30 08:36] BohdanOrlov commented on #61
@lyndsey-ferguson many thanks for the fix!

[2018-08-01 13:38] lyndsey-ferguson commented on #33
Fixed in [v3.5.3](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/tree/v3.5.3)

[2018-08-01 13:38] #33 closed

[2018-08-01 13:39] lyndsey-ferguson commented on #33
Each batch creates a new unique `xccoverage` file. `slather` can read multiple `xccoverage` files to create multiple xml files.

[2018-08-02 13:28] lyndsey-ferguson commented on #10
[this code](https://github.com/Raizlabs/BonMot/blob/master/fastlane/Fastfile) seems to indicate that the same tests can be run on multiple different simulators. Not that I can split up the tests. There must be a way to specify batches of tests to run on multiple simulators.

[2018-08-02 13:29] lyndsey-ferguson commented on #10
This [article](https://alexilyenko.github.io/ios-parallel-tests/) writes that "From Xcode 9 and later we are able not only to run the same test on different devices simultaneously, **but also different set of tests on different devices**"

[2018-08-02 13:32] lyndsey-ferguson commented on #10
It seems we have to duplicate the iOS Simulator that the user selected.

[2018-08-02 13:44] lyndsey-ferguson commented on #10
Ok, it looks like I'll have to spin up separate processes. I would have to shard the tests (using the batch option) then create a separate process for each batch to call the `correcting_scan_helper` for each batch. That way we get the re-try power for each batch of tests. Wooo, sounds exciting.

[2018-08-03 13:03] lyndsey-ferguson commented on #10
[code]

[2018-08-03 13:26] lyndsey-ferguson commented on #10
[`Kernel.fork` 🎉 ](http://joshorourke.com/2012/07/17/a-brief-introduction-to-rubys-kernel-fork)

[2018-08-06 14:05] homebizjunk opened #63 "multi_scan's use of tests_from_xctestrun action not able to find xctest binary"
I executed the following lane. Just when it is about to start the test, I got the following error and saying /Library/Ruby/Gems/2.3.0/gems/xctest_list-1.1.3/lib/xctest_list.rb:27:in `binary_path': [!] Missing xctest binary:' Please help me out in resolving this issue. Thank you in advance!

fastlane buildBVT

[14:10:22]: ▸ Test build Succeeded
+--------------------+---+
| Test Results |
+---------

[2018-08-06 14:25] lyndsey-ferguson commented on #63
There is a problem parsing the `xctestrun` file. Would you be willing to list out the directory contents of `../DerivedData/Build/Products/Release/...DesktopUITests-Runner.app` and attach the `xctestrun` file found in the `../DerivedData/Build/Products` directory?

[2018-08-06 19:04] homebizjunk commented on #63
Hi ! Thank you for looking into my issue.

The code that I put into Fastfile are as follows:
lane :buildBVT do |options|
    test_run_block = lambda do |testrun_info|
        failed_test_count = testrun_info[:failed].size

        if failed_test_count > 0
            UI.important('The run of tests would finish with failures due to fragile tests here.')

            try_attempt = testrun_info[:try_

[2018-08-06 19:06] homebizjunk commented on #63
The xctestrun file is too large to attached here.

[2018-08-06 19:07] lyndsey-ferguson commented on #63
Thanks @homebizjunk, in order to investigate further, I need the file that has the extension `xctestrun`. I'm including an example image and a sample file to help clarify what I am looking for.

<img width="340" alt="screen shot 2018-08-06 at 3 06 25 pm" src="https://user-images.githubusercontent.com/5741516/43736062-6759601c-998a-11e8-91f7-e6c4e6c699d3.png">

[AtomicBoy_iphonesimulator11.1-x86_64

[2018-08-06 19:09] lyndsey-ferguson commented on #63
The `xctestrun` is just a plist file, so I don't imagine it could be too large.

[2018-08-06 19:58] homebizjunk commented on #63
Hi lyndsey-ferguson!  Please find the file attached.
[SFMDriveMapperBVT_macosx10.13-x86_64.xctestrun.zip](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/2263915/SFMDriveMapperBVT_macosx10.13-x86_64.xctestrun.zip)

[2018-08-06 20:06] homebizjunk commented on #63
Screenshot with the error message![screen shot 2018-08-06 at 4 02 22 pm](https://user-images.githubusercontent.com/42074268/43738336-3fad7866-9992-11e8-9c75-90a383d4ebbc.png)

[2018-08-06 20:16] lyndsey-ferguson commented on #63
Thank you, could you also provide the structure of the _parent_ directory for `../DerivedData/Build/Products/Release/...DesktopUITests-Runner.app`?

[2018-08-06 21:13] homebizjunk commented on #63
![screen shot 2018-08-06 at 5 08 23 pm](https://user-images.githubusercontent.com/42074268/43741352-105d6ee0-999c-11e8-8899-4de7bdd5cb87.png)

[2018-08-06 21:14] homebizjunk commented on #63
Thank you for all your help!

[2018-08-06 21:16] lyndsey-ferguson commented on #63
Sorry for being so confusing (I wasn't sure of your directory structure/naming). What about your `DerivedData/Build/Products/Release` directory?

[2018-08-06 22:09] homebizjunk commented on #63
![screen shot 2018-08-06 at 6 08 38 pm](https://user-images.githubusercontent.com/42074268/43743432-d33ed208-99a3-11e8-9d47-4ad8b74b56dc.png)

[2018-08-06 22:11] lyndsey-ferguson commented on #63
Ok, thank you. I'll be able to investigate this tomorrow morning

[2018-08-07 13:34] lyndsey-ferguson commented on #63
I think that the problem is that you are using a relative path for the `:derived_data_path`. Can you update your code to pass in `derived_data_path: File.absolute_path("../DerivedData")` instead of `derived_data_path: "../DerivedData"`?

If you can verify, I can update the plugin code to fix this.

[2018-08-07 14:41] homebizjunk commented on #63
Hi @lyndsey-ferguson, I've made code change based on your suggestion and ran it again. I'm still getting the same error.

[2018-08-07 15:46] lyndsey-ferguson commented on #63
Okay. Before I start adding logging to the plugin and its action, can you do one more thing?

Change the code in the lane that calls `multi_scan` to be:

[code]

If this is not the correct path, fastlane will stop early.

[2018-08-07 16:29] homebizjunk commented on #63
@lyndsey-ferguson, I'm still getting the same error after I added the three lines of code as indicated in the screenshot.

![screen shot 2018-08-07 at 12 27 39 pm](https://user-images.githubusercontent.com/42074268/43789191-5a7825a0-9a3d-11e8-96f2-188614a7beb5.png)

[2018-08-07 16:49] lyndsey-ferguson commented on #63
And what is the derived data path that is printed to the console?

[2018-08-07 16:57] homebizjunk commented on #63
The full path was printed starting from the /Users/........./ShareFileDesktopUITests.xctest/ShareFileDesktopUITests

[2018-08-07 17:10] homebizjunk commented on #63
The whole path is as follows: /Users/calvinchang/Documents/LatestCFMacGA/sfdesktop/BuildSystem/DerivedData/Build/Products/Debug/ShareFileDesktopUITests-Runner.app/Contents/PlugIns/ShareFileDesktopUITests.xctest/ShareFileDesktopUITests

[2018-08-07 17:25] homebizjunk commented on #63
Yes, it is.  "sfdesktop" is the project name in Jenkins.

[2018-08-08 14:46] lyndsey-ferguson commented on #63
I have added logging to the tool in the branch `issue-63-cant-find-xctest-binary`. Can you modify your `Pluginfile` from:

[code]
to:

[code]

Then run your `:buildBVT` lane again. When it fails, please attach the `issue_63_log.txt` file (in your `:output_directory`) to this Issue.

Thanks!

[2018-08-09 04:02] homebizjunk commented on #63
@lyndsey-ferguson  I replaced the line as you instructed and ran the :buildBVT lane. I don't see the issue_63_log.txt file got generated where the output_directory is located.  ![screen shot 2018-08-08 at 11 52 40 pm](https://user-images.githubusercontent.com/42074268/43877286-f6c68f58-9b66-11e8-892e-ed7bcc451ef4.png)

[2018-08-09 14:07] lyndsey-ferguson commented on #10
I believe that I have [it basically working](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/tree/issue-10-parellel-multi_scan), but there are problems with scan failing due to the Simulator never finishing the bootstrap. There _may_ be some people that have dealt with this who tried to run tests in parallel. Will look at this next time I work on this feature.

[2018-08-09 14:49] homebizjunk commented on #63
Hi @lyndsey-ferguson, Is there something else missing for not getting the log file generated then?

[2018-08-09 14:56] lyndsey-ferguson commented on #63
Nope, you just need to `bundle install` then run the `:buildBVT` lane again.

[2018-08-09 15:13] homebizjunk commented on #63
I ran "bundle install" already last night before I ran fastlane. That's why I attached the screenshot to show that I ran the "bundle install".  It didn't generate the log file.

[2018-08-09 15:19] lyndsey-ferguson commented on #63
I added a log statement as soon as `:multi_scan` starts to print out the log file location.

[2018-08-09 15:23] lyndsey-ferguson commented on #63
you may need to remove the `fastlane-plugin-test_center` entries from the `Gemfile.lock` for the updated version to take.

[2018-08-09 15:45] lyndsey-ferguson commented on #63
https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/issue-63-cant-find-xctest-binary/lib/fastlane/plugin/test_center/actions/multi_scan.rb#L14

[2018-08-09 17:46] homebizjunk commented on #63
There are two entries for fastlane-plugin-test_center in the Gemfile.lock file. Which one should I be removing? There is one entry under GIT, the other entry is under Dependencies.
![screen shot 2018-08-09 at 1 42 29 pm](https://user-images.githubusercontent.com/42074268/43916025-70174942-9bda-11e8-8237-02e81aa63de8.png)
![screen shot 2018-08-09 at 1 43 10 pm](https://user-images.githubusercontent

[2018-08-09 17:50] lyndsey-ferguson commented on #63
First, remove the entire GIT entry. Then, in dependencies, remove that one too.

OR, can you remove the Gemfile.lock file for now?

[2018-08-10 13:36] lyndsey-ferguson commented on #10
So, the log files that the two different processes are writing to are different. So, there should not be contention around that.

[2018-08-10 13:37] lyndsey-ferguson commented on #10
Two different simulators

[2018-08-10 13:41] lyndsey-ferguson commented on #10
`tee` is writing to the same file. While I don't think it should cause the bootstrap problem, it cannot be good.

[2018-08-10 14:05] lyndsey-ferguson commented on #10
I have read that people have to quit or reset the simulators when this problem occurs. Maybe I can reset the particular simulator between each run?

[2018-08-10 15:25] lyndsey-ferguson commented on #63
@homebizjunk would you be able to remove the `Gemfile.lock` file for testing this? That would be the easiest and most reliable step.

[2018-08-10 15:49] homebizjunk commented on #63
Sorry, I've been tied up with other more urgent work.  I'm trying it now.

[2018-08-10 16:14] homebizjunk commented on #63
I removed the Gemfile.lock file and ran "bundle install" and then ran "fastlane buildBVT". For some reason, I'm still unable to generate the log file that you mentioned above.
Looks like it is fetching the test_center from the right branch
![screen shot 2018-08-10 at 12 11 04 pm](https://user-images.githubusercontent.com/42074268/43969024-d60596e8-9c96-11e8-9e5d-c0a9fc6811c5.png)
![screen shot 201

[2018-08-10 20:30] homebizjunk commented on #63
This is what is printed on the console.
![screen shot 2018-08-10 at 4 27 09 pm](https://user-images.githubusercontent.com/42074268/43979915-483415e6-9cba-11e8-816e-6abdc475a3b2.png)

[2018-08-10 20:43] lyndsey-ferguson commented on #63
Does the file end up being put in `../build/reports/UI_test`? **OR** do you see an **extra** `build` directory up one level from where you are expecting your results?

[2018-08-13 13:28] lyndsey-ferguson commented on #63
I've updated the code to output the absolute path. Now that we know that the log file is being created, you can remove the `byebug` command and let it run as normal.

[2018-08-13 13:44] lyndsey-ferguson commented on #63
I will try resetting the specific simulator via:
[code]
where id comes from:
[code]

[2018-08-13 14:14] lyndsey-ferguson commented on #63
Resetting seems to work

[2018-08-13 14:14] lyndsey-ferguson commented on #63
Next, pull out the code so that `fork`ing happens programmatically. Then, we have to create duplicate the chosen simulator and delete them when done.

[2018-08-13 15:25] homebizjunk commented on #63
Hi @lyndsey-ferguson! Please find the issue_63 log file attached. [issue_63_log.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/2283577/issue_63_log.txt)

[2018-08-13 15:27] lyndsey-ferguson commented on #63
Does it still fail? The log indicates that it found the `xctest` bundle:
[code]

[2018-08-13 15:32] homebizjunk commented on #63
I don't know if it is important.  I found the issue_63_log.txt file in
/Users/calvinchang/Documents/LatestCFMacGA/sfdesktop/build/reports/UI_test not in the folder that I expected
/Users/calvinchang/Documents/LatestCFMacGA/sfdesktop/BuildSystem/build/reports/UI_test

[2018-08-13 15:34] homebizjunk commented on #63
@lyndsey-ferguson , Yes, it is still failing.
(byebug) n
[11:18:41]: Missing xctest binary: '/Users/calvinchang/Documents/LatestCFMacGA/sfdesktop/BuildSystem/DerivedData/Build/Products/Debug/ShareFileDesktopUITests-Runner.app/Contents/PlugIns/ShareFileDesktopUITests.xctest/ShareFileDesktopUITests'

[2018-08-13 15:42] lyndsey-ferguson commented on #63
Yes, the log file not being placed into the expected directory is an issue. It is not *the* issue though.

What is inside the bundle at `'/Users/calvinchang/Documents/LatestCFMacGA/sfdesktop/BuildSystem/DerivedData/Build/Products/Debug/ShareFileDesktopUITests-Runner.app/Contents/PlugIns/ShareFileDesktopUITests.xctest`?

_You can right click the `xctest` file and select "Show Package Contents"_

[2018-08-13 15:49] homebizjunk commented on #63
![](https://user-images.githubusercontent.com/42074268/43735589-fde7750c-9988-11e8-8bef-c0c0d5379f7f.png)

[2018-08-13 15:56] lyndsey-ferguson commented on #63
Ah, how odd. It makes sense that the actual binary is in a `Contents/MacOS` directory. That makes sense too. Which version of Xcode are using?

[2018-08-13 15:59] homebizjunk commented on #63
Xcode 9.4.1
Build version 9F2000

[2018-08-13 17:31] lyndsey-ferguson commented on #63
I created [this Issue](https://github.com/lyndsey-ferguson/xctest_list/issues/2). Tomorrow I'll make a test build for us.

[2018-08-13 17:56] homebizjunk commented on #63
Thank you, @lyndsey-ferguson!

[2018-08-14 13:29] lyndsey-ferguson commented on #63
@homebizjunk okay, here are the steps to get the dev plugins and gems into your project.

1. Remove your `Gemfile.lock` file again.
2. Keep your `Pluginfile` so that it still refers to the `fastlane-plugin-test_center` plugin that we're using for debugging:
[code]
3. Update your `Gemfile` to include:
[code]
4. Run `bundle install`
5. Run `bundle exec fastlane buildBVT`
6. Observe. Does it complete

[2018-08-14 18:43] homebizjunk commented on #63
@lyndsey-ferguson, I'm sorry! I've been busy with other urgent work.  I should be able to get to try it soon. I'll keep you posted. Thank you!

[2018-08-14 18:46] lyndsey-ferguson commented on #63
We are almost there, I'm sure this will fix it, but want your 👍

[2018-08-14 20:15] homebizjunk commented on #63
@lyndsey-ferguson I'm sorry to inform you that I'm seeing the same result.
![screen shot 2018-08-14 at 4 13 58 pm](https://user-images.githubusercontent.com/42074268/44115928-1eef0274-9fdd-11e8-85d5-adc538193717.png)

![screen shot 2018-08-14 at 4 14 42 pm](https://user-images.githubusercontent.com/42074268/44115965-36430a1a-9fdd-11e8-81ca-49ec45ac5324.png)

![screen shot 2018-08-14 at 4 09 41 pm]

[2018-08-14 20:28] lyndsey-ferguson commented on #63
Yeah, that's because it is using the last released `xctest_list`. The branch that I tried to get setup for your build doesn't have that [code at line 27](https://github.com/lyndsey-ferguson/xctest_list/blob/issue-2-unable-to-find-binary/lib/xctest_list.rb#L27).

[2018-08-14 20:32] lyndsey-ferguson commented on #63
Oh, could you include this step (selecting `All versions`):
[code]
And then run the [above steps](
https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/63#issuecomment-412871932)
[code]

[2018-08-14 22:08] homebizjunk commented on #63
The fix works.  The process went past the point where it was failing. I've got some other error to look into. Thank you soooooooooo much for your time and effort to help!  I really appreciate that.
![screen shot 2018-08-14 at 6 05 49 pm](https://user-images.githubusercontent.com/42074268/44121179-059600ec-9fed-11e8-9d01-3c800fa3d507.png)

[2018-08-15 13:33] lyndsey-ferguson commented on #63
@homebizjunk thank you for your help in debugging this. I have [released a new version of this plugin](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.5.4) that uses the fixed `xctest_list` gem.

[2018-08-15 13:33] #63 closed

[2018-08-15 17:22] homebizjunk opened #64 "Re-running scan on only failed tests is failing because tests_from_junit does not declare it works with Mac"
@lyndsey-ferguson The multi_scan seems to be failing as soon as it starts to re-run of the failed test case.

The is what I have in the Fastfile:
[code]

===========================================================
The result of the "bundle exec fastlane buildBVT"  is as follows:

Selected tests
Test Suite ShareFileDesktopUITests.xctest started
SFMBVTTest
✓ test_bvt (0.417 seconds)
BVTTestcase
✗ te

[2018-08-15 17:34] lyndsey-ferguson commented on #64
[code]
😱
So, it is failing to get the failing tests, and it freaks out. That explains the format of your `xctest` bundle, you're testing a Mac target!

[2018-08-15 17:37] lyndsey-ferguson commented on #64
Congrats @homebizjunk, you are my first known Mac developer! The others have been iOS devs.

[2018-08-15 18:04] homebizjunk commented on #64
@lyndsey-ferguson How lucky I am!

[2018-08-15 18:10] lyndsey-ferguson commented on #64
Can you modify your `Pluginfile` again and re-run `bundle install`?

Pluginfile:
[code]

[2018-08-15 18:34] homebizjunk commented on #64
@lyndsey-ferguson  should I keep the change in the Gemfile?

gem 'xctest_list', :git => 'https://github.com/lyndsey-ferguson/xctest_list', :branch => 'issue-2-unable-to-find-binary'

[2018-08-15 18:53] lyndsey-ferguson commented on #64
You can remove the `xctest_list` item from your `Gemfile`

[2018-08-15 21:59] homebizjunk commented on #64
@lyndsey-ferguson , No longer seeing the error "Action" message. But it is not re-running the failed test case.
![screen shot 2018-08-15 at 5 56 11 pm](https://user-images.githubusercontent.com/42074268/44175640-d56c4480-a0b4-11e8-9cc9-8b484cdf69fd.png)

[2018-08-16 00:52] lyndsey-ferguson commented on #64
Ug, my example has to be fixed, change your lane from:
[code]
to:
[code]

[2018-08-16 01:00] lyndsey-ferguson commented on #64
Basically, everything worked and it was about to declare that there were test failures

[2018-08-16 01:29] lyndsey-ferguson commented on #64
Ah, it could be that you have more than 1 test target and the first test target had failures, and the second one did not?

[2018-08-17 13:00] lyndsey-ferguson commented on #64
@homebizjunk I believe that I fixed the issue that you reported and then we found with the README example that you used, so I am closing this Issue. If we find that the tests are not retrying, can you open a new Issue and include the entire log in text format?

[2018-08-17 13:00] #64 closed

[2018-08-17 13:59] lyndsey-ferguson commented on #10
Here is the current status:
1. Resetting the simulator does not seem to prevent the bootstrap issues. I just saw that repeat.
2. I have added in functionality to conditionally parallelize the execution.
3. I have solved the hanging issue. I have added a working indicator.

Remaining work:
1. It is hanging when it tries to get the `tests_passed` result. That is because it is passing back a IO objec

[2018-08-17 14:57] homebizjunk opened #66 "No re-test failed test case attempt can be seen"
@lyndsey-ferguson , I don't see any re-tests in the console log. Re-running seems to be not kicking in.

test_RemoveSelectedMultipleUsers_TC_2413, XCTAssertTrue failed - Fail to remove users
FolderPermissionTests.swift:313

	 Executed 1 test, with 0 failures (0 unexpected) in 0.433 (472.568) seconds

Failing tests:
BVTTestcase.test_RemoveSelectedMultipleUsers_TC_2413()
** TEST EXECUTE FAILED **
[1

[2018-08-17 16:17] lyndsey-ferguson commented on #66
What happens when you run this command on the Terminal?
[code]

[2018-08-17 16:54] lyndsey-ferguson commented on #66
Also, can you provide the entire log please? I want to see what happened from the beginning of running `:multi_scan`. I'm looking for multiple targets, confirmation that the tests failed in a previous run. Also, can you attach any junit test result file?

[2018-08-24 18:37] lyndsey-ferguson commented on #10
See [the project](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/projects/2) for progress

[2018-08-27 20:19] homebizjunk commented on #66
@lyndsey-ferguson I'm sorry. I didn't get back to you until now due to other higher priority project. I can only find this log file. [Session-ShareFileDesktopUITests-2018-08-27_145822-Jbungk.log](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/2325484/Session-ShareFileDesktopUITests-2018-08-27_145822-Jbungk.log)

[2018-08-27 20:37] homebizjunk commented on #66
This path doesn't exist. /Users/calvinchang/Documents/NewCFMac4_2/sfdesktop/BuildSystem/DerivedData/Build/Products/Debug. Please refer to screen shot.

![screen shot 2018-08-27 at 4 37 17 pm](https://user-images.githubusercontent.com/42074268/44684609-8066f180-aa17-11e8-8159-757781326903.png)

[2018-08-27 20:51] homebizjunk commented on #66
I changed the command line to use Release configuration so that I can get the test running.

![screen shot 2018-08-27 at 4 51 16 pm](https://user-images.githubusercontent.com/42074268/44685437-75ad5c00-aa19-11e8-8147-ffc9dbd2fe11.png)

[2018-08-28 19:54] homebizjunk commented on #66
@lyndsey-ferguson  The following is the latest "multi_scan" result.

Taken from the log below:
[15:47:59]: The run of tests would finish with failures due to fragile tests here.
[15:47:59]: -------------------------------------------------------------------------------
[15:47:59]: --- Since we are using :multi_scan, we can re-run just those failing tests! ---
[15:47:59]: --------------------------

[2018-08-28 20:12] homebizjunk commented on #66
@lyndsey-ferguson  These are the test reports (junit and html files)
[Archive.zip](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/2329716/Archive.zip)

[2018-08-29 12:42] lyndsey-ferguson commented on #66
Thank you @homebizjunk. I probably won't be able to take a look at it until mid-september. I see you did run `xcodebuild` directly from the command line. With the Debug configuration, you got some errors indicating that the bundle identifier could not be found. With the Release configuration, it ran, but again, it indicated:

[code]

That's not good.

What happens when you run it with just the tes

[2018-08-29 14:09] homebizjunk commented on #66
@lyndsey-ferguson Thanks for your time looking at this issue.  The bundle identifier error is resolved.

The problem was erroring out with the following message as soon as retry started.

[15:48:16]: Unknown method 'messge', supported [:select, :message, :verbose, :error, :input, :password, :header, :command, :success, :confirm, :important, :user_error!, :command_output, :deprecated, :content_erro

[2018-08-29 14:26] lyndsey-ferguson commented on #66
The `Unknown method 'messge', supported` issue is due to your lane calling `UI.messge` not `UI.message` (not the `a`). My main concern is that **zero** tests are running:
[code]
Is that still happening?

[2018-08-30 13:42] homebizjunk commented on #66
@lyndsey-ferguson The following is taken from the last run.  Please note that even before the Re-running scan on only failed tests, it clearly listed the 3 failures, but the statement shown

 Executed 1 test, with 0 failures (0 unexpected) in 0.953 (237.179) seconds

...

SFMBVTTest
✓ test_bvt (0.953 seconds)
BVTTestcase
✗ test_ModifyUserPermission_TC_2425, failed - Refresh is not supported on fol

[2018-09-09 13:51] lyndsey-ferguson opened #67 "Recreate iOS Simulator when bootstrap failures occur"
### Feature Request

#### Motivation Behind Feature

Sometimes, `scan` fails due to a failure to "bootstrap" the iOS Simulator. This can happen often and introduces an frustrating amount of delays as the entire `multi_scan` action has to re-run. It would be much better if we could trash that sim and re-make a new one based off of that sim's attributes.

#### Feature Description

A new boolean opti

[2018-09-10 17:45] littlebobert opened #68 ""invalid slice size" error while running multi_scan"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2018-09-10 18:12] lyndsey-ferguson commented on #68
`multi_scan` will run the tests in each target in separate batches. Based on the log, it looks like the failure happens before any tests are run, is that correct? It looks to me like it may even be failing on the first attempt to even run the tests.

Based on the error, it looks like there the first test target does not have any enabled tests. Is this correct?

[2018-09-10 18:47] littlebobert commented on #68
Hmm that didn’t fix the issue.

[2018-09-10 18:51] lyndsey-ferguson commented on #68
I believe that it should test each test target in order. Is the 'DrawingsTests' target the one that succeeds and then right after that one, when it is about to test the next target it fails? If so, is there anything odd about that target? What if you were to remove it from the Scheme and re-run `multi_scan`?

[2018-09-10 18:58] lyndsey-ferguson commented on #68
Ultimately, I'd like to be able reproduce this issue and update the code to prevent this crash from happening to anyone else.

[2018-09-10 18:59] littlebobert commented on #68
Ah yes, the next test target in alphabetical order has only a single test, which is disabled. It didn’t say it was disabled in the Test Navigator though so I missed it the first time. Trying again.

[2018-09-10 19:10] littlebobert commented on #68
That worked! Thank you!

[2018-09-10 19:10] lyndsey-ferguson commented on #68
Wonderful, thank you for reporting this bug!

[2018-09-10 20:35] littlebobert opened #69 "Feature Request: multi_scan to generate a single report for projects with multiple test targets"
### Feature Request
It would be cool if multi_scan could generate a single report for projects with multiple test targets.

#### Motivation Behind Feature

The built-in `scan` lane can generate a single report for multiple test targets, and it’s nice to be able to see that when its finished running the tests.

#### Feature Description

In https://github.com/lyndsey-ferguson/fastlane-plugin-test_ce

[2018-09-10 20:50] lyndsey-ferguson commented on #69
Do you have an idea of how this would work? Are you specifically asking for 'JUnit' style reports to be consolidated for the test target results? From what I understand of the format, each report has one "root" node. That root node in the way that `xcpretty` formats it is the test target itself.

I suppose that one could create a node at a "higher" level and the direct children would be the test t

[2018-09-11 14:30] littlebobert opened #70 "multi_scan reports one failed test even though all tests passed on a retry"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2018-09-11 14:35] lyndsey-ferguson commented on #70
Would you be able to provide the junit file? Or, if not, is there a failing test in the junit file?

[2018-09-11 14:36] lyndsey-ferguson commented on #70
I do see this:
[code]

Could it be that one of your many targets has a failure and the _last_ target that was tested resulted in all passing tests?

[2018-09-11 14:37] littlebobert commented on #70
[report.junit.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/2371384/report.junit.txt)

[2018-09-11 14:41] lyndsey-ferguson commented on #70
Ok, that test is showing up as failing in the junit

[2018-09-11 14:43] lyndsey-ferguson commented on #70
Huh, it does pass in the last run.

[2018-09-11 14:43] littlebobert commented on #70
But it looks to me like when the 5 failing tests are run individually, it passes:

<pre>[07:03:47]: ▸ Selected tests
[07:03:47]: ▸ Test Suite SupplyChainTests.xctest started
[07:03:47]: ▸ TimecardEditorViewModelTests
[07:03:48]: ▸ ✓ testSignatureAlertIsNotShownWhenAddingNewTimecardToUnsignedWorkerTimecards (0.087 seconds)
[07:03:48]: ▸ ✓ testSignatureAlertIsNotShownWhenChangingTotalHoursForUnsigne

[2018-09-11 14:47] littlebobert commented on #70
Dunno if this helps but I’ve run `bundle exec fastlane circleci` 3 times and the issue is reproducible. FWIW I can’t get any of the tests to fail when I run the SupplyChainTests target from within Xcode. I might try disabling this test.

[2018-09-11 14:51] lyndsey-ferguson commented on #70
Ok, let's add a callback after each run, I'm writing this by hand, but it looks like you know what you're doing with Ruby so you can correct my mistakes. In your lane, before you call `multi_scan` add this callback:

[code]

Then add the parameter to `multi_scan`:
[code]

Then re-run your lane and attach the file at `"~/Desktop/last_report.junit"`

[2018-09-11 14:52] lyndsey-ferguson commented on #70
Oh, if this is on circleci, can you copy it to your artifacts folder instead (I assume you get that with that CI)?

[2018-09-11 15:09] littlebobert commented on #70
This setup is for circleci but I’m running it locally. Here’s the report:

[last_report.junit.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/2371526/last_report.junit.txt)

[2018-09-11 15:36] lyndsey-ferguson commented on #70
Ok. So the junit itself lists the test as passing. The collation of the reports is a problem. Let's get a listing of the tests before the collation is done and see if the sorting has been done correctly. In your callback, let's modify it:

[code]

[2018-09-11 16:35] lyndsey-ferguson commented on #70
So, the puts lists the reports in the right order, but the last report file is empty. This is the last report that we copied to the desktop the last time, and that had data in it. What's going on? Can you re-run it?

[2018-09-11 16:38] lyndsey-ferguson commented on #70
Just for fun, look for a file path like this at the end of the `xcodebuild` command that is printed to the console:
[code]
It won't be the same, but similar. What is that, a file, a directory?

[2018-09-11 16:45] littlebobert commented on #70
The `xcodebuild` command that runs the 5 failing tests in SupplyChainTests is:

<pre>set -o pipefail && env NSUnbufferedIO=YES xcodebuild -workspace /Users/justingarcia/review2/iOS/Procore.xcworkspace -scheme Procore-CI -destination 'platform=iOS Simulator,id=3F3779B5-884B-4B5C-BC44-28D2AD2D3924' -derivedDataPath '/Users/justingarcia/Library/Developer/Xcode/DerivedData/Procore-arsmqslaanxkdvbleqcg

[2018-09-11 16:47] littlebobert commented on #70
I’m rerunning now. I’ll let everything finish this time just in case.

[2018-09-11 16:48] littlebobert commented on #70
The only changes I made to your test_run_block is to change the two uses of `report_path.last` to `report_paths.last`.

[2018-09-11 16:56] littlebobert commented on #70
Re-ran. It’s not that report-2.junit is empty it’s that it doesn’t exist. Originally I opened it in my text editor which made me think it existed.

[2018-09-11 17:00] lyndsey-ferguson commented on #70
Hm. It has to exist. Oh, you're looking after the command is complete. That file is removed after collating it into the main report.

Add these two lines before the check for the equality of report file paths:
[code]

[2018-09-11 17:00] lyndsey-ferguson commented on #70
However, the `raise` is not happening, so it seems that those files are the same.

[2018-09-11 17:01] lyndsey-ferguson commented on #70
@littlebobert I have to put a pause on my efforts on this for today, we can pick it up again tomorrow.

[2018-09-11 17:15] littlebobert commented on #70
Yeah they’re the same. Cool, thanks for all the help so far.

[2018-09-12 12:01] lyndsey-ferguson commented on #70
Can you update the callback to copy *all* junit files to a folder on the desktop, and then, would you be able to attach them to this issue? I'd like to run the `collate_junit_reports` action on them (you could do the same if you want). If the reports *are not* collated correctly, I can use them to fix the issue. If the reports *are* collated correctly, in that the fails are removed, then I can ask

[2018-09-12 14:11] littlebobert commented on #70
[report.junit.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/2375513/report.junit.txt)
[report-2.junit.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/2375514/report-2.junit.txt)

[2018-09-12 16:35] lyndsey-ferguson commented on #70
Ok, I have been able to reproduce the issue. There is something wrong with the `collate_junit_reports` action. I will use your junit files as the test bed to fix the issue. Thank you!

[2018-09-13 13:29] lyndsey-ferguson commented on #70
Investigative note: it seems that the testsuite parent XML element is there twice. It is not being updated with the second run's version.

[2018-09-13 13:30] lyndsey-ferguson commented on #70
We cannot just replace the element as the previous run may have had some tests that passed that were not run in the second run. We don't want to lose those passes.

[2018-09-13 13:33] lyndsey-ferguson commented on #70
Oh my. It seems that when a test crashes, `xcodebuild` re-runs it and that adds a new entry into the XML file.

It seems that the first solution is to re-run through the target XML file, and consolidate duplicate testsuites. Then, when merging from other XML files, go through each matching testsuite and use subsequent ones to update the target one.

[2018-09-13 21:01] lyndsey-ferguson commented on #68
Fixed in [v3.5.7](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.5.7)

[2018-09-13 21:01] #68 closed

[2018-09-14 14:28] lyndsey-ferguson commented on #66
I need a sample Mac project that exhibits this same problem? Could you create an attach such a sample project?

If not, that will be my next step, but it may be a few weeks before I can get to that.

[2018-09-14 15:58] littlebobert opened #71 "multi_scan produces lots of extraneous dashes and spaces in console output when running on circle"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2018-09-14 15:59] littlebobert commented on #71
[CoreTests-output.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/2384021/CoreTests-output.txt)

[2018-09-14 17:38] lyndsey-ferguson commented on #71
Ug, that's because the tests wrap around and make the header crazy.

[2018-09-16 01:58] cisum-la opened #72 "Support for Xcode 10 Parallel Testing Feature"
### Feature Request

#### Motivation Behind Feature
Xcode 10 provides parallel testing feature,  https://www.zachsim.one/blog/2018/6/15/parallel-testing-in-xcode-10 whereby testsuites of xctest and xcuitests are split for running into multiple simulator clones. This significantly reduces total test time by around half or even more. However, this feature leads to a bit more test flakiness in my exp

[2018-09-16 14:58] lyndsey-ferguson commented on #72
Hi @cisum-la, thans for the suggestion and welcome to the repo! Yes, someone has already [submitted this issue](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/10) and it is in progress. It is functional, but messy and I am cleaning it up before releasing it.

I'll close this as it is a duplicate.

[2018-09-16 14:58] #72 closed

[2018-09-24 15:25] lyndsey-ferguson opened #73 "Running multi_scan with custom_report_file_name generates hidden exception and does not build"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2018-09-24 17:33] lyndsey-ferguson commented on #73
While I am changing `:custom_report_file_name` with `:output_files` to get around the problem in [this example](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/actions/multi_scan.rb#L273), this really should be fixed.

[2018-09-27 19:33] craigomac opened #74 "multi_scan doesn't find test cases in Xcode 10-generated .xcrun files"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2018-09-28 13:16] lyndsey-ferguson commented on #74
@craigomac can you provide a sample project that demonstrates the issue? When I run `multi_scan` with my test project, it finds both the UI and standard unit tests. I tried upgrading the project file format to Xcode 10 and `multi_scan` still has no problem.

The code to find where the `.xctest` [is fairly simple](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastl

[2018-09-28 14:27] lyndsey-ferguson commented on #74
@LippyFlo or @craigomac can either of you provide a sample `.xctestrun` file and the accompanying folders? Looking at @craigomac's text, the problem is probably `__PLATFORMS__` and I'm not getting that.

Unless...are your Xcode projects building iOS and Mac targets and maybe that is why it is showing up?

[2018-09-28 14:28] lyndsey-ferguson commented on #74
Oh, and @LippyFlo, you have 12 skipping test cases in the `xctestrun` file, but that is not all the tests, right?

[2018-10-01 10:09] LippyFlo commented on #74
@craigomac sorry for late answer. Of course I have another tests! I tested scan with generated .xctestrun and it works good. But multi_scan still cannot find any tests.

[2018-10-01 11:00] craigomac commented on #74
1. I don't think I can provide the build folder, but here's the `.xctestrun`:
[PipelineUITests_iphonesimulator12.0-x86_64.xctestrun.zip](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/2433639/PipelineUITests_iphonesimulator12.0-x86_64.xctestrun.zip)

We don't have iOS and MacOS targets but we do have two separate targets. The target we want to test is identified correctly in

[2018-10-01 11:46] LippyFlo commented on #74
@craigomac same thing! We have multiple schemes for test, maybe here is something wrong?

[2018-10-02 13:30] lyndsey-ferguson commented on #74
From what I understand @craigomac, the tests should be coming from `Debug-iphonesimulator/UITests-Runner.app/PlugIns/UITests.xctest` in your Products folder. Can you change your lane to also include:

at the top of the file:
[code]

and in your lane:
[code]

And send me the output?

Also, are there any other `xctest` bundles in `PlugIns`, or the `Build/Products/` directories or subdirectories?

[2018-10-02 16:29] ericwengelking opened #75 "only_testing flag results in undefined method `sort' error"
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2018-10-02 17:07] lyndsey-ferguson commented on #75
Okay. The error is that I am expecting an array of strings and you are passing in a string for the `:only_testing` option. `scan` coerces that to an array, and `multi_scan` does not yet.

Can you confirm by changing:
[code]
to
[code]

When calling `multi_scan`?

[2018-10-02 18:18] ericwengelking commented on #75
I'm sure that is it.  I'll close this issue for now and re-open if it is still a problem.  Not sure how I missed that in the docs, thank you!

[2018-10-02 18:35] lyndsey-ferguson commented on #75
Oh, no, I want this open. It is a real problem: I just gave you a work-around until I fix it.

[2018-10-02 20:44] ericwengelking commented on #75
The workaround did resolve my issue.  Thank you!

[2018-10-08 18:32] Sandhu412 commented on #74
@lyndsey-ferguson -- I am seeing this exact same issue as well. Since I upgraded my build server to Xcode 10, the multi_scan UI test with batches always says 0 tests found. Attached is the .xctestrun file.

Also, with Xcode 10 now we can run on multiple simulators and the test suite is divided among the number of simulators launched. Is this feature supported within multi_scan or is it yet to be m

[2018-10-08 18:33] Sandhu412 commented on #74
[ToolkitUITests_iphonesimulator12.0-x86_64.xctestrun.zip](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/2457234/ToolkitUITests_iphonesimulator12.0-x86_64.xctestrun.zip)

[2018-10-08 18:52] Sandhu412 commented on #10
@lyndsey-ferguson -- With Xcode 10, apple has introduced parallel testing without the need to create additional schemas and duplicating simulators. There is setting in the Target Scheme that you can enable testing on parallel simulators and also xcodebuild has new flags added to provide the number of simulators that can be launched etc. GIven all this new stuff, do you still need to work on implem

[2018-10-08 18:53] lyndsey-ferguson commented on #10
Oh, I didn't know this. I made something beautiful, but if Xcode has the ability to automatically split the tests up, that sounds great. Can you save me time and write out what needs to be done to take advantage of this?

[2018-10-08 19:17] lyndsey-ferguson commented on #10
I found [this](https://www.zachsim.one/blog/2018/6/15/parallel-testing-in-xcode-10) article. It seems that Xcode is not so smart and if you have a test class that has many tests, the tests will all run on one simulator. My approach is to split the tests up and run chunks on each simulator.

[2018-10-08 19:39] Sandhu412 commented on #10
ah, I see. You are correct that Xcode will launch multiple simulators and distribute the tests by class. So if a class has 10 tests, all 10 tests will go to one simulator. But I did not realize you were trying to split the tests in a class across simulators as well. But unlike Xcode 9, we dont have to create n additional schemes etc, Xcode does everything for us is what I meant.

By the way, this

[2018-10-08 19:42] lyndsey-ferguson commented on #10
I'm not sure yet what the cause is for `multi_scan` not finding the tests. When you get a chance, please let me know the results of my [questions](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/74#issuecomment-426274125). I need more information to proceed on that issue.

[2018-10-08 19:44] lyndsey-ferguson commented on #10
Oh, and when I'm done adding the feature, you will not need to create additional schemes to parallelize across simulators. You just have to provide the `:batch_count`, `:parallelize: true`, and _maybe_ `:max_simulators: X`.

[2018-10-08 19:47] Sandhu412 commented on #10
-- This will be awesome!
-- I will get back to you with answers to your questions.

[2018-10-11 18:15] Sandhu412 commented on #74
@lyndsey-ferguson -- attached is the .xctestrun file for the output as per your suggestion:[ToolkitUITests_iphonesimulator12.0-x86_64.xctestrun.zip](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/2470146/ToolkitUITests_iphonesimulator12.0-x86_64.xctestrun.zip)

Below is the output from **"fastlane env"**

<details><summary>🚫 fastlane environment 🚫</summary>

### Stack

| Key

[2018-10-11 23:53] lyndsey-ferguson commented on #74
@Sandhu412 the step to generate the coverage report is causing an error, and I think that is why I do not see the list of tests from the `XCTestList.tests` call being printed.

Could you comment out the call, and add this above the call to the `XCTestList.tests` call?
[code]
?

[2018-10-12 10:39] Sandhu412 commented on #74
@lyndsey-ferguson -- I commented out the code coverage and the lane goes through fine. Below is the output from fastlane: But below is what is printed from the **puts XCTestList.tests** command:

```CCTClearcutLogEvent/testCodes CCTClearcutLogEvent/testID FIRInstanceIDTokenOperation/testBlock PHTPhenotypeDataFlag/testOverride PHTPhenotypeNumberFlag/testOverride PHTPhenotypeStringFlag/testOverride`

[2018-10-12 11:58] lyndsey-ferguson commented on #74
Ok, so the tests are found, but when asked, `xcodebuild` does not test them. Are these Swift tests? Is it possible you could build a sample project the exhibits the same behavior and attach it to this issue?

[2018-10-12 13:56] Sandhu412 commented on #74
yes, there are swift tests. And how do you know the tests are found? The output does not list any tests? Regarding the sample project, I dont know how to do that? Could you guide me, also the repo is of my company so I am not sure if I can share it.

[2018-10-12 14:07] lyndsey-ferguson commented on #74
What I see is that these tests are found:
[code]
I'm guess that something is wrong with the way that they are passed to `xcodebuild`. You can see that they _will_ be passed here:

[code]

And that they are being sent to `xcodebuild` here:
[code]

[2018-10-12 14:08] lyndsey-ferguson commented on #74
Can you make a sample project using just the names of your tests as empty tests in the UI test target? If you run `multi_scan` on that project, does it have the same problem? If so, then you can attach that sample project to this issue?

[2018-10-12 14:15] Sandhu412 commented on #74
Those are not the UI tests in my project. I dont even know what they mean. That is why, I was confused when you said that tests are found. Did you expect to see the actual test names in that list?

 I will try to get the sample project. Did

[2018-10-12 15:41] lyndsey-ferguson commented on #74
These:
[code]
are not tests in your target? They are being found in your `xctest` bundle. These are probably methods that are included into the binary in the `xctest` bundle. Are you including extra frameworks or libraries in your test target in Xcode?

[2018-10-12 15:52] Sandhu412 commented on #74
NO, they are not my tests. Not sure why they are showing up. It was not an issue with Xcode 9 using multi_scan for a long time, so something specifically with Xcode 10 is the reason then. I dont have any other libraries/frameworks in test target.

Below are all the tests I have in my target.

![screen shot 2018-10-12 at 11 51 58 am](https://user-images.githubusercontent.com/13001679/46879917-44e08

[2018-10-12 16:01] lyndsey-ferguson commented on #74
Your test target does not link in Firebase? I definitely see that as a symbol that is in your test target's binary. I also see CCTClearcutLogEvent which could be from the Clearcut log uploader codebase.

Can you show me a screen shot of what frameworks are being included? Both in the Frameworks build phase and in the Frameworks command line?
<img width="871" alt="screen shot 2018-10-12 at 12 00 06

[2018-10-12 16:20] Sandhu412 commented on #74
@lyndsey-ferguson -- Below are the two screenshots from my project that you are referring to. The main target (Toolkit) uses many pods and frameworks as shown above. But I dont use anything specific for UI tests. Also, these are the same set of frameworks that I have used with Xcode9.X/multi_scan combination.

![screen shot 2018-10-12 at 12 15 01 pm](https://user-images.githubusercontent.com/13001

[2018-10-12 17:10] lyndsey-ferguson commented on #74
Do you need to link in the Pods framework for unit tests? I suppose if you're not mocking out calls to APIs found in the Pods frameworks you would (although mocks and dependency injection would make your tests run faster...).

[2018-10-12 17:13] lyndsey-ferguson commented on #74
So @Sandhu412, it seems that the problem that you are seeing is that the UI Swift tests are not being found. Is this a new version of Swift that you are using? It could be that the naming convention has changed.

[2018-10-12 17:14] lquigley commented on #74
@lyndsey-ferguson I experienced this after moving to Xcode 10 AND upgrading to Swift 4.2.

[2018-10-12 17:15] lyndsey-ferguson commented on #74
I think that the cause may be the new version of Swift. I am getting more reports that point to that as a cause.

[2018-10-12 17:16] Sandhu412 commented on #74
With Xcode 9.X we were using Swift 4 and the only change is we upgraded to Xcode 10.

[2018-10-12 17:20] lyndsey-ferguson commented on #74
@Sandhu412 you did not change from Swift 4.0 to 4.2?

[2018-10-12 17:21] lyndsey-ferguson commented on #74
They did change the mangling rules

[2018-10-12 17:22] Sandhu412 commented on #74
No, because there a ton of deprecated errors that we need to fix in the project and as of now, we are able to compile and build with 4.0. We are planning to set aside some time to fix the errors with swift 4.2 but as of now, its still swift 4.0.

[2018-10-12 17:22] lyndsey-ferguson commented on #74
The project I see the problem in is using Swift 4. You did not see this as a problem with Xcode 9 and Swift 4?

[2018-10-12 17:29] lyndsey-ferguson commented on #74
Perhaps the `xcrun swift-demangle` tool changed.

[2018-10-12 21:08] thehouck commented on #74
Tne `XCTestList.swift_tests` method is now returning early on `next unless /.*__\w+test\w*/ =~ line`.  Removing the __ will get to the `xcrun swift-demangle` line but it has changed and it fails this if ` if /.*-\[.*\]/ !~ line && /\w+\.(?<testclass>[^\.]+)\.(?<testmethod>test[^\(]+)\(/ `

[2018-10-15 13:15] lyndsey-ferguson commented on #74
Ok, thanks. I think that the pattern has changed and it is no longer picking it up. I have an alternative.

[2018-10-15 21:17] lyndsey-ferguson commented on #74
Fixed in [v3.5.8](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.5.8)

[2018-10-15 21:20] Sandhu412 commented on #74
Thanks so much @lyndsey-ferguson !!! :+1:

[2018-10-31 12:30] Jon889 commented on #10
Does this mean that multi_scan does not support UI Tests when the scheme has the Xcode 10 option to run tests in parallel enabled?

We've got that enabled and the tests run in 3 cloned simulators, but multi_scan only seems to run the tests once despite having the try_count set to 3?

[2018-10-31 12:35] Jon889 commented on #66
Do you have Xcode 10's parallel UI tests enabled? We've just enabled them in a project and think it's causing a similar issue

[2018-10-31 16:38] jcharr1 opened #77 "multi_scan fails on macOS 10.14.1 with "NoMethodError: [!] undefined method `sub' for nil:NilClass""
### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2018-11-01 13:31] lyndsey-ferguson commented on #77
Can you attach the `xctestrun` file? There is an issue in parsing the file.

[2018-11-01 13:35] lyndsey-ferguson commented on #10
@Jon889 basically, yes, `multi_scan` has not been set up to use that option. `multi_scan` uses the results of the `junit` report to determine which tests to re-run. I believe that either `fastlane` or `xcpretty` had problems generating that report.

It may be that a newer version of `fastlane` or `xcpretty` has fixed that problem. My plan for now is to, when given the option to parallelize, disabl

[2018-11-01 13:50] lyndsey-ferguson opened #78 "Feature Request: when processing the xctestrun file, print the filepath to the console"
### Feature Request

#### Motivation Behind Feature

Sometimes, there are problems parsing the `xctestrun` file during a `multi_scan`. In order to make it easier to provide the file, `multi_scan` could print which file it is processing to the console so it is easier to guide devs in finding the file to attach to bug reports.

#### Feature Description

Before `multi_scan` reads the file, print a co

[2018-11-01 14:12] Sandhu412 opened #79 "when XCTestCase is configured to continue after failures, failing testcases are reported multiple times and are not collated correctly"
### New Issue Checklist

- [X] Updated `fastlane-plugin-test_center` to the latest version
- [X] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [X] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [X] I have removed any sensitive data suc

[2018-11-01 15:17] lyndsey-ferguson commented on #79
`multi_scan` parses the final junit test results found at `/Users/Shared/Jenkins/Home/workspace/toolkit-ios-beta-tests/reports/ui-tests/report.junit`? Can you review it and let me know if it has those tests marked as failing?

My concern is this block of output:

[code]

To me, it could indicate that the final junit file, no. 5, was unable to be written, and so `multi_scan` could not gather that i

[2018-11-01 15:20] lyndsey-ferguson opened #80 "Feature Request: print out the file paths of the junit reports being collated for the final report"
### Feature Request

Print out the file paths of the junit reports being collated for the final report when running `multi_scan`.

#### Motivation Behind Feature

Sometimes, it is not clear if all the reports are being written when running `multi_scan`. A test run can fail, but the Ruby code doesn't raise an exception. It would be helpful to have information about which test result files are being

[2018-11-01 15:42] jcharr1 commented on #77
Sure. Here you go.
[Innovative_iphonesimulator12.1-x86_64.xctestrun.zip](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/2539118/Innovative_iphonesimulator12.1-x86_64.xctestrun.zip)

[2018-11-01 15:59] Sandhu412 commented on #79
@lyndsey-ferguson -- yes, the Junit report lists those tests as failed. I use a publish Junit report plugin in the jenkins job and it does list all the 10 tests as failed.

[2018-11-01 16:49] lyndsey-ferguson commented on #77
Fixed in [v3.5.9](
https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.5.9)

[2018-11-01 16:49] #77 closed

[2018-11-02 02:09] lyndsey-ferguson commented on #79
Sorry, you should pass that `test_run_block` to `multi_scan`. The key for that value is `testrun_completed_block`.

[2018-11-06 15:10] Sandhu412 commented on #79
@lyndsey-ferguson -- I added the call back and passed it to multi_scan as shown below. Please let me know if the below is correct? When I run this lane, the output for "XCODE_DEVELOPER_DIR_PATH :" is blank. But what does that indicate and how is it related to multi_scan not consolidating the junit test results and marking the passed ones as failed? Please clarify.

[code]

[2018-11-06 15:20] hilljon86 commented on #74
I'm still seeing this issue occur with multi-scan and Xcode 10.1.  I have verified I'm using the newest version of fastlane and test_center.  Scan will find and run the tests just fine but multi_scan always finds 0 tests.  What information can I provide to see if this is still an issue?

[2018-11-06 21:37] lyndsey-ferguson commented on #74
Can you re-run your fastlane command with `--capture_output` and include that output (after removing sensitive data)?

[2018-11-06 21:46] lyndsey-ferguson commented on #79
`XCODE_DEVELOPER_DIR_PATH` is used to declare what the path is to the version of Xcode that is running. I saw the error in your logs and thought that perhaps you had set it to something. It looks like you may not have set it. Can you run:

[code]
from the command line to see if that environment variable has been set?

Also, run this command from the command line:
[code]
and provide me the output.

[2018-11-07 15:51] Sandhu412 commented on #79
output for printenv is below:

[code]

[2018-11-07 15:51] Sandhu412 commented on #79
output for xcode-select -p

[code]

[2018-11-07 16:05] lyndsey-ferguson commented on #79
Do you specify `fail_build: false` when you call `multi_scan`?

[2018-11-07 16:12] Sandhu412 commented on #79
No, I specify fail_build: true in multi_scan

[2018-11-07 21:05] Sandhu412 commented on #79
@lyndsey-ferguson -- Below is the fastlane output from the ui tests with the above test_run_block. All the 5 reports are copied to the desktop and the 5th report contains the list of 27 passed tests that were run in that batch. I cant attach the reports, but I can email them to you if you would like to see.

As per my analysis, the issue is that the junit reports are accurate as in it captures the

[2018-11-07 21:51] jineshqa opened #82 "Is there a way to pin the plugin version? If yes, how?"
### Question Checklist

- [X] Updated `fastlane-plugin-test_center` to the latest version
- [X] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [X] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [X] I searched for [existing GitHub issues

[2018-11-07 22:06] lyndsey-ferguson commented on #82
You should have a Gemfile.lock file. If you keep the version of 3.6.9, it should effectively pin it. Let me know if this helps.

[2018-11-07 23:12] jineshqa commented on #82
Should I update it as below?
`DEPENDENCIES
  fastlane
  fastlane-plugin-test_center (~> 3.6.9)`

[2018-11-07 23:13] lyndsey-ferguson commented on #82
That looks right

[2018-11-08 13:30] Cyberbeni opened #83 "multi_scan doesn't retry if xcpretty fails"
### New Issue Checklist

- [ ] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [x] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [x] I have removed any sensitive data suc

[2018-11-08 13:38] lyndsey-ferguson commented on #83
Thanks for the report @Cyberbeni. I have a couple of issues that I am looking into and little time to do so. Can you include a sample project with the failing tests with a fastfile and gemfile that use trainer?

[2018-11-08 14:12] lyndsey-ferguson commented on #79
The reason why the summary is not printing in this case is because `multi_scan` is raising an exception to satisfy the `:fail_build` option _before_ it prints the summary. That is a bug that I can fix as part of this Issue.

[2018-11-08 14:39] lyndsey-ferguson commented on #79
Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again?

Pluginfile:
[code]

[2018-11-08 16:03] Sandhu412 commented on #79
@lyndsey-ferguson -- The last time we did something like in the pluginfile it complained about access rights, then you gave me the http URL for the repo. So I will just use this URL instead: https://github.com/lyndsey-ferguson/fastlane-plugin-test_center.git

[2018-11-08 17:03] lyndsey-ferguson commented on #79
Thanks!

[2018-11-09 14:00] Sandhu412 commented on #79
@lyndsey-ferguson -- I ran with the pluginfile configuration as mentioned above and attached is the fastlane log from the run.
[Multi_Scan_TestRun-Results.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/2566080/Multi_Scan_TestRun-Results.txt)

After all the runs and retries, in summary only the below tests have failed (Total of 5 tests, but count as 10 since they are two

[2018-11-09 14:17] lyndsey-ferguson commented on #79
This is super interesting:
[code]

Do you see that the collation successfully replaced:
[code]
with:
[code]
?

Yet, after that replacement, the final testsuite has **2** copies of the failure, but the other has a different failure reason?
[code]

That, coupled with your comment about 2 instances of each test, adds a lot of data. This would account for the discrepancy.

Why are there two instances

[2018-11-09 14:56] Sandhu412 commented on #79
@lyndsey-ferguson -- When a test fails it seems to be reference two files and hence makes two entries, one for each file. For ex, as shown below, it is still just one test but 1 failure is in the test method and the second failure is in the helper extensions file. This happens for every test case that fails (I will look into seeing if I can make only one entry show for each failed case by not usin

[2018-11-09 15:01] lyndsey-ferguson commented on #79
So, technically, the test fails in HelpExtension.swift, but not in DraftDetailsPage.swift. The same test exists in both files, and they are both in the same Target. Yes?

[2018-11-09 15:05] Sandhu412 commented on #79
Let me rephrase, one of test steps in DraftDetailsPage.swift uses a method in HelpExtension.swift and when the method fails to find the element in HelpExtension.swift, along with marking HelpExtension.swift as failed, it also marks DraftDetailsPage.swift as failed too. This is how the XCUITest framework reports the failures seems like, I dont do anything in particular.

So yes, technically it fail

[2018-11-09 15:08] lyndsey-ferguson commented on #79
Does `DraftDetailsPage.swift` call a method that calls the `testUnschueduleCampaign`? Forgive me if it is obvious to you, I'm not trying to be obtuse. I don't yet grasp why the test is being called twice.

[2018-11-09 15:11] Sandhu412 commented on #79
The test case testUnschueduleCampaign -> has a step that calls DraftDetailsPage,swift and one of the verifications in DraftDetailsPage.swift is to look for an XCUIElement -> and the method to look for that XCUIElement is implemented in HelperExtensions.swift. So the flow is:

testUnschueduleCampaign -> DraftDetailsPage,swift -> HelperExtensions.swift

[2018-11-09 15:18] lyndsey-ferguson commented on #79
Are you saying that `testUnschueduleCampaign` runs, and then there is some helper test code in `DraftDetailsPage.swift` that looks for "Drafts", that fails, yet continues to run and then there is more helper test code that hangs in `HelperExtensions.swift`?

[2018-11-09 15:21] Sandhu412 commented on #79
The helper test code that looks for "Drafts", is the method defined in HelperExtensions.swift file. So HelperExtensions.swift helps to find the Drafts element and if it reaches the timeout limit. HelperExtensions.swift file has a "waitForExpectations" helper method which raises an exception and fails the test if the timeout is reached.

[2018-11-09 15:30] Sandhu412 commented on #79
Thanks @lyndsey-ferguson As I said, I will look into seeing if I can avoid the second failed exception to be logged by avoiding the waitForExpectations method and trying an alternative until then. So basically, multi_scan is replacing the passed instance with just one of the errors and the other error is getting reported as a test failure. If I can make it report only one error, then this scenario

[2018-11-09 15:33] lyndsey-ferguson commented on #79
Yes, I believe your assumption is correct. @Sandhu412, you give me the most interesting challenges, thank you! A pleasure working with you.

[2018-11-09 15:38] hilljon86 commented on #74
@lyndsey-ferguson sorry for the delay.  Here is the output of bundle install and the Gemfile.lock.  I tried running with the fast lane command with `--capture_out` but I am not sure where to find that output.

**Bundle install output:**
Using CFPropertyList 3.0.0
Using public_suffix 2.0.5
Using addressable 2.5.2
Using atomos 0.1.3
Using babosa 1.0.2
Using curb 0.9.6
Using fastimage 2.1.4
Using bun

[2018-11-09 15:46] Sandhu412 commented on #79
Nothing compared to your efforts and your super duper plugin! Appreciate it! I will keep you posted on the progress of getting rid of the second error.

[2018-11-09 15:54] lyndsey-ferguson commented on #74
@hilljon86 I need the output to see what you're seeing and understand. The output is what is printed to the terminal window when you run fastlane to run the tests. Please attach that (as a text file please). Make sure you remove any sensitive data such as passwords, private keys, etc.

[2018-11-09 16:29] hilljon86 commented on #74
@lyndsey-ferguson thank you for the help.  Here is that output you requested.  Please let me know if there is anything else I can provide.

[multi_scan_output.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/2566649/multi_scan_output.txt)

[2018-11-09 21:54] lyndsey-ferguson commented on #82
@jineshqa please let me know if this information resolves your question. I will close this Issue in a few days if yes, or if I don't hear back from you in a few days.

[2018-11-09 22:11] lyndsey-ferguson commented on #79
Okay, here is my idea.

When collating junit file into the master junit file, I first:
1.  check for duplicate test cases in the master junit file, call it file A.
2. If I find a duplicate test case, I move all `<failure/>` elements into the one test case.
3. I remove the extra test case, keeping only the first one with all the `<failure/>` elements.

Then, when collating files into the master jun

[2018-11-10 01:19] Sandhu412 commented on #79
@lyndsey-ferguson -- Those steps surely sounds like a good approach to eliminate all the duplicate entries when collating into the master junit file. Also, I dont think you really need to move all failures (if its too much work?) into one test case **as long as we can remove the extra test case and keep the first one.**

Also, I did some reading today and I found a better way to use waitForExpecta

[2018-11-10 22:37] lyndsey-ferguson commented on #79
I've also created the [pull reqeust](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/pull/84)

[2018-11-10 23:00] lyndsey-ferguson commented on #74
I have added some debugging and one fix (the metadata in the `xctestrun` file was appearing as a "testable").

Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again?

Pluginfile:
[code]

Please attach the console output as a text file to this issue (makes it easier for me to review).

[2018-11-10 23:18] Sandhu412 commented on #79
@lyndsey-ferguson -- Thanks so much. Shall I just delete the existing Gemfile.lock and then run bundle install ? It should be the same effect right? Also, I should still retain the change the plugin file pointing to your branch correct?

[2018-11-10 23:19] lyndsey-ferguson commented on #79
Yeah, deleting the `Gemfile.lock` is far easier. Yes, keep the change in the `Pluginfile` so that it points to that branch so we can confirm before I merge it into master and release it.

[2018-11-11 00:14] jineshqa commented on #82
I am closing the issue, will reopen if this does not work. Thank you for prompt response.

[2018-11-11 00:14] #82 closed

[2018-11-11 10:02] Sandhu412 commented on #79
@lyndsey-ferguson -- The fix looks good  💯 🥇  It does consolidate the two errors into one and the final multi_scan result count is correct. Attached is the fastlane output. As per the fix, the tests that are passed in retry are taken into account when collating the junit reports.

:+1: This PR looks great: https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/pull/84 - it's ready to merg

[2018-11-11 18:52] lyndsey-ferguson commented on #79
Fixed in [v3.5.10](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/tree/v3.5.10)

[2018-11-11 18:52] #79 closed

[2018-11-11 18:53] lyndsey-ferguson commented on #80
Added in [v3.5.10](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/tree/v3.5.10)

[2018-11-11 18:53] #80 closed

[2018-11-11 18:54] lyndsey-ferguson commented on #83
@Cyberbeni you're using the parallelization feature of Xcode 10?

[2018-11-11 19:11] Cyberbeni commented on #83
There is no parallelization for macOS testing. First I'm build-for-testing the app and the test with Xcode 10 then I'm also build-for-testing the test only (different scheme, same files, swift 4.0 instead of swift 4.2, no test app) with Xcode 9.2 then I copy over the whole stuff to macOS 10.12 and run the tests with Xcode 9.2 (Xcode 10 built app with everything from the Xcode 9.2 build copied over

[2018-11-11 22:03] lyndsey-ferguson commented on #83
From what I understand of the problem you are facing, the summary:
1. Xcode 9.2 on Mac OS 10.12, combined with `xcpretty` fails to generate junit.xml files. Yes? What happens?
2. Xcode 10 on Mac OS 10.13, combined with `xcpretty` generates the junit.xml file without problem. Yes?

[2018-11-11 22:04] lyndsey-ferguson commented on #83
If the above no. 1 is true, do you have a feeling for why this happens? I have been using Xcode 9.2 with OS 10.12 without issues. Do you believe that this is an issue with Mac apps?

[2018-11-12 08:59] Cyberbeni commented on #83
We also have a common framework for the iOS and Mac tests using this method: https://stackoverflow.com/a/35102636
This can be seen on the Xcode 9.2 output having 0 tests but not on the Xcode 10 output. I copied the start of the log from both as the rest doesn't seem to have any difference.

Xcode 9.2:
[code]
Xcode 10:
[code]

[2018-11-12 13:35] hilljon86 commented on #74
@lyndsey-ferguson here is the output you requested after pointing to your test_center branch:
[multi_scan_output_test_center_branch_issue-74-resurrected-no-tests-found.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/2572070/multi_scan_output_test_center_branch_issue-74-resurrected-no-tests-found.txt)

[2018-11-12 14:45] hilljon86 commented on #74
@lyndsey-ferguson ok, here is the latest output.  I did remove the metadata as testable but still no tests found. Thanks for your help!
[multi_scan_output_test_center_branch_issue-74-resurrected-no-tests-found_2nd_Attempt.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/2572303/multi_scan_output_test_center_branch_issue-74-resurrected-no-tests-found_2nd_Attempt.txt)

[2018-11-12 14:56] lyndsey-ferguson commented on #74
Did you use the ` --verbose --capture_output` flags? I do not see the output that _must_ be there to get even as far as it did.

[2018-11-12 14:56] lyndsey-ferguson commented on #74
If so, my brain will need a moment to process how it could have gotten to where it did without outputting.

[2018-11-12 14:58] hilljon86 commented on #74
Sorry, I did not... I am re-running now.

[2018-11-12 15:14] hilljon86 commented on #74
I'm sorry, I feel like I'm missing something simple but when I run with those flags I get no output...

` ~/workspace/XXXXXXX master ●✚  bundle exec fastlane acceptance_tests --verbose --capture_output
[✔] 🚀
 ~/workspace/XXXXXXX  master ●✚  bundle exec fastlane acceptance_tests --verbose --capture_output
[✔] 🚀

 ~/workspace/XXXXXXX  master ●✚ `

[2018-11-12 15:16] lyndsey-ferguson commented on #74
That is odd. Just use `--verbose`

[2018-11-12 15:36] hilljon86 commented on #74
Ok, here is the newest output.  It correctly identifies the tests to skip but does not find any tests to run.
[multi_scan_output_test_center_branch_issue-74-resurrected-no-tests-found_3rd_Attempt.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/2572501/multi_scan_output_test_center_branch_issue-74-resurrected-no-tests-found_3rd_Attempt.txt)

[2018-11-12 15:42] lyndsey-ferguson opened #85 "Feature Request: Retrieve "deployment" from the xctestrun file"
### Feature Request

Add the ability to get the list of devices to be used for testing from the xctestrun file.

#### Motivation Behind Feature

In order to determine the valid list of devices that tests should be run on, `Scan::DetectValues` can be used. However, this requires that an Xcode `project` or `workspace` be given. This is a problem when only the `xctestrun` file is given as there is no

[2018-11-12 15:43] lyndsey-ferguson commented on #85
This actually must be done before the `parallelize` feature is complete. It blocks it.

[2018-11-12 16:03] lyndsey-ferguson commented on #74
Ok, I've updated the code to print out more debug info. Can you remove your `Gemfile.lock` file, run `bundle install`, then run `bundle exec fastlane acceptance_tests --verbose`, and then provide the console output again?

[2018-11-12 17:22] hilljon86 commented on #74
Ok, here is the latest update:

[multi_scan_output_test_center_branch_issue-74-resurrected-no-tests-found_4th_Attempt.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/2572902/multi_scan_output_test_center_branch_issue-74-resurrected-no-tests-found_4th_Attempt.txt)

[2018-11-12 17:40] lyndsey-ferguson commented on #74
Can you run the following commands and provide me the output?

### Objective C symbols for the test binary

[code]

### Swift symbols for the test binary

[code]

Oh, and which version of Swift are you using?

[2018-11-12 18:54] hilljon86 commented on #74
Here is the output.  The Swift symbols command returned almost nothing for some reason.  And we are using Swift 4.

[Objective C symbols for the test binary.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/2573219/Objective.C.symbols.for.the.test.binary.txt)
[Swift symbols for the test binary.txt](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/25732

[2018-11-12 19:35] lyndsey-ferguson commented on #74
Ok, so the Swift tests are not in the binary, that is a problem. That explains why the tests are not found. From what I understand, you have a lot of Objective-C tests as well. I'll run the output through the system to see why they are not being listed.

[2018-11-12 20:09] hilljon86 commented on #74
Our project is mixed swift/objc but all of our UITests in the scheme are written in swift.

[2018-11-12 20:11] lyndsey-ferguson commented on #74
Ok. That's interesting.

[2018-11-12 20:14] lyndsey-ferguson commented on #74
The ObjectiveC tests file that you provided, looks to me by eyeballing it, that it contains the tests.

`S21XXXXXXXXUITests017XXXXXXXXCreateProfileB0C010testCreateD20PageViewableElementsyyFSbyKXKfu_` This seems to be a testsuite named XXXXXXXXCreateProfile, with the test `testCreateD20PageViewableElements`.

[2018-11-12 20:21] lyndsey-ferguson commented on #74
Just to confirm, the test-runner, "AcceptanceTesting-iphonesimulator" should be running the UI tests in Swift.

[2018-11-12 20:46] hilljon86 commented on #74
We do have a test class named "XXXXCreateProfileUITests.swift" with a test named "testCreateProfilePageViewableElements".  Can you elaborate on your last comment about the test-runner?  I'm not exactly sure what you are asking or how I could verify that for you.  Thank you for your patience.

[2018-11-12 21:32] lyndsey-ferguson commented on #74
There is something odd going on. The output for:

[code]

Should list the Objective-C symbols. Instead, you are seeing the names from your Swift test files. Are you using some sort of wrapper or conversion tool that "converts" the tests to something else?

[2018-11-12 21:37] lyndsey-ferguson commented on #74
Disregard my comment about the test runner, I did not have a well-formed question and I'm not sure what my point was. 😊

[2018-11-12 21:40] hilljon86 commented on #74
No, it should be a pretty basic set-up.  It is an old project but what is interesting is that if I use scan instead of multi-scan, it finds the tests without issue.  Would it be helpful to compare the output of scan to that of multi_scan?

[2018-11-12 21:44] hilljon86 commented on #74
I’m happy to hear your clarification about the test runner comment, I was feeling pretty dumb.  Thanks again for your help.

[2018-11-12 21:46] lyndsey-ferguson commented on #74
Sure, send me the output from `scan`. Scan will work because it tells `xcodebuild` to handle everything. `multi_scan` needs to parse the tests in order to determine things.

At the very least, I will see the format of the tests and how they are being run. It could help me if you attach a junit file for a test run in `scan`.

[2018-11-12 22:06] lyndsey-ferguson commented on #74
I'm going to create a new Issue for this.

[2018-11-12 22:11] lyndsey-ferguson opened #86 "tests_from_xctestrun is not able to get tests from xctestrun's binary"
@hilljon86 is experiencing this problem:

The action `tests_from_xctestrun` is unable to retrieve tests from the xctest bundle. It seems that when it tries to pull out the Objective-C tests, it gets the names of the Swift tests. It does not see any tests in the Swift symbols.

### New Issue Checklist

- [x] Updated `fastlane-plugin-test_center` to the latest version
- [x] I read the [README.md](ht

[2018-11-12 22:12] lyndsey-ferguson commented on #74
@hilljon86 please use #86 for this issue as it is a different problem than this original Issue.

[2018-11-12 22:12] #74 closed

[2018-11-13 14:06] lyndsey-ferguson commented on #78
Taken care of in [v3.5.11](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.5.11)

[2018-11-13 14:06] #78 closed

[2018-11-13 14:59] lyndsey-ferguson commented on #85
One cannot get the actual devices from the `xctestrun` file or from the `Info.plist` in the test-runner application either.

[2018-11-13 14:59] #85 closed

[2018-11-14 13:15] lyndsey-ferguson commented on #86
@hilljon86 have you made any progress on getting a sample of the `scan` output? Also, a copy of the final junit files could help me.

[2018-11-15 18:44] hilljon86 commented on #86
I've been having unrelated computer problems.  I hope to get something to you today or tomorrow.  Thanks for your help.

[2018-11-19 13:19] fabioknoedtbcgdv opened #87 "Code coverage final results after failing tests"
### Question Checklist

- [X] Updated `fastlane-plugin-test_center` to the latest version
- [X] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [X] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [X] I searched for [existing GitHub issues

[2018-11-19 15:33] fabioknoedtbcgdv commented on #87
Hey @lyndsey-ferguson, thanks for answering!

I am not sure as it is not printed in the logs. Is there an easy way for printing or inspecting the files created (i am running in the CI).

That's my Fastlane lane:
[code]

[2018-11-19 16:06] lyndsey-ferguson commented on #87
I think that the way you have written your lane, the results will be in `test_output` directory. You should see multiple `xccoverage` files.

[2018-11-19 17:21] fabioknoedtbcgdv commented on #87
I just checked it locally and it is generating one single file called `Coverage.profdata`

[2018-11-19 17:58] lyndsey-ferguson commented on #87
If I recall correctly, `slather` is responsible for converting `xccoverage` files to that `profdata` format. Can you comment out those two lines and see if it generates multiple `xccoverage` files?

[2018-11-19 17:58] lyndsey-ferguson commented on #87
I could be wrong

[2018-11-20 13:31] lyndsey-ferguson commented on #43
@szymon-kazmierczak what does it mean for a test to have a "pass rate"? I can understand adding an attribute to each test "retry_count" being the count of how many times we have run that (test - 1).

[2018-11-20 15:08] lyndsey-ferguson commented on #43
Looking at this, I can leverage the "junit_helper" to parse the file, update the attributes for retried tests, and then save it again.

[2018-11-20 15:17] szymon-kazmierczak commented on #43
Now that I think about it, pass rate would be how many times a test passed in the whole test run.
So if it took 3 tries to pass a test, the pass rate would be 1/4 (25%) - does that make sense? Basically verifying the flakiness of a test - some could fail once in a long time, some could be super flaky and only passing once in a while - my goal is to figure out the stats for that.

[2018-11-20 16:55] amelendezSGY opened #88 "multi_scan option to not kill simulators before test"
### Feature Request

#### Motivation Behind Feature
I have a small handful of UI tests that either MUST run, OR run more stably, in a non-headless context. Being able to configure whether multi_scan makes the internal call to "quit_simulators" would be very helpful to me,

#### Feature Description
The multi_scan action could expose a new boolean configuration parameter like "kill_sims". Based on i

[2018-11-20 17:13] lyndsey-ferguson commented on #88
You can get around this by overriding the method that does this.

Add this code:
[code]

**OR**

You could create a PR to add this functionality. I would welcome the help.

[2018-11-20 19:04] amelendezSGY commented on #88
Thanks for the reply and your suggestion. I'll take a thwack at it and submit a PR. What are your thoughts about the setting instead indicating whether or not to run the tests headlessly? The default could be to run them headlessly (as is the current default behavior, thanks to the quit_simulators call). But if the user opts to not run them headlessly, a utility function would run to ensure the si

[2018-11-21 10:03] PetecOvod commented on #86
Thanks for your plugin.
I have a small problem, maybe it has a relationship to this bug.
I used to run tests like this
[code]
Now I switched to multi_scan

[code]
However, in this configuration, I can not run tests

[code]
However, if I remove `configuration: "Test",` then everything is fine

The project has the following settings for the configuration:

![image](https://user-images.githubusercont

[2018-11-21 14:10] lyndsey-ferguson commented on #88
Unless I misunderstand the suggestion, `scan`, upon which `multi_scan` is based, already offers the ability to pre-open the simulator via the `ENV` key `'FASTLANE_EXPLICIT_OPEN_SIMULATOR'`. For more info, see the [code](https://github.com/fastlane/fastlane/blob/master/scan/lib/scan/runner.rb#L160).

Would that address your suggestion?

[2018-11-21 14:12] lyndsey-ferguson commented on #87
@fabioknoedtbcgdv have you had a chance to comment out the `slather` lines to see if we get `xccoverage` files?

[2018-11-21 14:13] lyndsey-ferguson commented on #66
@homebizjunk I have recently fixed an issue with how tests are pulled out of the xctest bundle. Can you upgrade and retry your lane?

[2018-11-21 14:14] lyndsey-ferguson commented on #83
@Cyberbeni could you provide me a sample project that exhibits the problem? I need help as I'm juggling several priorities. I am certain once I can see the problem, it will be easy to resolve.

[2018-11-21 14:47] fabioknoedtbcgdv commented on #87
@lyndsey-ferguson still no `xccoverage` file, only `Coverage.profdata`

[2018-11-21 15:05] lyndsey-ferguson commented on #87
Ok, so probably your project is generating the code coverage reports in a way that I did not anticipate. You _could_ modify your `test_run_block` lambda to rename the `Coverage.profdata` to `Coverage-#{try_attempt}` so that each test run does _not_ overwrite the Coverage report. Then, when `slather` runs, it will handle all the files.

If you could attach a sample project that exhibits the same pr

[2018-11-21 15:09] fabioknoedtbcgdv commented on #87
Unfortunately, I can't attach my project but I could send you separated files if you tell me which ones you would look at.
Also, I will try what you said. Are you sure Slather will combine the files instead of summing up coverages?

[2018-11-21 15:12] lyndsey-ferguson commented on #87
I don't need your project, but if you could put together a sample project that has similar settings, and a Fastfile that runs multi_scan that generates the code coverage files in the same way that your project is. That would help me solve the issue quickly (rather than trying to intuit my way through it from some files).

From what I've seen, slather does combine the results, but I don't use the t

[2018-11-21 17:00] fabioknoedtbcgdv commented on #87
So, I cloned my project and removed everything and just left the configuration with some flaky tests. I hope it helps you debugging. Let me know if I can help further. And thanks a lot!

For setup:
`bundle install`
`pod install`
`fastlane ios test`

[example-testcenter.zip](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/2605113/example-testcenter.zip)

[2018-11-21 17:04] lyndsey-ferguson commented on #87
Thank you, I'll use this to investigate the issue. I have two other issues that I am working on in front of this.

[2018-11-22 07:11] PetecOvod commented on #86
Yes, in the settings of the scheme I have `configuration: "Debug"`, but if I switch there to `configuration: "Test"`, then the result will be the same - tests will not be found. I am attaching a sample project. In it `lane run_UItest` passes, but `lane run_UItest2` does not find tests.
[SampleTest.zip](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/files/2606892/SampleTest.zip)

[2018-11-22 15:41] fabioknoedtbcgdv commented on #87
Cool, thanks! I am here if you need anything else.

[2018-11-24 22:31] lyndsey-ferguson commented on #43
Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane to review the test results?

Pluginfile:
[code]

Please attach the console output as a text file to this issue (makes it easier for me to review).

[2018-11-26 14:52] lyndsey-ferguson commented on #43
I just changed the code to do the retry count update in the `collate_junit_reports` action where it is better suited. If you have already updated your `Pluginfile`, please delete your `Gemfile.lock` file, rerun `bundle install` and then run your fastlane.

[2018-11-26 15:39] lyndsey-ferguson commented on #86
Initial findings
1. `nm -gU path/to/testbinary` does not provide *any* symbols. `otool -tV path/to/testbinary` does.
2. Initial Googling of "nm -gU no symbols" does not pull up useful results.

I don't want to rework the `xctest_list` gem to use `otool` as I don't understand why there are no symbols. My feeling is that there is some relation to how this is being built: it shows up in a "Release" f

[2018-11-26 17:00] Cyberbeni commented on #83
I tried creating a dummy project and add UI test to it where my UI tests are subclassing from a framework that's weakly linked against XCTest but in this case XCPretty could properly generate output from it while the output has the same format without it as before.

[2018-11-26 18:13] lyndsey-ferguson commented on #83
If you can find a way to incrementally get your sample project to be closer to the failing project, and then provide me with that sample project, it will go a long way to getting this resolved.

[2018-11-26 21:14] homebizjunk commented on #66
@lyndsey-ferguson I tested my lane using test_center v3.5.11. Unfortunately, for some reason, the test run got stuck and not being able to continue when there was XCTAssert failed in one of the test cases.

[2018-11-26 21:16] lyndsey-ferguson commented on #66
Ok. Please, if you get a chance, a sample project (along with a sample fastlane) that exhibits this behavior would help immensely.

[2018-11-26 21:36] homebizjunk commented on #66
desc "Build ShareFile Drive Mapper Project and run BVT test"
lane :buildBVT do |options|
    test_run_block = lambda do |testrun_info|
    failed_test_count = testrun_info[:failed].size

        if failed_test_count > 0
            UI.important('The run of tests would finish with failures due to fragile tests here.')

            try_attempt = testrun_info[:try_count]
            if try_attempt <

[2018-11-26 21:47] lyndsey-ferguson commented on #66
No, what I need is a sample project with a sample fastlane. I need to reproduce the issue. A text file that you have copied and pasted your findings can help too, but I need the samples.

[2018-11-26 22:19] homebizjunk commented on #66
func test_ModifyUserPermission_TC_2425() {
        if let baseFolder = sfSDKOperation?.createFolderUnderPersonalFolders(XCTestObject: self) {
            if let baseFolderItem = sfSDKOperation?.getItemByPathAndReturnCSFItem(sfApiClient: client!, CSFItemsAbsolute: "/" + baseFolder, CurrentTest: self, asyncCallTimeOut: 180) {
                if let subFolder  = sfSDKOperation?.createMultipleFoldersI

[2018-11-26 22:21] lyndsey-ferguson commented on #66
Please, a sample project, not a sample test. I don't have the code that runs that. A sample project is an Xcode project file, with sample code, and sample tests, that produces the same error that you're seeing.

[2018-11-26 22:43] homebizjunk commented on #66
@lyndsey-ferguson I understand what you meant by sample project, due to the nature and the complexity of the current project, I'm hesitant to give you a sample of my current project, I will have to create another project with tests code for you to see if I can repro the issue. Thank you so much for all your time and effort!

[2018-11-26 22:45] lyndsey-ferguson commented on #66
Thanks, I understand. I recommend to not upload real projects.

[2018-11-30 14:11] lyndsey-ferguson commented on #43
@szymon-kazmierczak would you be able to run your fastlane to review the test results in order to see if it fits your needs? I did not add pass rate.

[2018-11-30 14:38] lyndsey-ferguson commented on #86
Ok, by _not_ using the 'Test' configuration, `nm -gU path/to/testbinary` provides symbols.

[2018-11-30 14:40] lyndsey-ferguson commented on #86
That's funny, this project is not using the 'Test' configuration in the Build Settings.

[2018-11-30 14:44] PetecOvod commented on #86
In sample project  'Test' configuration is  'Release'

[2018-11-30 15:07] lyndsey-ferguson commented on #86
Ok, that makes sense. In general, Release configs are pre-set to remove symbols. That's probably what is happening. I was looking at my test lane that copied the code from the Issue and pointed to the sample project.

[2018-11-30 15:10] lyndsey-ferguson commented on #86
Although, your sample Project overrides the defaults and says not to optimize, nor to strip debug symbols.

[2018-11-30 15:11] lyndsey-ferguson commented on #86
It does say DEBUG=1 for Debug config, and nothing for Release.

[2018-11-30 15:11] lyndsey-ferguson commented on #86
No wait, it leaves full optimization on for Release

[2018-11-30 15:17] hilljon86 commented on #86
@lyndsey-ferguson sorry for the delay.  The recent activity on this issue inspired me to check our build settings and I noticed that "Enable Testability" was set to "NO" on our AcceptanceTesting build configuration... no idea why it was set this way.  Once I changed it to "YES" then multi_scan was able to run the tests.  Thanks for the help and I'm sorry it ended up being something so simple on ou

[2018-11-30 15:19] lyndsey-ferguson commented on #86
# 😮

[2018-11-30 15:19] lyndsey-ferguson commented on #86
That is something that multi_scan probably can enforce

[2018-11-30 15:20] lyndsey-ferguson commented on #86
I'll check @PetecOvod's sample project

[2018-11-30 15:21] lyndsey-ferguson commented on #86
Same setting

[2018-11-30 15:30] lyndsey-ferguson commented on #86
Right, but you don't need it turned off for the Test Target.

[2018-11-30 16:02] lyndsey-ferguson commented on #86
@hilljon86 @PetecOvod could you test your projects on the PR that I have ready to merge (with `ENABLE_TESTABILITY=NO`). I want to make sure you get the warning messages.

I don't want to force that setting when using `scan` to build for testing, as it will enable it for the App as well as the test targets. So, instead, I warn the user.

To test this,  can you modify your `Pluginfile` per my instru

[2018-11-30 16:31] lyndsey-ferguson commented on #86
Two things happened. I learned something, and I got to add a test to teach others the same thing. Thanks for the lesson!

[2018-11-30 18:11] Cyberbeni commented on #83
Sadly I couldn't break the sample project yet.

One possible fix would be to use trainer to generate the report in testrun_info if there is no file found on report_filepath, what do you think?

[2018-11-30 18:17] lyndsey-ferguson commented on #83
Hm. Unless I can reproduce and fix it properly for everyone, I don't  want to add an external dependency such as trainer. I'm considering closing this issue for now.

[2018-12-06 10:14] szymon-kazmierczak commented on #43
Sorry, haven't been able to run this yet as my setup changed. I'll recreate it sometime this week and report back :)

[2018-12-10 16:06] fabioknoedtbcgdv commented on #87
@lyndsey-ferguson hey, have you tried to run my attached project?

[2018-12-10 16:10] lyndsey-ferguson commented on #87
No, not yet, I still have one other issue in front of this that I'm working on.

[2018-12-17 14:11] #88 closed

[2018-12-17 14:18] lyndsey-ferguson commented on #88
Addressed in [v3.6.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.6.0)

[2018-12-17 14:19] lyndsey-ferguson commented on #43
Addressed in [v3.6.0](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/releases/tag/v3.6.0).

[2018-12-17 14:19] #43 closed

[2018-12-17 14:46] amelendezSGY commented on #88
Thank you! Looking forward to taking it for a test drive!

[2019-01-02 22:48] jineshqa commented on #87
Also, this can be done to get one file.

[code]

[2019-01-03 18:44] lyndsey-ferguson commented on #87
@jineshqa are you seeing that there is a `2_Test` directory? Or are you suggesting _not_ turning off code coverage and creating a `2_Test` directory?

[2019-01-03 18:45] lyndsey-ferguson commented on #87
If you do see that there is such a directory, you could put some code in a `testrun_completed_block` option for `multi_scan` and perform the calls you outlined.

[2019-01-03 19:21] jineshqa commented on #87
And people ask me why I like this plugin...speed of response...Thank you so much..

I am suggesting not turning off or providing a choice of not turning off code coverage and create 2_Test directory.

Currently, there is no 2_Test directory created and at the end all the results are merged and I see only 1 directory.

Thanks,
Jinesh

[2019-01-03 21:07] jineshqa commented on #87
I've not used Ruby at all but I can try. Also, while reading code I noticed this [line](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/3ba15adee953aaaca5cc663ccde32d04387e006d/lib/fastlane/plugin/test_center/helper/correcting_scan_helper.rb#L227), are you deleting code coverage?

[2019-01-03 21:12] lyndsey-ferguson commented on #87
Right, that's where I "turn it off".

[2019-01-03 21:22] jineshqa commented on #87
Also, If I comment this [line](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/3ba15adee953aaaca5cc663ccde32d04387e006d/lib/fastlane/plugin/test_center/helper/correcting_scan_helper.rb#L139) under function **collate_test_result_bundles**  _test_center_ would not delete the result bundle directories at end of result collation. Then I and others could converge coverage files to

[2019-01-03 21:36] jineshqa commented on #87
See line 5 from bottom starting with exec
[code]

[2019-01-03 21:42] lyndsey-ferguson commented on #87
Actually, that would be better done in the `CollateTestResultBundlesAction` method here: https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/actions/collate_test_result_bundles.rb#L19

You can call the shell command similar to this: https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/act

[2019-01-03 21:42] lyndsey-ferguson commented on #87
What happens if there are no `xccovreport` files and you send it to `xcrun xccov view`?

[2019-01-03 21:56] jineshqa commented on #87
Could you kindly explain why should the change be made at https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/actions/collate_test_result_bundles.rb#L19? Is `CollateTestResultBundlesAction` automatically called at the end of test run?

If there are no xccovreport file we get an error, so I need to check if @scan_options[:code_coverage] is set

[2019-01-03 21:58] lyndsey-ferguson commented on #87
Fastlane::Actions::CollateTestResultBundlesAction is responsible for the collation, which your shell command is doing. I'd rather have the logic for collation in one place. You can see the action called on the line above your shell command [example](
https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/87#issuecomment-451285331).

[2019-01-03 22:01] lyndsey-ferguson commented on #87
As this shell command is only valid if the files exist, you can add a check. I will add an example in a moment

[2019-01-03 22:10] jineshqa commented on #87
Thanks, understood. Let me fork the repo and take a stab.

[2019-01-03 22:11] lyndsey-ferguson commented on #87
At the beginning of the [collate_test_result_bundles.rb](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/actions/collate_test_result_bundles.rb):
[code]
Later where I suggested:

[code]

[2019-01-03 22:49] lyndsey-ferguson commented on #87
@jineshqa you may find [this document](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/docs/CONTRIBUTING.md) helpful too

[2019-01-04 07:51] jineshqa commented on #87
@lyndsey-ferguson I was wrong about `xcrun xccov view reports/**/*.xccovreport > test.xccovreport` command or there is a bug. Either way the result file, test.xccovreport, is not readable. I tried to not delete the redundant directories and generate coverage data, but coverage report generated is also incorrect. Same set of tests produce different coverage when run from xcode.

Let me know if you

[2019-01-04 15:32] lyndsey-ferguson commented on #87
What if you use the gem https://github.com/nakiostudio/xcov to convert the report file to json or html and then collate the results?

[2019-01-04 20:04] jineshqa commented on #87
Let me try using xcov, if it is able to handle multiple xccovreport files, then we may be able to use it.

[2019-01-04 20:05] lyndsey-ferguson commented on #87
Even if it cannot, you can still process each `xccovreport` file to create a separate json, the individual json files can be collated.

[2019-01-04 20:24] jineshqa commented on #87
Ok..so xcov hardcodes the coverage file location. I have created an issue with them. Let's see

https://github.com/nakiostudio/xcov/issues/142

[2019-01-04 21:37] lyndsey-ferguson commented on #87
If you run the `xcov` tool [after each run](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/lib/fastlane/plugin/test_center/helper/correcting_scan_helper.rb#L231) to convert the file to json, you should be able to collect each one after the entire multi_scan is complete and collate them.

[2019-01-04 22:05] jineshqa commented on #87
You mean xcov or xccov?

[2019-01-04 22:10] jineshqa commented on #87
Also collating json file in this case would be a challenge. For example lets say that we ran 2 test cases which covers same class file. In the first run 1 test case passed and 1 failed. So now code coverage for both the runs may have some line coverage overlap. So we'll need to identify and recalculate line coverage accordingly, we can't simply add.

[2019-01-06 08:55] jineshqa commented on #87
@lyndsey-ferguson There is something else that I observed about the original bug logged i.e. [issue#87](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/issues/87). When tests run 2nd time original test bundle directory is renamed. For example lets say test bundle is named as test_bundle.test_result during 2nd run this directory is renamed to test_bundle_1.test_result. 2nd run bundl

[2019-01-11 22:11] jineshqa commented on #79
Encountered exact same issue only to find its fixed in latest version. Thank you @lyndsey-ferguson  and @Sandhu412

[2019-01-11 22:12] jineshqa commented on #79
@Sandhu412 Do you what causes pplication state is still unknown?

[2019-01-15 16:23] fabioknoedtbcgdv commented on #87
hi @jineshqa! did you make it to work?

[2019-01-15 16:52] jineshqa commented on #87
Nope, I was not able to merge coverage files.

Thanks,
Jinesh

On Tue, Jan 15, 2019, 8:23 AM Fabio Knoedt <notifications@github.com wrote:

[2019-01-15 16:56] lyndsey-ferguson commented on #87
I think that a collation of the json format of the code-coverage file could safely ignore a failed test result's code-coverage entry, because the test did not actually complete. So, when collating, if the same test occurs in both the current, and previous json file, the previous can be overwritten by the one in the current json.

[2019-01-15 17:41] jineshqa commented on #87
Coverage file would be for the entire run and not by a test. So we cannot
simply add coverage from 2 runs or ignore by failed test.

On Tue, Jan 15, 2019 at 8:56 AM Lyndsey Ferguson <notifications@github.com>
wrote:

[2019-01-15 19:53] lyndsey-ferguson commented on #87
So, if a test failed because there was an instability in the test framework (XCUI), or because another test changed state that caused the test to fail, you would still want that code-coverage data in the final report?

Wouldn't that code-coverage data be invalid?

[2019-01-16 23:52] jineshqa commented on #87
That data would be invalid but as you know that is not the way coverage works. If a line of code is executed it is considered as covered. Also, there is a possibility that same line of code was covered by a test case that passed. Hence there is no easy way (or no way?) to determine what is valid and what is not.

[2019-01-18 14:20] Cyberbeni commented on #86
https://www.rubydoc.info/gems/xctest_list/1.1.6/XCTestList
I've run `nm -gU '#{binary_path(xctest_bundle_path)}' | cut -d' ' -f3 | xargs -s 131072 xcrun swift-demangle | cut -d' ' -f3 | grep -e '[\\.|_]'test` on the same binary on macOS 10.11 (xcrun version 31) and 10.12 (xcrun version 36) and the 10.11 results don't have `()` at the end, so the `swift_tests` result will be empty because the regex

[2019-01-18 17:09] Cyberbeni commented on #86
I deleted the last ( from that regex and it gets past getting the test cases but fastlane exits with build error (code 7). Didn't have time to debug what caused it, so I just reverted to xcodebuild and xcpretty for now.

[2019-01-31 01:53] quintuschen commented on #10
I would be happy to help testing this feature if you like :)

[2019-01-31 17:56] lyndsey-ferguson commented on #10
@quintuschen I thought I had wrapped up a lot of the main functionality, but it totally fails on Jenkins with more than 3 parallel streams. My branch is a mess with debugging and experiments, I can clean it up in upcoming weeks and then send you a branch to use for testing.

[2019-01-31 20:32] quintuschen commented on #10
Thanks a lot. Kudos! :) Excited with this parallel running feature.

[2019-02-01 18:23] lyndsey-ferguson opened #92 "Feature Request: add skipped tests to junit reports"
### Feature Request

Feature Request: add skipped tests to junit reports.

#### Motivation Behind Feature

Xcode provides the option to mark a test as "Skipped". These tests do not show up in the junit report and developers do not get a sense of the impact of disabled tests. It would help them if skipped tests were added to the junit file.

#### Feature Description

A Junit Xml file can contain te

[2019-02-04 14:33] lyndsey-ferguson commented on #86
I have made some changes to the `xctest_list` gem to account for Xcode 8.  Can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane again?

Pluginfile:
[code]

Please attach the console output as a text file to this issue (makes it easier for me to review).

[2019-02-04 15:17] lyndsey-ferguson commented on #10
If you would like to test the feature, can you modify your `Pluginfile` per my instructions below, run `bundle install`, and then run your fastlane?

Pluginfile:
[code]

If you run into issues as I suspect you will, please attach the console output as a text file to this issue (makes it easier for me to review).

This works fine for me on my local computer. However, when running this on CI (Jenkin

[2019-02-04 21:10] quintuschen commented on #10
Thanks @lyndsey-ferguson I'll give it a try within this week. :)

[2019-02-06 07:51] zioyero opened #93 "scan fails when test targets have spaces in their names"
### New Issue Checklist

- [X] Updated `fastlane-plugin-test_center` to the latest version
- [ X] I read the [README.md](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md)
- [X ] I reviewed the [example(s)](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center/blob/master/README.md) for the action(s) I am using
- [X] I have removed any sensitive data s